/* screen - chapter-5-backcasting-1280-1-all-breakpoints */

.chapter-5-backcasting-1280-1-all-breakpoints {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2862px;
  overflow: hidden;
  width: 1280px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .overlap-group-1 {
  height: 3000px;
  margin-left: -461px;
  margin-top: -137.47px;
  position: relative;
  width: 2381px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-8811 {
  height: 537px;
  left: 461px;
  top: 983px;
  width: 1920px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .retngulo-436 {
  height: 996px;
  left: 461px;
  top: 223px;
  width: 1280px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-de-mscara-13-1 {
  height: 559px;
  left: 422px;
  object-fit: cover;
  position: absolute;
  top: 659px;
  width: 1251px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-8810 {
  height: 537px;
  left: 461px;
  top: 1430px;
  width: 1920px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .design-space-paper-textured-background-1 {
  height: 1040px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1960px;
  width: 1280px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-8839 {
  height: 864px;
  left: 0;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .spc-cps-logo_27_stars-white-1 {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .causal-layered-analysis-1 {
  height: 204px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 354px;
  width: 694px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-8841 {
  height: 65px;
  left: 766px;
  top: 259px;
  width: 398px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-8842 {
  height: 5px;
  left: 766px;
  top: 341px;
  width: 199px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-143938 {
  height: 94px;
  left: 958px;
  top: 2041px;
  width: 286px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .retngulo-80 {
  height: 81px;
  left: 461px;
  top: 137px;
  width: 1280px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-788 {
  height: 47px;
  left: 958px;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .menu-v {
  height: 81px;
  left: 1660px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-790 {
  height: 5px;
  left: 462px;
  top: 218px;
  width: 1280px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-143936 {
  height: 94px;
  left: 931px;
  top: 1441px;
  width: 340px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .chapter-3_tip_-button-v {
  cursor: pointer;
  height: 450px;
  left: 1236px;
  object-fit: cover;
  position: absolute;
  top: 408px;
  width: 494px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .retngulo-357 {
  border-radius: 30px;
  height: 186px;
  left: 543px;
  top: 2189px;
  width: 1116px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .retngulo-359 {
  border-radius: 30px;
  height: 234px;
  left: 543px;
  top: 2389px;
  width: 1116px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .retngulo-434-1 {
  border-radius: 30px;
  height: 184px;
  left: 543px;
  object-fit: cover;
  position: absolute;
  top: 2637px;
  width: 1116px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .retngulo-361 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 543px;
  top: 2189px;
  width: 339px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .retngulo-363 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 543px;
  top: 2389px;
  width: 339px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .retngulo-435-1 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 543px;
  object-fit: cover;
  position: absolute;
  top: 2637px;
  width: 339px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .x40-minutes {
  height: 21px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 2405px;
  width: 96px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .x10-minutes {
  height: 21px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 2653px;
  width: 93px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .x10-minutes-1 {
  height: 21px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 2206px;
  width: 93px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-3406 {
  height: 36px;
  left: 560px;
  top: 2396px;
  width: 36px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-8816 {
  height: 36px;
  left: 560px;
  top: 2644px;
  width: 36px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-5545 {
  height: 36px;
  left: 560px;
  top: 2197px;
  width: 36px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .retngulo-365 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 760px;
  top: 2189px;
  width: 899px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .retngulo-367 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 760px;
  top: 2389px;
  width: 899px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .retngulo-436-1 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 2637px;
  width: 899px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .explain {
  height: 24px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 2201px;
  width: 899px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .work-and-present {
  height: 24px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 2401px;
  width: 899px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .describe {
  height: 24px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 2599px;
  width: 899px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-8854 {
  height: 45px;
  left: 1377px;
  top: 280px;
  width: 282px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .more_-info-button-v {
  cursor: pointer;
  height: 40px;
  left: 1485px;
  object-fit: cover;
  position: absolute;
  top: 1128px;
  width: 174px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .case-study7_-button-2 {
  height: 498px;
  left: 757px;
  top: 884px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .case-study7_-button-3 {
  height: 516px;
  left: 1081px;
  top: 866px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .footer-1 {
  height: 61px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 2939px;
  width: 1280px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-144234 {
  height: 157px;
  left: 486px;
  top: 375px;
  width: 180px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-5622-1 {
  height: 64px;
  left: 575px;
  object-fit: cover;
  position: absolute;
  top: 1595px;
  width: 64px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-5623-1 {
  height: 53px;
  left: 575px;
  object-fit: cover;
  position: absolute;
  top: 1701px;
  width: 63px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-5624-1 {
  height: 54px;
  left: 587px;
  object-fit: cover;
  position: absolute;
  top: 1804px;
  width: 40px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-5625-1 {
  height: 319px;
  left: 1002px;
  object-fit: cover;
  position: absolute;
  top: 1589px;
  width: 4px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .time60-minutes-1 {
  height: 49px;
  left: 655px;
  object-fit: cover;
  position: absolute;
  top: 1600px;
  width: 99px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .no-of-participants-50-participants-1 {
  height: 49px;
  left: 655px;
  object-fit: cover;
  position: absolute;
  top: 1704px;
  width: 325px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .material-1 {
  height: 24px;
  left: 1347px;
  object-fit: cover;
  position: absolute;
  top: 1591px;
  width: 74px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .facilitationone-lead-facilitator-1 {
  height: 55px;
  left: 655px;
  object-fit: cover;
  position: absolute;
  top: 1804px;
  width: 280px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-5626-1 {
  height: 45px;
  left: 1074px;
  object-fit: cover;
  position: absolute;
  top: 1865px;
  width: 282px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .butchersdrawingpaper-1 {
  height: 59px;
  left: 1136px;
  object-fit: cover;
  position: absolute;
  top: 1660px;
  width: 156px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .coloured-marker-pens-1 {
  height: 24px;
  left: 1422px;
  object-fit: cover;
  position: absolute;
  top: 1671px;
  width: 193px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-5632-1 {
  height: 52px;
  left: 1338px;
  object-fit: cover;
  position: absolute;
  top: 1652px;
  width: 67px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-5633-1 {
  height: 51px;
  left: 1121px;
  object-fit: cover;
  position: absolute;
  top: 1756px;
  width: 69px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-5634-1 {
  height: 51px;
  left: 1072px;
  object-fit: cover;
  position: absolute;
  top: 1652px;
  width: 57px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .power-point-display-1 {
  height: 24px;
  left: 1203px;
  object-fit: cover;
  position: absolute;
  top: 1763px;
  width: 527px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .step-1explain-the-ca {
  height: 68px;
  left: 603px;
  object-fit: cover;
  position: absolute;
  top: 2274px;
  width: 1213px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .step-2work-through-t {
  height: 151px;
  left: 603px;
  object-fit: cover;
  position: absolute;
  top: 2472px;
  width: 1012px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .step-3provide-an-ove {
  height: 67px;
  left: 603px;
  object-fit: cover;
  position: absolute;
  top: 2727px;
  width: 1012px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .provide {
  height: 24px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 2653px;
  width: 899px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .quesiton_-tabs-v {
  height: 445px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 577px;
  width: 471px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .case-study7_-button {
  object-fit: cover;
  position: absolute;
  width: 326px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .retngulo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-1920-1 */

.chapter-5-backcasting-1920-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2821px;
  overflow: hidden;
  width: 1920px;
}

.chapter-5-backcasting-1920-1 .overlap-group {
  height: 2897px;
  margin-left: -461.16px;
  margin-top: -137px;
  position: relative;
  width: 2381px;
  z-index: 1;
}

.chapter-5-backcasting-1920-1 .retngulo-434 {
  height: 2760px;
  top: 137px;
  width: 1920px;
}

.chapter-5-backcasting-1920-1 .grupo-5589 {
  height: 537px;
  left: 461px;
  top: 1428px;
  width: 1920px;
}

.chapter-5-backcasting-1920-1 .grupo-5590 {
  height: 537px;
  left: 461px;
  top: 983px;
  width: 1920px;
}

.chapter-5-backcasting-1920-1 .retngulo-435 {
  height: 996px;
  top: 223px;
  width: 1285px;
}

.chapter-5-backcasting-1920-1 .grupo-de-mscara-13 {
  height: 559px;
  left: 422px;
  object-fit: cover;
  position: absolute;
  top: 659px;
  width: 1251px;
}

.chapter-5-backcasting-1920-1 .grupo-5618 {
  height: 864px;
  left: 0;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-1920-1 .spc-cps-logo_27_stars-white {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-1920-1 .grupo-5619 {
  height: 22px;
  left: 2326px;
  top: 168px;
  width: 30px;
}

.chapter-5-backcasting-1920-1 .causal-layered-analysis {
  height: 214px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 354px;
  width: 687px;
}

.chapter-5-backcasting-1920-1 .grupo-5620 {
  height: 65px;
  left: 766px;
  top: 259px;
  width: 398px;
}

.chapter-5-backcasting-1920-1 .grupo-5621 {
  height: 5px;
  left: 766px;
  top: 341px;
  width: 199px;
}

.chapter-5-backcasting-1920-1 .case-study7_-button {
  height: 498px;
  left: 757px;
  object-fit: cover;
  position: absolute;
  top: 887px;
  width: 326px;
}

.chapter-5-backcasting-1920-1 .case-study7_-button-1 {
  height: 516px;
  left: 1081px;
  object-fit: cover;
  position: absolute;
  top: 869px;
  width: 326px;
}

.chapter-5-backcasting-1920-1 .grupo-5622 {
  height: 64px;
  left: 766px;
  top: 1595px;
  width: 64px;
}

.chapter-5-backcasting-1920-1 .grupo-5623 {
  height: 53px;
  left: 767px;
  top: 1701px;
  width: 63px;
}

.chapter-5-backcasting-1920-1 .grupo-5624 {
  height: 54px;
  left: 779px;
  top: 1804px;
  width: 40px;
}

.chapter-5-backcasting-1920-1 .grupo-5625 {
  height: 319px;
  left: 1194px;
  top: 1589px;
  width: 4px;
}

.chapter-5-backcasting-1920-1 .time60-minutes {
  height: 49px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1600px;
  width: 99px;
}

.chapter-5-backcasting-1920-1 .no-of-participants-50-participants {
  height: 49px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1704px;
  width: 325px;
}

.chapter-5-backcasting-1920-1 .material {
  height: 24px;
  left: 1539px;
  object-fit: cover;
  position: absolute;
  top: 1591px;
  width: 74px;
}

.chapter-5-backcasting-1920-1 .facilitationone-lead-facilitator {
  height: 55px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1804px;
  width: 280px;
}

.chapter-5-backcasting-1920-1 .grupo-5626 {
  height: 45px;
  left: 1266px;
  top: 1865px;
  width: 282px;
}

.chapter-5-backcasting-1920-1 .quesiton_-tabs {
  height: 167px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 577px;
  width: 576px;
}

.chapter-5-backcasting-1920-1 .design-space-paper-textured-background {
  height: 937px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1960px;
  width: 1920px;
}

.chapter-5-backcasting-1920-1 .activities {
  height: 53px;
  left: 1327px;
  object-fit: cover;
  position: absolute;
  top: 2059px;
  width: 188px;
}

.chapter-5-backcasting-1920-1 .grupo-5627 {
  height: 94px;
  left: 1278px;
  top: 2041px;
  width: 34px;
}

.chapter-5-backcasting-1920-1 .grupo-5628 {
  height: 94px;
  left: 1530px;
  top: 2041px;
  width: 34px;
}

.chapter-5-backcasting-1920-1 .header {
  height: 86px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: auto;
}

.chapter-5-backcasting-1920-1 .how-to-do-it {
  height: 53px;
  left: 1285px;
  object-fit: cover;
  position: absolute;
  top: 1459px;
  width: 243px;
}

.chapter-5-backcasting-1920-1 .grupo-5630 {
  height: 94px;
  left: 1236px;
  top: 1441px;
  width: 34px;
}

.chapter-5-backcasting-1920-1 .grupo-5631 {
  height: 94px;
  left: 1541px;
  top: 1441px;
  width: 34px;
}

.chapter-5-backcasting-1920-1 .butchersdrawingpaper {
  height: 59px;
  left: 1328px;
  object-fit: cover;
  position: absolute;
  top: 1660px;
  width: 156px;
}

.chapter-5-backcasting-1920-1 .coloured-marker-pens {
  height: 24px;
  left: 1614px;
  object-fit: cover;
  position: absolute;
  top: 1671px;
  width: 193px;
}

.chapter-5-backcasting-1920-1 .grupo-5632 {
  height: 52px;
  left: 1530px;
  top: 1652px;
  width: 67px;
}

.chapter-5-backcasting-1920-1 .grupo-5633 {
  height: 51px;
  left: 1312px;
  top: 1756px;
  width: 69px;
}

.chapter-5-backcasting-1920-1 .grupo-5634 {
  height: 51px;
  left: 1264px;
  top: 1652px;
  width: 57px;
}

.chapter-5-backcasting-1920-1 .power-point-display {
  height: 24px;
  left: 1394px;
  object-fit: cover;
  position: absolute;
  top: 1763px;
  width: 527px;
}

.chapter-5-backcasting-1920-1 .grupo-5635 {
  height: 171px;
  left: 486px;
  top: 369px;
  width: 178px;
}

.chapter-5-backcasting-1920-1 .grupo-5636 {
  height: 586px;
  left: 768px;
  top: 2189px;
  width: 1307px;
}

.chapter-5-backcasting-1920-1 .solomon-islands-c-jeffrey-jionisi {
  height: 996px;
  left: 1746px;
  object-fit: cover;
  position: absolute;
  top: 222px;
  width: 635px;
}

.chapter-5-backcasting-1920-1 .chapter-3_tip_-button {
  cursor: pointer;
  height: 450px;
  left: 1451px;
  object-fit: cover;
  position: absolute;
  top: 401px;
  width: 494px;
}

.chapter-5-backcasting-1920-1 .grupo-5629 {
  height: 45px;
  left: 2074px;
  top: 280px;
  width: 282px;
}

.chapter-5-backcasting-1920-1 .more_-info-button {
  cursor: pointer;
  height: 40px;
  left: 2167px;
  object-fit: cover;
  position: absolute;
  top: 1128px;
  width: 174px;
}

.chapter-5-backcasting-1920-1 .componente-58-2 {
  height: 51px;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: 85px;
  width: 51px;
  z-index: 2;
}

.chapter-5-backcasting-1920-1 .footer {
  height: 61px;
  object-fit: cover;
  width: 1920px;
  z-index: 3;
}

.chapter-5-backcasting-1920-1 .retngulo {
  left: 461px;
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-375-1 */

.chapter-5-backcasting-375-1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 5552px;
  overflow: hidden;
  width: 375px;
}

.chapter-5-backcasting-375-1 .overlap-group-4 {
  height: 3858px;
  position: relative;
  width: 1251px;
}

.chapter-5-backcasting-375-1 .retngulo-148542 {
  height: 1918px;
  left: 438px;
  top: 83px;
  width: 375px;
}

.chapter-5-backcasting-375-1 .grupo-de-mscara-18 {
  height: 559px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1442px;
  width: 1251px;
}

.chapter-5-backcasting-375-1 .grupo-144018 {
  height: 1341px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 2020px;
  width: 375px;
}

.chapter-5-backcasting-375-1 .creating-alternatives-1 {
  height: 148px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 192px;
  width: 274px;
}

.chapter-5-backcasting-375-1 .chapter-4-1 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: 150px;
}

.chapter-5-backcasting-375-1 .causal-layered-analysis-3 {
  height: 118px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 308px;
  width: 166px;
}

.chapter-5-backcasting-375-1 .caminho-747 {
  height: 36px;
  left: 560px;
  object-fit: cover;
  position: absolute;
  top: 862px;
  width: 136px;
}

.chapter-5-backcasting-375-1 .grupo-144015 {
  height: 64px;
  left: 511px;
  object-fit: cover;
  position: absolute;
  top: 2220px;
  width: 230px;
}

.chapter-5-backcasting-375-1 .retngulo-148492 {
  height: 81px;
  left: 438px;
  top: 0;
  width: 375px;
}

.chapter-5-backcasting-375-1 .spc-cps-logo_27_stars-white-3 {
  height: 50px;
  left: 457px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 122px;
}

.chapter-5-backcasting-375-1 .menu-1 {
  height: 81px;
  left: 732px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 81px;
}

.chapter-5-backcasting-375-1 .grupo-143932 {
  height: 5px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 375px;
}

.chapter-5-backcasting-375-1 .grupo-144008 {
  height: 34px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 476px;
  width: 184px;
}

.chapter-5-backcasting-375-1 .grupo-144169 {
  height: 151px;
  left: 652px;
  object-fit: cover;
  position: absolute;
  top: 478px;
  width: 109px;
}

.chapter-5-backcasting-375-1 .more_-info-button-v-2 {
  height: 35px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 629px;
  width: 152px;
}

.chapter-5-backcasting-375-1 .grupo-144016 {
  height: 34px;
  left: 531px;
  object-fit: cover;
  position: absolute;
  top: 2904px;
  width: 190px;
}

.chapter-5-backcasting-375-1 .design-space-paper-textured-background-2 {
  height: 873px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 2985px;
  width: 375px;
}

.chapter-5-backcasting-375-1 .grupo-144017 {
  height: 64px;
  left: 511px;
  object-fit: cover;
  position: absolute;
  top: 3087px;
  width: 230px;
}

.chapter-5-backcasting-375-1 .retngulo-148544 {
  border-radius: 30px;
  height: 143px;
  left: 471px;
  top: 3211px;
  width: 309px;
}

.chapter-5-backcasting-375-1 .retngulo-148547 {
  border-radius: 30px;
  height: 234px;
  left: 471px;
  top: 3369px;
  width: 309px;
}

.chapter-5-backcasting-375-1 .retngulo-148548 {
  border-radius: 30px;
  height: 158px;
  left: 471px;
  top: 3618px;
  width: 309px;
}

.chapter-5-backcasting-375-1 .retngulo-148549 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 3211px;
  width: 256px;
}

.chapter-5-backcasting-375-1 .retngulo-148552 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 3369px;
  width: 256px;
}

.chapter-5-backcasting-375-1 .retngulo-148553 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 3618px;
  width: 256px;
}

.chapter-5-backcasting-375-1 .explain-2 {
  height: 21px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  top: 3222px;
  width: 186px;
}

.chapter-5-backcasting-375-1 .work-and-present-2 {
  height: 21px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  top: 3380px;
  width: 186px;
}

.chapter-5-backcasting-375-1 .provide-2 {
  height: 21px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  top: 3630px;
  width: 186px;
}

.chapter-5-backcasting-375-1 .retngulo-148554 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 3211px;
  width: 123px;
}

.chapter-5-backcasting-375-1 .retngulo-148557 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 3369px;
  width: 123px;
}

.chapter-5-backcasting-375-1 .retngulo-148558 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 3618px;
  width: 123px;
}

.chapter-5-backcasting-375-1 .x40-m {
  height: 21px;
  left: 530px;
  object-fit: cover;
  position: absolute;
  top: 3384px;
  width: 47px;
}

.chapter-5-backcasting-375-1 .x10-m {
  height: 21px;
  left: 530px;
  object-fit: cover;
  position: absolute;
  top: 3634px;
  width: 44px;
}

.chapter-5-backcasting-375-1 .x10-m-1 {
  height: 21px;
  left: 530px;
  object-fit: cover;
  position: absolute;
  top: 3228px;
  width: 44px;
}

.chapter-5-backcasting-375-1 .grupo-144025 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 3375px;
  width: 36px;
}

.chapter-5-backcasting-375-1 .grupo-144032 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 3624px;
  width: 36px;
}

.chapter-5-backcasting-375-1 .grupo-144039 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 3219px;
  width: 36px;
}

.chapter-5-backcasting-375-1 .grupo-144168 {
  height: 4px;
  left: 487px;
  object-fit: cover;
  position: absolute;
  top: 290px;
  width: 163px;
}

.chapter-5-backcasting-375-1 .virtual-collaboratio {
  height: 77px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 2716px;
  width: 290px;
}

.chapter-5-backcasting-375-1 .time60-minutes-3 {
  height: 49px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 2313px;
  width: 99px;
}

.chapter-5-backcasting-375-1 .no-of-participants-50-participants-3 {
  height: 49px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 2406px;
  width: 241px;
}

.chapter-5-backcasting-375-1 .facilitationone-lead-facilitator-3 {
  height: 55px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 2521px;
  width: 290px;
}

.chapter-5-backcasting-375-1 .materialbutchersdrawing-paper-1 {
  height: 55px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 2623px;
  width: 290px;
}

.chapter-5-backcasting-375-1 .coloured-marker-pens-3 {
  height: 55px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 2682px;
  width: 290px;
}

.chapter-5-backcasting-375-1 .case-study7_-button-6 {
  height: 498px;
  left: 460px;
  top: 1122px;
}

.chapter-5-backcasting-375-1 .case-study7_-button-7 {
  height: 516px;
  left: 462px;
  top: 1616px;
}

.chapter-5-backcasting-375-1 .step-1explain-the-ca-2 {
  height: 68px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 3286px;
  width: 479px;
}

.chapter-5-backcasting-375-1 .step-2work-through-t-2 {
  height: 151px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 3435px;
  width: 274px;
}

.chapter-5-backcasting-375-1 .step-3provide-an-ove-2 {
  height: 93px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 3692px;
  width: 274px;
}

.chapter-5-backcasting-375-1 .quesiton_-tabs-v-2 {
  height: 454px;
  left: 489px;
  object-fit: cover;
  position: absolute;
  top: 770px;
  width: 272px;
}

.chapter-5-backcasting-375-1 .grupo-144075 {
  height: 64px;
  margin-left: 1.0px;
  margin-top: 57px;
  object-fit: cover;
  width: 118px;
}

.chapter-5-backcasting-375-1 .overlap-group1-1 {
  height: 400px;
  margin-right: 1.0px;
  margin-top: 43px;
  position: relative;
  width: 308px;
}

.chapter-5-backcasting-375-1 .most-participants-ne {
  height: 346px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 308px;
}

.chapter-5-backcasting-375-1 .grupo-144076 {
  height: 57px;
  left: 126px;
  object-fit: cover;
  position: absolute;
  top: 344px;
  width: 57px;
}

.chapter-5-backcasting-375-1 .overlap-group2-1 {
  align-items: center;
  background-image: url(../img/design-space-paper-textured-background-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  min-height: 1058px;
  width: 375px;
}

.chapter-5-backcasting-375-1 .grupo-144077 {
  height: 68px;
  margin-left: 1.0px;
  margin-top: 74px;
  object-fit: cover;
  width: 230px;
}

.chapter-5-backcasting-375-1 .save-the-children-20 {
  height: 648px;
  margin-right: 1.0px;
  margin-top: 44px;
  object-fit: cover;
  width: 308px;
}

.chapter-5-backcasting-375-1 .grupo-144078 {
  height: 57px;
  margin-right: 0.43px;
  margin-top: 40px;
  object-fit: cover;
  width: 57px;
}

.chapter-5-backcasting-375-1 .footer-3 {
  height: 61px;
  margin-top: 67px;
  object-fit: cover;
  width: 375px;
}

.chapter-5-backcasting-375-1 .case-study7_-button {
  object-fit: cover;
  position: absolute;
  width: 326px;
}

.chapter-5-backcasting-375-1 .retngulo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-768-1 */

.chapter-5-backcasting-768-1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3906px;
  overflow: hidden;
  width: 768px;
}

.chapter-5-backcasting-768-1 .overlap-group-3 {
  align-self: flex-start;
  height: 1933px;
  margin-left: -461.16px;
  margin-top: -137px;
  position: relative;
  width: 1673px;
}

.chapter-5-backcasting-768-1 .retngulo-148524 {
  height: 1551px;
  left: 461px;
  top: 222px;
  width: 768px;
}

.chapter-5-backcasting-768-1 .grupo-de-mscara-17 {
  height: 559px;
  left: 422px;
  object-fit: cover;
  position: absolute;
  top: 1214px;
  width: 1251px;
}

.chapter-5-backcasting-768-1 .causal-layered-analysis-2 {
  height: 204px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 392px;
  width: 401px;
}

.chapter-5-backcasting-768-1 .creating-alternatives {
  height: 77px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 284px;
  width: 230px;
}

.chapter-5-backcasting-768-1 .chapter-4 {
  height: 28px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 259px;
  width: 117px;
}

.chapter-5-backcasting-768-1 .grupo-143968 {
  height: 864px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-768-1 .grupo-143970 {
  height: 5px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 378px;
  width: 199px;
}

.chapter-5-backcasting-768-1 .retngulo-148486 {
  height: 81px;
  left: 461px;
  top: 137px;
  width: 768px;
}

.chapter-5-backcasting-768-1 .grupo-143707 {
  height: 47px;
  left: 695px;
  object-fit: cover;
  position: absolute;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-768-1 .spc-cps-logo_27_stars-white-2 {
  height: 50px;
  left: 480px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-768-1 .menu {
  height: 81px;
  left: 1148px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-768-1 .grupo-143711 {
  height: 5px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 768px;
}

.chapter-5-backcasting-768-1 .grupo-143975 {
  height: 45px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 540px;
  width: 282px;
}

.chapter-5-backcasting-768-1 .more_-info-button-v-1 {
  cursor: pointer;
  height: 40px;
  left: 542px;
  object-fit: cover;
  position: absolute;
  top: 1277px;
  width: 174px;
}

.chapter-5-backcasting-768-1 .grupo-144170 {
  height: 433px;
  left: 736px;
  object-fit: cover;
  position: absolute;
  top: 992px;
  width: 476px;
}

.chapter-5-backcasting-768-1 .grupo-144234-1 {
  height: 157px;
  left: 486px;
  object-fit: cover;
  position: absolute;
  top: 375px;
  width: 180px;
}

.chapter-5-backcasting-768-1 .case-study7_-button-4 {
  height: 498px;
  left: 519px;
  top: 1436px;
}

.chapter-5-backcasting-768-1 .case-study7_-button-5 {
  height: 516px;
  left: 843px;
  top: 1418px;
}

.chapter-5-backcasting-768-1 .quesiton_-tabs-v-1 {
  height: 473px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 638px;
  width: 384px;
}

.chapter-5-backcasting-768-1 .flex-row {
  align-items: center;
  display: flex;
  gap: 6px;
  height: 1109px;
  margin-right: 70.08px;
  margin-top: 97px;
  min-width: 540px;
}

.chapter-5-backcasting-768-1 .grupo-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 225.44px;
  min-height: 576px;
  width: 76px;
}

.chapter-5-backcasting-768-1 .grupo-8843 {
  height: 64px;
  margin-left: 0.84px;
  object-fit: cover;
  width: 64px;
}

.chapter-5-backcasting-768-1 .grupo-8844 {
  height: 53px;
  margin-left: 1.75px;
  margin-top: 43px;
  object-fit: cover;
  width: 63px;
}

.chapter-5-backcasting-768-1 .grupo-8845 {
  align-self: center;
  height: 54px;
  margin-right: 8.97px;
  margin-top: 50px;
  object-fit: cover;
  width: 40px;
}

.chapter-5-backcasting-768-1 .grupo-8850 {
  height: 58px;
  margin-left: 0.84px;
  margin-top: 47px;
  object-fit: cover;
  width: 64px;
}

.chapter-5-backcasting-768-1 .grupo-144242 {
  height: 47px;
  margin-top: 61px;
  object-fit: cover;
  width: 61px;
}

.chapter-5-backcasting-768-1 .grupo-144229 {
  height: 55px;
  margin-left: 0.84px;
  margin-top: 44px;
  object-fit: cover;
  width: 75px;
}

.chapter-5-backcasting-768-1 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1109px;
  width: 458px;
}

.chapter-5-backcasting-768-1 .grupo-143973 {
  align-self: center;
  height: 94px;
  margin-right: 11.52px;
  object-fit: cover;
  width: 340px;
}

.chapter-5-backcasting-768-1 .time60-minutes-2 {
  height: 49px;
  margin-top: 65px;
  object-fit: cover;
  width: 99px;
}

.chapter-5-backcasting-768-1 .no-of-participants-50-participants-2 {
  height: 49px;
  margin-top: 44px;
  object-fit: cover;
  width: 241px;
}

.chapter-5-backcasting-768-1 .facilitationone-lead-facilitator-2 {
  height: 55px;
  margin-top: 67px;
  object-fit: cover;
  width: 364px;
}

.chapter-5-backcasting-768-1 .materialbutchersdrawing-paper {
  height: 55px;
  margin-top: 47px;
  object-fit: cover;
  width: 364px;
}

.chapter-5-backcasting-768-1 .coloured-marker-pens-2 {
  height: 55px;
  margin-top: 69px;
  object-fit: cover;
  width: 364px;
}

.chapter-5-backcasting-768-1 .power-point-display-2 {
  height: 55px;
  margin-top: 38px;
  object-fit: cover;
  width: 458px;
}

.chapter-5-backcasting-768-1 .grupo-143971 {
  align-self: center;
  height: 45px;
  margin-right: 11.52px;
  margin-top: 80px;
  object-fit: cover;
  width: 282px;
}

.chapter-5-backcasting-768-1 .grupo-143977 {
  align-self: center;
  height: 94px;
  margin-right: 11.52px;
  margin-top: 149px;
  object-fit: cover;
  width: 286px;
}

.chapter-5-backcasting-768-1 .overlap-group2 {
  background-image: url(../img/ret-ngulo-148526@1x.png);
  gap: 27px;
  margin-top: 54px;
  min-height: 167px;
}

.chapter-5-backcasting-768-1 .overlap-group-2 {
  height: 51px;
  position: relative;
  width: 590px;
  margin-right:700px;
  margin-top:-5px;
}

.chapter-5-backcasting-768-1 .retngulo-1485 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 53px;
  top: 0;
  width: 552px;
}

.chapter-5-backcasting-768-1 .explain-1 {
  height: 24px;
  left: 185px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 420px;
}

.chapter-5-backcasting-768-1 .retngulo-14853 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 0;
  top: 0;
  width: 185px;
}

.chapter-5-backcasting-768-1 .x10-minutes-2 {
  top: 17px;
}

.chapter-5-backcasting-768-1 .grupo-143998 {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 36px;
}

.chapter-5-backcasting-768-1 .step-1explain-the-ca-1 {
  height: 68px;
  margin-right: 6.06px;
  object-fit: cover;
  width: 479px;
}

.chapter-5-backcasting-768-1 .overlap-group1 {
  background-image: url(../img/ret-ngulo-148529@1x.png);
  gap: 33px;
  margin-top: 22px;
  min-height: 250px;
}

.chapter-5-backcasting-768-1 .work-and-present-1 {
  height: 24px;
  left: 185px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 420px;
}

.chapter-5-backcasting-768-1 .x40-minutes-1 {
  height: 21px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 96px;
}

.chapter-5-backcasting-768-1 .grupo-1439 {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 36px;
}

.chapter-5-backcasting-768-1 .step-2work-through-t-1 {
  height: 151px;
  margin-right: 6.06px;
  object-fit: cover;
  width: 479px;
}

.chapter-5-backcasting-768-1 .over-container {
  align-items: center;
  background-image: url(../img/ret-ngulo-148530@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 33px;
  margin-left: 1.0px;
  margin-top: 26px;
  min-height: 197px;
  width: 605px;
}

.chapter-5-backcasting-768-1 .provide-1 {
  height: 24px;
  left: 185px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 420px;
}

.chapter-5-backcasting-768-1 .x10-minutes-3 {
  top: 16px;
}

.chapter-5-backcasting-768-1 .step-3provide-an-ove-1 {
  height: 93px;
  margin-right: 6.06px;
  object-fit: cover;
  width: 479px;
}

.chapter-5-backcasting-768-1 .footer-2 {
  height: 61px;
  margin-top: 127px;
  object-fit: cover;
  width: 768px;
}

.chapter-5-backcasting-768-1 .case-study7_-button {
  object-fit: cover;
  position: absolute;
  width: 326px;
}

.chapter-5-backcasting-768-1 .overlap {
  align-items: center;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 1.0px;
  width: 605px;
}

.chapter-5-backcasting-768-1 .retngulo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-768-1 .x10-minutes {
  height: 21px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  width: 93px;
}



.link11 {
  cursor: pointer;
  position: absolute;
  right: 55px;
  top: 4765px;
  width: 70%;
  height: auto;
  z-index: 70;
}

.link22 {
  cursor: pointer;
  position: absolute;
  right: 55px;
  top:4980px;
  width: 70%;
  height: auto;
  z-index: 70;
}

.link33 {
  cursor: pointer;
  position: absolute;
  right: 55px;
  top: 5117px;
  width: 70%;
  height: auto;
  z-index: 70;
}

.link44 {
  cursor: pointer;
  position: absolute;
  right: 55px;
  top: 5214px;
  width: 70%;
  height: auto;
  z-index: 70;
}

@media screen and (max-width: 767px) {
  .screen.chapter-5-backcasting-1920-1 { 
    display: none;
   }
  .screen.chapter-5-backcasting-1280-1-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-768-1 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.chapter-5-backcasting-1920-1 { 
    display: none;
   }
  .screen.chapter-5-backcasting-1280-1-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-375-1 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.chapter-5-backcasting-1920-1 { 
    display: none;
   }
  .screen.chapter-5-backcasting-768-1 { 
    display: none;
   }
  .screen.chapter-5-backcasting-375-1 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.chapter-5-backcasting-1280-1-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-768-1 { 
    display: none;
   }
  .screen.chapter-5-backcasting-375-1 { 
    display: none;
   }
}