/* screen - more-info-system-1920-1280-768 */

.more-info-system-1920-1280-768 {
  align-items: flex-start;
  display: flex;
  height: 344px;
  padding: 0 10px;
  width: 668px;
}

#overlay-more-info-system-1920-1280-768 {
  align-items: center;
  background-color: #ffffff00;
  justify-content: center;
  position: absolute;
  z-index: 9;
}

.more-info-system-1920-1280-768 .overlap-group {
  height: 331px;
  margin-top: -0.28px;
  position: relative;
  width: 645px;
  position: absolute;
  z-index: 9;
}

.more-info-system-1920-1280-768 .retngulo-105 {
  background-color: #fffffff2;
  border-radius: 5px;
  height: 303px;
  left: 0;
  position: absolute;
  top: 28px;
  width: 645px;
}

.more-info-system-1920-1280-768 .world-health-organiz {
  left: 37px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 193px;
  width: 548px;
}

.more-info-system-1920-1280-768 .span1 {
  color: var(--green-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 300;
  text-decoration: underline;
}

.more-info-system-1920-1280-768 .text-56 {
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: -2px;
  min-height: 36px;
  min-width: 23px;
  white-space: nowrap;
}

.more-info-system-1920-1280-768 .title {
  left: 147px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 60px;
  white-space: nowrap;
  text-align: center;
  font-size: 43px;
}

.more-info-system-1920-1280-768 .grupo-102 {
  align-self: flex-start;
  background-image: url(../img/caminho-230-22@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 7px;
  margin-left: 0;
  margin-top: 11px;
  width: 28px;
}

.more-info-system-1920-1280-768 .grupo-104 {
  background-image: url(../img/caminho-232-22@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 9px;
  margin-right: 3.07px;
  margin-top: 14px;
  width: 13px;
}

.more-info-system-1920-1280-768 .grupo-106 {
  background-image: url(../img/caminho-234-22@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 9px;
  margin-right: 0;
  margin-top: 14px;
  width: 6px;
}

.more-info-system-1920-1280-768 .caminho-233 {
  width: 6.78px;
}

.more-info-system-1920-1280-768 .caminho-231 {
  width: 13.55px;
}

.more-info-system-1920-1280-768 .caminho-230 {
  width: 27.88px;
}

.more-info-system-1920-1280-768 .caminho-232 {
  width: 13.48px;
}

.more-info-system-1920-1280-768 .caminho-234 {
  width: 6.24px;
}

.more-info-system-1920-1280-768 .caminho {
  flex: 1;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  object-fit: cover;
  transform: rotate(-180deg);
}


@media screen and (min-width: 768px) and (max-width: 1279px) {
  #overlay-more-info-system-1920-1280-768 {
    top:1000px;
    left: 130px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  #overlay-more-info-system-1920-1280-768 {
    top:900px;
    left: 630px;
  }
}
@media screen and (min-width: 1920px) {
  #overlay-more-info-system-1920-1280-768 {
    top:900px;
    left: 1280px;
  }
}
