/* screen - chapter-5-backcasting-case-study-16-1280 */

.chapter-5-backcasting-case-study-16-1280 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1872px;
  overflow: hidden;
  width: 1280px;
}

.chapter-5-backcasting-case-study-16-1280 .overlap-group-1 {
  height: 1951px;
  margin-left: -461.25px;
  margin-top: -138px;
  position: relative;
  width: 1741px;
}

.chapter-5-backcasting-case-study-16-1280 .retngulo-148562 {
  height: 1729px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 223px;
  width: 1280px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-144109 {
  height: 864px;
  left: 0;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-144128 {
  height: 1283px;
  left: 461px;
  top: 610px;
  width: 1280px;
}

.chapter-5-backcasting-case-study-16-1280 .caminho-62184 {
  height: 1620px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 272px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-16-1280 .design-space-paper-textured-background-1 {
  height: 1618px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-144129 {
  height: 537px;
  left: 512px;
  top: 274px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-16-1280 .case-study-12getting-1 {
  height: 173px;
  left: 698px;
  object-fit: cover;
  position: absolute;
  top: 363px;
  width: 910px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-144131 {
  height: 932px;
  left: 1099px;
  top: 884px;
  width: 5px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-144110 {
  height: auto;
  left: 486px;
  top: 354px;
  width: 156px;
}

.chapter-5-backcasting-case-study-16-1280 .spc-cps-logo_27_stars-white-1 {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-1280 .header-1 {
  height: 86px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 138px;
  width: 1280px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-144141 {
  cursor: pointer;
  height: 94px;
  left: 1602px;
  top: 269px;
  width: 94px;
}

.chapter-5-backcasting-case-study-16-1280 .what-we-did-recognis-1 {
  height: 348px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 885px;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-144251 {
  height: 5px;
  left: 603px;
  top: 1279px;
  width: 199px;
}

.chapter-5-backcasting-case-study-16-1280 .what-we-learnt-the-w-1 {
  height: 298px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 1327px;
  width: 486px;
}

.chapter-5-backcasting-case-study-16-1280 .we-asked-participant-1 {
  height: 52px;
  left: 1129px;
  object-fit: cover;
  position: absolute;
  top: 1015px;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-1280 .what-happened-in-one-1 {
  height: 88px;
  left: 1134px;
  object-fit: cover;
  position: absolute;
  top: 885px;
  width: 486px;
}

.chapter-5-backcasting-case-study-16-1280 .participants-had-fiv-1 {
  height: 124px;
  left: 1129px;
  object-fit: cover;
  position: absolute;
  top: 1281px;
  width: 486px;
}

.chapter-5-backcasting-case-study-16-1280 .no-change-marginal-c-1 {
  height: 138px;
  left: 1179px;
  object-fit: cover;
  position: absolute;
  top: 1088px;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-1280 .x1234-1 {
  height: 138px;
  left: 1149px;
  object-fit: cover;
  position: absolute;
  top: 1090px;
  width: 30px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-5584-1 {
  height: 11px;
  left: 1144px;
  object-fit: cover;
  position: absolute;
  top: 1532px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-5585-1 {
  height: 11px;
  left: 1144px;
  object-fit: cover;
  position: absolute;
  top: 1568px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-5586-1 {
  height: 11px;
  left: 1144px;
  object-fit: cover;
  position: absolute;
  top: 1627px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-5587-1 {
  height: 11px;
  left: 1144px;
  object-fit: cover;
  position: absolute;
  top: 1750px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-5588-1 {
  height: 11px;
  left: 1144px;
  object-fit: cover;
  position: absolute;
  top: 1690px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-1280 .they-put-forward-16-1 {
  height: 52px;
  left: 1127px;
  object-fit: cover;
  position: absolute;
  top: 1443px;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-1280 .equitable-outcomes-f-1 {
  height: 326px;
  left: 1177px;
  object-fit: cover;
  position: absolute;
  top: 1525px;
  width: 473px;
}

.chapter-5-backcasting-case-study-16-1280 .footer {
  height: 61px;
  object-fit: cover;
  width: 1280px;
}
/* screen - chapter-5-backcasting-case-study-16-1920-all-breakpoints */

.chapter-5-backcasting-case-study-16-1920-all-breakpoints {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1924px;
  overflow: hidden;
  width: 1920px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .overlap-group {
  height: 2003px;
  margin-left: -461.25px;
  margin-top: -138px;
  position: relative;
  width: 2381px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .retngulo-148560 {
  height: 1781px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 223px;
  width: 1920px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-144079 {
  height: 864px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-144098 {
  height: 1275px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 617px;
  width: 1273px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .caminho-62165 {
  height: 1620px;
  left: 631px;
  object-fit: cover;
  position: absolute;
  top: 272px;
  width: 1639px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .design-space-paper-textured-background {
  height: 1618px;
  left: 631px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1640px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-144099 {
  height: 537px;
  left: 631px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1639px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .componente-42-1 {
  cursor: pointer;
  height: 94px;
  left: 2182px;
  object-fit: cover;
  position: absolute;
  top: 268px;
  width: 94px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .spc-cps-logo_27_stars-white {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-8840 {
  height: 22px;
  left: 2326px;
  object-fit: cover;
  position: absolute;
  top: 168px;
  width: 30px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .header {
  height: 86px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 138px;
  width: auto;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-5529 {
  height: 157px;
  left: 487px;
  object-fit: cover;
  position: absolute;
  top: 378px;
  width: 180px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .case-study-12getting {
  height: 173px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 363px;
  width: 1299px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .what-we-did-recognis {
  height: 348px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 885px;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .we-asked-participant {
  height: 52px;
  left: 1451px;
  object-fit: cover;
  position: absolute;
  top: 1015px;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-5583 {
  height: 5px;
  left: 774px;
  object-fit: cover;
  position: absolute;
  top: 1279px;
  width: 199px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .what-happened-in-one {
  height: 88px;
  left: 1449px;
  object-fit: cover;
  position: absolute;
  top: 885px;
  width: 493px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .what-we-learnt-the-w {
  height: 298px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 1327px;
  width: 486px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .participants-had-fiv {
  height: 124px;
  left: 1451px;
  object-fit: cover;
  position: absolute;
  top: 1281px;
  width: 486px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .no-change-marginal-c {
  height: 138px;
  left: 1501px;
  object-fit: cover;
  position: absolute;
  top: 1087px;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .x1234 {
  height: 138px;
  left: 1471px;
  object-fit: cover;
  position: absolute;
  top: 1090px;
  width: 30px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-5584 {
  height: 11px;
  left: 1466px;
  object-fit: cover;
  position: absolute;
  top: 1532px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-5585 {
  height: 11px;
  left: 1466px;
  object-fit: cover;
  position: absolute;
  top: 1568px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-5586 {
  height: 11px;
  left: 1466px;
  object-fit: cover;
  position: absolute;
  top: 1630px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-5587 {
  height: 11px;
  left: 1466px;
  object-fit: cover;
  position: absolute;
  top: 1750px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-5588 {
  height: 11px;
  left: 1466px;
  object-fit: cover;
  position: absolute;
  top: 1690px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .they-put-forward-16 {
  height: 52px;
  left: 1449px;
  object-fit: cover;
  position: absolute;
  top: 1443px;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .equitable-outcomes-f {
  height: 326px;
  left: 1499px;
  object-fit: cover;
  position: absolute;
  top: 1525px;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-144102 {
  height: 61px;
  margin-left: -0.09px;
  object-fit: cover;
  width: 1920px;
}
/* screen - chapter-5-backcasting-case-study-16-375 */

.chapter-5-backcasting-case-study-16-375 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2367px;
  overflow: hidden;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375 .overlap-group-3 {
  height: 2262px;
  position: relative;
  width: 1264px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144151 {
  height: 723px;
  left: 0;
  top: 127px;
  width: 1264px;
}

.chapter-5-backcasting-case-study-16-375 .retngulo-148492 {
  height: 81px;
  left: 0;
  position: absolute;
  top: 0;
}

.chapter-5-backcasting-case-study-16-375 .spc-cps-logo_27_stars-white-3 {
  cursor: pointer;
  height: 50px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-375 .menu-1 {
  height: 81px;
  left: 294px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 81px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-143932 {
  height: 5px;
  left: 0;
  top: 80px;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375 .retngulo-148565 {
  height: 46px;
  left: 0;
  position: absolute;
  top: 81px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144152 {
  cursor: pointer;
  height: 54px;
  left: 323px;
  top: 124px;
  width: 54px;
}

.chapter-5-backcasting-case-study-16-375 .case-study-12getting-3 {
  height: 114px;
  left: 51px;
  object-fit: cover;
  position: absolute;
  top: 206px;
  width: 273px;
}

.chapter-5-backcasting-case-study-16-375 .design-space-paper-textured-background-2 {
  height: 1592px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 670px;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144254 {
  height: 600px;
  left: 26px;
  top: 740px;
  width: auto;
}

.chapter-5-backcasting-case-study-16-375 .we-asked-participant-3 {
  height: 40px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 1540px;
  width: auto;
}

.chapter-5-backcasting-case-study-16-375 .what-happened-in-one-3 {
  height: 80px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 1449px;
  width: auto;
}

.chapter-5-backcasting-case-study-16-375 .participants-had-fiv-3 {
  height: 110px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 1735px;
  width: auto;
}

.chapter-5-backcasting-case-study-16-375 .no-change-marginal-c-3 {
  height: 108px;
  left: 78px;
  object-fit: cover;
  position: absolute;
  top: 1602px;
  width: 208px;
}

.chapter-5-backcasting-case-study-16-375 .x1234-3 {
  height: 138px;
  left: 49px;
  object-fit: cover;
  position: absolute;
  top: 1605px;
  width: 30px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144256 {
  height: 8px;
  left: 44px;
  top: 1947px;
  width: 8px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144257 {
  height: 8px;
  left: 44px;
  top: 1989px;
  width: 8px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144258 {
  height: 8px;
  left: 44px;
  top: 2053px;
  width: 8px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144259 {
  height: 8px;
  left: 44px;
  top: 2155px;
  width: 8px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144260 {
  height: 8px;
  left: 44px;
  top: 2095px;
  width: 8px;
}

.chapter-5-backcasting-case-study-16-375 .they-put-forward-16-3 {
  height: 35px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 1878px;
  width: auto;
}

.chapter-5-backcasting-case-study-16-375 .equitable-outcomes-f-3 {
  height: 288px;
  left: 77px;
  object-fit: cover;
  position: absolute;
  top: 1940px;
  width: 272px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144162 {
  height: 4px;
  left: 25px;
  top: 1403px;
  width: 173px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144261 {
  height: 4px;
  left: 25px;
  top: 1057px;
  width: 173px;
}

.chapter-5-backcasting-case-study-16-375 .retngulo-148566 {
  height: 46px;
}

.chapter-5-backcasting-case-study-16-375 .footer-2 {
  height: 61px;
  object-fit: cover;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375 .retngulo {
  object-fit: cover;
  width: 375px;
}
/* screen - chapter-5-backcasting-case-study-16-768 */

.chapter-5-backcasting-case-study-16-768 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2771px;
  overflow: hidden;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768 .overlap-group-2 {
  height: 991px;
  margin-left: -346.72px;
  margin-top: -137px;
  position: relative;
  width: 1611px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144140 {
  height: 723px;
  left: 347px;
  object-fit: cover;
  position: absolute;
  top: 268px;
  width: 1264px;
}

.chapter-5-backcasting-case-study-16-768 .retngulo-148524 {
  height: 46px;
  left: 347px;
  position: absolute;
  top: 222px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-143968 {
  height: 645px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 641px;
}

.chapter-5-backcasting-case-study-16-768 .retngulo-148486 {
  height: 81px;
  left: 347px;
  position: absolute;
  top: 137px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-143707 {
  height: 47px;
  left: 581px;
  object-fit: cover;
  position: absolute;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-case-study-16-768 .spc-cps-logo_27_stars-white-2 {
  cursor: pointer;
  height: 50px;
  left: 366px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-768 .menu {
  height: 81px;
  left: 1034px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-143711 {
  height: 5px;
  left: 347px;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144138 {
  cursor: pointer;
  height: 94px;
  left: 1027px;
  object-fit: cover;
  position: absolute;
  top: 265px;
  width: 94px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-143974 {
  height: auto;
  left: 363px;
  object-fit: cover;
  position: absolute;
  top: 265px;
  width: 116px;
}

.chapter-5-backcasting-case-study-16-768 .case-study-12getting-2 {
  height: 218px;
  left: 509px;
  object-fit: cover;
  position: absolute;
  top: 339px;
  width: 525px;
}

.chapter-5-backcasting-case-study-16-768 .flex-col {
  align-items: center;
  background-image: url(../img/design-space-paper-textured-background-4@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 1918px;
  padding: 0.0px 0;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768 .flex-col-1 {
  margin-right: 1.0px;
  margin-top: 84px;
  min-height: 1317px;
  width: 611px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144252 {
  height: 700px;
  object-fit: cover;
  width: auto;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144253 {
  height: 5px;
  margin-left: 1px;
  margin-top: 49px;
  object-fit: cover;
  width: 199px;
}

.chapter-5-backcasting-case-study-16-768 .what-happened-in-one-2 {
  height: 88px;
  margin-left: 2px;
  margin-top: 45px;
  object-fit: cover;
  width: 606px;
}

.chapter-5-backcasting-case-study-16-768 .we-asked-participant-2 {
  height: 52px;
  margin-left: 2.5px;
  margin-top: 42px;
  object-fit: cover;
  width: 607px;
}

.chapter-5-backcasting-case-study-16-768 .overlap-group2 {
  align-self: center;
  height: 141px;
  margin-right: 41.52px;
  margin-top: 20px;
  position: relative;
  width: 524px;
}

.chapter-5-backcasting-case-study-16-768 .no-change-marginal-c-2 {
  height: 138px;
  left: 30px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-768 .x1234-2 {
  height: 138px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 30px;
}

.chapter-5-backcasting-case-study-16-768 .participants-had-fiv-2 {
  height: 99px;
  margin-left: 3px;
  margin-top: 53px;
  object-fit: cover;
  width: 606px;
}

.chapter-5-backcasting-case-study-16-768 .they-put-forward-16-2 {
  height: 52px;
  margin-left: 1px;
  margin-top: 63px;
  object-fit: cover;
  width: 607px;
}

.chapter-5-backcasting-case-study-16-768 .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 22px;
  margin-left: 14.97px;
  margin-top: 30px;
  min-width: 591px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 9px;
  min-height: 242px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-5584-2 {
  height: 11px;
  object-fit: cover;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-5585-2 {
  height: 11px;
  margin-top: 22px;
  object-fit: cover;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-558 {
  height: 11px;
  margin-top: 50px;
  object-fit: cover;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-768 .equitable-outcomes-f-2 {
  height: 326px;
  object-fit: cover;
  width: 558px;
}

.chapter-5-backcasting-case-study-16-768 .flex-col-2 {
  margin-top: 54px;
  min-height: 107px;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768 .retngulo-148564 {
  height: 46px;
}

.chapter-5-backcasting-case-study-16-768 .footer-1 {
  height: 61px;
  object-fit: cover;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768 .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.chapter-5-backcasting-case-study-16-768 .retngulo {
  object-fit: cover;
  width: 768px;
}
@media screen and (max-width: 767px) {
  .screen.chapter-5-backcasting-case-study-16-1920-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-768 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.chapter-5-backcasting-case-study-16-1920-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-375 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.chapter-5-backcasting-case-study-16-1920-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-768 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-375 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.chapter-5-backcasting-case-study-16-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-768 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-375 { 
    display: none;
   }
}