/* screen - chapter-5-backcasting-1280 */

.chapter-5-backcasting-1280 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2973px;
  overflow: hidden;
  width: 1280px;
}

.chapter-5-backcasting-1280 .overlap-group-2 {
  height: 3110px;
  margin-left: -461px;
  margin-top: -137.47px;
  position: relative;
  width: 2381px;
}

.chapter-5-backcasting-1280 .grupo-8810 {
  height: 537px;
  left: 461px;
  top: 1430px;
  width: 1920px;
}

.chapter-5-backcasting-1280 .grupo-8811 {
  height: 537px;
  left: 461px;
  top: 983px;
  width: 1920px;
}

.chapter-5-backcasting-1280 .retngulo-436 {
  height: 996px;
  left: 461px;
  top: 223px;
  width: 1280px;
}

.chapter-5-backcasting-1280 .grupo-de-mscara-13 {
  height: 559px;
  left: 422px;
  object-fit: cover;
  position: absolute;
  top: 659px;
  width: 1251px;
}

.chapter-5-backcasting-1280 .design-space-paper-textured-background {
  height: 1150px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1960px;
  width: 1280px;
}

.chapter-5-backcasting-1280 .grupo-8839 {
  height: 864px;
  left: 0;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-1280 .scenario-analysis-1 {
  height: 204px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 354px;
  width: 594px;
}

.chapter-5-backcasting-1280 .grupo-8841 {
  height: 65px;
  left: 766px;
  top: 259px;
  width: 398px;
}

.chapter-5-backcasting-1280 .grupo-8842 {
  height: 5px;
  left: 766px;
  top: 341px;
  width: 199px;
}

.chapter-5-backcasting-1280 .quesiton_-tabs-v {
  height: 167px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 577px;
  width: 471px;
}

.chapter-5-backcasting-1280 .grupo-143938 {
  height: 92px;
  left: 964px;
  top: 2041px;
  width: auto;
}

.chapter-5-backcasting-1280 .retngulo-80 {
  height: 81px;
  left: 461px;
  top: 137px;
  width: 1280px;
}

.chapter-5-backcasting-1280 .grupo-788 {
  height: 47px;
  left: 958px;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-1280 .menu-v-1 {
  height: 81px;
  left: 1660px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-1280 .spc-cps-logo_27_stars-white-3 {
  cursor: pointer;
}

.chapter-5-backcasting-1280 .grupo-790-1 {
  height: 5px;
  left: 462px;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 1280px;
}

.chapter-5-backcasting-1280 .grupo-143936 {
  height: 94px;
  left: 931px;
  top: 1441px;
  width: 340px;
}

.chapter-5-backcasting-1280 .chapter-3_tip_-button-v {
  cursor: pointer;
  height: 450px;
  left: 1236px;
  object-fit: cover;
  position: absolute;
  top: 408px;
  width: 494px;
}

.chapter-5-backcasting-1280 .retngulo-357 {
  border-radius: 30px;
  height: 186px;
  left: 543px;
  top: 2189px;
  width: 1116px;
}

.chapter-5-backcasting-1280 .retngulo-437 {
  border-radius: 30px;
  height: 156px;
  left: 543px;
  top: 2786px;
  width: 1116px;
}

.chapter-5-backcasting-1280 .retngulo-359 {
  border-radius: 30px;
  height: 184px;
  left: 543px;
  top: 2389px;
  width: 1116px;
}

.chapter-5-backcasting-1280 .retngulo-434 {
  border-radius: 30px;
  height: 184px;
  left: 543px;
  top: 2587px;
  width: 1116px;
}

.chapter-5-backcasting-1280 .retngulo-361 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 543px;
  top: 2189px;
  width: 339px;
}

.chapter-5-backcasting-1280 .retngulo-438 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 543px;
  top: 2786px;
  width: 339px;
}

.chapter-5-backcasting-1280 .retngulo-363 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 543px;
  top: 2389px;
  width: 339px;
}

.chapter-5-backcasting-1280 .retngulo-435 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 543px;
  top: 2587px;
  width: 339px;
}

.chapter-5-backcasting-1280 .x15-minutes-2 {
  top: 2405px;
}

.chapter-5-backcasting-1280 .x15-minutes-3 {
  top: 2603px;
}

.chapter-5-backcasting-1280 .x15-minutes-4 {
  top: 2206px;
}

.chapter-5-backcasting-1280 .x15-minutes-5 {
  top: 2803px;
}

.chapter-5-backcasting-1280 .grupo-3406 {
  height: 36px;
  left: 560px;
  top: 2396px;
  width: 36px;
}

.chapter-5-backcasting-1280 .grupo-8816 {
  height: 36px;
  left: 560px;
  top: 2594px;
  width: 36px;
}

.chapter-5-backcasting-1280 .grupo-5545-1 {
  height: 36px;
  left: 560px;
  object-fit: cover;
  position: absolute;
  top: 2197px;
  width: 36px;
}

.chapter-5-backcasting-1280 .grupo-8823 {
  height: 36px;
  left: 560px;
  top: 2794px;
  width: 36px;
}

.chapter-5-backcasting-1280 .retngulo-365 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 760px;
  top: 2189px;
  width: 899px;
}

.chapter-5-backcasting-1280 .retngulo-439 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 760px;
  top: 2786px;
  width: 899px;
}

.chapter-5-backcasting-1280 .retngulo-367 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 760px;
  top: 2389px;
  width: 899px;
}

.chapter-5-backcasting-1280 .retngulo-436-1 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 2587px;
  width: 899px;
}

.chapter-5-backcasting-1280 .select-three-scenari-1 {
  height: 26px;
  left: 740px;
  object-fit: cover;
  position: absolute;
  top: 2201px;
  width: auto;
}

.chapter-5-backcasting-1280 .describe-2 {
  top: 2798px;
}

.chapter-5-backcasting-1280 .describe-3 {
  top: 2401px;
}

.chapter-5-backcasting-1280 .describe-4 {
  top: 2599px;
}

.chapter-5-backcasting-1280 .grupo-8854 {
  height: 45px;
  left: 1377px;
  top: 280px;
  width: 282px;
}

.chapter-5-backcasting-1280 .more_-info-button-v {
  cursor: pointer;
  height: 40px;
  left: 1485px;
  object-fit: cover;
  position: absolute;
  top: 1128px;
  width: 174px;
}

.chapter-5-backcasting-1280 .footer-1 {
  height: 61px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 3049px;
  width: 1280px;
}

.chapter-5-backcasting-1280 .case-study7_-button-1 {
  cursor: pointer;
  height: 516px;
  left: 757px;
  object-fit: cover;
  position: absolute;
  top: 866px;
  width: 326px;
}

.chapter-5-backcasting-1280 .grupo-144223-1 {
  height: 64px;
  left: 508px;
  object-fit: cover;
  position: absolute;
  top: 1592px;
  width: 64px;
}

.chapter-5-backcasting-1280 .grupo-144224-1 {
  height: 53px;
  left: 509px;
  object-fit: cover;
  position: absolute;
  top: 1699px;
  width: 63px;
}

.chapter-5-backcasting-1280 .grupo-144225-1 {
  height: 54px;
  left: 521px;
  object-fit: cover;
  position: absolute;
  top: 1802px;
  width: 40px;
}

.chapter-5-backcasting-1280 .grupo-144226-1 {
  height: 319px;
  left: 830px;
  object-fit: cover;
  position: absolute;
  top: 1587px;
  width: 4px;
}

.chapter-5-backcasting-1280 .time60-minutes-1 {
  height: 49px;
  left: 589px;
  object-fit: cover;
  position: absolute;
  top: 1597px;
  width: 99px;
}

.chapter-5-backcasting-1280 .no-of-participants-50-1 {
  height: 49px;
  left: 589px;
  object-fit: cover;
  position: absolute;
  top: 1699px;
  width: 241px;
}

.chapter-5-backcasting-1280 .butchersdrawing-paper-1 {
  height: 50px;
  left: 953px;
  object-fit: cover;
  position: absolute;
  top: 1645px;
  width: auto;
}

.chapter-5-backcasting-1280 .visual-aids-to-inspi-1 {
  height: 50px;
  left: 953px;
  object-fit: cover;
  position: absolute;
  top: 1746px;
  width: auto;
}

.chapter-5-backcasting-1280 .sticky-notes-1 {
  height: 21px;
  left: 1298px;
  object-fit: cover;
  position: absolute;
  top: 1655px;
  width: auto;
}

.chapter-5-backcasting-1280 .virtual-collaboratio-1 {
  height: 69px;
  left: 1296px;
  object-fit: cover;
  position: absolute;
  top: 1738px;
  width: auto;
}

.chapter-5-backcasting-1280 .material-1 {
  height: 24px;
  left: 863px;
  object-fit: cover;
  position: absolute;
  top: 1588px;
  width: 74px;
}

.chapter-5-backcasting-1280 .facilitationone-lead-facilitator-1 {
  height: 70px;
  left: 589px;
  object-fit: cover;
  position: absolute;
  top: 1803px;
  width: auto;
}

.chapter-5-backcasting-1280 .grupo-144227-1 {
  height: 45px;
  left: 1024px;
  object-fit: cover;
  position: absolute;
  top: 1870px;
  width: 282px;
}

.chapter-5-backcasting-1280 .grupo-144228-1 {
  height: 58px;
  left: 863px;
  object-fit: cover;
  position: absolute;
  top: 1641px;
  width: 64px;
}

.chapter-5-backcasting-1280 .grupo-144229-1 {
  height: 55px;
  left: 1194px;
  object-fit: cover;
  position: absolute;
  top: 1733px;
  width: 75px;
}

.chapter-5-backcasting-1280 .grupo-144230-1 {
  height: 68px;
  left: 1203px;
  object-fit: cover;
  position: absolute;
  top: 1631px;
  width: 55px;
}

.chapter-5-backcasting-1280 .grupo-144231-1 {
  height: 47px;
  left: 1513px;
  object-fit: cover;
  position: absolute;
  top: 1641px;
  width: 61px;
}

.chapter-5-backcasting-1280 .grupo-144235-1 {
  height: 42px;
  left: 859px;
  object-fit: cover;
  position: absolute;
  top: 1750px;
  width: 62px;
}

.chapter-5-backcasting-1280 .coloured-marker-pens-1 {
  height: 56px;
  left: 1589px;
  object-fit: cover;
  position: absolute;
  top: 1641px;
  width: auto;
}

.chapter-5-backcasting-1280 .step-1select-three-s-1 {
  height: 101px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 2257px;
  width: 1213px;
}

.chapter-5-backcasting-1280 .step-2describe-the-a {
  height: 59px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 2466px;
  width: 1214px;
}

.chapter-5-backcasting-1280 .step-3describe-the-r-1 {
  height: 102px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 2673px;
  width: 1214px;
}

.chapter-5-backcasting-1280 .step-4discuss-the-three-scenarios {
  height: 59px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 2851px;
  width: 1214px;
}

.chapter-5-backcasting-1280 .grupo-144234-1 {
  height: 157px;
  left: 486px;
  object-fit: cover;
  position: absolute;
  top: 375px;
  width: 180px;
}

.chapter-5-backcasting-1280 .describe {
  height: 24px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  width: 899px;
}

.chapter-5-backcasting-1280 .retngulo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-1280 .spc-cps-logo_27_stars-white {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-1280 .x15-minutes {
  height: 21px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  width: 91px;
}
/* screen - chapter-5-backcasting-1920 */

.chapter-5-backcasting-1920 {
  background-color: var(--white);
  height: 2931px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.chapter-5-backcasting-1920 .overlap-group-1 {
  align-items: center;
  background-image: url(../img/design-space-paper-textured-background@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1110px;
  padding: 0.0px 0;
  position: absolute;
  top: 1823px;
  width: 1920px;
}

.chapter-5-backcasting-1920 .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  margin-top: 81px;
  min-width: 286px;
}

.chapter-5-backcasting-1920 .grupo-8848 {
  align-self: flex-end;
  height: 94px;
  object-fit: cover;
  width: auto;
}

.grupo-88488b {
  height: 54px;
  width: auto;
  margin-top: 20px;
}

.chapter-5-backcasting-1920 .activities {
  align-self: center;
  height: 53px;
  margin-bottom: 5.18px;
  object-fit: cover;
  width: 188px;
}

.chapter-5-backcasting-1920 .grupo-8849 {
  height: 94px;
  object-fit: cover;
  width: auto;
}

.chapter-5-backcasting-1920 .overlap-group2 {
  align-items: center;
  background-image: url(../img/ret-ngulo-357@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 1.0px;
  margin-top: 67px;
  min-height: 168px;
  width: 1307px;
}

.chapter-5-backcasting-1920 .overlap-group {
  height: 52px;
  position: relative;
  width: 1307px;
}

.chapter-5-backcasting-1920 .retngulo-36 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 0;
  top: 0;
  width: 339px;
}

.chapter-5-backcasting-1920 .x15-minutes-1 {
  height: 21px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 91px;
}

.chapter-5-backcasting-1920 .grupo-5545 {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 36px;
}

.chapter-5-backcasting-1920 .retngulo-36-1 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 217px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1090px;
}

.chapter-5-backcasting-1920 .select-three-scenari {
  height: 42px;
  left: 230px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: auto;
}

.chapter-5-backcasting-1920 .step-1select-three-s {
  height: 101px;
  margin-left: 26.23px;
  object-fit: cover;
  width: 1213px;
}

.chapter-5-backcasting-1920 .overlap-group4 {
  align-items: center;
  background-image: url(../img/ret-ngulo-359@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 1.0px;
  margin-top: 19px;
  min-height: 160px;
  width: 1307px;
}

.chapter-5-backcasting-1920 .x15-minutes {
  height: 21px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 91px;
}

.chapter-5-backcasting-1920 .grupo-34 {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 36px;
}

.chapter-5-backcasting-1920 .describe {
  height: 50px;
  left: 95px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: auto;
}

.chapter-5-backcasting-1920 .step {
  height: 59px;
  margin-left: 26.94px;
  object-fit: cover;
  width: 1214px;
}

.chapter-5-backcasting-1920 .overlap-group3 {
  height: 178px;
  margin-left: 1.0px;
  margin-top: 17px;
  position: relative;
  width: 1307px;
}

.chapter-5-backcasting-1920 .retngulo-360 {
  border-radius: 30px;
  height: 159px;
  left: 0;
  top: 0;
  width: 1307px;
}

.chapter-5-backcasting-1920 .describe-1 {
  height: 50px;
  left: 95px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: auto;
}

.chapter-5-backcasting-1920 .step-3describe-the-r {
  height: 102px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 76px;
  width: 1214px;
}

.chapter-5-backcasting-1920 .overlap-group5 {
  align-items: center;
  background-image: url(../img/ret-ngulo-358@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 1.0px;
  min-height: 157px;
  width: 1307px;
}

.chapter-5-backcasting-1920 .grupo-5552 {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 36px;
}

.chapter-5-backcasting-1920 .discuss {
  height: 40px;
  left: 217px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 1003px;
}

.chapter-5-backcasting-1920 .footer {
  height: 61px;
  margin-top: 108px;
  object-fit: cover;
  width: 1920px;
}

.chapter-5-backcasting-1920 .overlap-group1 {
  height: 1963px;
  left: -461px;
  position: absolute;
  top: -140px;
  width: 2405px;
}

.chapter-5-backcasting-1920 .retngulo-148567 {
  height: 755px;
  left: 461px;
  top: 1208px;
  width: 1944px;
}

.chapter-5-backcasting-1920 .grupo-144191 {
  height: 537px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1426px;
  width: 1920px;
}

.chapter-5-backcasting-1920 .grupo-144192 {
  height: 537px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 983px;
  width: 1920px;
}

.chapter-5-backcasting-1920 .retngulo-148568 {
  height: 996px;
  left: 461px;
  top: 223px;
  width: 1285px;
}

.chapter-5-backcasting-1920 .grupo-de-mscara-19 {
  height: 559px;
  left: 422px;
  object-fit: cover;
  position: absolute;
  top: 659px;
  width: 1251px;
}

.chapter-5-backcasting-1920 .grupo-144220 {
  height: 864px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-1920 .scenario-analysis {
  height: 204px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 354px;
  width: 872px;
}

.chapter-5-backcasting-1920 .grupo-144221 {
  height: 65px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 259px;
  width: 398px;
}

.chapter-5-backcasting-1920 .grupo-144222 {
  height: 5px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 341px;
  width: 199px;
}

.chapter-5-backcasting-1920 .case-study7_-button {
  cursor: pointer;
  height: 516px;
  left: 757px;
  object-fit: cover;
  position: absolute;
  top: 869px;
  width: 326px;
}

.chapter-5-backcasting-1920 .grupo-144223 {
  height: 64px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 1595px;
  width: 64px;
}

.chapter-5-backcasting-1920 .grupo-144224 {
  height: 53px;
  left: 767px;
  object-fit: cover;
  position: absolute;
  top: 1701px;
  width: 63px;
}

.chapter-5-backcasting-1920 .grupo-144225 {
  height: 54px;
  left: 779px;
  object-fit: cover;
  position: absolute;
  top: 1804px;
  width: 40px;
}

.chapter-5-backcasting-1920 .grupo-144226 {
  height: 319px;
  left: 1278px;
  object-fit: cover;
  position: absolute;
  top: 1589px;
  width: 4px;
}

.chapter-5-backcasting-1920 .time60-minutes {
  height: 49px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1600px;
  width: 99px;
}

.chapter-5-backcasting-1920 .no-of-participants-50 {
  height: 49px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1701px;
  width: 241px;
}

.chapter-5-backcasting-1920 .butchersdrawing-paper {
  height: 57px;
  left: 1421px;
  object-fit: cover;
  position: absolute;
  top: 1648px;
  width: 155px;
}

.chapter-5-backcasting-1920 .visual-aids-to-inspi {
  height: 57px;
  left: 1421px;
  object-fit: cover;
  position: absolute;
  top: 1749px;
  width: 188px;
}

.chapter-5-backcasting-1920 .coloured-marker-pens {
  height: 64px;
  left: 2057px;
  object-fit: cover;
  position: absolute;
  top: 1644px;
  width: 131px;
}

.chapter-5-backcasting-1920 .sticky-notes {
  height: 24px;
  left: 1766px;
  object-fit: cover;
  position: absolute;
  top: 1658px;
  width: 241px;
}

.chapter-5-backcasting-1920 .virtual-collaboratio {
  height: 80px;
  left: 1764px;
  object-fit: cover;
  position: absolute;
  top: 1740px;
  width: 376px;
}

.chapter-5-backcasting-1920 .material {
  height: 24px;
  left: 1331px;
  object-fit: cover;
  position: absolute;
  top: 1591px;
  width: 74px;
}

.chapter-5-backcasting-1920 .facilitationone-lead-facilitator {
  height: 75px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1805px;
  width: auto;
}

.chapter-5-backcasting-1920 .grupo-144227 {
  height: 45px;
  left: 1492px;
  object-fit: cover;
  position: absolute;
  top: 1873px;
  width: 282px;
}

.chapter-5-backcasting-1920 .quesiton_-tabs {
  height: 167px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 577px;
  width: 576px;
}

.chapter-5-backcasting-1920 .grupo-144228 {
  height: 58px;
  left: 1331px;
  object-fit: cover;
  position: absolute;
  top: 1644px;
  width: 64px;
}

.chapter-5-backcasting-1920 .grupo-144229 {
  height: 55px;
  left: 1662px;
  object-fit: cover;
  position: absolute;
  top: 1736px;
  width: 75px;
}

.chapter-5-backcasting-1920 .grupo-144230 {
  height: 68px;
  left: 1671px;
  object-fit: cover;
  position: absolute;
  top: 1634px;
  width: 55px;
}

.chapter-5-backcasting-1920 .grupo-144231 {
  height: 47px;
  left: 1981px;
  object-fit: cover;
  position: absolute;
  top: 1644px;
  width: 61px;
}

.chapter-5-backcasting-1920 .how-to-do-it {
  height: 53px;
  left: 1285px;
  object-fit: cover;
  position: absolute;
  top: 1459px;
  width: 243px;
}

.chapter-5-backcasting-1920 .grupo-144232 {
  height: 94px;
  left: 1236px;
  object-fit: cover;
  position: absolute;
  top: 1441px;
  width: 34px;
}

.chapter-5-backcasting-1920 .grupo-144233 {
  height: 94px;
  left: 1541px;
  object-fit: cover;
  position: absolute;
  top: 1441px;
  width: 34px;
}

.chapter-5-backcasting-1920 .grupo-144234 {
  height: 157px;
  left: 486px;
  object-fit: cover;
  position: absolute;
  top: 378px;
  width: 180px;
}

.chapter-5-backcasting-1920 .grupo-144235 {
  height: 42px;
  left: 1327px;
  object-fit: cover;
  position: absolute;
  top: 1752px;
  width: 62px;
}

.chapter-5-backcasting-1920 .rs1328_-quentin-hani {
  height: 996px;
  left: 1746px;
  object-fit: cover;
  position: absolute;
  top: 222px;
  width: 635px;
}

.chapter-5-backcasting-1920 .chapter-3_tip_-button {
  cursor: pointer;
  height: 450px;
  left: 1451px;
  object-fit: cover;
  position: absolute;
  top: 401px;
  width: 494px;
}

.chapter-5-backcasting-1920 .grupo-144236 {
  height: 45px;
  left: 2074px;
  object-fit: cover;
  position: absolute;
  top: 280px;
  width: 282px;
}

.chapter-5-backcasting-1920 .more_-info-button {
  cursor: pointer;
  height: 40px;
  left: 2167px;
  object-fit: cover;
  position: absolute;
  top: 1128px;
  width: 174px;
}

.chapter-5-backcasting-1920 .grupo-790 {
  height: 5px;
  left: 462px;
  object-fit: cover;
  position: absolute;
  top: 221px;
  width: 1920px;
}

.chapter-5-backcasting-1920 .spc-cps-logo_27_stars-white {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 162px;
  width: 122px;
}

.chapter-5-backcasting-1920 .grupo-144237 {
  height: 22px;
  left: 2326px;
  object-fit: cover;
  position: absolute;
  top: 170px;
  width: 30px;
}

.chapter-5-backcasting-1920 .retngulo-148570 {
  height: 81px;
  left: 461px;
  top: 140px;
  width: 1920px;
}

.chapter-5-backcasting-1920 .grupo-144238 {
  height: 47px;
  left: 1282px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 302px;
}

.chapter-5-backcasting-1920 .menu-v {
  height: 81px;
  left: 2300px;
  object-fit: cover;
  position: absolute;
  top: 140px;
  width: 81px;
}

.chapter-5-backcasting-1920 .spc-cps-logo_27_stars-white-1 {
  cursor: pointer;
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 162px;
  width: 122px;
}

.chapter-5-backcasting-1920 .componente-58-1 {
  height: 51px;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: 83px;
  width: 51px;
}

.chapter-5-backcasting-1920 .retngulo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-375 */

.chapter-5-backcasting-375 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 4871px;
  overflow: hidden;
  width: 375px;
}

.chapter-5-backcasting-375 .overlap-group-5 {
  height: 3366px;
  position: relative;
  width: 1251px;
}

.chapter-5-backcasting-375 .retngulo-148542 {
  height: 1350px;
  left: 438px;
  top: 81px;
  width: 375px;
}

.chapter-5-backcasting-375 .grupo-de-mscara-18 {
  height: 559px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 872px;
  width: 1251px;
}

.chapter-5-backcasting-375 .grupo-144018 {
  height: 1341px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 1430px;
  width: 375px;
}

.chapter-5-backcasting-375 .creating-alternatives-1 {
  height: 148px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 192px;
  width: 274px;
}

.chapter-5-backcasting-375 .chapter-4-1 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: 150px;
}

.chapter-5-backcasting-375 .scenario-analysis-3 {
  height: 80px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 308px;
  width: 184px;
}

.chapter-5-backcasting-375 .caminho-747 {
  height: 36px;
  left: 560px;
  object-fit: cover;
  position: absolute;
  top: 812px;
  width: 136px;
}

.chapter-5-backcasting-375 .grupo-144015 {
  height: 64px;
  left: 511px;
  object-fit: cover;
  position: absolute;
  top: 1630px;
  width: 230px;
}

.chapter-5-backcasting-375 .retngulo-148492 {
  height: 81px;
  left: 438px;
  top: 0;
  width: 375px;
}

.chapter-5-backcasting-375 .spc-cps-logo_27_stars-white-5 {
  cursor: pointer;
  height: 50px;
  left: 457px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 122px;
}

.chapter-5-backcasting-375 .menu-1 {
  height: 81px;
  left: 732px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 81px;
}

.chapter-5-backcasting-375 .grupo-143932 {
  height: 5px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 375px;
}

.chapter-5-backcasting-375 .grupo-144008 {
  height: 34px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 426px;
  width: 184px;
}

.chapter-5-backcasting-375 .grupo-144169 {
  height: 151px;
  left: 652px;
  object-fit: cover;
  position: absolute;
  top: 428px;
  width: 109px;
}

.chapter-5-backcasting-375 .more_-info-button-v-2 {
  height: 35px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 579px;
  width: 152px;
}

.chapter-5-backcasting-375 .quesiton_-tabs-v-2 {
  height: 167px;
  left: 489px;
  object-fit: cover;
  position: absolute;
  top: 720px;
  width: 272px;
}

.chapter-5-backcasting-375 .grupo-144016 {
  height: 34px;
  left: 531px;
  object-fit: cover;
  position: absolute;
  top: 2250px;
  width: 190px;
}

.chapter-5-backcasting-375 .design-space-paper-textured-background-1 {
  height: 971px;
  left: 438px;
  top: 2395px;
}

.chapter-5-backcasting-375 .grupo-144017 {
  height: 53px;
  left: 530px;
  object-fit: cover;
  position: absolute;
  top: 2497px;
  width: auto;
}

.chapter-5-backcasting-375 .retngulo-148544 {
  border-radius: 30px;
  height: 192px;
  left: 471px;
  top: 2621px;
  width: 309px;
}

.chapter-5-backcasting-375 .retngulo-148545 {
  border-radius: 30px;
  height: 145px;
  left: 471px;
  top: 3151px;
  width: 309px;
}

.chapter-5-backcasting-375 .retngulo-148547 {
  border-radius: 30px;
  height: 140px;
  left: 471px;
  top: 2825px;
  width: 309px;
}

.chapter-5-backcasting-375 .retngulo-148548 {
  border-radius: 30px;
  height: 158px;
  left: 471px;
  top: 2979px;
  width: 309px;
}

.chapter-5-backcasting-375 .retngulo-148549 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 2621px;
  width: 256px;
}

.chapter-5-backcasting-375 .retngulo-148550 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 3151px;
  width: 256px;
}

.chapter-5-backcasting-375 .retngulo-148552 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 2825px;
  width: 256px;
}

.chapter-5-backcasting-375 .retngulo-148553 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 2979px;
  width: 256px;
}

.chapter-5-backcasting-375 .explain-1 {
  height: 21px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  top: 2632px;
  width: 186px;
}

.chapter-5-backcasting-375 .present {
  height: 19px;
  left: 600px;
  object-fit: cover;
  position: absolute;
  top: 3167px;
  width: auto;
}

.chapter-5-backcasting-375 .practice-1 {
  height: 21px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  top: 2836px;
  width: 186px;
}

.chapter-5-backcasting-375 .small-groups {
  height: 24px;
  left: 580px;
  object-fit: cover;
  position: absolute;
  top: 2990px;
  width: auto;
}

.chapter-5-backcasting-375 .retngulo-148554 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 2621px;
  width: 123px;
}

.chapter-5-backcasting-375 .retngulo-148555 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 3151px;
  width: 123px;
}

.chapter-5-backcasting-375 .retngulo-148557 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 2825px;
  width: 123px;
}

.chapter-5-backcasting-375 .retngulo-148558 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 2979px;
  width: 123px;
}

.chapter-5-backcasting-375 .x15-m {
  height: 21px;
  left: 530px;
  object-fit: cover;
  position: absolute;
  top: 2840px;
  width: 42px;
}

.chapter-5-backcasting-375 .x15-m-1 {
  top: 2994px;
}

.chapter-5-backcasting-375 .x15-m-2 {
  top: 2638px;
}

.chapter-5-backcasting-375 .x15-m-3 {
  top: 3168px;
}

.chapter-5-backcasting-375 .grupo-144025 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 2831px;
  width: 36px;
}

.chapter-5-backcasting-375 .grupo-144032 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 2985px;
  width: 36px;
}

.chapter-5-backcasting-375 .grupo-144039 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 2629px;
  width: 36px;
}

.chapter-5-backcasting-375 .grupo-144046 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 3159px;
  width: 36px;
}

.chapter-5-backcasting-375 .grupo-144168 {
  height: 4px;
  left: 487px;
  object-fit: cover;
  position: absolute;
  top: 290px;
  width: 163px;
}

.chapter-5-backcasting-375 .case-study7_-button-3 {
  height: 516px;
  left: 462px;
  object-fit: cover;
  position: absolute;
  top: 1054px;
  width: 326px;
}

.chapter-5-backcasting-375 .visual-aids-to-inspi-3 {
  height: 55px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 2050px;
  width: 290px;
}

.chapter-5-backcasting-375 .virtual-collaboratio-3 {
  height: 60px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 2100px;
  width: auto;
}

.chapter-5-backcasting-375 .time60-minutes-3 {
  height: 40px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 1723px;
  width: auto;
}

.chapter-5-backcasting-375 .no-of-participants-50-3 {
  height: 40px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 1790px;
  width: auto;
}

.chapter-5-backcasting-375 .facilitationone-lead-facilitator-3 {
  height: 60px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 1860px;
  width: auto;
}

.chapter-5-backcasting-375 .materialbutchersdrawing-paper-1 {
  height: 60px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 1955px;
  width: auto;
}

.chapter-5-backcasting-375 .sticky-notes-3 {
  height: 65px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 2000px;
  width: auto;
}

.chapter-5-backcasting-375 .coloured-marker-pens-3 {
  height: 55px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 2025px;
  width: 290px;
}

.chapter-5-backcasting-375 .step-1select-three-s-3 {
  height: 100px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 2697px;
  width: auto;
}

.chapter-5-backcasting-375 .step-2describe-the-a-2 {
  height: 40px;
  left: 490px;
  object-fit: cover;
  position: absolute;
  top: 2902px;
  width: 270px;
}

.chapter-5-backcasting-375 .step-3describe-the-r-3 {
  height: 102px;
  left: 490px;
  object-fit: cover;
  position: absolute;
  top: 3058px;
  width: 270px;
}

.chapter-5-backcasting-375 .step-4discuss-the-three-scenarios-2 {
  height: 40px;
  left: 490px;
  object-fit: cover;
  position: absolute;
  top: 3229px;
  width: 270px;
}

.chapter-5-backcasting-375 .grupo-144075 {
  height: 64px;
  margin-left: 1.0px;
  margin-top: 59px;
  object-fit: cover;
  width: 118px;
}

.chapter-5-backcasting-375 .overlap-group1-2 {
  height: 1340px;
  margin-top: 43px;
  position: relative;
  width: 375px;
}

.chapter-5-backcasting-375 .design-space-paper-textured-background-2 {
  height: 1058px;
  left: 0;
  top: 282px;
}

.chapter-5-backcasting-375 .involve-senior-leade {
  height: 346px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 308px;
}

.chapter-5-backcasting-375 .grupo-144076 {
  height: 57px;
  left: 159px;
  object-fit: cover;
  position: absolute;
  top: 154px;
  width: 57px;
}

.chapter-5-backcasting-375 .grupo-144077 {
  height: 68px;
  left: 73px;
  object-fit: cover;
  position: absolute;
  top: 356px;
  width: 230px;
}

.chapter-5-backcasting-375 .grupo-144078 {
  height: 57px;
  left: 159px;
  object-fit: cover;
  position: absolute;
  top: 1156px;
  width: 57px;
}

.chapter-5-backcasting-375 .footer-3 {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1279px;
  width: 375px;
}

.chapter-5-backcasting-375 .save-the-children-20 {
  height: 648px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 467px;
  width: 309px;
}

.chapter-5-backcasting-375 .design-space-paper-textured-background {
  object-fit: cover;
  position: absolute;
  width: 375px;
}

.chapter-5-backcasting-375 .retngulo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-375 .x15-m-4 {
  height: 21px;
  left: 530px;
  object-fit: cover;
  position: absolute;
  width: 42px;
}
/* screen - chapter-5-backcasting-768-all-breakpoints */

.chapter-5-backcasting-768-all-breakpoints {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 4163px;
  overflow: hidden;
  width: 768px;
}

.chapter-5-backcasting-768-all-breakpoints .overlap-group1-1 {
  align-self: flex-start;
  height: 1933px;
  margin-left: -461.16px;
  margin-top: -137px;
  position: relative;
  width: 1673px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148524 {
  height: 1551px;
  left: 461px;
  top: 222px;
  width: 768px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-de-mscara-17 {
  height: 559px;
  left: 422px;
  object-fit: cover;
  position: absolute;
  top: 1214px;
  width: 1251px;
}

.chapter-5-backcasting-768-all-breakpoints .scenario-analysis-2 {
  height: 204px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 392px;
  width: 384px;
}

.chapter-5-backcasting-768-all-breakpoints .creating-alternatives {
  height: 77px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 284px;
  width: 230px;
}

.chapter-5-backcasting-768-all-breakpoints .chapter-4 {
  height: 28px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 259px;
  width: 117px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143968 {
  height: 864px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143970 {
  height: 5px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 378px;
  width: 199px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148486 {
  height: 81px;
  left: 461px;
  top: 137px;
  width: 768px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143707 {
  height: 47px;
  left: 695px;
  object-fit: cover;
  position: absolute;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-768-all-breakpoints .spc-cps-logo_27_stars-white-4 {
  cursor: pointer;
  height: 50px;
  left: 480px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-768-all-breakpoints .menu {
  height: 81px;
  left: 1148px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143711 {
  height: 5px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 768px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143975 {
  height: 45px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 540px;
  width: 282px;
}

.chapter-5-backcasting-768-all-breakpoints .more_-info-button-v-1 {
  cursor: pointer;
  height: 40px;
  left: 542px;
  object-fit: cover;
  position: absolute;
  top: 1277px;
  width: 174px;
}

.chapter-5-backcasting-768-all-breakpoints .quesiton_-tabs-v-1 {
  height: 167px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 638px;
  width: 384px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-144170 {
  height: 433px;
  left: 736px;
  object-fit: cover;
  position: absolute;
  top: 992px;
  width: 476px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-144234-2 {
  height: 157px;
  left: 486px;
  object-fit: cover;
  position: absolute;
  top: 375px;
  width: 180px;
}

.chapter-5-backcasting-768-all-breakpoints .case-study7_-button-2 {
  cursor: pointer;
  height: 516px;
  left: 516px;
  object-fit: cover;
  position: absolute;
  top: 1418px;
  width: 326px;
}

.chapter-5-backcasting-768-all-breakpoints .flex-row-1 {
  align-items: center;
  display: flex;
  gap: 6px;
  height: 1299px;
  margin-right: 70.08px;
  margin-top: 97px;
  min-width: 540px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 216.11px;
  min-height: 775px;
  width: 76px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-8843 {
  height: 64px;
  margin-left: 0.84px;
  object-fit: cover;
  width: 64px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-8844 {
  height: 53px;
  margin-left: 1.75px;
  margin-top: 43px;
  object-fit: cover;
  width: 63px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-8845 {
  align-self: center;
  height: 54px;
  margin-right: 8.97px;
  margin-top: 50px;
  object-fit: cover;
  width: 40px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-8850 {
  height: 58px;
  margin-left: 0.84px;
  margin-top: 47px;
  object-fit: cover;
  width: 64px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-144243 {
  align-self: center;
  height: 68px;
  margin-right: 9.07px;
  margin-top: 41px;
  object-fit: cover;
  width: 55px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-144242 {
  height: 47px;
  margin-top: 35px;
  object-fit: cover;
  width: 61px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-144235-2 {
  height: 42px;
  margin-left: 0.84px;
  margin-top: 59px;
  object-fit: cover;
  width: 62px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-144229-2 {
  height: 55px;
  margin-left: 0.84px;
  margin-top: 59px;
  object-fit: cover;
  width: 75px;
}

.chapter-5-backcasting-768-all-breakpoints .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1299px;
  width: 458px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143973 {
  align-self: center;
  height: 94px;
  margin-right: 11.52px;
  object-fit: cover;
  width: 340px;
}

.chapter-5-backcasting-768-all-breakpoints .time60-minutes-2 {
  height: 49px;
  margin-top: 65px;
  object-fit: cover;
  width: 99px;
}

.chapter-5-backcasting-768-all-breakpoints .no-of-participants-50-2 {
  height: 49px;
  margin-top: 44px;
  object-fit: cover;
  width: 241px;
}

.chapter-5-backcasting-768-all-breakpoints .facilitationone-lead-facilitator-2 {
  height: 70px;
  margin-top: 67px;
  object-fit: cover;
  width: auto;
}

.chapter-5-backcasting-768-all-breakpoints .materialbutchersdrawing-paper {
  height: 55px;
  margin-top: 47px;
  object-fit: cover;
  width: 364px;
}

.chapter-5-backcasting-768-all-breakpoints .sticky-notes-2 {
  height: 55px;
  margin-top: 54px;
  object-fit: cover;
  width: 364px;
}

.chapter-5-backcasting-768-all-breakpoints .coloured-marker-pens-2 {
  height: 50px;
  margin-top: 43px;
  object-fit: cover;
  width: auto;
}

.chapter-5-backcasting-768-all-breakpoints .visual-aids-to-inspi-2 {
  height: 55px;
  margin-top: 49px;
  object-fit: cover;
  width: 426px;
}

.chapter-5-backcasting-768-all-breakpoints .virtual-collaboratio-2 {
  height: 75px;
  margin-top: 43px;
  object-fit: cover;
  width: auto;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143971 {
  align-self: center;
  height: 45px;
  margin-right: 11.52px;
  margin-top: 78px;
  object-fit: cover;
  width: 282px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143977 {
  align-self: center;
  height: 86px;
  margin-right: 11.52px;
  margin-top: 149px;
  object-fit: cover;
  width: auto;
}

.chapter-5-backcasting-768-all-breakpoints .overlap-group3-1 {
  align-items: center;
  background-image: url(../img/ret-ngulo-148526@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-left: 1.0px;
  margin-top: 54px;
  min-height: 224px;
  width: 605px;
}

.chapter-5-backcasting-768-all-breakpoints .overlap-group-3 {
  height: 51px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-1485 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 53px;
  top: 0;
  width: 552px;
}

.chapter-5-backcasting-768-all-breakpoints .explain {
  height: 28px;
  left: 155px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: auto;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-14853 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 0;
  top: 0;
  width: 185px;
}

.chapter-5-backcasting-768-all-breakpoints .x15-minutes-7 {
  top: 17px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143998 {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 36px;
}

.chapter-5-backcasting-768-all-breakpoints .step-1select-three-s-2 {
  height: 131px;
  margin-left: 0.23px;
  object-fit: cover;
  width: 487px;
}

.chapter-5-backcasting-768-all-breakpoints .overlap-group2-1 {
  align-items: center;
  background-image: url(../img/ret-ngulo-148529@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-left: 1.0px;
  margin-top: 15px;
  min-height: 164px;
  width: 605px;
}

.chapter-5-backcasting-768-all-breakpoints .practice {
  height: 26px;
  left: 170px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: auto;
}

.chapter-5-backcasting-768-all-breakpoints .x15-minutes-6 {
  top: 16px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-1439 {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 36px;
}

.chapter-5-backcasting-768-all-breakpoints .step-2describe-the-a-1 {
  height: 59px;
  margin-right: 0.06px;
  object-fit: cover;
  width: 487px;
}

.chapter-5-backcasting-768-all-breakpoints .overlap-group-4 {
  height: 345px;
  margin-left: 1.0px;
  margin-top: 16px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148530 {
  border-radius: 30px;
  height: 165px;
  left: 0;
  top: 0;
  width: 605px;
}

.chapter-5-backcasting-768-all-breakpoints .make-small-groups {
  height: 24px;
  left: 185px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 420px;
}

.chapter-5-backcasting-768-all-breakpoints .step-3describe-the-r-2 {
  height: 115px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 65px;
  width: auto;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148571 {
  border-radius: 30px;
  height: 165px;
  left: 0;
  top: 180px;
  width: 605px;
}

.chapter-5-backcasting-768-all-breakpoints .step-4discuss-the-three-scenarios-1 {
  height: 59px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 259px;
  width: 487px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148572 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 53px;
  top: 180px;
  width: 552px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148573 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 0;
  top: 180px;
  width: 185px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-144250 {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 186px;
  width: 36px;
}

.chapter-5-backcasting-768-all-breakpoints .make-small-groups-1 {
  height: 24px;
  left: 185px;
  object-fit: cover;
  position: absolute;
  top: 192px;
  width: 420px;
}

.chapter-5-backcasting-768-all-breakpoints .x15-minutes-8 {
  top: 196px;
}

.chapter-5-backcasting-768-all-breakpoints .footer-2 {
  height: 61px;
  margin-top: 96px;
  object-fit: cover;
  width: 768px;
}

.chapter-5-backcasting-768-all-breakpoints .overlap-group {
  position: relative;
  width: 605px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-768-all-breakpoints .x15-minutes {
  height: 21px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  width: 91px;
}



.link11 {
  cursor: pointer;
  position: absolute;
  right: 35px;
  top: 570px;
  width: 80%;
  height: auto;
  z-index: 70;
}

.link22 {
  cursor: pointer;
  position: absolute;
  right: 35px;
  top:800px;
  width: 80%;
  height: auto;
  z-index: 70;
}

.link33 {
  cursor: pointer;
  position: absolute;
  right: 35px;
  top: 934px;
  width: 80%;
  height: auto;
  z-index: 70;
}

.link44 {
  cursor: pointer;
  position: absolute;
  right: 35px;
  top: 1012px;
  width: 80%;
  height: auto;
  z-index: 70;
}

@media screen and (max-width: 767px) {
  .screen.chapter-5-backcasting-1920 { 
    display: none;
   }
  .screen.chapter-5-backcasting-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-768-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.chapter-5-backcasting-1920 { 
    display: none;
   }
  .screen.chapter-5-backcasting-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-375 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.chapter-5-backcasting-1920 { 
    display: none;
   }
  .screen.chapter-5-backcasting-768-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-375 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.chapter-5-backcasting-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-768-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-375 { 
    display: none;
   }
}