/* screen - casestudy5-quote */

.casestudy5-quote {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 554px;
  padding: 17.4px 16.1px;
  width: 666px;
}

#overlay-casestudy5-quote {
  align-items: center;
  background-color: #ffffff00;
  justify-content: center;
    position: absolute;
  z-index: 9;
}

.casestudy5-quote .grupo-731 {
  height: 509px;
  margin-left: 19px;
  margin-top: 10.13px;
  object-fit: cover;
  width: 614px;
}

.componente-40-2 {
  position: absolute;
  right: 70px;
  top: 110px;
  width: auto;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
#overlay-casestudy5-quote {
  top:550px;
  left: 200px;
}
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
#overlay-casestudy5-quote {
  top:250px;
  left: 600px;
}
}
@media screen and (min-width: 1920px) {
#overlay-casestudy5-quote {
  top: 400px;
  left: 1100px;
}
}
