/* screen - chapter-5-backcasting-1280 */

.chapter-5-backcasting-1280 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3125px;
  overflow: hidden;
  width: 1280px;
}

.chapter-5-backcasting-1280 .overlap-group-1 {
  height: 3250px;
  margin-left: -461px;
  margin-top: -137.47px;
  position: relative;
  width: 2381px;
}

.chapter-5-backcasting-1280 .grupo-8810-1 {
  height: 537px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1430px;
  width: 1920px;
}

.chapter-5-backcasting-1280 .grupo-8811-1 {
  height: 537px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 983px;
  width: 1920px;
}

.chapter-5-backcasting-1280 .retngulo-436-1 {
  height: 996px;
  left: 461px;
  top: 223px;
  width: 1280px;
}

.chapter-5-backcasting-1280 .design-space-paper-textured-background-1 {
  height: 1229px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1960px;
  width: 1280px;
}

.chapter-5-backcasting-1280 .spc-cps-logo_27_stars-white-1 {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-1280 .quesiton_-tabs-v-1 {
  height: 167px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 577px;
  width: 471px;
}

.chapter-5-backcasting-1280 .grupo-143938 {
  height: 94px;
  left: 958px;
  top: 2041px;
  width: 286px;
}

.chapter-5-backcasting-1280 .menu-v-1 {
  height: 81px;
  left: 1660px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-1280 .grupo-143937 {
  height: 319px;
  left: 569px;
  top: 1589px;
  width: 1067px;
}

.chapter-5-backcasting-1280 .grupo-143936 {
  height: 94px;
  left: 931px;
  top: 1441px;
  width: 340px;
}

.chapter-5-backcasting-1280 .retngulo-357 {
  border-radius: 30px;
  height: 196px;
  left: 543px;
  top: 2189px;
  width: 1116px;
}

.chapter-5-backcasting-1280 .retngulo-437 {
  border-radius: 30px;
  height: 191px;
  left: 543px;
  top: 2833px;
  width: 1116px;
}

.chapter-5-backcasting-1280 .retngulo-359 {
  border-radius: 30px;
  height: 220px;
  left: 543px;
  top: 2399px;
  width: 1116px;
}

.chapter-5-backcasting-1280 .retngulo-434-1 {
  border-radius: 30px;
  height: 184px;
  left: 543px;
  object-fit: cover;
  position: absolute;
  top: 2634px;
  width: 1116px;
}

.chapter-5-backcasting-1280 .retngulo-438 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 543px;
  top: 2833px;
  width: 339px;
}

.chapter-5-backcasting-1280 .retngulo-363 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 543px;
  top: 2399px;
  width: 339px;
}

.chapter-5-backcasting-1280 .retngulo-435 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 543px;
  top: 2634px;
  width: 339px;
}

.chapter-5-backcasting-1280 .x10-minutes-1 {
  height: 21px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 2415px;
  width: 93px;
}

.chapter-5-backcasting-1280 .x10-45-minutes-1 {
  height: 21px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 2650px;
  width: 127px;
}

.chapter-5-backcasting-1280 .pre-exercise-1 {
  left: 602px;
  position: absolute;
  top: 2185px;
  width: 108px;
  height: auto;
}

.chapter-5-backcasting-1280 .post-exercise-1 {
  left: 602px;
  position: absolute;
  top: 2825px;
  width: 130px;
  height: auto;
}

.chapter-5-backcasting-1280 .grupo-3406 {
  height: 36px;
  left: 560px;
  top: 2406px;
  width: 36px;
}

.chapter-5-backcasting-1280 .grupo-8816 {
  height: 36px;
  left: 560px;
  top: 2641px;
  width: 36px;
}

.chapter-5-backcasting-1280 .retngulo-439 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 760px;
  top: 2833px;
  width: 899px;
}

.chapter-5-backcasting-1280 .retngulo-367 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 760px;
  top: 2399px;
  width: 899px;
}

.chapter-5-backcasting-1280 .retngulo-436-2 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 760px;
  top: 2634px;
  width: 899px;
}

.chapter-5-backcasting-1280 .introduce-activity-1 {
  height: 27px;
  left: 705px;
  object-fit: cover;
  position: absolute;
  top: 2201px;
  width: AUTO;
}

.chapter-5-backcasting-1280 .present {
  height: 20px;
  left: 835px;
  object-fit: cover;
  position: absolute;
  top: 2845px;
  width: AUTO;
}

.chapter-5-backcasting-1280 .complete-the-activity-2 {
  top: 2411px;
}

.chapter-5-backcasting-1280 .complete-the-activity-3 {
  top: 2646px;
}

.chapter-5-backcasting-1280 .step-1organise-and-a-1 {
  height: 94px;
  left: 601px;
  object-fit: cover;
  position: absolute;
  top: 2265px;
  width: 1213px;
}

.chapter-5-backcasting-1280 .step-3offer-a-small-1 {
  height: 94px;
  left: 603px;
  object-fit: cover;
  position: absolute;
  top: 2710px;
  width: 1022px;
}

.chapter-5-backcasting-1280 .more_-info-button-v-1 {
  cursor: pointer;
  height: 40px;
  left: 1485px;
  object-fit: cover;
  position: absolute;
  top: 1128px;
  width: 174px;
}

.chapter-5-backcasting-1280 .visioning-1 {
  height: 97px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 364px;
  width: 409px;
}

.chapter-5-backcasting-1280 .grupo-144215 {
  height: 65px;
  left: 766px;
  top: 259px;
  width: 402px;
}

.chapter-5-backcasting-1280 .grupo-144216 {
  height: 5px;
  left: 766px;
  top: 341px;
  width: 199px;
}

.chapter-5-backcasting-1280 .grupo-144217 {
  height: 120px;
  left: 494px;
  top: 384px;
  width: 178px;
}

.chapter-5-backcasting-1280 .grupo-2305 {
  height: 58px;
  left: 1380px;
  top: 1660px;
  width: 62px;
}

.chapter-5-backcasting-1280 .step-2explain-the-ac-1 {
  height: 135px;
  left: 603px;
  object-fit: cover;
  position: absolute;
  top: 2474px;
  width: 1020px;
}

.chapter-5-backcasting-1280 .step-4collect-all-li-1 {
  height: 135px;
  left: 603px;
  object-fit: cover;
  position: absolute;
  top: 2910px;
  width: 1020px;
}

.chapter-5-backcasting-1280 .footer-1 {
  height: 61px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 3189px;
  width: 1280px;
}

.chapter-5-backcasting-1280 .case-study7_-button-1 {
  cursor: pointer;
  height: 516px;
  left: 757px;
  object-fit: cover;
  position: absolute;
  top: 869px;
  width: 326px;
}

.chapter-5-backcasting-1280 .componente-4-4 {
  cursor: pointer;
  height: 514px;
  left: 1090px;
  object-fit: cover;
  position: absolute;
  top: 869px;
  width: 326px;
}

.chapter-5-backcasting-1280 .complete-the-activity {
  height: 24px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  width: 899px;
}

.chapter-5-backcasting-1280 .grupo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-1280 .retngulo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-1280 .retngulo-436 {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-1920 */

.chapter-5-backcasting-1920 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3125px;
  overflow: hidden;
  width: 1920px;
}

.chapter-5-backcasting-1920 .overlap-group {
  height: 3250px;
  margin-left: -461px;
  margin-top: -137.47px;
  position: relative;
  width: 2381px;
  z-index: 1;
}

.chapter-5-backcasting-1920 .retngulo-434 {
  height: 3052px;
  left: 461px;
  top: 137px;
  width: 1920px;
}

.chapter-5-backcasting-1920 .grupo-8810 {
  height: 537px;
  left: 461px;
  top: 1430px;
  width: 1920px;
}

.chapter-5-backcasting-1920 .retngulo-436 {
  height: 996px;
  left: 461px;
  top: 223px;
  width: 1285px;
}

.chapter-5-backcasting-1920 .design-space-paper-textured-background {
  height: 1229px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1960px;
  width: 1920px;
}

.chapter-5-backcasting-1920 .footer {
  height: 61px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 3189px;
  width: 1920px;
}

.chapter-5-backcasting-1920 .spc-cps-logo_27_stars-white {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-1920 .grupo-8843 {
  height: 64px;
  left: 766px;
  top: 1595px;
  width: 64px;
}

.chapter-5-backcasting-1920 .grupo-8844 {
  height: 53px;
  left: 767px;
  top: 1701px;
  width: 63px;
}

.chapter-5-backcasting-1920 .grupo-8845 {
  height: 54px;
  left: 779px;
  top: 1804px;
  width: 40px;
}

.chapter-5-backcasting-1920 .grupo-8846 {
  height: 319px;
  left: 1278px;
  top: 1589px;
  width: 4px;
}

.chapter-5-backcasting-1920 .no-of-participantsunlimited {
  height: 49px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1692px;
  width: 241px;
}

.chapter-5-backcasting-1920 .material {
  height: 24px;
  left: 1331px;
  object-fit: cover;
  position: absolute;
  top: 1591px;
  width: 74px;
}

.chapter-5-backcasting-1920 .facilitationone-lead-facilitator {
  height: 65px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1808px;
  width: auto;
}

.chapter-5-backcasting-1920 .grupo-8847 {
  height: 45px;
  left: 1492px;
  top: 1873px;
  width: 282px;
}

.chapter-5-backcasting-1920 .activities {
  height: 53px;
  left: 1327px;
  object-fit: cover;
  position: absolute;
  top: 2059px;
  width: 188px;
}

.chapter-5-backcasting-1920 .grupo-8848 {
  height: 94px;
  left: 1278px;
  top: 2041px;
  width: 34px;
}

.chapter-5-backcasting-1920 .grupo-8849 {
  height: 94px;
  left: 1530px;
  top: 2041px;
  width: 34px;
}

.chapter-5-backcasting-1920 .retngulo-80 {
  height: 81px;
  left: 461px;
  top: 137px;
  width: 1920px;
}

.chapter-5-backcasting-1920 .grupo-788 {
  height: 47px;
  left: 1282px;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-1920 .menu-v {
  height: 81px;
  left: 2300px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-1920 .how-to-do-it {
  height: 53px;
  left: 1285px;
  object-fit: cover;
  position: absolute;
  top: 1459px;
  width: 243px;
}

.chapter-5-backcasting-1920 .grupo-8852 {
  height: 94px;
  left: 1236px;
  top: 1441px;
  width: 34px;
}

.chapter-5-backcasting-1920 .grupo-8853 {
  height: 94px;
  left: 1541px;
  top: 1441px;
  width: 34px;
}

.chapter-5-backcasting-1920 .entrada-de-capitulo {
  height: 996px;
  left: 1746px;
  object-fit: cover;
  position: absolute;
  top: 222px;
  width: 635px;
}

.chapter-5-backcasting-1920 .chapter-3_tip_-button-v {
  cursor: pointer;
  height: 450px;
  left: 1451px;
  object-fit: cover;
  position: absolute;
  top: 401px;
  width: 494px;
}

.chapter-5-backcasting-1920 .grupo-8854 {
  height: 45px;
  left: 2074px;
  top: 280px;
  width: 282px;
}

.chapter-5-backcasting-1920 .more_-info-button-v {
  cursor: pointer;
  height: 40px;
  left: 2167px;
  object-fit: cover;
  position: absolute;
  top: 1128px;
  width: 174px;
}

.chapter-5-backcasting-1920 .visioning {
  height: 97px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 364px;
  width: 409px;
}

.chapter-5-backcasting-1920 .grupo-335 {
  height: 65px;
  left: 766px;
  top: 259px;
  width: 402px;
}

.chapter-5-backcasting-1920 .grupo-12 {
  height: 5px;
  left: 766px;
  top: 341px;
  width: 199px;
}

.chapter-5-backcasting-1920 .grupo-2272 {
  height: 120px;
  left: 494px;
  top: 384px;
  width: 178px;
}

.chapter-5-backcasting-1920 .grupo-144198 {
  height: 53px;
  left: 1323px;
  top: 1755px;
  width: 68px;
}

.chapter-5-backcasting-1920 .print-out-of-lightbu {
  height: 80px;
  left: 1410px;
  object-fit: cover;
  position: absolute;
  top: 1649px;
  width: 223px;
}

.chapter-5-backcasting-1920 .display-area-to-hang {
  height: 60px;
  left: 1772px;
  object-fit: cover;
  position: absolute;
  top: 1649px;
  width: 216px;
}

.chapter-5-backcasting-1920 .coloured-marker-pens {
  height: 51px;
  left: 1410px;
  object-fit: cover;
  position: absolute;
  top: 1766px;
  width: 129px;
}

.chapter-5-backcasting-1920 .grupo-144199 {
  height: 81px;
  left: 1321px;
  top: 1638px;
  width: 65px;
}

.chapter-5-backcasting-1920 .grupo-144200 {
  height: 58px;
  left: 1696px;
  top: 1651px;
  width: 62px;
}

.chapter-5-backcasting-1920 .retngulo-148567 {
  border-radius: 30px;
  height: 211px;
  left: 768px;
  top: 2189px;
  width: 1307px;
}

.chapter-5-backcasting-1920 .retngulo-148568 {
  border-radius: 30px;
  height: 211px;
  left: 768px;
  top: 2921px;
  width: 1307px;
}

.chapter-5-backcasting-1920 .retngulo-148569 {
  border-radius: 30px;
  height: 242px;
  left: 768px;
  top: 2428px;
  width: 1307px;
}

.chapter-5-backcasting-1920 .retngulo-148570 {
  border-radius: 30px;
  height: 212px;
  left: 768px;
  top: 2689px;
  width: 1307px;
}

.chapter-5-backcasting-1920 .retngulo-148571 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 768px;
  top: 2189px;
  width: 339px;
}

.chapter-5-backcasting-1920 .retngulo-148572 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 768px;
  top: 2921px;
  width: 339px;
}

.chapter-5-backcasting-1920 .retngulo-148573 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 768px;
  top: 2428px;
  width: 339px;
}

.chapter-5-backcasting-1920 .retngulo-148574 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 768px;
  top: 2689px;
  width: 339px;
}

.chapter-5-backcasting-1920 .pre-exercise {
  left: 828px;
  position: absolute;
  top: 2185px;
  width: 108px;
  height: auto;
}

.chapter-5-backcasting-1920 .post-exercise {
  left: 828px;
  position: absolute;
  top: 2915px;
  width: 114px;
  height: auto;
}

.chapter-5-backcasting-1920 .x10-minutes {
  height: 21px;
  left: 827px;
  object-fit: cover;
  position: absolute;
  top: 2444px;
  width: 93px;
}

.chapter-5-backcasting-1920 .x10-45-minutes {
  height: 21px;
  left: 827px;
  object-fit: cover;
  position: absolute;
  top: 2705px;
  width: 127px;
}

.chapter-5-backcasting-1920 .grupo-144207 {
  height: 36px;
  left: 785px;
  top: 2435px;
  width: 36px;
}

.chapter-5-backcasting-1920 .grupo-144214 {
  height: 36px;
  left: 785px;
  top: 2696px;
  width: 36px;
}

.chapter-5-backcasting-1920 .retngulo-148575 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 985px;
  top: 2189px;
  width: 1090px;
}

.chapter-5-backcasting-1920 .retngulo-148576 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 985px;
  top: 2921px;
  width: 1090px;
}

.chapter-5-backcasting-1920 .retngulo-148577 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 985px;
  top: 2428px;
  width: 1090px;
}

.chapter-5-backcasting-1920 .retngulo-148578 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 985px;
  top: 2689px;
  width: 1090px;
}

.chapter-5-backcasting-1920 .introduce-activity {
  height: 40px;
  left: 985px;
  object-fit: cover;
  position: absolute;
  top: 2201px;
  width: 1003px;
}

.chapter-5-backcasting-1920 .collect-all-lightbulbs-or-postcards {
  height: 32px;
  left: 1080px;
  object-fit: cover;
  position: absolute;
  top: 2933px;
  width: AUTO;
}

.chapter-5-backcasting-1920 .complete-the-activity {
  height: 40px;
  left: 985px;
  object-fit: cover;
  position: absolute;
  top: 2440px;
  width: 1003px;
}

.chapter-5-backcasting-1920 .complete-the-activity-1 {
  height: 40px;
  left: 985px;
  object-fit: cover;
  position: absolute;
  top: 2701px;
  width: 1003px;
}

.chapter-5-backcasting-1920 .step-1organise-and-a {
  height: 94px;
  left: 826px;
  object-fit: cover;
  position: absolute;
  top: 2265px;
  width: 1213px;
}

.chapter-5-backcasting-1920 .step-2explain-the-ac {
  height: 135px;
  left: 828px;
  object-fit: cover;
  position: absolute;
  top: 2504px;
  width: 1214px;
}

.chapter-5-backcasting-1920 .step-3offer-a-small {
  height: 102px;
  left: 828px;
  object-fit: cover;
  position: absolute;
  top: 2765px;
  width: 1214px;
}

.chapter-5-backcasting-1920 .step-4collect-all-li {
  height: 110px;
  left: 828px;
  object-fit: cover;
  position: absolute;
  top: 2997px;
  width: auto;
}

.chapter-5-backcasting-1920 .grupo-de-mscara-3 {
  height: 559px;
  left: 422px;
  object-fit: cover;
  position: absolute;
  top: 659px;
  width: 1251px;
}

.chapter-5-backcasting-1920 .quesiton_-tabs-v {
  height: 268px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 577px;
  width: 576px;
}

.chapter-5-backcasting-1920 .case-study7_-button {
  cursor: pointer;
  height: 516px;
  left: 757px;
  object-fit: cover;
  position: absolute;
  top: 869px;
  width: 326px;
}

.chapter-5-backcasting-1920 .componente-4-3 {
  cursor: pointer;
  height: 514px;
  left: 1090px;
  object-fit: cover;
  position: absolute;
  top: 869px;
  width: 326px;
}

.chapter-5-backcasting-1920 .componente-58-1 {
  height: 51px;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: 85px;
  width: 51px;
  z-index: 2;
}

.chapter-5-backcasting-1920 .grupo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-1920 .retngulo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-375 */

.chapter-5-backcasting-375 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 5162px;
  overflow: hidden;
  width: 375px;
}

.chapter-5-backcasting-375 .overlap-group-4 {
  height: 3924px;
  margin-right: 0;
  position: relative;
  width: 1251px;
}

.chapter-5-backcasting-375 .retngulo-148542 {
  height: 1860px;
  left: 438px;
  top: 81px;
  width: 375px;
}

.chapter-5-backcasting-375 .grupo-de-mscara-18 {
  height: 559px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1382px;
  width: 1251px;
}

.chapter-5-backcasting-375 .grupo-144018 {
  height: 1341px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 1940px;
  width: 375px;
}

.chapter-5-backcasting-375 .describing-our-future-1 {
  height: 91px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 192px;
  width: 274px;
}

.chapter-5-backcasting-375 .chapter-3-1 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: 149px;
}

.chapter-5-backcasting-375 .visioning-3 {
  height: 42px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 315px;
  width: 178px;
}

.chapter-5-backcasting-375 .caminho-747 {
  height: 36px;
  left: 560px;
  object-fit: cover;
  position: absolute;
  top: 812px;
  width: 136px;
}

.chapter-5-backcasting-375 .grupo-144015 {
  height: 64px;
  left: 511px;
  object-fit: cover;
  position: absolute;
  top: 2140px;
  width: 230px;
}

.chapter-5-backcasting-375 .retngulo-148492 {
  height: 81px;
  left: 438px;
  top: 0;
  width: 375px;
}

.chapter-5-backcasting-375 .spc-cps-logo_27_stars-white-3 {
  height: 50px;
  left: 457px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 122px;
}

.chapter-5-backcasting-375 .menu-1 {
  height: 81px;
  left: 732px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 81px;
}

.chapter-5-backcasting-375 .grupo-143932 {
  height: 5px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 375px;
}

.chapter-5-backcasting-375 .grupo-144008 {
  height: 34px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 402px;
  width: 184px;
}

.chapter-5-backcasting-375 .grupo-144169 {
  height: 151px;
  left: 652px;
  object-fit: cover;
  position: absolute;
  top: 428px;
  width: 109px;
}

.chapter-5-backcasting-375 .more_-info-button-v-3 {
  height: 35px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 579px;
  width: 152px;
}

.chapter-5-backcasting-375 .quesiton_-tabs-v-3 {
  height: 167px;
  left: 489px;
  object-fit: cover;
  position: absolute;
  top: 720px;
  width: 272px;
}

.chapter-5-backcasting-375 .time60-minutes-2 {
  height: 49px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 2234px;
  width: 99px;
}

.chapter-5-backcasting-375 .no-of-participantsunlimited-2 {
  height: 49px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 2327px;
  width: 241px;
}

.chapter-5-backcasting-375 .facilitationone-lead-facilitator-2 {
  height: 55px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 2421px;
  width: 309px;
}

.chapter-5-backcasting-375 .materialprint-out-of-1 {
  height: 167px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 2519px;
  width: 309px;
}

.chapter-5-backcasting-375 .design-space-paper-textured-background-2 {
  height: 1144px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 2780px;
  width: 375px;
}

.chapter-5-backcasting-375 .grupo-144017 {
  height: 64px;
  left: 511px;
  object-fit: cover;
  position: absolute;
  top: 2851px;
  width: 230px;
}

.chapter-5-backcasting-375 .retngulo-148544 {
  border-radius: 30px;
  height: 204px;
  left: 471px;
  top: 2975px;
  width: 309px;
}

.chapter-5-backcasting-375 .retngulo-148545 {
  border-radius: 30px;
  height: 177px;
  left: 471px;
  top: 3634px;
  width: 309px;
}

.chapter-5-backcasting-375 .retngulo-148547 {
  border-radius: 30px;
  height: 222px;
  left: 471px;
  top: 3197px;
  width: 309px;
}

.chapter-5-backcasting-375 .retngulo-148548 {
  border-radius: 30px;
  height: 182px;
  left: 471px;
  top: 3435px;
  width: 309px;
}

.chapter-5-backcasting-375 .retngulo-148549 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 2975px;
  width: 256px;
}

.chapter-5-backcasting-375 .retngulo-148550 {
  border-radius: 40px 40px 0px 40px;
  height: 64px;
  left: 524px;
  top: 3634px;
  width: 256px;
}

.chapter-5-backcasting-375 .retngulo-148552 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 3197px;
  width: 256px;
}

.chapter-5-backcasting-375 .retngulo-148553 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 3435px;
  width: 256px;
}

.chapter-5-backcasting-375 .introduce-activity-3 {
  height: 43px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  top: 2979px;
  width: auto;
}

.chapter-5-backcasting-375 .collect-all-lightbulbs-or-postcards-2 {
  height: 66px;
  left: 616px;
  object-fit: cover;
  position: absolute;
  top: 3634px;
  width: auto;
}

.chapter-5-backcasting-375 .complete-the-activity-6 {
  top: 3201px;
}

.chapter-5-backcasting-375 .complete-the-activity-7 {
  top: 3440px;
}

.chapter-5-backcasting-375 .retngulo-148554 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 2975px;
  width: 145px;
}

.chapter-5-backcasting-375 .retngulo-148555 {
  border-radius: 40px 40px 40px 0px;
  height: 64px;
  left: 471px;
  top: 3634px;
  width: 145px;
}

.chapter-5-backcasting-375 .retngulo-148557 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 3197px;
  width: 145px;
}

.chapter-5-backcasting-375 .retngulo-148558 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 3435px;
  width: 145px;
}

.chapter-5-backcasting-375 .x10-m {
  height: 21px;
  left: 530px;
  object-fit: cover;
  position: absolute;
  top: 3212px;
  width: 44px;
}

.chapter-5-backcasting-375 .x10-45-m {
  height: 21px;
  left: 530px;
  object-fit: cover;
  position: absolute;
  top: 3450px;
  width: 78px;
}

.chapter-5-backcasting-375 .grupo-144025 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 3203px;
  width: 36px;
}

.chapter-5-backcasting-375 .grupo-144032 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 3441px;
  width: 36px;
}

.chapter-5-backcasting-375 .grupo-144168 {
  height: 4px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 295px;
  width: 163px;
}

.chapter-5-backcasting-375 .case-study7_-button-3 {
  cursor: pointer;
  height: 516px;
  left: 463px;
  object-fit: cover;
  position: absolute;
  top: 1053px;
  width: 326px;
}

.chapter-5-backcasting-375 .componente-4-6 {
  cursor: pointer;
  height: 514px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1561px;
  width: 326px;
}

.chapter-5-backcasting-375 .grupo-144016 {
  height: 34px;
  left: 531px;
  object-fit: cover;
  position: absolute;
  top: 2713px;
  width: 190px;
}

.chapter-5-backcasting-375 .pre-exercise-3 {
  height: 34px;
  left: 488px;
  position: absolute;
  top: 2984px;
  width: 69px;
}

.chapter-5-backcasting-375 .postexercise {
  height: 50px;
  left: 488px;
  position: absolute;
  top: 3642px;
  width: auto;
}

.chapter-5-backcasting-375 .step-1organise-and-a-3 {
  height: 110px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 3051px;
  width: 274px;
}

.chapter-5-backcasting-375 .step-2explain-the-ac-3 {
  height: 129px;
  left: 490px;
  object-fit: cover;
  position: absolute;
  top: 3273px;
  width: 272px;
}

.chapter-5-backcasting-375 .step-3offer-a-small-3 {
  height: 84px;
  left: 490px;
  object-fit: cover;
  position: absolute;
  top: 3511px;
  width: 272px;
}

.chapter-5-backcasting-375 .step-8collect-all-li {
  height: 84px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 3710px;
  width: 274px;
}

.chapter-5-backcasting-375 .grupo-144075 {
  height: 64px;
  margin-left: 1.0px;
  margin-top: 65px;
  object-fit: cover;
  width: 118px;
}

.chapter-5-backcasting-375 .present-participants {
  height: 66px;
  margin-right: 1.0px;
  margin-top: 43px;
  object-fit: cover;
  width: 308px;
}

.chapter-5-backcasting-375 .grupo-144076 {
  height: 57px;
  margin-right: 0;
  margin-top: 60px;
  object-fit: cover;
  width: 57px;
}

.chapter-5-backcasting-375 .overlap-group1-1 {
  align-items: center;
  background-image: url(../img/design-space-paper-textured-background-30@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  min-height: 793px;
  width: 375px;
}

.chapter-5-backcasting-375 .grupo-144077 {
  height: 68px;
  margin-left: 1.0px;
  margin-top: 74px;
  object-fit: cover;
  width: 230px;
}

.chapter-5-backcasting-375 .save-the-children-20 {
  height: 348px;
  margin-top: 42px;
  object-fit: cover;
  width: 309px;
}

.chapter-5-backcasting-375 .grupo-144078 {
  height: 57px;
  margin-right: 0.43px;
  margin-top: 67px;
  object-fit: cover;
  width: 57px;
}

.chapter-5-backcasting-375 .footer-3 {
  height: 61px;
  margin-top: 77px;
  object-fit: cover;
  width: 375px;
}

.chapter-5-backcasting-375 .complete-the-activity {
  height: 41px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  width: 186px;
}

.chapter-5-backcasting-375 .retngulo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-768-all-breakpoints */

.chapter-5-backcasting-768-all-breakpoints {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 4059px;
  overflow: hidden;
  width: 768px;
}

.chapter-5-backcasting-768-all-breakpoints .overlap-group1 {
  align-self: flex-start;
  height: 1723px;
  margin-left: -461.16px;
  margin-top: -137px;
  position: relative;
  width: 1673px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148524 {
  height: 1341px;
  left: 461px;
  top: 222px;
  width: 768px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-de-mscara-17 {
  height: 559px;
  left: 422px;
  object-fit: cover;
  position: absolute;
  top: 1004px;
  width: 1251px;
}

.chapter-5-backcasting-768-all-breakpoints .visioning-2 {
  height: 204px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 392px;
  width: 384px;
}

.chapter-5-backcasting-768-all-breakpoints .describing-our-future {
  height: 77px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 284px;
  width: 276px;
}

.chapter-5-backcasting-768-all-breakpoints .chapter-3 {
  height: 28px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 259px;
  width: 116px;
}

.chapter-5-backcasting-768-all-breakpoints .x16 {
  height: 199px;
  left: 983px;
  object-fit: cover;
  position: absolute;
  top: 1208px;
  width: 182px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143968 {
  height: 864px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148486 {
  height: 81px;
  left: 461px;
  top: 137px;
  width: 768px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143707 {
  height: 47px;
  left: 695px;
  object-fit: cover;
  position: absolute;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-768-all-breakpoints .spc-cps-logo_27_stars-white-2 {
  height: 50px;
  left: 480px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-768-all-breakpoints .menu {
  height: 81px;
  left: 1148px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143711 {
  height: 5px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 768px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143975 {
  height: 45px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 490px;
  width: 282px;
}

.chapter-5-backcasting-768-all-breakpoints .more_-info-button-v-2 {
  cursor: pointer;
  height: 40px;
  left: 542px;
  object-fit: cover;
  position: absolute;
  top: 1067px;
  width: 174px;
}

.chapter-5-backcasting-768-all-breakpoints .quesiton_-tabs-v-2 {
  height: 243px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 588px;
  width: 384px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-144170 {
  height: 433px;
  left: 736px;
  object-fit: cover;
  position: absolute;
  top: 782px;
  width: 476px;
}

.chapter-5-backcasting-768-all-breakpoints .case-study7_-button-2 {
  cursor: pointer;
  height: 516px;
  left: 514px;
  object-fit: cover;
  position: absolute;
  top: 1208px;
  width: 326px;
}

.chapter-5-backcasting-768-all-breakpoints .componente-4-5 {
  cursor: pointer;
  height: 514px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1208px;
  width: 326px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-144219 {
  height: 120px;
  left: 490px;
  object-fit: cover;
  position: absolute;
  top: 390px;
  width: 178px;
}

.chapter-5-backcasting-768-all-breakpoints .flex-row {
  align-items: center;
  display: flex;
  gap: 15px;
  height: 1109px;
  margin-right: 134.84px;
  margin-top: 97px;
  min-width: 475px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 247.59px;
  min-height: 554px;
  width: 66px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-8843-1 {
  height: 64px;
  margin-right: 0.71px;
  object-fit: cover;
  width: 64px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-8844-1 {
  height: 53px;
  margin-left: 0.2px;
  margin-top: 43px;
  object-fit: cover;
  width: 63px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-8845-1 {
  height: 54px;
  margin-left: 0.83px;
  margin-top: 50px;
  object-fit: cover;
  width: 40px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-144221 {
  height: 81px;
  margin-left: 0.84px;
  margin-top: 43px;
  object-fit: cover;
  width: 65px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-144223 {
  height: 58px;
  margin-right: 2.85px;
  margin-top: 36px;
  object-fit: cover;
  width: 62px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-144222 {
  height: 47px;
  margin-right: 5.59px;
  margin-top: 25px;
  object-fit: cover;
  width: 61px;
}

.chapter-5-backcasting-768-all-breakpoints .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1109px;
  width: 393px;
}

.chapter-5-backcasting-768-all-breakpoints .time60-minutes-1 {
  height: 49px;
  margin-left: 0;
  margin-top: 65px;
  object-fit: cover;
  width: 99px;
}

.chapter-5-backcasting-768-all-breakpoints .no-of-participantsunlimited-1 {
  height: 49px;
  margin-left: 0;
  margin-top: 44px;
  object-fit: cover;
  width: 241px;
}

.chapter-5-backcasting-768-all-breakpoints .facilitationone-lead-facilitator-1 {
  height: 63px;
  margin-top: 67px;
  object-fit: cover;
  width: auto;
}

.chapter-5-backcasting-768-all-breakpoints .materialprint-out-of {
  height: 70px;
  margin-top: 47px;
  object-fit: cover;
  width: auto;
}

.chapter-5-backcasting-768-all-breakpoints .flex-col-item1 {
  height: 65px;
  margin-top: 29px;
  object-fit: cover;
  width: auto;
}

.chapter-5-backcasting-768-all-breakpoints .flex-col-item {
  height: 50px;
  margin-top: 29px;
  object-fit: cover;
  width: auto;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143971 {
  align-self: center;
  height: 45px;
  margin-left: 53.24px;
  margin-top: 104px;
  object-fit: cover;
  width: 282px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143977 {
  align-self: center;
  height: 94px;
  margin-left: 53.24px;
  margin-top: 149px;
  object-fit: cover;
  width: 286px;
}

.chapter-5-backcasting-768-all-breakpoints .overlap-group2 {
  align-items: center;
  background-image: url(../img/ret-ngulo-148526@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-left: 1.0px;
  margin-top: 54px;
  min-height: 246px;
  width: 605px;
}

.chapter-5-backcasting-768-all-breakpoints .overlap-group-2 {
  height: 51px;
  margin-left: 0;
  position: relative;
  width: 605px;
}

.chapter-5-backcasting-768-all-breakpoints .introduce-activity-2 {
  height: 34px;
  left: 105px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: auto;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-14853 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 0;
  top: 0;
  width: 199px;
}

.chapter-5-backcasting-768-all-breakpoints .pre-exercise-2 {
  left: 59px;
  position: absolute;
  top: 0px;
  width: 108px;
  height: auto;
}

.chapter-5-backcasting-768-all-breakpoints .step-1organise-and-a-2 {
  height: 144px;
  margin-left: 3.53px;
  object-fit: cover;
  width: 493px;
}

.chapter-5-backcasting-768-all-breakpoints .overlap-group3 {
  align-items: center;
  background-image: url(../img/ret-ngulo-148529@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 1.0px;
  margin-top: 19px;
  min-height: 266px;
  width: 605px;
}

.chapter-5-backcasting-768-all-breakpoints .x10-minutes-2 {
  height: 21px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 93px;
}

.chapter-5-backcasting-768-all-breakpoints .step-2explain-the-ac-2 {
  height: 178px;
  margin-right: 10.06px;
  object-fit: cover;
  width: 477px;
}

.chapter-5-backcasting-768-all-breakpoints .overlap-group4 {
  align-items: center;
  background-image: url(../img/ret-ngulo-148530@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 1.0px;
  margin-top: 26px;
  min-height: 220px;
  width: 605px;
}

.chapter-5-backcasting-768-all-breakpoints .x10-45-minutes-2 {
  height: 21px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 127px;
}

.chapter-5-backcasting-768-all-breakpoints .step-3offer-a-small-2 {
  height: 129px;
  margin-right: 8.69px;
  object-fit: cover;
  width: 477px;
}

.chapter-5-backcasting-768-all-breakpoints .overlap-group-3 {
  align-items: center;
  background-image: url(../img/ret-ngulo-148527@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-left: 1.0px;
  margin-top: 14px;
  min-height: 224px;
  width: 605px;
}

.chapter-5-backcasting-768-all-breakpoints .collect-all-lightbulbs-or-postcards-1 {
  height: 21px;
  left: 210px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: auto;
}

.chapter-5-backcasting-768-all-breakpoints .post-exercise-2 {
  left: 59px;
  position: absolute;
  top: 0px;
  width: 114px;
  height: auto;
}

.chapter-5-backcasting-768-all-breakpoints .step-4collect-all-li-2 {
  height: 135px;
  margin-left: 20.94px;
  object-fit: cover;
  width: 508px;
}

.chapter-5-backcasting-768-all-breakpoints .footer-2 {
  height: 61px;
  margin-top: 120px;
  object-fit: cover;
  width: 768px;
}

.chapter-5-backcasting-768-all-breakpoints .complete-the-activity {
  height: 24px;
  left: 185px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 420px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo {
  object-fit: cover;
  position: absolute;
}
@media screen and (max-width: 767px) {
  .screen.chapter-5-backcasting-1920 { 
    display: none;
   }
  .screen.chapter-5-backcasting-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-768-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.chapter-5-backcasting-1920 { 
    display: none;
   }
  .screen.chapter-5-backcasting-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-375 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.chapter-5-backcasting-1920 { 
    display: none;
   }
  .screen.chapter-5-backcasting-768-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-375 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.chapter-5-backcasting-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-768-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-375 { 
    display: none;
   }
}