/* screen - chapter-5-backcasting-case-study-15-1280 */

.chapter-5-backcasting-case-study-15-1280 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2363px;
  overflow: hidden;
  width: 1280px;
}

.chapter-5-backcasting-case-study-15-1280 .overlap-group-1 {
  height: 2494px;
  margin-left: -461px;
  margin-top: -138.0px;
  position: relative;
  width: 1741px;
}

.chapter-5-backcasting-case-study-15-1280 .retngulo-148562 {
  height: 2212px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 223px;
  width: 1280px;
}

.chapter-5-backcasting-case-study-15-1280 .grupo-144128 {
  height: 1283px;
  left: 461px;
  top: 610px;
  width: 1280px;
}

.chapter-5-backcasting-case-study-15-1280 .caminho-62184 {
  height: 2099px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 272px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-15-1280 .design-space-paper-textured-background-1 {
  height: 2098px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-15-1280 .grupo-144129 {
  height: 537px;
  left: 512px;
  top: 274px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-15-1280 .case-study-5caf-collaboration-1 {
  height: 173px;
  left: 698px;
  object-fit: cover;
  position: absolute;
  top: 363px;
  width: 910px;
}

.chapter-5-backcasting-case-study-15-1280 .grupo-144130 {
  height: 5px;
  left: 596px;
  top: 1761px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-1280 .grupo-144131 {
  height: 828px;
  left: 1099px;
  top: 884px;
  width: 5px;
}

.chapter-5-backcasting-case-study-15-1280 .caf-collaboration-wa-1 {
  height: 205px;
  left: 698px;
  object-fit: cover;
  position: absolute;
  top: 553px;
  width: 549px;
}

.chapter-5-backcasting-case-study-15-1280 .spc-cps-logo_27_stars-white {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: 122px;
}

.chapter-5-backcasting-case-study-15-1280 .header {
  height: 86px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 138px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1280 .what-we-did-we-held-1 {
  height: 333px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  top: 884px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1280 .grupo-144171 {
  height: 29px;
  left: 594px;
  top: 1237px;
  width: 120px;
}

.chapter-5-backcasting-case-study-15-1280 .grupo-144174 {
  height: 750px;
  left: 1141px;
  top: 884px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1280 .what-we-learnt-keepi-1 {
  height: 570px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  top: 1794px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1280 .grupo-144177 {
  height: 511px;
  left: 845px;
  top: 1756px;
  width: 825px;
}

.chapter-5-backcasting-case-study-15-1280 .grupo-144228 {
  height: 461px;
  left: 744px;
  top: 1276px;
  width: 381px;
}

.chapter-5-backcasting-case-study-15-1280 .footer {
  height: 61px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 2433px;
  width: 1280px;
}

.chapter-5-backcasting-case-study-15-1280 .quote_-buttuon-v {
  cursor: pointer;
  height: 162px;
  left: 1346px;
  object-fit: cover;
  position: absolute;
  top: 535px;
  width: 216px;
}

.chapter-5-backcasting-case-study-15-1280 .grupo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-case-study-15-1920 */

.chapter-5-backcasting-case-study-15-1920 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2276px;
  overflow: hidden;
  width: 1920px;
}

.chapter-5-backcasting-case-study-15-1920 .overlap-group {
  height: 2346px;
  margin-left: -461.16px;
  margin-top: -137px;
  position: relative;
  width: 2381px;
}

.chapter-5-backcasting-case-study-15-1920 .retngulo-443 {
  height: 2124px;
  left: 461px;
  top: 223px;
  width: 1920px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-8857 {
  height: 864px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-8876 {
  height: 1275px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 617px;
  width: 1273px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-144217 {
  height: 120px;
  left: 494px;
  object-fit: cover;
  position: absolute;
  top: 408px;
  width: 178px;
}

.chapter-5-backcasting-case-study-15-1920 .retngulo-444 {
  height: 1942px;
  left: 631px;
  top: 272px;
  width: 1639px;
}

.chapter-5-backcasting-case-study-15-1920 .design-space-paper-textured-background {
  height: 1940px;
  left: 631px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1640px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-8877 {
  height: 86px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 138px;
  width: 1920px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-8878 {
  height: 537px;
  left: 631px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1639px;
}

.chapter-5-backcasting-case-study-15-1920 .x {
  cursor: pointer;
  height: 94px;
  left: 2182px;
  object-fit: cover;
  position: absolute;
  top: 268px;
  width: 94px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-8879 {
  height: 5px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 1372px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-8881 {
  height: 29px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 1287px;
  width: 120px;
}

.chapter-5-backcasting-case-study-15-1920 .caf-collaboration-wa {
  height: 105px;
  left: 781px;
  object-fit: cover;
  position: absolute;
  top: 553px;
  width: 973px;
}

.chapter-5-backcasting-case-study-15-1920 .case-study-5caf-collaboration {
  height: 133px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 370px;
  width: 452px;
}

.chapter-5-backcasting-case-study-15-1920 .quote_-buttuon {
  cursor: pointer;
  height: 162px;
  left: 1833px;
  object-fit: cover;
  position: absolute;
  top: 622px;
  width: 216px;
}

.chapter-5-backcasting-case-study-15-1920 .what-we-did-we-held {
  height: 396px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 866px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1920 .figure-5-staff-parti {
  height: 49px;
  left: 1437px;
  object-fit: cover;
  position: absolute;
  top: 866px;
  width: 723px;
}

.chapter-5-backcasting-case-study-15-1920 .source-pacific-community-spc {
  height: 18px;
  left: 1435px;
  object-fit: cover;
  position: absolute;
  top: 1377px;
  width: 636px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-144225 {
  height: 420px;
  left: 1343px;
  object-fit: cover;
  position: absolute;
  top: 926px;
  width: 825px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-2657 {
  height: 220px;
  left: 1019px;
  object-fit: cover;
  position: absolute;
  top: 1245px;
  width: 390px;
}

.chapter-5-backcasting-case-study-15-1920 .what-happened-staff {
  height: 132px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 1456px;
  width: 486px;
}

.chapter-5-backcasting-case-study-15-1920 .gathering-data-and-h {
  height: 166px;
  left: 820px;
  object-fit: cover;
  position: absolute;
  top: 1618px;
  width: 494px;
}

.chapter-5-backcasting-case-study-15-1920 .we-validated-these-t {
  height: 80px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 1793px;
  width: 494px;
}

.chapter-5-backcasting-case-study-15-1920 .staff-also-gave-us-8 {
  height: 420px;
  left: 1421px;
  object-fit: cover;
  position: absolute;
  top: 1465px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-144226 {
  height: 155px;
  left: 798px;
  object-fit: cover;
  position: absolute;
  top: 1586px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-1920 .what-we-learnt-keepi {
  height: 132px;
  left: 774px;
  object-fit: cover;
  position: absolute;
  top: 1983px;
  width: 495px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-2660 {
  height: 5px;
  left: 774px;
  object-fit: cover;
  position: absolute;
  top: 1924px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-8883 {
  height: 61px;
  object-fit: cover;
  width: 1920px;
}

.chapter-5-backcasting-case-study-15-1920 .retngulo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-case-study-15-375-all-breakpoints */

.chapter-5-backcasting-case-study-15-375-all-breakpoints {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3838px;
  overflow: hidden;
  width: 375px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .overlap-group-3 {
  align-self: flex-end;
  height: 2876px;
  margin-right: -889.0px;
  position: relative;
  width: 1274px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-144151 {
  height: 723px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 127px;
  width: 1264px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .caminho-747 {
  height: 36px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 925px;
  width: 136px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .retngulo-148492 {
  height: 81px;
  left: 10px;
  top: 0;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .spc-cps-logo_27_stars-white-2 {
  height: 50px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 122px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .menu-1 {
  height: 81px;
  left: 304px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 81px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-143932 {
  height: 5px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 375px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .retngulo-148565 {
  height: 46px;
  left: 10px;
  top: 81px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-144152 {
  cursor: pointer;
  height: 54px;
  left: 333px;
  object-fit: cover;
  position: absolute;
  top: 124px;
  width: 54px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .case-study-5caf-collaboration-3 {
  height: 89px;
  left: 61px;
  object-fit: cover;
  position: absolute;
  top: 206px;
  width: 273px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .caf-collaboration-wa-3 {
  height: 143px;
  left: 61px;
  object-fit: cover;
  position: absolute;
  top: 323px;
  width: 273px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .design-space-paper-textured-background-3 {
  height: 2093px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 783px;
  width: 375px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .what-we-did-we-held-3 {
  height: 341px;
  left: 36px;
  object-fit: cover;
  position: absolute;
  top: 832px;
  width: 318px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-144161 {
  height: 4px;
  left: 36px;
  object-fit: cover;
  position: absolute;
  top: 1857px;
  width: 173px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .what-we-learnt-keepi-3 {
  height: 95px;
  left: 36px;
  object-fit: cover;
  position: absolute;
  top: 1911px;
  width: 323px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-144162 {
  height: 4px;
  left: 36px;
  object-fit: cover;
  position: absolute;
  top: 2086px;
  width: 173px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .staff-gave-us-115-co-1 {
  height: 75px;
  left: 36px;
  object-fit: cover;
  position: absolute;
  top: 2165px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-144178-1 {
  height: 29px;
  left: 34px;
  object-fit: cover;
  position: absolute;
  top: 1189px;
  width: 120px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .figure-5-staff-parti-2 {
  height: 74px;
  left: 46px;
  object-fit: cover;
  position: absolute;
  top: 1445px;
  width: 308px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .gathering-data-and-h-2 {
  height: 100px;
  left: 73px;
  object-fit: cover;
  position: absolute;
  top: 2274px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .we-validated-these-t-2 {
  height: 385px;
  left: 38px;
  object-fit: cover;
  position: absolute;
  top: 2443px;
  width: 317px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .what-happened-1 {
  height: 18px;
  left: 38px;
  object-fit: cover;
  position: absolute;
  top: 2135px;
  width: 321px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .quote_-buttuon-v-2 {
  height: 162px;
  left: 117px;
  object-fit: cover;
  position: absolute;
  top: 526px;
  width: 216px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-144232 {
  height: 225px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 1218px;
  width: 186px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-144235 {
  height: 213px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1560px;
  width: 418px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-144236 {
  height: 127px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 2245px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-container {
  align-items: flex-start;
  display: flex;
  gap: 110px;
  height: 86px;
  margin-left: 1.31px;
  margin-top: 48px;
  min-width: 294px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-144166 {
  align-self: flex-end;
  height: 78px;
  object-fit: cover;
  width: 128px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-144167 {
  height: 57px;
  object-fit: cover;
  width: 57px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .my-intention-is-to-h {
  height: 536px;
  margin-right: 1.0px;
  margin-top: 24px;
  object-fit: cover;
  width: 274px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .leituala-kuiniselani {
  height: 60px;
  margin-left: 0;
  margin-top: 26px;
  object-fit: cover;
  width: 273px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .overlap-group1 {
  height: 107px;
  margin-top: 64px;
  position: relative;
  width: 375px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .footer-2 {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 46px;
  width: 375px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .retngulo-148566 {
  height: 46px;
  left: 0;
  top: 0;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .retngulo {
  object-fit: cover;
  position: absolute;
  width: 375px;
}
/* screen - chapter-5-backcasting-case-study-15-768 */

.chapter-5-backcasting-case-study-15-768 {
  background-color: var(--white);
  height: 3353px;
  overflow: hidden;
  position: relative;
  width: 768px;
}

.chapter-5-backcasting-case-study-15-768 .overlap-group-2 {
  height: 3418px;
  left: -347px;
  position: absolute;
  top: -137px;
  width: 1611px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-144140 {
  height: 893px;
  left: 347px;
  top: 268px;
  width: 1264px;
}

.chapter-5-backcasting-case-study-15-768 .design-space-paper-textured-background-2 {
  height: 2377px;
  left: 347px;
  object-fit: cover;
  position: absolute;
  top: 1032px;
  width: 768px;
}

.chapter-5-backcasting-case-study-15-768 .retngulo-148524 {
  height: 46px;
  top: 222px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-143968 {
  height: 645px;
  left: 0;
  top: 0;
  width: 641px;
}

.chapter-5-backcasting-case-study-15-768 .retngulo-148486 {
  height: 81px;
  top: 137px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-143707 {
  height: 47px;
  left: 581px;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-case-study-15-768 .spc-cps-logo_27_stars-white-1 {
  height: 50px;
  left: 366px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-case-study-15-768 .menu {
  height: 81px;
  left: 1034px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-143711 {
  height: 5px;
  left: 347px;
  top: 218px;
  width: 768px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-144138 {
  cursor: pointer;
  height: 94px;
  left: 1027px;
  top: 265px;
  width: 94px;
}

.chapter-5-backcasting-case-study-15-768 .case-study-5caf-collaboration-2 {
  height: 215px;
  left: 509px;
  object-fit: cover;
  position: absolute;
  top: 339px;
  width: 525px;
}

.chapter-5-backcasting-case-study-15-768 .caf-collaboration-wa-2 {
  height: 208px;
  left: 509px;
  object-fit: cover;
  position: absolute;
  top: 553px;
  width: 525px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-144147 {
  height: 5px;
  left: 427px;
  top: 2563px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-768 .what-we-did-we-held-2 {
  height: auto;
  left: 427px;
  object-fit: cover;
  position: absolute;
  top: 1200px;
  width: 800px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-144178 {
  height: 29px;
  left: 427px;
  top: 1595px;
  width: 120px;
}

.chapter-5-backcasting-case-study-15-768 .figure-5-staff-parti-1 {
  height: 49px;
  left: 427px;
  object-fit: cover;
  position: absolute;
  top: 1758px;
  width: 607px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-144182 {
  height: 5px;
  left: 427px;
  top: 2353px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-768 .what-we-learnt-keepi-2 {
  height: auto;
  left: 427px;
  object-fit: cover;
  position: absolute;
  top: 2386px;
  width: 800px;
}

.chapter-5-backcasting-case-study-15-768 .staff-gave-us-115-co {
  height: auto;
  left: 432px;
  object-fit: cover;
  position: absolute;
  top: 2650px;
  width: 800px;
}

.chapter-5-backcasting-case-study-15-768 .what-happened {
  height: 29px;
  left: 431px;
  object-fit: cover;
  position: absolute;
  top: 2599px;
  width: 551px;
}

.chapter-5-backcasting-case-study-15-768 .we-validated-these-t-1 {
  height: auto;
  left: 427px;
  object-fit: cover;
  position: absolute;
  top: 2875px;
  width: 800px;
}

.chapter-5-backcasting-case-study-15-768 .retngulo-148564 {
  height: 46px;
  top: 3372px;
}

.chapter-5-backcasting-case-study-15-768 .quote_-buttuon-v-1 {
  cursor: pointer;
  height: 162px;
  left: 812px;
  object-fit: cover;
  position: absolute;
  top: 787px;
  width: 216px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-144228-1 {
  height: 331px;
  left: 509px;
  object-fit: cover;
  position: absolute;
  top: 1427px;
  width: 273px;
}

.chapter-5-backcasting-case-study-15-768 .gathering-data-and-h-1 {
  height: auto;
  left: 470px;
  object-fit: cover;
  position: absolute;
  top: 2735px;
  width: 494px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-144231 {
  height: 155px;
  left: 448px;
  top: 2703px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-144234 {
  height: 420px;
  left: 332px;
  top: 1866px;
  width: 825px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-144249 {
  height: 82px;
  left: 363px;
  top: 257px;
  width: 122px;
}

.chapter-5-backcasting-case-study-15-768 .footer-1 {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 3281px;
  width: 768px;
}

.chapter-5-backcasting-case-study-15-768 .grupo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-15-768 .retngulo {
  left: 347px;
  object-fit: cover;
  position: absolute;
  width: 768px;
}
@media screen and (max-width: 767px) {
  .screen.chapter-5-backcasting-case-study-15-1920 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-768 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.chapter-5-backcasting-case-study-15-1920 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-375-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.chapter-5-backcasting-case-study-15-1920 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-768 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-375-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.chapter-5-backcasting-case-study-15-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-768 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-375-all-breakpoints { 
    display: none;
   }
}