/* screen - chapter-5-backcasting-case-study-16-1280 */

.chapter-5-backcasting-case-study-16-1280 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2100px;
  overflow: hidden;
  width: 1280px;
}

.chapter-5-backcasting-case-study-16-1280 .overlap-group-1 {
  height: 2232px;
  margin-left: -461px;
  margin-top: -138.0px;
  position: relative;
  width: 1741px;
}

.chapter-5-backcasting-case-study-16-1280 .retngulo-148562 {
  height: 2010px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 223px;
  width: 1280px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-144128 {
  height: 1283px;
  left: 461px;
  top: 610px;
  width: 1280px;
}

.chapter-5-backcasting-case-study-16-1280 .caminho-62184 {
  height: 1847px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 272px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-16-1280 .design-space-paper-textured-background-1 {
  height: 1846px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-144129 {
  height: 537px;
  left: 512px;
  top: 274px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-16-1280 .case-study-6youth-leaders-visions-1 {
  height: 173px;
  left: 698px;
  object-fit: cover;
  position: absolute;
  top: 363px;
  width: 910px;
}

.chapter-5-backcasting-case-study-16-1280 .what-we-did-the-yout-1 {
  height: 213px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 884px;
  width: 458px;
}

.chapter-5-backcasting-case-study-16-1280 .the-navosa-provincia-1 {
  height: 219px;
  left: 698px;
  object-fit: cover;
  position: absolute;
  top: 553px;
  width: 538px;
}

.chapter-5-backcasting-case-study-16-1280 .what-happened-throug {
  height: 381px;
  left: 1141px;
  object-fit: cover;
  position: absolute;
  top: 1545px;
  width: 467px;
}

.chapter-5-backcasting-case-study-16-1280 .spc-cps-logo_27_stars-white-1 {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-1280 .footer {
  height: 61px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 2171px;
  width: 1280px;
}

.chapter-5-backcasting-case-study-16-1280 .quote_-buttuon-v-1 {
  cursor: pointer;
  height: 162px;
  left: 1365px;
  object-fit: cover;
  position: absolute;
  top: 575px;
  width: 216px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-2695-1 {
  height: 29px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 1169px;
  width: 120px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-2697-1 {
  height: 25px;
  left: 742px;
  object-fit: cover;
  position: absolute;
  top: 1173px;
  width: 257px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-2698-1 {
  height: 60px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 1298px;
  width: 458px;
}

.chapter-5-backcasting-case-study-16-1280 .we-as-young-people-a-1 {
  height: 137px;
  left: 604px;
  object-fit: cover;
  position: absolute;
  top: 1373px;
  width: 428px;
}

.chapter-5-backcasting-case-study-16-1280 .one-member-of-the-youth-council-said-1 {
  height: 25px;
  left: 605px;
  object-fit: cover;
  position: absolute;
  top: 1252px;
  width: 473px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-2699-1 {
  height: 4px;
  left: 603px;
  object-fit: cover;
  position: absolute;
  top: 1523px;
  width: 457px;
}

.chapter-5-backcasting-case-study-16-1280 .figure-6-cartoon-sho-1 {
  height: 94px;
  left: 1153px;
  object-fit: cover;
  position: absolute;
  top: 899px;
  width: 428px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-144240 {
  height: 423px;
  left: 1141px;
  top: 1010px;
  width: 531px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-144241 {
  height: 445px;
  left: 478px;
  top: 1548px;
  width: 657px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-case-study-16-1920-all-breakpoints */

.chapter-5-backcasting-case-study-16-1920-all-breakpoints {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2158px;
  overflow: hidden;
  width: 1920px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .overlap-group {
  height: 2289px;
  margin-left: -461px;
  margin-top: -137.96px;
  position: relative;
  width: 2381px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .spc-cps-logo_27_stars-white {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .header {
  height: 86px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 138px;
  width: auto;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-144217 {
  height: 120px;
  left: 495px;
  top: 408px;
  width: 178px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .caminho-62165 {
  height: 1834px;
  left: 631px;
  object-fit: cover;
  position: absolute;
  top: 272px;
  width: 1639px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .design-space-paper-textured-background {
  height: 1832px;
  left: 631px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1640px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .componente-42-1 {
  cursor: pointer;
  height: 94px;
  left: 2182px;
  object-fit: cover;
  position: absolute;
  top: 268px;
  width: 94px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .quote_-buttuon-v {
  cursor: pointer;
  height: 162px;
  left: 1833px;
  object-fit: cover;
  position: absolute;
  top: 622px;
  width: 216px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-144102 {
  height: 61px;
  left: 461px;
  top: 2228px;
  width: 1920px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .the-navosa-provincia {
  height: 143px;
  left: 781px;
  object-fit: cover;
  position: absolute;
  top: 543px;
  width: 851px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .case-study-6youth-leaders-visions {
  height: 224px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 363px;
  width: 1218px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .what-happened {
  height: 29px;
  left: 1437px;
  object-fit: cover;
  position: absolute;
  top: 1566px;
  width: 486px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .figure-6-cartoon-sho {
  height: 49px;
  left: 1437px;
  object-fit: cover;
  position: absolute;
  top: 867px;
  width: 723px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .source-tui-ledua-spc {
  height: 18px;
  left: 1435px;
  object-fit: cover;
  position: absolute;
  top: 1445px;
  width: 636px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .what-we-did-the-yout {
  height: 216px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 867px;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-2695 {
  height: 29px;
  left: 773px;
  top: 1107px;
  width: 120px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-2696 {
  height: 5px;
  left: 1437px;
  top: 1547px;
  width: 199px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-2697 {
  height: 25px;
  left: 913px;
  top: 1111px;
  width: 257px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .through-the-visionin {
  height: 304px;
  left: 1438px;
  object-fit: cover;
  position: absolute;
  top: 1626px;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-2698 {
  height: 60px;
  left: 773px;
  top: 1236px;
  width: 475px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .we-as-young-people-a {
  height: 137px;
  left: 775px;
  object-fit: cover;
  position: absolute;
  top: 1310px;
  width: 450px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .one-member-of-the-youth-council-said {
  height: 25px;
  left: 776px;
  object-fit: cover;
  position: absolute;
  top: 1190px;
  width: 473px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-2699 {
  height: 4px;
  left: 774px;
  top: 1461px;
  width: 474px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-2700 {
  height: 518px;
  left: 1437px;
  top: 918px;
  width: 650px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-2701 {
  height: 544px;
  left: 618px;
  top: 1478px;
  width: 803px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-case-study-16-375 */

.chapter-5-backcasting-case-study-16-375 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3409px;
  overflow: hidden;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375 .overlap-group-3 {
  align-self: flex-start;
  height: 2552px;
  position: relative;
  width: 1264px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144151 {
  height: 723px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 127px;
  width: 1264px;
}

.chapter-5-backcasting-case-study-16-375 .caminho-747 {
  height: 36px;
  left: 122px;
  object-fit: cover;
  position: absolute;
  top: 812px;
  width: 136px;
}

.chapter-5-backcasting-case-study-16-375 .retngulo-148492 {
  height: 81px;
  left: 0;
  position: absolute;
  top: 0;
}

.chapter-5-backcasting-case-study-16-375 .spc-cps-logo_27_stars-white-3 {
  height: 50px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-375 .menu-1 {
  height: 81px;
  left: 294px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 81px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-143932 {
  height: 5px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375 .retngulo-148565 {
  height: 46px;
  left: 0;
  position: absolute;
  top: 81px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144152 {
  cursor: pointer;
  height: 54px;
  left: 323px;
  object-fit: cover;
  position: absolute;
  top: 124px;
  width: 54px;
}

.chapter-5-backcasting-case-study-16-375 .case-study-6youth-leaders-visions-3 {
  height: 102px;
  left: 51px;
  object-fit: cover;
  position: absolute;
  top: 206px;
  width: 273px;
}

.chapter-5-backcasting-case-study-16-375 .the-navosa-provincia-3 {
  height: 168px;
  left: 51px;
  object-fit: cover;
  position: absolute;
  top: 333px;
  width: 273px;
}

.chapter-5-backcasting-case-study-16-375 .design-space-paper-textured-background-2 {
  height: 1882px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 670px;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375 .what-we-did-the-yout-3 {
  height: 174px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 719px;
  width: 323px;
}

.chapter-5-backcasting-case-study-16-375 .what-happened-throug-2 {
  height: 315px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 1895px;
  width: 323px;
}

.chapter-5-backcasting-case-study-16-375 .componente-43-1 {
  height: 93px;
  left: 200px;
  object-fit: cover;
  position: absolute;
  top: 543px;
  width: 124px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144178 {
  height: 29px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 938px;
  width: 120px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144181 {
  height: 147px;
  left: 34px;
  object-fit: cover;
  position: absolute;
  top: 1006px;
  width: 37px;
}

.chapter-5-backcasting-case-study-16-375 .figure-6-cartoon-sho-3 {
  height: 74px;
  left: 36px;
  object-fit: cover;
  position: absolute;
  top: 1192px;
  width: 308px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144246 {
  height: 242px;
  left: 46px;
  object-fit: cover;
  position: absolute;
  top: 1307px;
  width: 304px;
}

.chapter-5-backcasting-case-study-16-375 .one-member-of-the-youth-council-said-2 {
  height: 15px;
  left: 39px;
  object-fit: cover;
  position: absolute;
  top: 1630px;
  width: 473px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144247 {
  height: 158px;
  left: 36px;
  object-fit: cover;
  position: absolute;
  top: 1656px;
  width: 310px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144248 {
  height: 224px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 2236px;
  width: 331px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-container {
  align-items: flex-start;
  display: flex;
  gap: 110px;
  height: 86px;
  margin-left: 1.31px;
  margin-top: 56px;
  min-width: 294px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144166 {
  align-self: flex-end;
  height: 78px;
  object-fit: cover;
  width: 128px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144167 {
  height: 57px;
  object-fit: cover;
  width: 57px;
}

.chapter-5-backcasting-case-study-16-375 .i-made-several-modif {
  height: 406px;
  margin-right: 1.0px;
  margin-top: 24px;
  object-fit: cover;
  width: 274px;
}

.chapter-5-backcasting-case-study-16-375 .dr-mema-motusaga-for {
  height: 60px;
  margin-right: 17.0px;
  margin-top: 45px;
  object-fit: cover;
  width: 256px;
}

.chapter-5-backcasting-case-study-16-375 .retngulo-148566 {
  height: 46px;
  margin-top: 60px;
}

.chapter-5-backcasting-case-study-16-375 .footer-2 {
  height: 61px;
  object-fit: cover;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375 .retngulo {
  object-fit: cover;
  width: 375px;
}
/* screen - chapter-5-backcasting-case-study-16-768 */

.chapter-5-backcasting-case-study-16-768 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3578px;
  overflow: hidden;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768 .overlap-group1 {
  height: 991px;
  margin-left: -346.72px;
  margin-top: -137px;
  position: relative;
  width: 1611px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144140 {
  height: 723px;
  left: 347px;
  object-fit: cover;
  position: absolute;
  top: 268px;
  width: 1264px;
}

.chapter-5-backcasting-case-study-16-768 .retngulo-148524 {
  height: 46px;
  left: 347px;
  position: absolute;
  top: 222px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-143968 {
  height: 645px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 641px;
}

.chapter-5-backcasting-case-study-16-768 .retngulo-148486 {
  height: 81px;
  left: 347px;
  position: absolute;
  top: 137px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-143707 {
  height: 47px;
  left: 581px;
  object-fit: cover;
  position: absolute;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-case-study-16-768 .spc-cps-logo_27_stars-white-2 {
  height: 50px;
  left: 366px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-768 .menu {
  height: 81px;
  left: 1034px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-143711 {
  height: 5px;
  left: 347px;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144138 {
  cursor: pointer;
  height: 94px;
  left: 1027px;
  object-fit: cover;
  position: absolute;
  top: 265px;
  width: 94px;
}

.chapter-5-backcasting-case-study-16-768 .case-study-6youth-leaders-visions-2 {
  height: 173px;
  left: 509px;
  object-fit: cover;
  position: absolute;
  top: 339px;
  width: 525px;
}

.chapter-5-backcasting-case-study-16-768 .the-navosa-provincia-2 {
  height: 219px;
  left: 509px;
  object-fit: cover;
  position: absolute;
  top: 529px;
  width: 525px;
}

.chapter-5-backcasting-case-study-16-768 .quote_-buttuon-v-2 {
  cursor: pointer;
  height: 162px;
  left: 812px;
  object-fit: cover;
  position: absolute;
  top: 787px;
  width: 216px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144249 {
  height: 82px;
  left: 363px;
  object-fit: cover;
  position: absolute;
  top: 257px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-768 .overlap-group-2 {
  align-items: center;
  background-image: url(../img/design-space-paper-textured-background-23@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 2604px;
  padding: 84.0px 33.1px;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768 .what-we-did-the-yout-2 {
  height: 163px;
  margin-right: 1.0px;
  object-fit: cover;
  width: 607px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-2695-2 {
  align-self: flex-start;
  height: 29px;
  margin-left: 46.94px;
  margin-top: 55px;
  object-fit: cover;
  width: 120px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144183 {
  align-self: flex-start;
  height: 228px;
  margin-left: 70.22px;
  margin-top: 12px;
  object-fit: cover;
  width: 38px;
}

.chapter-5-backcasting-case-study-16-768 .figure-6-cartoon-sho-2 {
  height: 53px;
  margin-right: 1.0px;
  margin-top: 68px;
  object-fit: cover;
  width: 607px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144240-1 {
  height: 484px;
  margin-right: 1.0px;
  margin-top: 34px;
  object-fit: cover;
  width: 607px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144244 {
  height: 248px;
  margin-left: 1.9px;
  margin-top: 78px;
  object-fit: cover;
  width: 608px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144147 {
  align-self: flex-start;
  height: 5px;
  margin-left: 46.94px;
  margin-top: 127px;
  object-fit: cover;
  width: 199px;
}

.chapter-5-backcasting-case-study-16-768 .what-happened-throug-1 {
  height: 325px;
  margin-right: 1.0px;
  margin-top: 39px;
  object-fit: cover;
  width: 607px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144245 {
  align-self: flex-start;
  height: 445px;
  margin-top: 17px;
  object-fit: cover;
  width: 657px;
}

.chapter-5-backcasting-case-study-16-768 .retngulo-148564 {
  height: 46px;
}

.chapter-5-backcasting-case-study-16-768 .footer-1 {
  height: 61px;
  object-fit: cover;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768 .retngulo {
  object-fit: cover;
  width: 768px;
}
@media screen and (max-width: 767px) {
  .screen.chapter-5-backcasting-case-study-16-1920-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-768 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.chapter-5-backcasting-case-study-16-1920-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-375 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.chapter-5-backcasting-case-study-16-1920-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-768 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-375 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.chapter-5-backcasting-case-study-16-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-768 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-375 { 
    display: none;
   }
}