/* screen - chapter-3-tip-futuretriangle-1 */

.chapter-3-tip-futuretriangle-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 932px;
  overflow: hidden;
  width: 540px;
}

#overlay-chapter-3-tip-futuretriangle-1 {
  align-items: center;
  background-color: #ffffff00;
  justify-content: center;
    position: absolute;
  z-index: 9;
}

.chapter-3-tip-futuretriangle-1 .grupo-container {
  height: 927px;
  margin-left: -3px;
  margin-top: 0;
  position: relative;
  width: 535px;
}

.chapter-3-tip-futuretriangle-1 .grupo-1006 {
  height: 443px;
  left: 71px;
  object-fit: cover;
    position: absolute;
  z-index: 9;
  top: 20px;
  width: 443px;
}

.chapter-3-tip-futuretriangle-1 .grupo-1068 {
  height: 100px;
  left: 50px;
  object-fit: cover;
    position: absolute;
  z-index: 9;
  top: 0;
  width: 107px;
}

.chapter-3-tip-futuretriangle-1 .grupo-1069 {
  height: 100px;
  left: 429px;
  object-fit: cover;
    position: absolute;
  z-index: 9;
  top: 384px;
  width: 107px;
}

.chapter-3-tip-futuretriangle-1 .grupo-1007 {
  height: 525px;
  left: 0;
  object-fit: cover;
    position: absolute;
  z-index: 9;
  top: 403px;
  width: 499px;
}

.chapter-3-tip-futuretriangle-1 .grupo-1070 {
  height: 141px;
  left: 98px;
  object-fit: cover;
    position: absolute;
  z-index: 9;
  top: 384px;
  width: 143px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
#overlay-chapter-3-tip-futuretriangle-1{
  top:650px;
  left: 350px;
}
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
#overlay-chapter-3-tip-futuretriangle-1{
  top:150px;
  left: 380px;
}
}
@media screen and (min-width: 1920px) {
#overlay-chapter-3-tip-futuretriangle-1{
  top: -80px;
  left: 280px;
}
}
