/* screen - chapter-5-backcasting-case-study-15-1280-2 */

.chapter-5-backcasting-case-study-15-1280-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2150px;
  overflow: hidden;
  width: 1280px;
}

.chapter-5-backcasting-case-study-15-1280-2 .overlap-group-1 {
  height: 2232px;
  margin-left: -461.25px;
  margin-top: -138px;
  position: relative;
  width: 2043px;
}

.chapter-5-backcasting-case-study-15-1280-2 .retngulo-148562 {
  height: 2010px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 223px;
  width: 1280px;
}

.chapter-5-backcasting-case-study-15-1280-2 .grupo-144128 {
  height: 1283px;
  left: 461px;
  top: 610px;
  width: 1280px;
}

.chapter-5-backcasting-case-study-15-1280-2 .caminho-62184 {
  height: 1903px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 272px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-15-1280-2 .design-space-paper-textured-background {
  height: 1901px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-15-1280-2 .grupo-144129 {
  height: 537px;
  left: 512px;
  top: 274px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-15-1280-2 .spc-cps-logo_27_stars-white {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: 122px;
}

.chapter-5-backcasting-case-study-15-1280-2 .header {
  height: 86px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 138px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1280-2 .case-study-9co-creating-ocean-futures-1 {
  height: 147px;
  left: 698px;
  object-fit: cover;
  position: absolute;
  top: 363px;
  width: 1345px;
}

.chapter-5-backcasting-case-study-15-1280-2 .the-pacific-communit-1 {
  height: 219px;
  left: 701px;
  top: 533px;
  width: 804px;
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-15-1280-2 .grupo-144213 {
  height: 5px;
  left: 605px;
  top: 1500px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-1280-2 .imagine-it-is-2030-w-1 {
  height: 200px;
  left: 649px;
  object-fit: cover;
  position: absolute;
  top: 1617px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1280-2 .after-asking-each-qu-1 {
  height: 172px;
  left: 605px;
  object-fit: cover;
  position: absolute;
  top: 1854px;
  width: 484px;
}

.chapter-5-backcasting-case-study-15-1280-2 .for-example-in-the-f-1 {
  height: 40px;
  left: 604px;
  object-fit: cover;
  position: absolute;
  top: 1557px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1280-2 .the-first-two-webina-1 {
  height: 220px;
  left: 604px;
  object-fit: cover;
  position: absolute;
  top: 858px;
  width: 484px;
}

.chapter-5-backcasting-case-study-15-1280-2 .grupo-144216 {
  height: 5px;
  left: 604px;
  top: 1146px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-1280-2 .grupo-144217 {
  height: 11px;
  left: 628px;
  top: 1634px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-1280-2 .grupo-144218 {
  height: 11px;
  left: 628px;
  top: 1783px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-1280-2 .grupo-144219 {
  height: 11px;
  left: 628px;
  top: 1720px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-1280-2 .what-we-did-in-each-1 {
  height: 230px;
  left: 601px;
  object-fit: cover;
  position: absolute;
  top: 1212px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1280-2 .what-we-learnt-the-w-1 {
  height: 244px;
  left: 1137px;
  object-fit: cover;
  position: absolute;
  top: 1769px;
  width: 495px;
}

.chapter-5-backcasting-case-study-15-1280-2 .what-happened-toward-1 {
  height: 710px;
  left: 1137px;
  object-fit: cover;
  position: absolute;
  top: 858px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1280-2 .grupo-144220 {
  height: 5px;
  left: 1134px;
  top: 1688px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-1280-2 .footer {
  height: 61px;
  object-fit: cover;
  width: 1280px;
}

.chapter-5-backcasting-case-study-15-1280-2 .grupo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-case-study-15-1920-2-all-breakpoints */

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2150px;
  overflow: hidden;
  width: 1920px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .overlap-group {
  height: 2287px;
  margin-left: -461px;
  margin-top: -137.47px;
  position: relative;
  width: 2383px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .retngulo-247 {
  height: 2042px;
  left: 463px;
  top: 223px;
  width: 1920px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .grupo-2529 {
  height: 1275px;
  left: 428px;
  top: 706px;
  width: 1273px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .grupo-de-mscara-6 {
  height: 559px;
  left: 415px;
  object-fit: cover;
  position: absolute;
  top: 659px;
  width: 1251px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .grupo-2539 {
  height: 86px;
  left: 463px;
  top: 137px;
  width: 1920px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .grupo-2540 {
  height: 61px;
  left: 460px;
  top: 2226px;
  width: 1920px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .retngulo-2 {
  height: 1846px;
  left: 631px;
  top: 272px;
  width: 1639px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .overlap-group-item {
  height: 1844px;
  left: 631px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1639px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .grupo-254 {
  height: 537px;
  left: 631px;
  top: 274px;
  width: 1639px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .we-held-a-special-vi {
  height: 105px;
  left: 781px;
  object-fit: cover;
  position: absolute;
  top: 648px;
  width: 851px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .what-happened-partic {
  height: 104px;
  left: 774px;
  top: 1482px;
  width: 486px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .source-pacific-community-spc {
  height: 18px;
  left: 1435px;
  object-fit: cover;
  position: absolute;
  top: 1480px;
  width: 636px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .what-we-did-we-used {
  height: 300px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 866px;
  width: 494px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .the-facilitators-rol {
  height: 108px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 1263px;
  width: 474px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .grupo-2543 {
  height: 29px;
  left: 773px;
  top: 1202px;
  width: 120px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .quote_-buttuon {
  height: 162px;
  left: 1833px;
  object-fit: cover;
  position: absolute;
  top: 622px;
  width: 216px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .retngulo-25 {
  height: 81px;
  left: 2189px;
  top: 272px;
  width: 81px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .x {
  height: 94px;
  left: 2182px;
  object-fit: cover;
  position: absolute;
  top: 268px;
  width: 94px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .grupo-2544 {
  height: 5px;
  left: 774px;
  top: 1433px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .grupo-2545 {
  height: 25px;
  left: 913px;
  top: 1206px;
  width: 257px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .grupo-2546 {
  height: 156px;
  left: 799px;
  top: 1611px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .the-pacific-communit {
  height: 143px;
  left: 773px;
  top: 575px;
  width: 1274px;
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .case-study-9co-creating-ocean-futures {
  height: 224px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 363px;
  width: 1345px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .what-we-learnt-the-w {
  height: 244px;
  left: 1521px;
  object-fit: cover;
  position: absolute;
  top: 1635px;
  width: 495px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .what-we-did-in-each {
  height: 245px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 1192px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .what-happened-toward {
  height: 579px;
  left: 1521px;
  top: 885px;
  width: 575px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .imagine-it-is-2030-w {
  height: 212px;
  left: 819px;
  object-fit: cover;
  position: absolute;
  top: 1505px;
  width: 498px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .after-asking-each-qu {
  height: 150px;
  left: 774px;
  object-fit: cover;
  position: absolute;
  top: 1742px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .for-example-in-the-f {
  height: 30px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 1445px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .the-first-two-webina {
  height: 200px;
  left: 771px;
  object-fit: cover;
  position: absolute;
  top: 885px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .x-1 {
  cursor: pointer;
  height: 94px;
  left: 2182px;
  object-fit: cover;
  position: absolute;
  top: 268px;
  width: 94px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .grupo-2548 {
  height: 5px;
  left: 1518px;
  top: 1564px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .grupo-2549 {
  height: 5px;
  left: 773px;
  top: 1133px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .grupo-2550 {
  height: 11px;
  left: 798px;
  top: 1513px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .grupo-2551 {
  height: 11px;
  left: 798px;
  top: 1665px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .grupo-2552 {
  height: 11px;
  left: 798px;
  top: 1589px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .grupo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .retngulo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints .what-happened {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-case-study-15-375-2 */

.chapter-5-backcasting-case-study-15-375-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3178px;
  overflow: hidden;
  width: 375px;
}

.chapter-5-backcasting-case-study-15-375-2 .overlap-group-3 {
  height: 3192px;
  position: relative;
  width: 1264px;
}

.chapter-5-backcasting-case-study-15-375-2 .grupo-144151 {
  height: 723px;
  left: 0;
  top: 127px;
  width: 1264px;
}

.chapter-5-backcasting-case-study-15-375-2 .retngulo-148492 {
  height: 81px;
  top: 0;
}

.chapter-5-backcasting-case-study-15-375-2 .spc-cps-logo_27_stars-white-2 {
  height: 50px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 122px;
}

.chapter-5-backcasting-case-study-15-375-2 .menu-1 {
  height: 81px;
  left: 294px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 81px;
}

.chapter-5-backcasting-case-study-15-375-2 .grupo-143932 {
  height: 5px;
  left: 0;
  top: 80px;
  width: 375px;
}

.chapter-5-backcasting-case-study-15-375-2 .retngulo-148565 {
  height: 46px;
  top: 81px;
}

.chapter-5-backcasting-case-study-15-375-2 .grupo-144152 {
  cursor: pointer;
  height: 54px;
  left: 323px;
  top: 124px;
  width: 54px;
}

.chapter-5-backcasting-case-study-15-375-2 .design-space-paper-textured-background-2 {
  height: 2525px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 667px;
  width: 375px;
}

.chapter-5-backcasting-case-study-15-375-2 .case-study-9co-creating-ocean-futures-3 {
  height: 126px;
  left: 51px;
  object-fit: cover;
  position: absolute;
  top: 207px;
  width: 257px;
}

.chapter-5-backcasting-case-study-15-375-2 .the-pacific-communit-3 {
  height: 300px;
  left: 53px;
  top: 368px;
  width: auto;
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-15-375-2 .the-first-two-webina-3 {
  height: 243px;
  left: 34px;
  object-fit: cover;
  position: absolute;
  top: 690px;
  width: 316px;
}

.chapter-5-backcasting-case-study-15-375-2 .grupo-144229 {
  height: 5px;
  left: 35px;
  top: 968px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-375-2 .what-we-did-in-each-3 {
  height: 334px;
  left: 38px;
  object-fit: cover;
  position: absolute;
  top: 1008px;
  width: 303px;
}

.chapter-5-backcasting-case-study-15-375-2 .grupo-11 {
  height: 5px;
  left: 35px;
  top: 1284px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-375-2 .grupo-144227 {
  height: 5px;
  left: 35px;
  top: 1886px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-375-2 .for-example-in-the-f-3 {
  height: 60px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 1328px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-375-2 .imagine-it-is-2030-w-3 {
  height: 190px;
  left: 57px;
  object-fit: cover;
  position: absolute;
  top: 1398px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-375-2 .grupo-144231 {
  height: 11px;
  left: 36px;
  top: 1402px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-375-2 .grupo-144232 {
  height: 11px;
  left: 36px;
  top: 1572px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-375-2 .grupo-144233 {
  height: 11px;
  left: 36px;
  top: 1510px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-375-2 .after-asking-each-qu-3 {
  height: 201px;
  left: 34px;
  object-fit: cover;
  position: absolute;
  top: 1646px;
  width: 315px;
}

.chapter-5-backcasting-case-study-15-375-2 .what-happened-toward-3 {
  height: 740px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 1928px;
  width: 306px;
}

.chapter-5-backcasting-case-study-15-375-2 .what-we-learnt-the-w-3 {
  height: 265px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 2697px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-375-2 .grupo-144234 {
  height: 5px;
  left: 35px;
  top: 2653px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-375-2 .retngulo-148566 {
  height: 46px;
  top: 3073px;
}

.chapter-5-backcasting-case-study-15-375-2 .footer-2 {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 3117px;
  width: 375px;
}

.chapter-5-backcasting-case-study-15-375-2 .grupo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-15-375-2 .retngulo {
  left: 0;
  object-fit: cover;
  position: absolute;
  width: 375px;
}
/* screen - chapter-5-backcasting-case-study-15-768-2 */

.chapter-5-backcasting-case-study-15-768-2 {
  background-color: var(--white);
  height: 3282px;
  overflow: hidden;
  position: relative;
  width: 768px;
}

.chapter-5-backcasting-case-study-15-768-2 .overlap-group-2 {
  height: 3358px;
  left: -347px;
  position: absolute;
  top: -137px;
  width: 1611px;
}

.chapter-5-backcasting-case-study-15-768-2 .grupo-144140 {
  height: 893px;
  left: 347px;
  top: 268px;
  width: 1264px;
}

.chapter-5-backcasting-case-study-15-768-2 .design-space-paper-textured-background-1 {
  height: 2311px;
  left: 347px;
  object-fit: cover;
  position: absolute;
  top: 1025px;
  width: 768px;
}

.chapter-5-backcasting-case-study-15-768-2 .retngulo-148524 {
  height: 46px;
  top: 222px;
}

.chapter-5-backcasting-case-study-15-768-2 .grupo-13 {
  height: 645px;
  left: 0;
  top: 0;
  width: 641px;
}

.chapter-5-backcasting-case-study-15-768-2 .retngulo-148486 {
  height: 81px;
  top: 137px;
}

.chapter-5-backcasting-case-study-15-768-2 .grupo-143707 {
  height: 47px;
  left: 581px;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-case-study-15-768-2 .spc-cps-logo_27_stars-white-1 {
  height: 50px;
  left: 366px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-case-study-15-768-2 .menu {
  height: 81px;
  left: 1034px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-case-study-15-768-2 .grupo-143711 {
  height: 5px;
  left: 347px;
  top: 218px;
  width: 768px;
}

.chapter-5-backcasting-case-study-15-768-2 .grupo-144138 {
  cursor: pointer;
  height: 94px;
  left: 1027px;
  top: 265px;
  width: 94px;
}

.chapter-5-backcasting-case-study-15-768-2 .retngulo-148564 {
  height: 46px;
  top: 3312px;
}

.chapter-5-backcasting-case-study-15-768-2 .grupo-144198 {
  height: 119px;
  left: 366px;
  top: 280px;
  width: 128px;
}

.chapter-5-backcasting-case-study-15-768-2 .case-study-9co-creating-ocean-futures-2 {
  height: 214px;
  left: 515px;
  object-fit: cover;
  position: absolute;
  top: 331px;
  width: 455px;
}

.chapter-5-backcasting-case-study-15-768-2 .the-pacific-communit-2 {
  height: 333px;
  left: 518px;
  top: 561px;
  width: 516px;
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-15-768-2 .the-first-two-webina-2 {
  height: 210px;
  left: 428px;
  object-fit: cover;
  position: absolute;
  top: 1085px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-768-2 .grupo-144221 {
  height: 5px;
  left: 428px;
  top: 1339px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-768-2 .what-we-did-in-each-2 {
  height: 334px;
  left: 425px;
  object-fit: cover;
  position: absolute;
  top: 1403px;
  width: 609px;
}

.chapter-5-backcasting-case-study-15-768-2 .grupo-144222 {
  height: 553px;
  left: 427px;
  top: 1672px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-768-2 .imagine-it-is-2030-w-2 {
  height: 212px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 1789px;
  width: 508px;
}

.chapter-5-backcasting-case-study-15-768-2 .after-asking-each-qu-2 {
  height: 151px;
  left: 427px;
  object-fit: cover;
  position: absolute;
  top: 2027px;
  width: 607px;
}

.chapter-5-backcasting-case-study-15-768-2 .for-example-in-the-f-2 {
  height: 40px;
  left: 426px;
  object-fit: cover;
  position: absolute;
  top: 1730px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-768-2 .grupo-144223 {
  height: 11px;
  left: 451px;
  top: 1798px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-768-2 .grupo-144224 {
  height: 11px;
  left: 451px;
  top: 1950px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-768-2 .grupo-144225 {
  height: 11px;
  left: 451px;
  top: 1874px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-768-2 .what-happened-toward-2 {
  height: 582px;
  left: 427px;
  object-fit: cover;
  position: absolute;
  top: 2264px;
  width: 607px;
}

.chapter-5-backcasting-case-study-15-768-2 .what-we-learnt-the-w-2 {
  height: 190px;
  left: 429px;
  object-fit: cover;
  position: absolute;
  top: 2938px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-768-2 .grupo-144228 {
  height: 5px;
  left: 426px;
  top: 2885px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-768-2 .footer-1 {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 3221px;
  width: 768px;
}

.chapter-5-backcasting-case-study-15-768-2 .grupo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-15-768-2 .retngulo {
  left: 347px;
  object-fit: cover;
  position: absolute;
  width: 768px;
}

.linkk {
  position: absolute;
  cursor: pointer;
  left: 773px;
  top: 575px;
  width: 1274px;
  height: auto;
  z-index: 70;
}

.linkk2 {
  position: absolute;
  cursor: pointer;
  left: 701px;
  top: 533px;
  width: 804px;
  height: auto;
  z-index: 70;
}

.linkk3 {
  position: absolute;
  cursor: pointer;
  left: 518px;
  top: 561px;
  width: 516px;
  height: auto;
  z-index: 70;
}

.linkk4 {
  position: absolute;
  cursor: pointer;
  left: 53px;
  top: 368px;
  width: 270px;
  height: auto;
  z-index: 70;
}

@media screen and (max-width: 767px) {
  .screen.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-1280-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-768-2 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-1280-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-375-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.chapter-5-backcasting-case-study-15-1920-2-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-768-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-375-2 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.chapter-5-backcasting-case-study-15-1280-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-768-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-375-2 { 
    display: none;
   }
}