/* screen - chapter-5-backcasting-case-study-16-1280-2 */

.chapter-5-backcasting-case-study-16-1280-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2386px;
  overflow: hidden;
  width: 1280px;
}

.chapter-5-backcasting-case-study-16-1280-2 .overlap-group-1 {
  height: 2463px;
  margin-left: -461.25px;
  margin-top: -138px;
  position: relative;
  width: 1741px;
}

.chapter-5-backcasting-case-study-16-1280-2 .retngulo-148562 {
  height: 2242px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 221px;
  width: 1280px;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo-144128 {
  height: 1283px;
  left: 461px;
  top: 724px;
  width: 1280px;
}

.chapter-5-backcasting-case-study-16-1280-2 .caminho-62184 {
  height: 2139px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 272px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-16-1280-2 .design-space-paper-textured-background-1 {
  height: 2137px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo-144129 {
  height: 560px;
  left: 512px;
  top: 274px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-16-1280-2 .spc-cps-logo_27_stars-white-1 {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-1280-2 .quote_-buttuon-v-1 {
  cursor: pointer;
  height: 162px;
  left: 1364px;
  object-fit: cover;
  position: absolute;
  top: 586px;
  width: 216px;
}

.chapter-5-backcasting-case-study-16-1280-2 .case-study-7creating-1 {
  height: 225px;
  left: 696px;
  object-fit: cover;
  position: absolute;
  top: 361px;
  width: 789px;
}

.chapter-5-backcasting-case-study-16-1280-2 .the-futures-triangle-1 {
  height: 201px;
  left: 699px;
  object-fit: cover;
  position: absolute;
  top: 585px;
  width: 643px;
}

.chapter-5-backcasting-case-study-16-1280-2 .what-happened-for-ea-1 {
  height: 272px;
  left: 605px;
  object-fit: cover;
  position: absolute;
  top: 1609px;
  width: 361px;
}

.chapter-5-backcasting-case-study-16-1280-2 .what-we-learnt-the-f-1 {
  height: 328px;
  left: 604px;
  object-fit: cover;
  position: absolute;
  top: 2009px;
  width: 380px;
}

.chapter-5-backcasting-case-study-16-1280-2 .what-we-did-we-used-1 {
  height: 600px;
  left: 604px;
  object-fit: cover;
  position: absolute;
  top: 896px;
  width: 369px;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo-2506-1 {
  height: 29px;
  left: 604px;
  object-fit: cover;
  position: absolute;
  top: 1898px;
  width: 120px;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo-2507-1 {
  height: 5px;
  left: 605px;
  object-fit: cover;
  position: absolute;
  top: 1548px;
  width: 199px;
}

.chapter-5-backcasting-case-study-16-1280-2 .figure-7-planetary-h-1 {
  height: 49px;
  left: 1018px;
  object-fit: cover;
  position: absolute;
  top: 896px;
  width: 723px;
}

.chapter-5-backcasting-case-study-16-1280-2 .figure-8-vision-stat-1 {
  height: 74px;
  left: 1021px;
  object-fit: cover;
  position: absolute;
  top: 1609px;
  width: 582px;
}

.chapter-5-backcasting-case-study-16-1280-2 .source-pacific-community-spc-2 {
  top: 1377px;
}

.chapter-5-backcasting-case-study-16-1280-2 .source-pacific-community-spc-3 {
  top: 2159px;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo-2504-1 {
  height: 423px;
  left: 1018px;
  object-fit: cover;
  position: absolute;
  top: 1716px;
  width: 296px;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo-2505-1 {
  height: 418px;
  left: 1326px;
  object-fit: cover;
  position: absolute;
  top: 1718px;
  width: 294px;
}

.chapter-5-backcasting-case-study-16-1280-2 .figure_7-1 {
  height: 398px;
  left: 1021px;
  object-fit: cover;
  position: absolute;
  top: 956px;
  width: 570px;
}

.chapter-5-backcasting-case-study-16-1280-2 .footer {
  height: 61px;
  object-fit: cover;
  width: 1280px;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-16-1280-2 .source-pacific-community-spc {
  height: 18px;
  left: 1018px;
  object-fit: cover;
  position: absolute;
  width: 636px;
}
/* screen - chapter-5-backcasting-case-study-16-1920-2 */

.chapter-5-backcasting-case-study-16-1920-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2150px;
  overflow: hidden;
  width: 1920px;
}

.chapter-5-backcasting-case-study-16-1920-2 .overlap-group {
  height: 2289px;
  margin-left: -461px;
  margin-top: -137.96px;
  position: relative;
  width: 2381px;
}

.chapter-5-backcasting-case-study-16-1920-2 .caminho-62165 {
  height: 1903px;
  left: 631px;
  object-fit: cover;
  position: absolute;
  top: 272px;
  width: 1639px;
}

.chapter-5-backcasting-case-study-16-1920-2 .design-space-paper-textured-background {
  height: 1901px;
  left: 631px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1640px;
}

.chapter-5-backcasting-case-study-16-1920-2 .case-study-7creating {
  height: 173px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 363px;
  width: 1299px;
}

.chapter-5-backcasting-case-study-16-1920-2 .componente-42-2 {
  cursor: pointer;
  height: 94px;
  left: 2182px;
  object-fit: cover;
  position: absolute;
  top: 268px;
  width: 94px;
}

.chapter-5-backcasting-case-study-16-1920-2 .quote_-buttuon-v {
  cursor: pointer;
  height: 162px;
  left: 1833px;
  object-fit: cover;
  position: absolute;
  top: 622px;
  width: 216px;
}

.chapter-5-backcasting-case-study-16-1920-2 .grupo-144102 {
  height: 61px;
  left: 461px;
  top: 2228px;
  width: 1920px;
}

.chapter-5-backcasting-case-study-16-1920-2 .spc-cps-logo_27_stars-white {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-1920-2 .header {
  height: 86px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 138px;
  width: auto;
}

.chapter-5-backcasting-case-study-16-1920-2 .the-futures-triangle {
  height: 163px;
  left: 777px;
  object-fit: cover;
  position: absolute;
  top: 552px;
  width: 851px;
}

.chapter-5-backcasting-case-study-16-1920-2 .what-happened-for-ea {
  height: 216px;
  left: 778px;
  object-fit: cover;
  position: absolute;
  top: 1474px;
  width: 486px;
}

.chapter-5-backcasting-case-study-16-1920-2 .what-we-learnt-the-f {
  height: 272px;
  left: 777px;
  object-fit: cover;
  position: absolute;
  top: 1838px;
  width: 495px;
}

.chapter-5-backcasting-case-study-16-1920-2 .what-we-did-we-used {
  height: 460px;
  left: 777px;
  object-fit: cover;
  position: absolute;
  top: 867px;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-1920-2 .grupo-2506 {
  height: 29px;
  left: 777px;
  top: 1703px;
  width: 120px;
}

.chapter-5-backcasting-case-study-16-1920-2 .grupo-2507 {
  height: 5px;
  left: 778px;
  top: 1413px;
  width: 199px;
}

.chapter-5-backcasting-case-study-16-1920-2 .figure-7-planetary-h {
  height: 49px;
  left: 1437px;
  object-fit: cover;
  position: absolute;
  top: 867px;
  width: 723px;
}

.chapter-5-backcasting-case-study-16-1920-2 .figure-8-vision-stat {
  height: 74px;
  left: 1437px;
  object-fit: cover;
  position: absolute;
  top: 1480px;
  width: 636px;
}

.chapter-5-backcasting-case-study-16-1920-2 .source-pacific-community-spc {
  height: 18px;
  left: 1435px;
  object-fit: cover;
  position: absolute;
  top: 1378px;
  width: 636px;
}

.chapter-5-backcasting-case-study-16-1920-2 .source-pacific-community-spc-1 {
  height: 18px;
  left: 1435px;
  object-fit: cover;
  position: absolute;
  top: 2108px;
  width: 636px;
}

.chapter-5-backcasting-case-study-16-1920-2 .grupo-2504 {
  height: 482px;
  left: 1437px;
  top: 1587px;
  width: 338px;
}

.chapter-5-backcasting-case-study-16-1920-2 .grupo-2505 {
  height: 477px;
  left: 1801px;
  top: 1590px;
  width: 335px;
}

.chapter-5-backcasting-case-study-16-1920-2 .figure_7 {
  height: 437px;
  left: 1435px;
  object-fit: cover;
  position: absolute;
  top: 927px;
  width: 626px;
}

.chapter-5-backcasting-case-study-16-1920-2 .grupo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-case-study-16-375-2-all-breakpoints */

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 4425px;
  overflow: hidden;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .overlap-group-3 {
  height: 4364px;
  position: relative;
  width: 1264px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .grupo-144151 {
  height: 723px;
  left: 0;
  top: 127px;
  width: 1264px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .retngulo-148492 {
  height: 81px;
  top: 0;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .spc-cps-logo_27_stars-white-3 {
  height: 50px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .menu-1 {
  height: 81px;
  left: 294px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 81px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .grupo-143932 {
  height: 5px;
  left: 0;
  top: 80px;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .retngulo-148565 {
  height: 46px;
  top: 81px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .grupo-144152 {
  cursor: pointer;
  height: 54px;
  left: 323px;
  top: 124px;
  width: 54px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .design-space-paper-textured-background-3 {
  height: 3684px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 667px;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .retngulo-148566 {
  height: 46px;
  top: 4318px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .componente-43-3 {
  height: 93px;
  left: 200px;
  object-fit: cover;
  position: absolute;
  top: 543px;
  width: 124px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .the-futures-triangle-3 {
  height: 163px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 350px;
  width: 290px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .case-study-7creating-3 {
  height: 123px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 201px;
  width: 284px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .what-we-didwe-used-c {
  height: 457px;
  left: 31px;
  object-fit: cover;
  position: absolute;
  top: 701px;
  width: 310px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .figure-7-planetary-h-3 {
  height: 38px;
  left: 31px;
  object-fit: cover;
  position: absolute;
  top: 1158px;
  width: 723px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .figure_7-3 {
  height: 193px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 1214px;
  width: 276px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .grupo-144161 {
  height: 4px;
  left: 33px;
  top: 1472px;
  width: 173px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .source-pacific-community-spc-6 {
  left: 33px;
  top: 1423px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .what-we-learnt-makin {
  height: 543px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 1507px;
  width: 306px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .grupo-144201 {
  height: 29px;
  left: 33px;
  top: 2066px;
  width: 120px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .what-we-learnt-the-f-3 {
  height: 251px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 2169px;
  width: 289px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .figure-8-vision-stat-3 {
  height: 78px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 2468px;
  width: 289px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .grupo-144202 {
  height: 443px;
  left: 27px;
  top: 2571px;
  width: 310px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .grupo-144203 {
  height: 454px;
  left: 17px;
  top: 3046px;
  width: 319px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .source-pacific-community-spc-7 {
  left: 38px;
  top: 3501px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .it-was-interesting-t {
  height: 406px;
  left: 48px;
  object-fit: cover;
  position: absolute;
  top: 3719px;
  width: 274px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .grupo-144166 {
  height: 78px;
  left: 39px;
  top: 3617px;
  width: 128px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .spc-staff-member-and {
  height: 60px;
  left: 49px;
  object-fit: cover;
  position: absolute;
  top: 4170px;
  width: 273px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .grupo-144167 {
  height: 57px;
  left: 265px;
  top: 3628px;
  width: 57px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .footer-2 {
  height: 61px;
  object-fit: cover;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .grupo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .retngulo {
  left: 0;
  object-fit: cover;
  position: absolute;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375-2-all-breakpoints .source-pacific-community-spc {
  height: 15px;
  object-fit: cover;
  position: absolute;
  width: 636px;
}
/* screen - chapter-5-backcasting-case-study-16-768-2 */

.chapter-5-backcasting-case-study-16-768-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3478px;
  overflow: hidden;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768-2 .overlap-group-2 {
  height: 1039px;
  margin-left: -346.72px;
  margin-top: -137px;
  position: relative;
  width: 1611px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-144140 {
  height: 771px;
  left: 347px;
  top: 268px;
  width: 1264px;
}

.chapter-5-backcasting-case-study-16-768-2 .retngulo-148524 {
  height: 46px;
  left: 347px;
  top: 222px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-143968 {
  height: 645px;
  left: 0;
  top: 0;
  width: 641px;
}

.chapter-5-backcasting-case-study-16-768-2 .retngulo-148486 {
  height: 81px;
  left: 347px;
  top: 137px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-143707 {
  height: 47px;
  left: 581px;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-case-study-16-768-2 .spc-cps-logo_27_stars-white-2 {
  height: 50px;
  left: 366px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-768-2 .menu {
  height: 81px;
  left: 1034px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-143711 {
  height: 5px;
  left: 347px;
  top: 218px;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-144138 {
  cursor: pointer;
  height: 94px;
  left: 1027px;
  top: 265px;
  width: 94px;
}

.chapter-5-backcasting-case-study-16-768-2 .quote_-buttuon-v-2 {
  cursor: pointer;
  height: 162px;
  left: 818px;
  object-fit: cover;
  position: absolute;
  top: 845px;
  width: 216px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-144198 {
  height: 119px;
  left: 366px;
  top: 280px;
  width: 128px;
}

.chapter-5-backcasting-case-study-16-768-2 .case-study-7creating-2 {
  height: 225px;
  left: 504px;
  object-fit: cover;
  position: absolute;
  top: 334px;
  width: 530px;
}

.chapter-5-backcasting-case-study-16-768-2 .the-futures-triangle-2 {
  height: 239px;
  left: 506px;
  object-fit: cover;
  position: absolute;
  top: 602px;
  width: 528px;
}

.chapter-5-backcasting-case-study-16-768-2 .overlap-group1 {
  height: 2515px;
  position: relative;
  width: 804px;
}

.chapter-5-backcasting-case-study-16-768-2 .design-space-paper-textured-background-2 {
  height: 2469px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768-2 .retngulo-148564 {
  height: 46px;
  left: 0;
  top: 2469px;
}

.chapter-5-backcasting-case-study-16-768-2 .what-we-did-we-used-2 {
  height: 404px;
  left: 79px;
  object-fit: cover;
  position: absolute;
  top: 122px;
  width: 607px;
}

.chapter-5-backcasting-case-study-16-768-2 .figure-7-planetary-h-2 {
  height: 49px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 575px;
  width: 723px;
}

.chapter-5-backcasting-case-study-16-768-2 .source-pacific-community-spc-4 {
  left: 81px;
  top: 1089px;
}

.chapter-5-backcasting-case-study-16-768-2 .figure_7-2 {
  height: 424px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 646px;
  width: 607px;
}

.chapter-5-backcasting-case-study-16-768-2 .what-happened-for-ea-2 {
  height: 188px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 1216px;
  width: 606px;
}

.chapter-5-backcasting-case-study-16-768-2 .what-we-learnt-the-f-2 {
  height: 216px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 1529px;
  width: 607px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-144199 {
  height: 29px;
  left: 80px;
  top: 1430px;
  width: 120px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-144200 {
  height: 5px;
  left: 81px;
  top: 1155px;
  width: 199px;
}

.chapter-5-backcasting-case-study-16-768-2 .figure-8-vision-stat-2 {
  height: 74px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: 1805px;
  width: 582px;
}

.chapter-5-backcasting-case-study-16-768-2 .source-pacific-community-spc-5 {
  left: 80px;
  top: 2341px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-144204 {
  height: 423px;
  left: 80px;
  top: 1898px;
  width: 296px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-144205 {
  height: 426px;
  left: 387px;
  top: 1900px;
  width: 300px;
}

.chapter-5-backcasting-case-study-16-768-2 .footer-1 {
  height: 61px;
  object-fit: cover;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-16-768-2 .retngulo {
  object-fit: cover;
  position: absolute;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768-2 .source-pacific-community-spc {
  height: 18px;
  object-fit: cover;
  position: absolute;
  width: 636px;
}
@media screen and (max-width: 767px) {
  .screen.chapter-5-backcasting-case-study-16-1920-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-1280-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-768-2 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.chapter-5-backcasting-case-study-16-1920-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-1280-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-375-2-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.chapter-5-backcasting-case-study-16-1920-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-768-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-375-2-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.chapter-5-backcasting-case-study-16-1280-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-768-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-375-2-all-breakpoints { 
    display: none;
   }
}