/* screen - chapter-5-backcasting-1280-1-all-breakpoints */

.chapter-5-backcasting-1280-1-all-breakpoints {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2630px;
  overflow: hidden;
  width: 1280px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .overlap-group-1 {
  height: 2770px;
  margin-left: -461px;
  margin-top: -137.47px;
  position: relative;
  width: 2381px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-8810-1 {
  height: 537px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1430px;
  width: 1920px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .retngulo-436-1 {
  height: 996px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 223px;
  width: 1280px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .design-space-paper-textured-background-1 {
  height: 779px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1960px;
  width: 1280px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .spc-cps-logo_27_stars-white-1 {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .x16 {
  height: 199px;
  left: 1224px;
  object-fit: cover;
  position: absolute;
  top: 869px;
  width: 182px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-143938 {
  height: 94px;
  left: 958px;
  top: 2041px;
  width: 286px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .menu-v-1 {
  height: 81px;
  left: 1660px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-8843-1 {
  height: 64px;
  left: 569px;
  object-fit: cover;
  position: absolute;
  top: 1595px;
  width: 64px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-8844-1 {
  height: 53px;
  left: 570px;
  object-fit: cover;
  position: absolute;
  top: 1701px;
  width: 63px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-8845-1 {
  height: 54px;
  left: 582px;
  object-fit: cover;
  position: absolute;
  top: 1804px;
  width: 40px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-8846-1 {
  height: 319px;
  left: 1081px;
  object-fit: cover;
  position: absolute;
  top: 1589px;
  width: 4px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .time20-minutes-1 {
  height: 49px;
  left: 650px;
  object-fit: cover;
  position: absolute;
  top: 1600px;
  width: 99px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .no-of-participantsnot-specified-1 {
  height: 49px;
  left: 650px;
  object-fit: cover;
  position: absolute;
  top: 1692px;
  width: 241px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .facilitationone-expe-1 {
  height: 68px;
  left: 650px;
  object-fit: cover;
  position: absolute;
  top: 1808px;
  width: auto;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-143936 {
  height: 94px;
  left: 931px;
  top: 1441px;
  width: 340px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .chapter-3_tip_-button-v {
  cursor: pointer;
  height: 450px;
  left: 1236px;
  object-fit: cover;
  position: absolute;
  top: 408px;
  width: 494px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .retngulo-357 {
  border-radius: 30px;
  height: 193px;
  left: 543px;
  top: 2189px;
  width: 1116px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .retngulo-359 {
  border-radius: 30px;
  height: 184px;
  left: 543px;
  top: 2408px;
  width: 1116px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .retngulo-363 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 543px;
  top: 2408px;
  width: 339px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .x10-minutes-2 {
  top: 2424px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .x10-minutes-3 {
  top: 2206px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-3406 {
  height: 36px;
  left: 560px;
  top: 2415px;
  width: 36px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-5545 {
  height: 36px;
  left: 560px;
  top: 2197px;
  width: 36px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .retngulo-367 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 760px;
  top: 2408px;
  width: 899px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .introduce-activity-1 {
  height: 24px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 2201px;
  width: 899px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .complete-the-activity-1 {
  height: 24px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 2420px;
  width: 899px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .step-1identify-your {
  height: 84px;
  left: 601px;
  object-fit: cover;
  position: absolute;
  top: 2265px;
  width: 1039px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .step-2once-you-have {
  height: 94px;
  left: 603px;
  object-fit: cover;
  position: absolute;
  top: 2484px;
  width: 1022px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-8854 {
  height: 45px;
  left: 1377px;
  top: 280px;
  width: 282px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .more_-info-button-v {
  cursor: pointer;
  height: 40px;
  left: 1485px;
  object-fit: cover;
  position: absolute;
  top: 1128px;
  width: 174px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .footer-1 {
  height: 61px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 2709px;
  width: 1280px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .case-study7_-button-1 {
  cursor: pointer;
  height: 516px;
  left: 757px;
  object-fit: cover;
  position: absolute;
  top: 876px;
  width: 327px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .narratives-1 {
  height: 204px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 354px;
  width: 872px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-2809-1 {
  height: 137px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 373px;
  width: 187px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo-2804-1 {
  height: 44px;
  left: 1200px;
  object-fit: cover;
  position: absolute;
  top: 1718px;
  width: 65px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .material-1 {
  height: 30px;
  left: 1290px;
  object-fit: cover;
  position: absolute;
  top: 1672px;
  width: auto;
}

.chapter-5-backcasting-1280-1-all-breakpoints .a-vision-or-descript-1 {
  height: 56px;
  left: 1289px;
  object-fit: cover;
  position: absolute;
  top: 1711px;
  width: 265px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .quesiton_-tabs-v-1 {
  height: 167px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 577px;
  width: 494px;
}

.chapter-5-backcasting-1280-1-all-breakpoints .grupo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-1280-1-all-breakpoints .retngulo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-1280-1-all-breakpoints .x10-minutes {
  height: 21px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  width: 93px;
}
/* screen - chapter-5-backcasting-1920-1 */

.chapter-5-backcasting-1920-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 34px;
  height: 2630px;
  overflow: hidden;
  width: 1920px;
}

.chapter-5-backcasting-1920-1 .overlap-group1 {
  height: 1392px;
  margin-left: -461.16px;
  margin-top: -137px;
  position: relative;
  width: 2381px;
}

.chapter-5-backcasting-1920-1 .retngulo-436 {
  height: 996px;
  left: 461px;
  top: 223px;
  width: 1285px;
}

.chapter-5-backcasting-1920-1 .spc-cps-logo_27_stars-white {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-1920-1 .narratives {
  height: 204px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 354px;
  width: 872px;
}

.chapter-5-backcasting-1920-1 .quesiton_-tabs-v {
  height: 167px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 577px;
  width: 576px;
}

.chapter-5-backcasting-1920-1 .retngulo-80 {
  height: 81px;
  left: 461px;
  top: 137px;
  width: 1920px;
}

.chapter-5-backcasting-1920-1 .grupo-788 {
  height: 47px;
  left: 1282px;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-1920-1 .menu-v {
  height: 81px;
  left: 2300px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-1920-1 .case-study7_-button {
  cursor: pointer;
  height: 516px;
  left: 757px;
  object-fit: cover;
  position: absolute;
  top: 876px;
  width: 327px;
}

.chapter-5-backcasting-1920-1 .narrative {
  height: 996px;
  left: 1740px;
  object-fit: cover;
  position: absolute;
  top: 222px;
  width: 641px;
}

.chapter-5-backcasting-1920-1 .chapter-3_tip_-button {
  cursor: pointer;
  height: 450px;
  left: 1451px;
  object-fit: cover;
  position: absolute;
  top: 401px;
  width: 494px;
}

.chapter-5-backcasting-1920-1 .more_-info-button {
  cursor: pointer;
  height: 40px;
  left: 2167px;
  object-fit: cover;
  position: absolute;
  top: 1128px;
  width: 174px;
}

.chapter-5-backcasting-1920-1 .grupo-2808 {
  height: 45px;
  left: 2074px;
  top: 280px;
  width: 282px;
}

.chapter-5-backcasting-1920-1 .overlap-group {
  height: 1344px;
  position: relative;
  width: 1920px;
}

.chapter-5-backcasting-1920-1 .grupo-8810 {
  height: 537px;
  left: 0;
  top: 4px;
  width: 1920px;
}

.chapter-5-backcasting-1920-1 .design-space-paper-textured-background {
  height: 779px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 534px;
  width: 1920px;
}

.chapter-5-backcasting-1920-1 .footer {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1283px;
  width: 1920px;
}

.chapter-5-backcasting-1920-1 .grupo-8843 {
  height: 64px;
  left: 305px;
  top: 169px;
  width: 64px;
}

.chapter-5-backcasting-1920-1 .grupo-8844 {
  height: 53px;
  left: 306px;
  top: 275px;
  width: 63px;
}

.chapter-5-backcasting-1920-1 .grupo-8845 {
  height: 54px;
  left: 318px;
  top: 378px;
  width: 40px;
}

.chapter-5-backcasting-1920-1 .grupo-8846 {
  height: 319px;
  left: 817px;
  top: 163px;
  width: 4px;
}

.chapter-5-backcasting-1920-1 .time20-minutes {
  height: 49px;
  left: 386px;
  object-fit: cover;
  position: absolute;
  top: 174px;
  width: 99px;
}

.chapter-5-backcasting-1920-1 .no-of-participantsnot-specified {
  height: 49px;
  left: 386px;
  object-fit: cover;
  position: absolute;
  top: 271px;
  width: 241px;
}

.chapter-5-backcasting-1920-1 .facilitationone-expe {
  height: 65px;
  left: 386px;
  object-fit: cover;
  position: absolute;
  top: 382px;
  width: auto;
}

.chapter-5-backcasting-1920-1 .grupo-8847 {
  height: 45px;
  left: 1031px;
  top: 447px;
  width: 282px;
}

.chapter-5-backcasting-1920-1 .activities {
  height: 53px;
  left: 866px;
  object-fit: cover;
  position: absolute;
  top: 633px;
  width: 188px;
}

.chapter-5-backcasting-1920-1 .grupo-8848 {
  height: 94px;
  left: 817px;
  top: 615px;
  width: 34px;
}

.chapter-5-backcasting-1920-1 .grupo-8849 {
  height: 94px;
  left: 1069px;
  top: 615px;
  width: 34px;
}

.chapter-5-backcasting-1920-1 .how-to-do-it {
  height: 53px;
  left: 823px;
  object-fit: cover;
  position: absolute;
  top: 33px;
  width: 243px;
}

.chapter-5-backcasting-1920-1 .grupo-8852 {
  height: 94px;
  left: 774px;
  top: 15px;
  width: 34px;
}

.chapter-5-backcasting-1920-1 .grupo-8853 {
  height: 94px;
  left: 1080px;
  top: 15px;
  width: 34px;
}

.chapter-5-backcasting-1920-1 .grupo-2804 {
  height: 44px;
  left: 982px;
  top: 292px;
  width: 65px;
}

.chapter-5-backcasting-1920-1 .material {
  height: 30px;
  left: 1070px;
  object-fit: cover;
  position: absolute;
  top: 246px;
  width: auto;
}

.chapter-5-backcasting-1920-1 .a-vision-or-descript {
  height: 56px;
  left: 1070px;
  object-fit: cover;
  position: absolute;
  top: 285px;
  width: 265px;
}

.chapter-5-backcasting-1920-1 .retngulo-288 {
  border-radius: 30px;
  height: 188px;
  left: 307px;
  top: 763px;
  width: 1307px;
}

.chapter-5-backcasting-1920-1 .retngulo-289 {
  border-radius: 30px;
  height: 188px;
  left: 307px;
  top: 976px;
  width: 1307px;
}

.chapter-5-backcasting-1920-1 .retngulo-290 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 307px;
  top: 763px;
  width: 339px;
}

.chapter-5-backcasting-1920-1 .retngulo-291 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 307px;
  top: 976px;
  width: 339px;
}

.chapter-5-backcasting-1920-1 .retngulo-292 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 476px;
  top: 763px;
  width: 1138px;
}

.chapter-5-backcasting-1920-1 .retngulo-293 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 476px;
  top: 976px;
  width: 1138px;
}

.chapter-5-backcasting-1920-1 .introduce-activity {
  height: 40px;
  left: 389px;
  object-fit: cover;
  position: absolute;
  top: 775px;
  width: 1138px;
}

.chapter-5-backcasting-1920-1 .complete-the-activity {
  height: 40px;
  left: 389px;
  object-fit: cover;
  position: absolute;
  top: 988px;
  width: 1138px;
}

.chapter-5-backcasting-1920-1 .x10-minutes {
  height: 21px;
  left: 364px;
  object-fit: cover;
  position: absolute;
  top: 779px;
  width: 93px;
}

.chapter-5-backcasting-1920-1 .x10-minutes-1 {
  height: 21px;
  left: 364px;
  object-fit: cover;
  position: absolute;
  top: 992px;
  width: 93px;
}

.chapter-5-backcasting-1920-1 .grupo-2816 {
  height: 36px;
  left: 324px;
  top: 770px;
  width: 36px;
}

.chapter-5-backcasting-1920-1 .grupo-2823 {
  height: 36px;
  left: 324px;
  top: 983px;
  width: 36px;
}

.chapter-5-backcasting-1920-1 .step-1-identify-your {
  height: 95px;
  left: 367px;
  object-fit: cover;
  position: absolute;
  top: 839px;
  width: 1168px;
}

.chapter-5-backcasting-1920-1 .step-2-once-you-have {
  height: 111px;
  left: 367px;
  object-fit: cover;
  position: absolute;
  top: 1047px;
  width: 1168px;
}

.chapter-5-backcasting-1920-1 .grupo-2765 {
  height: 537px;
  left: 0;
  top: 0;
  width: 1920px;
}

.chapter-5-backcasting-1920-1 .grupo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-1920-1 .retngulo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-375-1 */

.chapter-5-backcasting-375-1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3909px;
  overflow: hidden;
  width: 375px;
}

.chapter-5-backcasting-375-1 .overlap-group-4 {
  height: 2936px;
  margin-right: 0;
  position: relative;
  width: 1251px;
}

.chapter-5-backcasting-375-1 .retngulo-148542 {
  height: 1313px;
  left: 438px;
  top: 81px;
  width: 375px;
}

.chapter-5-backcasting-375-1 .grupo-de-mscara-18 {
  height: 559px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 835px;
  width: 1251px;
}

.chapter-5-backcasting-375-1 .grupo-144018 {
  height: 1341px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 1393px;
  width: 375px;
}

.chapter-5-backcasting-375-1 .describing-our-future-1 {
  height: 85px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 192px;
  width: 274px;
}

.chapter-5-backcasting-375-1 .chapter-3-1 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: 149px;
}

.chapter-5-backcasting-375-1 .narratives-3 {
  height: 42px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 310px;
  width: 217px;
}

.chapter-5-backcasting-375-1 .caminho-747 {
  height: 36px;
  left: 560px;
  object-fit: cover;
  position: absolute;
  top: 777px;
  width: 136px;
}

.chapter-5-backcasting-375-1 .grupo-144015 {
  height: 64px;
  left: 511px;
  object-fit: cover;
  position: absolute;
  top: 1593px;
  width: 230px;
}

.chapter-5-backcasting-375-1 .retngulo-148492 {
  height: 81px;
  left: 438px;
  top: 0;
  width: 375px;
}

.chapter-5-backcasting-375-1 .spc-cps-logo_27_stars-white-3 {
  height: 50px;
  left: 457px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 122px;
}

.chapter-5-backcasting-375-1 .menu-1 {
  height: 81px;
  left: 732px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 81px;
}

.chapter-5-backcasting-375-1 .grupo-143932 {
  height: 5px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 375px;
}

.chapter-5-backcasting-375-1 .grupo-144008 {
  height: 34px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 391px;
  width: 184px;
}

.chapter-5-backcasting-375-1 .grupo-144169 {
  height: 151px;
  left: 652px;
  object-fit: cover;
  position: absolute;
  top: 393px;
  width: 109px;
}

.chapter-5-backcasting-375-1 .more_-info-button-v-2 {
  height: 40px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 544px;
  width: 174px;
}

.chapter-5-backcasting-375-1 .quesiton_-tabs-v-3 {
  height: 167px;
  left: 489px;
  object-fit: cover;
  position: absolute;
  top: 685px;
  width: 272px;
}

.chapter-5-backcasting-375-1 .time20-minutes-3 {
  height: 49px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 1687px;
  width: 99px;
}

.chapter-5-backcasting-375-1 .no-of-participantsnot-specified-3 {
  height: 49px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 1780px;
  width: 241px;
}

.chapter-5-backcasting-375-1 .facilitationone-expe-3 {
  height: 70px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 1895px;
  width: auto;
}

.chapter-5-backcasting-375-1 .materiala-vision-or-1 {
  height: 81px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 1997px;
  width: 309px;
}

.chapter-5-backcasting-375-1 .grupo-144016 {
  height: 34px;
  left: 531px;
  object-fit: cover;
  position: absolute;
  top: 2121px;
  width: 190px;
}

.chapter-5-backcasting-375-1 .design-space-paper-textured-background-2 {
  height: 734px;
  left: 438px;
  top: 2202px;
}

.chapter-5-backcasting-375-1 .grupo-144017 {
  height: 64px;
  left: 511px;
  object-fit: cover;
  position: absolute;
  top: 2304px;
  width: 230px;
}

.chapter-5-backcasting-375-1 .retngulo-148544 {
  border-radius: 30px;
  height: 181px;
  left: 471px;
  top: 2428px;
  width: 309px;
}

.chapter-5-backcasting-375-1 .retngulo-148547 {
  border-radius: 30px;
  height: 194px;
  left: 471px;
  top: 2637px;
  width: 309px;
}

.chapter-5-backcasting-375-1 .retngulo-148549 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 2428px;
  width: 256px;
}

.chapter-5-backcasting-375-1 .retngulo-148552 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 2637px;
  width: 256px;
}

.chapter-5-backcasting-375-1 .introduce-activity-2 {
  height: 38px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  top: 2434px;
  width: 186px;
}

.chapter-5-backcasting-375-1 .complete-the-activity-2 {
  height: 38px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  top: 2644px;
  width: 186px;
}

.chapter-5-backcasting-375-1 .step-1identify-your-2 {
  height: 85px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 2504px;
  width: 277px;
}

.chapter-5-backcasting-375-1 .step-2once-you-have-2 {
  height: 95px;
  left: 490px;
  object-fit: cover;
  position: absolute;
  top: 2713px;
  width: 275px;
}

.chapter-5-backcasting-375-1 .retngulo-148554 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 2428px;
  width: 123px;
}

.chapter-5-backcasting-375-1 .retngulo-148557 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 2637px;
  width: 123px;
}

.chapter-5-backcasting-375-1 .x10-m {
  height: 21px;
  left: 530px;
  object-fit: cover;
  position: absolute;
  top: 2652px;
  width: 44px;
}

.chapter-5-backcasting-375-1 .x10-m-1 {
  height: 21px;
  left: 530px;
  object-fit: cover;
  position: absolute;
  top: 2445px;
  width: 44px;
}

.chapter-5-backcasting-375-1 .grupo-144025 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 2643px;
  width: 36px;
}

.chapter-5-backcasting-375-1 .grupo-144039 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 2436px;
  width: 36px;
}

.chapter-5-backcasting-375-1 .grupo-144168 {
  height: 4px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 293px;
  width: 163px;
}

.chapter-5-backcasting-375-1 .case-study7_-button-3 {
  cursor: pointer;
  height: 516px;
  left: 462px;
  object-fit: cover;
  position: absolute;
  top: 1019px;
  width: 327px;
}

.chapter-5-backcasting-375-1 .grupo-144075 {
  height: 64px;
  margin-left: 1.0px;
  margin-top: 76px;
  object-fit: cover;
  width: 118px;
}

.chapter-5-backcasting-375-1 .use-the-metaphors-as {
  height: 124px;
  margin-right: 1.0px;
  margin-top: 43px;
  object-fit: cover;
  width: 308px;
}

.chapter-5-backcasting-375-1 .grupo-144076 {
  height: 57px;
  margin-right: 0;
  margin-top: 20px;
  object-fit: cover;
  width: 57px;
}

.chapter-5-backcasting-375-1 .overlap-group1-2 {
  height: 518px;
  margin-top: 72px;
  position: relative;
  width: 375px;
}

.chapter-5-backcasting-375-1 .design-space-paper-textured-background-3 {
  height: 506px;
  left: 0;
  top: 0;
}

.chapter-5-backcasting-375-1 .grupo-144077 {
  height: 68px;
  left: 73px;
  object-fit: cover;
  position: absolute;
  top: 74px;
  width: 230px;
}

.chapter-5-backcasting-375-1 .the-pacific-communit {
  height: 108px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 185px;
  width: 309px;
}

.chapter-5-backcasting-375-1 .grupo-144078 {
  height: 57px;
  left: 159px;
  object-fit: cover;
  position: absolute;
  top: 324px;
  width: 57px;
}

.chapter-5-backcasting-375-1 .footer-3 {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 457px;
  width: 375px;
}

.chapter-5-backcasting-375-1 .design-space-paper-textured-background {
  object-fit: cover;
  position: absolute;
  width: 375px;
}

.chapter-5-backcasting-375-1 .retngulo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-768-1 */

.chapter-5-backcasting-768-1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3304px;
  overflow: hidden;
  width: 768px;
}

.chapter-5-backcasting-768-1 .overlap-group2 {
  align-self: flex-start;
  height: 1723px;
  margin-left: -461.16px;
  margin-top: -137px;
  position: relative;
  width: 1673px;
}

.chapter-5-backcasting-768-1 .retngulo-148524 {
  height: 1341px;
  left: 461px;
  top: 222px;
  width: 768px;
}

.chapter-5-backcasting-768-1 .grupo-de-mscara-17 {
  height: 559px;
  left: 422px;
  object-fit: cover;
  position: absolute;
  top: 1004px;
  width: 1251px;
}

.chapter-5-backcasting-768-1 .narratives-2 {
  height: 204px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 392px;
  width: 384px;
}

.chapter-5-backcasting-768-1 .grupo-143968 {
  height: 864px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-768-1 .retngulo-148486 {
  height: 81px;
  left: 461px;
  top: 137px;
  width: 768px;
}

.chapter-5-backcasting-768-1 .grupo-143707 {
  height: 47px;
  left: 695px;
  object-fit: cover;
  position: absolute;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-768-1 .spc-cps-logo_27_stars-white-2 {
  height: 50px;
  left: 480px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-768-1 .menu {
  height: 81px;
  left: 1148px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-768-1 .grupo-143711 {
  height: 5px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 768px;
}

.chapter-5-backcasting-768-1 .grupo-143975 {
  height: 45px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 490px;
  width: 282px;
}

.chapter-5-backcasting-768-1 .more_-info-button-v-1 {
  cursor: pointer;
  height: 40px;
  left: 542px;
  object-fit: cover;
  position: absolute;
  top: 1067px;
  width: 174px;
}

.chapter-5-backcasting-768-1 .quesiton_-tabs-v-2 {
  height: 167px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 588px;
  width: 384px;
}

.chapter-5-backcasting-768-1 .grupo-144170 {
  cursor: pointer;
  height: 450px;
  left: 736px;
  object-fit: cover;
  position: absolute;
  top: 782px;
  width: 494px;
}

.chapter-5-backcasting-768-1 .grupo-2809-2 {
  height: 137px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 373px;
  width: 187px;
}

.chapter-5-backcasting-768-1 .describing-our-future {
  height: 77px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 284px;
  width: 276px;
}

.chapter-5-backcasting-768-1 .chapter-3 {
  height: 28px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 259px;
  width: 116px;
}

.chapter-5-backcasting-768-1 .case-study7_-button-2 {
  cursor: pointer;
  height: 516px;
  left: 517px;
  object-fit: cover;
  position: absolute;
  top: 1208px;
  width: 327px;
}

.chapter-5-backcasting-768-1 .flex-row {
  align-items: center;
  display: flex;
  gap: 16px;
  height: 929px;
  margin-right: 134.0px;
  margin-top: 97px;
  min-width: 474px;
}

.chapter-5-backcasting-768-1 .grupo-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 257.95px;
  min-height: 363px;
  width: 65px;
}

.chapter-5-backcasting-768-1 .grupo-8843-2 {
  height: 64px;
  margin-right: 1.37px;
  object-fit: cover;
  width: 64px;
}

.chapter-5-backcasting-768-1 .grupo-8844-2 {
  height: 53px;
  margin-right: 0.46px;
  margin-top: 43px;
  object-fit: cover;
  width: 63px;
}

.chapter-5-backcasting-768-1 .grupo-8845-2 {
  height: 54px;
  margin-left: 0.18px;
  margin-top: 50px;
  object-fit: cover;
  width: 40px;
}

.chapter-5-backcasting-768-1 .grupo-2804-2 {
  height: 44px;
  margin-left: 0;
  margin-top: 56px;
  object-fit: cover;
  width: 65px;
}

.chapter-5-backcasting-768-1 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 929px;
  width: 393px;
}

.chapter-5-backcasting-768-1 .time20-minutes-2 {
  height: 49px;
  margin-left: 0;
  margin-top: 65px;
  object-fit: cover;
  width: 99px;
}

.chapter-5-backcasting-768-1 .no-of-participantsnot-specified-2 {
  height: 49px;
  margin-left: 0;
  margin-top: 44px;
  object-fit: cover;
  width: 241px;
}

.chapter-5-backcasting-768-1 .facilitationone-expe-2 {
  height: 65px;
  margin-top: 67px;
  object-fit: cover;
  width: auto;
}

.chapter-5-backcasting-768-1 .materiala-vision-or {
  height: 79px;
  margin-top: 47px;
  object-fit: cover;
  width: 364px;
}

.chapter-5-backcasting-768-1 .grupo-143971 {
  align-self: center;
  height: 45px;
  margin-left: 53.24px;
  margin-top: 93px;
  object-fit: cover;
  width: 282px;
}

.chapter-5-backcasting-768-1 .grupo-143977 {
  align-self: center;
  height: 94px;
  margin-left: 53.24px;
  margin-top: 149px;
  object-fit: cover;
  width: 286px;
}

.chapter-5-backcasting-768-1 .overlap-group1-1 {
  align-items: center;
  background-image: url(../img/ret-ngulo-148526-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 1.0px;
  margin-top: 54px;
  min-height: 215px;
  width: 605px;
}

.chapter-5-backcasting-768-1 .overlap-group-2 {
  height: 51px;
  position: relative;
  width: 605px;
}

.chapter-5-backcasting-768-1 .retngulo-14853 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 53px;
  top: 0;
  width: 552px;
}

.chapter-5-backcasting-768-1 .e-activity {
  height: 24px;
  left: 185px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 420px;
}

.chapter-5-backcasting-768-1 .retngulo-14853-1 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 185px;
}

.chapter-5-backcasting-768-1 .x10-minutes-4 {
  top: 17px;
}

.chapter-5-backcasting-768-1 .grupo-143998 {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 36px;
}

.chapter-5-backcasting-768-1 .step-1identify-your-1 {
  height: 130px;
  margin-right: -65px;
  object-fit: cover;
  width: auto;
}

.chapter-5-backcasting-768-1 .overlap-group-3 {
  align-items: center;
  background-image: url(../img/ret-ngulo-148529-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 1.0px;
  margin-top: 24px;
  min-height: 242px;
  width: 605px;
}

.chapter-5-backcasting-768-1 .x10-minutes-5 {
  top: 16px;
}

.chapter-5-backcasting-768-1 .grupo-143984 {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 36px;
}

.chapter-5-backcasting-768-1 .step-2once-you-have-1 {
  height: 144px;
  margin-right: 0.06px;
  object-fit: cover;
  width: 485px;
}

.chapter-5-backcasting-768-1 .footer-2 {
  height: 61px;
  margin-top: 97px;
  object-fit: cover;
  width: 768px;
}

.chapter-5-backcasting-768-1 .retngulo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-768-1 .x10-minutes {
  height: 21px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  width: 93px;
}

@media screen and (max-width: 767px) {
  .screen.chapter-5-backcasting-1920-1 { 
    display: none;
   }
  .screen.chapter-5-backcasting-1280-1-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-768-1 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.chapter-5-backcasting-1920-1 { 
    display: none;
   }
  .screen.chapter-5-backcasting-1280-1-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-375-1 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.chapter-5-backcasting-1920-1 { 
    display: none;
   }
  .screen.chapter-5-backcasting-768-1 { 
    display: none;
   }
  .screen.chapter-5-backcasting-375-1 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.chapter-5-backcasting-1280-1-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-768-1 { 
    display: none;
   }
  .screen.chapter-5-backcasting-375-1 { 
    display: none;
   }
}