/* screen - chapter-5-backcasting-1280-2-all-breakpoints */

.chapter-5-backcasting-1280-2-all-breakpoints {
  background-color: var(--white);
  height: 4705px;
  overflow: hidden;
  position: relative;
  width: 1280px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .overlap-group-2 {
  height: 2501px;
  left: -461px;
  position: absolute;
  top: -137px;
  width: 2381px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-144185 {
  height: 537px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 891px;
  width: 1920px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-8810-1 {
  height: 537px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1964px;
  width: 1920px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-8811-1 {
  height: 537px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1428px;
  width: 1920px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .retngulo-436-1 {
  height: 996px;
  left: 457px;
  object-fit: cover;
  position: absolute;
  top: 223px;
  width: 1280px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .spc-cps-logo_27_stars-white-1 {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .futures-tri-angle-1 {
  height: 204px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 354px;
  width: 844px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-8847 {
  height: 45px;
  left: 1378px;
  object-fit: cover;
  position: absolute;
  top: 2408px;
  width: 282px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .quesiton_-tabs-v-1 {
  height: 167px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 577px;
  width: 471px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .menu-v-1 {
  height: 81px;
  left: 1660px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-8843 {
  height: 64px;
  left: 569px;
  object-fit: cover;
  position: absolute;
  top: 2067px;
  width: 64px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-8844 {
  height: 53px;
  left: 570px;
  object-fit: cover;
  position: absolute;
  top: 2174px;
  width: 63px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-8845 {
  height: 54px;
  left: 582px;
  object-fit: cover;
  position: absolute;
  top: 2277px;
  width: 40px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-8846 {
  height: 319px;
  left: 1081px;
  object-fit: cover;
  position: absolute;
  top: 2062px;
  width: 4px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .time60-minutes-1 {
  height: 49px;
  left: 650px;
  object-fit: cover;
  position: absolute;
  top: 2072px;
  width: 99px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .no-of-participantsle {
  height: 74px;
  left: 650px;
  object-fit: cover;
  position: absolute;
  top: 2165px;
  width: 241px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .butchersdrawing-paper-1 {
  height: 57px;
  left: 1224px;
  object-fit: cover;
  position: absolute;
  top: 2120px;
  width: 155px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .material-1 {
  height: 24px;
  left: 1134px;
  object-fit: cover;
  position: absolute;
  top: 2063px;
  width: 74px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .facilitation1-facili {
  height: 70px;
  left: 650px;
  object-fit: cover;
  position: absolute;
  top: 2281px;
  width: auto;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-8850 {
  height: 58px;
  left: 1134px;
  object-fit: cover;
  position: absolute;
  top: 2116px;
  width: 64px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-143936 {
  height: 94px;
  left: 931px;
  object-fit: cover;
  position: absolute;
  top: 1913px;
  width: 340px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .more_-info-button-v-1 {
  cursor: pointer;
  height: 40px;
  left: 1485px;
  object-fit: cover;
  position: absolute;
  top: 1128px;
  width: 174px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-2854-1 {
  height: 168px;
  left: 486px;
  object-fit: cover;
  position: absolute;
  top: 370px;
  width: 180px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .x8-1 {
  height: 199px;
  left: 1232px;
  object-fit: cover;
  position: absolute;
  top: 816px;
  width: 182px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .case-study7_-button-1 {
  cursor: pointer;
  height: 516px;
  left: 755px;
  object-fit: cover;
  position: absolute;
  top: 823px;
  width: 326px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .componente-4-10 {
  cursor: pointer;
  height: 516px;
  left: 1088px;
  object-fit: cover;
  position: absolute;
  top: 823px;
  width: 326px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-2858-1 {
  cursor: pointer;
  height: 498px;
  left: 755px;
  object-fit: cover;
  position: absolute;
  top: 1344px;
  width: 326px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-2859-1 {
  cursor: pointer;
  height: 498px;
  left: 1090px;
  object-fit: cover;
  position: absolute;
  top: 1344px;
  width: 326px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-144192 {
  height: 69px;
  left: 1394px;
  object-fit: cover;
  position: absolute;
  top: 2105px;
  width: 55px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .sticky-notes-1 {
  height: 24px;
  left: 1477px;
  object-fit: cover;
  position: absolute;
  top: 2129px;
  width: 107px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-144193 {
  height: 53px;
  left: 1128px;
  object-fit: cover;
  position: absolute;
  top: 2207px;
  width: 68px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .coloured-marker-pens-1 {
  height: 51px;
  left: 1214px;
  object-fit: cover;
  position: absolute;
  top: 2208px;
  width: 129px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-144191 {
  height: 44px;
  left: 1390px;
  object-fit: cover;
  position: absolute;
  top: 2211px;
  width: 65px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .visual-aids-to-inspi-1 {
  height: 62px;
  left: 1478px;
  object-fit: cover;
  position: absolute;
  top: 2204px;
  width: auto;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-144194 {
  height: 59px;
  left: 1124px;
  object-fit: cover;
  position: absolute;
  top: 2296px;
  width: 80px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .virtual-collaboratio-1 {
  height: 68px;
  left: 1217px;
  object-fit: cover;
  position: absolute;
  top: 2297px;
  width: auto;
}

.chapter-5-backcasting-1280-2-all-breakpoints .overlap-group1 {
  align-items: center;
  background-image: url(../img/design-space-paper-textured-background-18@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 2280px;
  padding: 80.6px 81.1px;
  position: absolute;
  top: 2364px;
  width: 1280px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-143938 {
  height: 94px;
  object-fit: cover;
  width: 286px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .group-container {
  align-items: center;
  background-image: url(../img/ret-ngulo-357-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 54px;
  min-height: 536px;
  width: 1116px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .overlap-group-1 {
  height: 51px;
  position: relative;
  width: 1116px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .retngulo {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 339px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .x10-minutes {
  height: 21px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 93px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-5545 {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 36px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .retngulo-1 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 217px;
  width: 899px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .introduce-activity {
  height: 28px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: auto;
}

.chapter-5-backcasting-1280-2-all-breakpoints .step-1set-the-scene {
  height: 433px;
  margin-left: 9.75px;
  object-fit: cover;
  width: 1056px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .group-container-1 {
  background-image: url(../img/ret-ngulo-359-2@1x.png);
  gap: 30px;
  margin-top: 28px;
  min-height: 845px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .x30-minutes {
  height: 21px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 96px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 36px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .complete-the-activity {
  height: 26px;
  left: 190px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: auto;
}

.chapter-5-backcasting-1280-2-all-breakpoints .step-3in-small-group {
  height: 742px;
  margin-left: 9.75px;
  object-fit: cover;
  width: 1056px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .group-container-2 {
  background-image: url(../img/ret-ngulo-359-1@1x.png);
  gap: 24px;
  margin-top: 26px;
  min-height: 184px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .x15-minutes {
  height: 21px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 91px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .reflect-summarise-activity {
  height: 24px;
  left: 217px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 899px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .step-7get-all-groups {
  height: 87px;
  margin-left: 0.21px;
  object-fit: cover;
  width: 1056px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .overlap-group5 {
  align-self: flex-end;
  height: 210px;
  margin-top: 27px;
  position: relative;
  width: 1117px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .retngulo-437 {
  border-radius: 30px;
  height: 210px;
  left: 0;
  width: 1116px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .grupo-8823 {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 36px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .consolidate-information {
  height: 26px;
  left: 190px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: auto;
}

.chapter-5-backcasting-1280-2-all-breakpoints .step-8-provide-to-pa {
  height: 110px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 76px;
  width: auto;
}

.chapter-5-backcasting-1280-2-all-breakpoints .x60-minutes-post-activity {
  height: 55px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: auto;
}

.chapter-5-backcasting-1280-2-all-breakpoints .footer-1 {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4644px;
  width: 1280px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .group-container-3 {
  align-items: center;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  width: 1116px;
}

.chapter-5-backcasting-1280-2-all-breakpoints .retngulo-2 {
  object-fit: cover;
  position: absolute;
  top: 0;
}
/* screen - chapter-5-backcasting-1920-2 */

.chapter-5-backcasting-1920-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 4121px;
  overflow: hidden;
  width: 1920px;
}

.chapter-5-backcasting-1920-2 .overlap-group {
  height: 4400px;
  margin-left: -461px;
  margin-top: -137.47px;
  position: relative;
  width: 2381px;
}

.chapter-5-backcasting-1920-2 .retngulo-434 {
  height: 3052px;
  top: 137px;
  width: 1920px;
}

.chapter-5-backcasting-1920-2 .grupo-8810 {
  height: 537px;
  left: 461px;
  top: 1430px;
  width: 1920px;
}

.chapter-5-backcasting-1920-2 .rs1330_-quentin-hani {
  height: 996px;
  left: 1740px;
  object-fit: cover;
  position: absolute;
  top: 222px;
  width: 641px;
}

.chapter-5-backcasting-1920-2 .retngulo-436 {
  height: 996px;
  top: 223px;
  width: 1285px;
}

.chapter-5-backcasting-1920-2 .design-space-paper-textured-background {
  height: 2440px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1960px;
  width: 1920px;
}

.chapter-5-backcasting-1920-2 .footer {
  height: 61px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 4200px;
  width: 1920px;
}

.chapter-5-backcasting-1920-2 .spc-cps-logo_27_stars-white {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-1920-2 .futures-tri-angle {
  height: 204px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 354px;
  width: 872px;
}

.chapter-5-backcasting-1920-2 .x8 {
  height: 199px;
  left: 1224px;
  object-fit: cover;
  position: absolute;
  top: 869px;
  width: 182px;
}

.chapter-5-backcasting-1920-2 .quesiton_-tabs-v {
  height: 167px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 577px;
  width: 576px;
}

.chapter-5-backcasting-1920-2 .activities {
  height: 53px;
  left: 1327px;
  object-fit: cover;
  position: absolute;
  top: 2059px;
  width: 188px;
}

.chapter-5-backcasting-1920-2 .grupo-8848 {
  height: 94px;
  left: 1278px;
  top: 2041px;
  width: 34px;
}

.chapter-5-backcasting-1920-2 .grupo-8849 {
  height: 94px;
  left: 1530px;
  top: 2041px;
  width: 34px;
}

.chapter-5-backcasting-1920-2 .retngulo-80 {
  height: 81px;
  top: 137px;
  width: 1920px;
}

.chapter-5-backcasting-1920-2 .grupo-788 {
  height: 47px;
  left: 1282px;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-1920-2 .menu-v {
  height: 81px;
  left: 2300px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-1920-2 .how-to-do-it {
  height: 53px;
  left: 1285px;
  object-fit: cover;
  position: absolute;
  top: 1459px;
  width: 243px;
}

.chapter-5-backcasting-1920-2 .grupo-8852 {
  height: 94px;
  left: 1236px;
  top: 1441px;
  width: 34px;
}

.chapter-5-backcasting-1920-2 .grupo-8853 {
  height: 94px;
  left: 1541px;
  top: 1441px;
  width: 34px;
}

.chapter-5-backcasting-1920-2 .chapter-3_tip_-button-v {
  cursor: pointer;
  height: 450px;
  left: 1451px;
  object-fit: cover;
  position: absolute;
  top: 401px;
  width: 494px;
}

.chapter-5-backcasting-1920-2 .grupo-8854 {
  height: 45px;
  left: 2074px;
  top: 280px;
  width: 282px;
}

.chapter-5-backcasting-1920-2 .more_-info-button-v {
  cursor: pointer;
  height: 40px;
  left: 2167px;
  object-fit: cover;
  position: absolute;
  top: 1128px;
  width: 174px;
}

.chapter-5-backcasting-1920-2 .grupo-2854 {
  height: 168px;
  left: 486px;
  top: 370px;
  width: 180px;
}

.chapter-5-backcasting-1920-2 .case-study7_-button {
  cursor: pointer;
  height: 516px;
  left: 762px;
  object-fit: cover;
  position: absolute;
  top: 876px;
  width: 326px;
}

.chapter-5-backcasting-1920-2 .componente-4-9 {
  cursor: pointer;
  height: 516px;
  left: 1095px;
  object-fit: cover;
  position: absolute;
  top: 876px;
  width: 326px;
}

.chapter-5-backcasting-1920-2 .grupo-2858 {
  cursor: pointer;
  height: 498px;
  left: 1428px;
  top: 894px;
  width: 326px;
}

.chapter-5-backcasting-1920-2 .grupo-2859 {
  cursor: pointer;
  height: 498px;
  left: 1762px;
  top: 894px;
  width: 326px;
}

.chapter-5-backcasting-1920-2 .grupo-2877 {
  height: 1808px;
  left: 768px;
  top: 2189px;
  width: 1307px;
}

.chapter-5-backcasting-1920-2 .grupo-2860 {
  height: 64px;
  left: 766px;
  top: 1595px;
  width: 64px;
}

.chapter-5-backcasting-1920-2 .grupo-2861 {
  height: 53px;
  left: 767px;
  top: 1701px;
  width: 63px;
}

.chapter-5-backcasting-1920-2 .grupo-2862 {
  height: 54px;
  left: 779px;
  top: 1804px;
  width: 40px;
}

.chapter-5-backcasting-1920-2 .grupo-2863 {
  height: 319px;
  left: 1192px;
  top: 1589px;
  width: 4px;
}

.chapter-5-backcasting-1920-2 .grupo-2864 {
  height: 64px;
  left: 1254px;
  top: 1642px;
  width: 71px;
}

.chapter-5-backcasting-1920-2 .grupo-2865 {
  height: 44px;
  left: 1254px;
  top: 1754px;
  width: 65px;
}

.chapter-5-backcasting-1920-2 .grupo-2866 {
  height: 69px;
  left: 1585px;
  top: 1639px;
  width: 55px;
}

.chapter-5-backcasting-1920-2 .grupo-2867 {
  height: 53px;
  left: 1872px;
  top: 1647px;
  width: 68px;
}

.chapter-5-backcasting-1920-2 .grupo-2868 {
  height: 59px;
  left: 1575px;
  top: 1746px;
  width: 80px;
}

.chapter-5-backcasting-1920-2 .no-of-participantsun {
  height: 80px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1687px;
  width: 241px;
}

.chapter-5-backcasting-1920-2 .material {
  height: 24px;
  left: 1245px;
  object-fit: cover;
  position: absolute;
  top: 1591px;
  width: 74px;
}

.chapter-5-backcasting-1920-2 .butchersdrawing-paper {
  height: 51px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 1648px;
  width: 129px;
}

.chapter-5-backcasting-1920-2 .sticky-notes {
  height: 24px;
  left: 1668px;
  object-fit: cover;
  position: absolute;
  top: 1663px;
  width: 107px;
}

.chapter-5-backcasting-1920-2 .virtual-collaboratio {
  height: 70px;
  left: 1668px;
  object-fit: cover;
  position: absolute;
  top: 1747px;
  width: auto;
}

.chapter-5-backcasting-1920-2 .visual-aids-to-inspi {
  height: 65px;
  left: 1342px;
  object-fit: cover;
  position: absolute;
  top: 1747px;
  width: auto;
}

.chapter-5-backcasting-1920-2 .coloured-marker-pens {
  height: 51px;
  left: 1958px;
  object-fit: cover;
  position: absolute;
  top: 1648px;
  width: 129px;
}

.chapter-5-backcasting-1920-2 .facilitationone-lead {
  height: 90px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1804px;
  width: auto;
}

.chapter-5-backcasting-1920-2 .grupo-2869 {
  height: 45px;
  left: 1492px;
  top: 1873px;
  width: 282px;
}

.chapter-5-backcasting-1920-2 .grupo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-1920-2 .retngulo {
  left: 461px;
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-375-2 */

.chapter-5-backcasting-375-2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 7987px;
  overflow: hidden;
  width: 375px;
}

.chapter-5-backcasting-375-2 .overlap-group-4 {
  height: 6159px;
  position: relative;
  width: 1251px;
}

.chapter-5-backcasting-375-2 .grupo-144197 {
  height: 1341px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 1815px;
  width: 375px;
}

.chapter-5-backcasting-375-2 .retngulo-148542 {
  height: 1860px;
  left: 438px;
  top: 81px;
  width: 375px;
}

.chapter-5-backcasting-375-2 .grupo-de-mscara-18 {
  height: 559px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1382px;
  width: 1251px;
}

.chapter-5-backcasting-375-2 .grupo-144018 {
  height: 1341px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 3130px;
  width: 375px;
}

.chapter-5-backcasting-375-2 .describing-our-future-1 {
  height: 148px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 192px;
  width: 292px;
}

.chapter-5-backcasting-375-2 .chapter-3-1 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: 149px;
}

.chapter-5-backcasting-375-2 .futures-tri-angle-3 {
  height: 86px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 311px;
  width: 170px;
}

.chapter-5-backcasting-375-2 .caminho-747 {
  height: 36px;
  left: 560px;
  object-fit: cover;
  position: absolute;
  top: 812px;
  width: 136px;
}

.chapter-5-backcasting-375-2 .grupo-144015 {
  height: 64px;
  left: 511px;
  object-fit: cover;
  position: absolute;
  top: 3127px;
  width: 230px;
}

.chapter-5-backcasting-375-2 .retngulo-148492 {
  height: 81px;
  left: 438px;
  top: 0;
  width: 375px;
}

.chapter-5-backcasting-375-2 .spc-cps-logo_27_stars-white-3 {
  height: 50px;
  left: 457px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 122px;
}

.chapter-5-backcasting-375-2 .menu-1 {
  height: 81px;
  left: 732px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 81px;
}

.chapter-5-backcasting-375-2 .grupo-143932 {
  height: 5px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 375px;
}

.chapter-5-backcasting-375-2 .grupo-144008 {
  height: 34px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 426px;
  width: 184px;
}

.chapter-5-backcasting-375-2 .grupo-144169 {
  height: 151px;
  left: 652px;
  object-fit: cover;
  position: absolute;
  top: 428px;
  width: 109px;
}

.chapter-5-backcasting-375-2 .more_-info-button-v-3 {
  height: 40px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 579px;
  width: 174px;
}

.chapter-5-backcasting-375-2 .quesiton_-tabs-v-3 {
  height: 167px;
  left: 489px;
  object-fit: cover;
  position: absolute;
  top: 720px;
  width: 272px;
}

.chapter-5-backcasting-375-2 .grupo-144016 {
  height: 34px;
  left: 531px;
  object-fit: cover;
  position: absolute;
  top: 4009px;
  width: 190px;
}

.chapter-5-backcasting-375-2 .design-space-paper-textured-background-1 {
  height: 2066px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 4093px;
  width: 375px;
}

.chapter-5-backcasting-375-2 .grupo-144017 {
  height: 64px;
  left: 511px;
  object-fit: cover;
  position: absolute;
  top: 4195px;
  width: 230px;
}

.chapter-5-backcasting-375-2 .retngulo-148544 {
  border-radius: 30px;
  height: 400px;
  left: 471px;
  top: 4319px;
  width: 309px;
}

.chapter-5-backcasting-375-2 .retngulo-148545 {
  border-radius: 30px;
  height: 231px;
  left: 471px;
  top: 5857px;
  width: 309px;
}

.chapter-5-backcasting-375-2 .retngulo-148547 {
  border-radius: 30px;
  height: 823px;
  left: 471px;
  top: 4833px;
  width: 309px;
}

.chapter-5-backcasting-375-2 .retngulo-148548 {
  border-radius: 30px;
  height: 165px;
  left: 471px;
  top: 5674px;
  width: 309px;
}

.chapter-5-backcasting-375-2 .retngulo-148549 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 4319px;
  width: 256px;
}

.chapter-5-backcasting-375-2 .retngulo-148550 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 5857px;
  width: 256px;
}

.chapter-5-backcasting-375-2 .retngulo-148552 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 4833px;
  width: 256px;
}

.chapter-5-backcasting-375-2 .retngulo-148553 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 5674px;
  width: 256px;
}

.chapter-5-backcasting-375-2 .introduce-activity-2 {
  height: 40px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  top: 4322px;
  width: 186px;
}

.chapter-5-backcasting-375-2 .consolidate-information-2 {
  height: 40px;
  left: 595px;
  object-fit: cover;
  position: absolute;
  top: 5863px;
  width: 186px;
}

.chapter-5-backcasting-375-2 .complete-the-activity-2 {
  height: 40px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  top: 4836px;
  width: 186px;
}

.chapter-5-backcasting-375-2 .reflect-summarise-activity-2 {
  height: 32px;
  left: 616px;
  object-fit: cover;
  position: absolute;
  top: 5685px;
  width: auto;
}

.chapter-5-backcasting-375-2 .retngulo-148554 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 4319px;
  width: 123px;
}

.chapter-5-backcasting-375-2 .retngulo-148555 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 5857px;
  width: 133px;
}

.chapter-5-backcasting-375-2 .retngulo-148557 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 4833px;
  width: 123px;
}

.chapter-5-backcasting-375-2 .retngulo-148558 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 5674px;
  width: 123px;
}

.chapter-5-backcasting-375-2 .x30-m {
  height: 18px;
  left: 530px;
  object-fit: cover;
  position: absolute;
  top: 4850px;
  width: 40px;
}

.chapter-5-backcasting-375-2 .x15-m {
  height: 18px;
  left: 530px;
  object-fit: cover;
  position: absolute;
  top: 5692px;
  width: 36px;
}

.chapter-5-backcasting-375-2 .x10-m {
  height: 18px;
  left: 530px;
  object-fit: cover;
  position: absolute;
  top: 4338px;
  width: 38px;
}

.chapter-5-backcasting-375-2 .grupo-144025 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 4839px;
  width: 36px;
}

.chapter-5-backcasting-375-2 .grupo-144032 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 5680px;
  width: 36px;
}

.chapter-5-backcasting-375-2 .grupo-144039 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 4326px;
  width: 36px;
}

.chapter-5-backcasting-375-2 .grupo-144046 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 5864px;
  width: 36px;
}

.chapter-5-backcasting-375-2 .grupo-144168 {
  height: 4px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 290px;
  width: 163px;
}

.chapter-5-backcasting-375-2 .case-study7_-button-3 {
  cursor: pointer;
  height: 516px;
  left: 463px;
  object-fit: cover;
  position: absolute;
  top: 1049px;
  width: 326px;
}

.chapter-5-backcasting-375-2 .componente-4-7 {
  cursor: pointer;
  height: 516px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1552px;
  width: 326px;
}

.chapter-5-backcasting-375-2 .grupo-144195 {
  cursor: pointer;
  height: 498px;
  left: 463px;
  object-fit: cover;
  position: absolute;
  top: 2070px;
  width: 326px;
}

.chapter-5-backcasting-375-2 .grupo-144196 {
  cursor: pointer;
  height: 498px;
  left: 463px;
  object-fit: cover;
  position: absolute;
  top: 2573px;
  width: 326px;
}

.chapter-5-backcasting-375-2 .time60-minutes-3 {
  height: 49px;
  left: 473px;
  object-fit: cover;
  position: absolute;
  top: 3232px;
  width: 99px;
}

.chapter-5-backcasting-375-2 .no-of-participantsle-2 {
  height: 74px;
  left: 473px;
  object-fit: cover;
  position: absolute;
  top: 3323px;
  width: 241px;
}

.chapter-5-backcasting-375-2 .butchersdrawing-paper-3 {
  height: 26px;
  left: 468px;
  object-fit: cover;
  position: absolute;
  top: 3574px;
  width: 272px;
}

.chapter-5-backcasting-375-2 .material-3 {
  height: 24px;
  left: 469px;
  object-fit: cover;
  position: absolute;
  top: 3547px;
  width: 74px;
}

.chapter-5-backcasting-375-2 .facilitation1-facili-2 {
  height: 65px;
  left: 473px;
  object-fit: cover;
  position: absolute;
  top: 3450px;
  width: auto;
}

.chapter-5-backcasting-375-2 .coloured-marker-pens-3 {
  height: 51px;
  left: 468px;
  object-fit: cover;
  position: absolute;
  top: 3700px;
  width: 129px;
}

.chapter-5-backcasting-375-2 .virtual-collaboratio-3 {
  height: 89px;
  left: 470px;
  object-fit: cover;
  position: absolute;
  top: 3885px;
  width: 289px;
}

.chapter-5-backcasting-375-2 .sticky-notes-3 {
  height: 24px;
  left: 470px;
  object-fit: cover;
  position: absolute;
  top: 3637px;
  width: 107px;
}

.chapter-5-backcasting-375-2 .visual-aids-to-inspi-3 {
  height: 60px;
  left: 469px;
  object-fit: cover;
  position: absolute;
  top: 3792px;
  width: auto;
}

.chapter-5-backcasting-375-2 .step-1set-the-scene-2 {
  height: 300px;
  left: 493px;
  object-fit: cover;
  position: absolute;
  top: 4385px;
  width: auto;
}

.chapter-5-backcasting-375-2 .step-3in-small-group-2 {
  height: 745px;
  left: 492px;
  object-fit: cover;
  position: absolute;
  top: 4900px;
  width: 269px;
}

.chapter-5-backcasting-375-2 .step-7get-all-groups-2 {
  height: 85px;
  left: 490px;
  object-fit: cover;
  position: absolute;
  top: 5743px;
  width: 272px;
}

.chapter-5-backcasting-375-2 .step-8-provide-to-pa-2 {
  height: 196px;
  left: 493px;
  object-fit: cover;
  position: absolute;
  top: 5922px;
  width: 269px;
}

.chapter-5-backcasting-375-2 .x60-mpost-activity {
  height: 55px;
  left: 530px;
  object-fit: cover;
  position: absolute;
  top: 5859px;
  width: auto;
}

.chapter-5-backcasting-375-2 .grupo-144075 {
  height: 64px;
  margin-left: 3.0px;
  margin-top: 64px;
  object-fit: cover;
  width: 118px;
}

.chapter-5-backcasting-375-2 .ask-participants-wha {
  height: 330px;
  margin-right: 4.0px;
  margin-top: 44px;
  object-fit: cover;
  width: 289px;
}

.chapter-5-backcasting-375-2 .rose-martin-former-t {
  height: 50px;
  margin-right: 10.46px;
  object-fit: cover;
  width: 282px;
}

.chapter-5-backcasting-375-2 .overlap-group1-2 {
  height: 185px;
  margin-right: 11.0px;
  margin-top: 46px;
  position: relative;
  width: 282px;
}

.chapter-5-backcasting-375-2 .allow-room-for-parti {
  height: 161px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 282px;
}

.chapter-5-backcasting-375-2 .grupo-144254 {
  height: 72px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 160px;
}

.chapter-5-backcasting-375-2 .viewed-the-weights-o {
  height: 187px;
  margin-right: 6.46px;
  margin-top: 25px;
  object-fit: cover;
  width: 278px;
}

.chapter-5-backcasting-375-2 .grupo-144076 {
  height: 57px;
  margin-right: 0;
  margin-top: 42px;
  object-fit: cover;
  width: 57px;
}

.chapter-5-backcasting-375-2 .overlap-group2 {
  align-items: center;
  background-image: url(../img/design-space-paper-textured-background-38@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: 1.0px;
  margin-top: 70px;
  min-height: 667px;
  padding: 3.0px 0;
  width: 376px;
}

.chapter-5-backcasting-375-2 .grupo-144077 {
  height: 68px;
  margin-right: 1.0px;
  margin-top: 73px;
  object-fit: cover;
  width: 230px;
}

.chapter-5-backcasting-375-2 .the-pacific-communit {
  height: 238px;
  margin-right: 1.0px;
  margin-top: 31px;
  object-fit: cover;
  width: 311px;
}

.chapter-5-backcasting-375-2 .grupo-144078 {
  height: 57px;
  margin-left: 0.57px;
  margin-top: 31px;
  object-fit: cover;
  width: 57px;
}

.chapter-5-backcasting-375-2 .footer-3 {
  height: 61px;
  margin-left: 1.0px;
  margin-top: 102px;
  object-fit: cover;
  width: 375px;
}

.chapter-5-backcasting-375-2 .retngulo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-768-2 */

.chapter-5-backcasting-768-2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 768px;
}

.chapter-5-backcasting-768-2 .overlap-group1-1 {
  align-self: flex-start;
  height: 1728px;
  margin-left: -461.16px;
  margin-top: -137px;
  position: relative;
  width: 1673px;
}

.chapter-5-backcasting-768-2 .retngulo-148524 {
  height: 1410px;
  left: 461px;
  top: 222px;
  width: 768px;
}

.chapter-5-backcasting-768-2 .grupo-de-mscara-17 {
  height: 559px;
  left: 422px;
  object-fit: cover;
  position: absolute;
  top: 1074px;
  width: 1251px;
}

.chapter-5-backcasting-768-2 .futures-tri-angle-2 {
  height: 204px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 392px;
  width: 384px;
}

.chapter-5-backcasting-768-2 .describing-our-future {
  height: 77px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 284px;
  width: 276px;
}

.chapter-5-backcasting-768-2 .chapter-3 {
  height: 28px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 259px;
  width: 116px;
}

.chapter-5-backcasting-768-2 .x16 {
  height: 199px;
  left: 983px;
  object-fit: cover;
  position: absolute;
  top: 1254px;
  width: 182px;
}

.chapter-5-backcasting-768-2 .grupo-143968 {
  height: 864px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-768-2 .retngulo-148486 {
  height: 81px;
  left: 461px;
  top: 137px;
  width: 768px;
}

.chapter-5-backcasting-768-2 .grupo-143707 {
  height: 47px;
  left: 695px;
  object-fit: cover;
  position: absolute;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-768-2 .spc-cps-logo_27_stars-white-2 {
  height: 50px;
  left: 480px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-768-2 .menu {
  height: 81px;
  left: 1148px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-768-2 .grupo-143711 {
  height: 5px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 768px;
}

.chapter-5-backcasting-768-2 .grupo-143975 {
  height: 45px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 537px;
  width: 282px;
}

.chapter-5-backcasting-768-2 .more_-info-button-v-2 {
  cursor: pointer;
  height: 40px;
  left: 542px;
  object-fit: cover;
  position: absolute;
  top: 1114px;
  width: 174px;
}

.chapter-5-backcasting-768-2 .quesiton_-tabs-v-2 {
  height: 167px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 635px;
  width: 384px;
}

.chapter-5-backcasting-768-2 .grupo-144170 {
  cursor: pointer;
  height: 450px;
  left: 736px;
  object-fit: cover;
  position: absolute;
  top: 828px;
  width: 494px;
}

.chapter-5-backcasting-768-2 .grupo-2854-2 {
  height: 140px;
  left: 505px;
  object-fit: cover;
  position: absolute;
  top: 378px;
  width: 150px;
}

.chapter-5-backcasting-768-2 .case-study7_-button-2 {
  cursor: pointer;
  height: 516px;
  left: 514px;
  object-fit: cover;
  position: absolute;
  top: 1212px;
  width: 326px;
}

.chapter-5-backcasting-768-2 .componente-4-8 {
  cursor: pointer;
  height: 516px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1212px;
  width: 326px;
}

.chapter-5-backcasting-768-2 .grupo-container {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  margin-right: 1.52px;
  margin-top: 6px;
  min-width: 660px;
}

.chapter-5-backcasting-768-2 .grupo-285 {
  cursor: pointer;
  height: 498px;
  object-fit: cover;
  width: 326px;
}

.chapter-5-backcasting-768-2 .flex-row {
  align-items: center;
  display: flex;
  gap: 3px;
  height: 1295px;
  margin-right: 138.0px;
  margin-top: 89px;
  min-width: 478px;
}

.chapter-5-backcasting-768-2 .grupo-container-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 159.5px;
  min-height: 743px;
  width: 80px;
}

.chapter-5-backcasting-768-2 .grupo-8843-1 {
  height: 64px;
  margin-right: 8.2px;
  object-fit: cover;
  width: 64px;
}

.chapter-5-backcasting-768-2 .grupo-8844-1 {
  height: 53px;
  margin-right: 7.29px;
  margin-top: 43px;
  object-fit: cover;
  width: 63px;
}

.chapter-5-backcasting-768-2 .grupo-8845-1 {
  height: 54px;
  margin-right: 6.66px;
  margin-top: 44px;
  object-fit: cover;
  width: 40px;
}

.chapter-5-backcasting-768-2 .grupo-8850-1 {
  height: 58px;
  margin-right: 0.43px;
  margin-top: 48px;
  object-fit: cover;
  width: 64px;
}

.chapter-5-backcasting-768-2 .grupo-144192-1 {
  align-self: flex-start;
  height: 69px;
  margin-left: 4.0px;
  margin-top: 40px;
  object-fit: cover;
  width: 55px;
}

.chapter-5-backcasting-768-2 .grupo-144193-1 {
  height: 53px;
  margin-right: 3.98px;
  margin-top: 22px;
  object-fit: cover;
  width: 68px;
}

.chapter-5-backcasting-768-2 .grupo-144191-1 {
  height: 44px;
  margin-right: 6.83px;
  margin-top: 51px;
  object-fit: cover;
  width: 65px;
}

.chapter-5-backcasting-768-2 .grupo-144194-1 {
  height: 59px;
  margin-top: 44px;
  object-fit: cover;
  width: 80px;
}

.chapter-5-backcasting-768-2 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1295px;
  width: 395px;
}

.chapter-5-backcasting-768-2 .time60-minutes-2 {
  height: 49px;
  margin-left: 1.31px;
  margin-top: 107px;
  object-fit: cover;
  width: 99px;
}

.chapter-5-backcasting-768-2 .no-of-participantsle-1 {
  height: 74px;
  margin-left: 1.31px;
  margin-top: 44px;
  object-fit: cover;
  width: 241px;
}

.chapter-5-backcasting-768-2 .facilitation1-facili-1 {
  height: 65px;
  margin-left: 1.31px;
  margin-top: 35px;
  object-fit: cover;
  width: auto;
}

.chapter-5-backcasting-768-2 .overlap-group5-1 {
  height: 48px;
  margin-left: 1.55px;
  margin-top: 50px;
  position: relative;
  width: 273px;
}

.chapter-5-backcasting-768-2 .butchersdrawing-paper-2 {
  height: 26px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 272px;
}

.chapter-5-backcasting-768-2 .material-2 {
  height: 24px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 74px;
}

.chapter-5-backcasting-768-2 .sticky-notes-2 {
  height: 24px;
  margin-left: 2.1px;
  margin-top: 50px;
  object-fit: cover;
  width: 107px;
}

.chapter-5-backcasting-768-2 .coloured-marker-pens-2 {
  height: 51px;
  margin-left: 0.76px;
  margin-top: 54px;
  object-fit: cover;
  width: 129px;
}

.chapter-5-backcasting-768-2 .visual-aids-to-inspi-2 {
  height: 65px;
  margin-top: 50px;
  object-fit: cover;
  width: auto;
}

.chapter-5-backcasting-768-2 .virtual-collaboratio-2 {
  height: 65px;
  margin-left: 1.55px;
  margin-top: 39px;
  object-fit: cover;
  width: auto;
}

.chapter-5-backcasting-768-2 .grupo-143971 {
  align-self: center;
  height: 45px;
  margin-left: 54.55px;
  margin-top: 69px;
  object-fit: cover;
  width: 282px;
}

.chapter-5-backcasting-768-2 .grupo-143977 {
  align-self: flex-end;
  height: 94px;
  margin-right: 27.0px;
  margin-top: 149px;
  object-fit: cover;
  width: 286px;
}

.chapter-5-backcasting-768-2 .group-container-3 {
  background-image: url(../img/ret-ngulo-148526-2@1x.png);
  gap: 30px;
  margin-top: 54px;
  min-height: 653px;
}

.chapter-5-backcasting-768-2 .overlap-group-3 {
  height: 51px;
  position: relative;
  width: 605px;
}

.chapter-5-backcasting-768-2 .introduce-activity-1 {
  height: 30px;
  left: 135px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: auto;
}

.chapter-5-backcasting-768-2 .retngulo-14853 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 0;
  top: 0;
  width: 185px;
}

.chapter-5-backcasting-768-2 .x10-minutes-1 {
  height: 21px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 93px;
}

.chapter-5-backcasting-768-2 .grupo-14 {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 36px;
}

.chapter-5-backcasting-768-2 .step-1set-the-scene-1 {
  height: 553px;
  margin-left: 14.75px;
  object-fit: cover;
  width: 554px;
}

.chapter-5-backcasting-768-2 .group-container-4 {
  gap: 29px;
  margin-top: 31px;
}

.group-container-4bg {
  width: 605px;
  height: 1150px;
  position: absolute;
}

.chapter-5-backcasting-768-2 .complete-the-activity-1 {
  height: 22px;
  left: 190px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: auto;
}

.chapter-5-backcasting-768-2 .x30-minutes-1 {
  height: 21px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 96px;
}

.chapter-5-backcasting-768-2 .step-3in-small-group-1 {
  height: auto;
  margin-left: 7.21px;
  object-fit: cover;
  width: 538px;
  z-index: 1000;
}

.chapter-5-backcasting-768-2 .group-container-5 {
  background-image: url(../img/ret-ngulo-148530-1@1x.png);
  gap: 25px;
  margin-top: 34px;
  min-height: 234px;
}

.chapter-5-backcasting-768-2 .reflect-summarise-activity-1 {
  height: 24px;
  left: 185px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 420px;
}

.chapter-5-backcasting-768-2 .x15-minutes-1 {
  height: 21px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 91px;
}

.chapter-5-backcasting-768-2 .step-7get-all-groups-1 {
  height: 150px;
  margin-left:100px;
  object-fit: cover;
  width: auto;
}

.chapter-5-backcasting-768-2 .group-container-6 {
  gap: 37px;
  margin-top: 33px;
  min-height: 320px;
}

.group-container-6bg {
  width: 605px;
  height: 350px;
  position: absolute;
  margin-top:15px;
}

.chapter-5-backcasting-768-2 .consolidate-information-1 {
  height: 28px;
  left: 170px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: auto;
}

.chapter-5-backcasting-768-2 .retngulo-148532 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 0;
  top: 0;
  width: 250px;
}

.chapter-5-backcasting-768-2 .x60-minutes-post-activity-1 {
  height: 50px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: auto;
}

.chapter-5-backcasting-768-2 .step-8-provide-to-pa-1 {
  height: 250px;
  margin-right: -130px;
  object-fit: cover;
  width: auto;
  z-index: 10;
}

.chapter-5-backcasting-768-2 .footer-2 {
  height: 61px;
  margin-top: 88px;
  object-fit: cover;
  width: 768px;
}

.chapter-5-backcasting-768-2 .group-container {
  align-items: center;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 1.0px;
  width: 605px;
}

.chapter-5-backcasting-768-2 .retngulo {
  object-fit: cover;
  position: absolute;
}

.link11 {
  cursor: pointer;
  position: absolute;
  right: 60px;
  top:7550px;
  width: 70%;
  height: auto;
  z-index: 700;
}

.link22 {
  cursor: pointer;
  position: absolute;
  right: 60px;
  top:7703px;
  width: 70%;
  height: auto;
  z-index: 700;
}

@media screen and (max-width: 767px) {
  .screen.chapter-5-backcasting-1920-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-1280-2-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-768-2 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.chapter-5-backcasting-1920-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-1280-2-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-375-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.chapter-5-backcasting-1920-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-768-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-375-2 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.chapter-5-backcasting-1280-2-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-768-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-375-2 { 
    display: none;
   }
}