/* screen - chapter-5-backcasting-case-study-15-1280-1-all-breakpoints */

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2150px;
  overflow: hidden;
  width: 1280px;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .overlap-group-1 {
  height: 2232px;
  margin-left: -461.25px;
  margin-top: -138px;
  position: relative;
  width: 1916px;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .retngulo-148562 {
  height: 2010px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 223px;
  width: 1280px;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .grupo-144128 {
  height: 1283px;
  left: 461px;
  top: 610px;
  width: 1280px;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .caminho-62184 {
  height: 1903px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 272px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .design-space-paper-textured-background-1 {
  height: 1901px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .grupo-144129 {
  height: 537px;
  left: 512px;
  top: 274px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .spc-cps-logo_27_stars-white {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: 122px;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .header {
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 138px;
  width: 1280px;
  height: auto;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .case-study-8visionin-1 {
  height: 224px;
  left: 698px;
  object-fit: cover;
  position: absolute;
  top: 363px;
  width: 1218px;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .we-held-a-special-vi-1 {
  height: 143px;
  left: 698px;
  object-fit: cover;
  position: absolute;
  top: 610px;
  width: 637px;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .what-happenedpartici {
  height: 94px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 1474px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .what-we-learnt-using-1 {
  height: 196px;
  left: 1035px;
  object-fit: cover;
  position: absolute;
  top: 1474px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .figure-9-extract-fro-1 {
  height: 74px;
  left: 1035px;
  object-fit: cover;
  position: absolute;
  top: 851px;
  width: 513px;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .source-pacific-community-spc-1 {
  height: 18px;
  left: 1035px;
  object-fit: cover;
  position: absolute;
  top: 1354px;
  width: 636px;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .what-we-did-we-used-1 {
  height: 530px;
  left: 601px;
  object-fit: cover;
  position: absolute;
  top: 858px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .grupo-2585-1 {
  height: 29px;
  left: 601px;
  object-fit: cover;
  position: absolute;
  top: 1291px;
  width: 120px;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .grupo-2587-1 {
  height: 25px;
  left: 741px;
  object-fit: cover;
  position: absolute;
  top: 1295px;
  width: 257px;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .developing-interacti-1 {
  height: 280px;
  left: 639px;
  object-fit: cover;
  position: absolute;
  top: 1595px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .we-used-the-contribu-1 {
  height: auto;
  left: 592px;
  top: 1857px;
  width: 430px;
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .grupo-2588-1 {
  height: auto;
  left: 616px;
  object-fit: cover;
  position: absolute;
  top: 1603px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .figure_8-1 {
  height: 385px;
  left: 1035px;
  object-fit: cover;
  position: absolute;
  top: 946px;
  width: 555px;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .grupo-2586-1 {
  height: 5px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 1391px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .quote_-buttuon-1 {
  cursor: pointer;
  height: 162px;
  left: 1364px;
  object-fit: cover;
  position: absolute;
  top: 589px;
  width: 216px;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .footer {
  height: 61px;
  object-fit: cover;
  width: 1280px;
}

.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints .grupo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-case-study-15-1920-1 */

.chapter-5-backcasting-case-study-15-1920-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2150px;
  overflow: hidden;
  width: 1920px;
}

.chapter-5-backcasting-case-study-15-1920-1 .overlap-group {
  height: 2289px;
  margin-left: -461px;
  margin-top: -137.47px;
  position: relative;
  width: 2381px;
}

.chapter-5-backcasting-case-study-15-1920-1 .retngulo-443 {
  height: 2010px;
  left: 461px;
  top: 223px;
  width: 1920px;
}

.chapter-5-backcasting-case-study-15-1920-1 .grupo-8857 {
  height: 864px;
  left: 0;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-case-study-15-1920-1 .grupo-8876 {
  height: 1275px;
  left: 461px;
  top: 617px;
  width: 1273px;
}

.chapter-5-backcasting-case-study-15-1920-1 .retngulo-444 {
  height: 1828px;
  left: 631px;
  top: 272px;
  width: 1639px;
}

.chapter-5-backcasting-case-study-15-1920-1 .design-space-paper-textured-background {
  height: 1826px;
  left: 631px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1640px;
}

.chapter-5-backcasting-case-study-15-1920-1 .grupo-8877 {
  height: 86px;
  left: 461px;
  top: 138px;
  width: 1920px;
}

.chapter-5-backcasting-case-study-15-1920-1 .grupo-8878 {
  height: 537px;
  left: 631px;
  top: 274px;
  width: 1639px;
}

.chapter-5-backcasting-case-study-15-1920-1 .x {
  cursor: pointer;
  height: 94px;
  left: 2182px;
  object-fit: cover;
  position: absolute;
  top: 268px;
  width: 94px;
}

.chapter-5-backcasting-case-study-15-1920-1 .grupo-8883 {
  height: 61px;
  left: 461px;
  top: 2228px;
  width: 1920px;
}

.chapter-5-backcasting-case-study-15-1920-1 .we-held-a-special-vi {
  height: 105px;
  left: 781px;
  object-fit: cover;
  position: absolute;
  top: 648px;
  width: 973px;
}

.chapter-5-backcasting-case-study-15-1920-1 .what-happened-partic {
  height: 92px;
  left: 774px;
  object-fit: cover;
  position: absolute;
  top: 1482px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1920-1 .source-pacific-community-spc {
  height: 18px;
  left: 1435px;
  object-fit: cover;
  position: absolute;
  top: 1480px;
  width: 636px;
}

.chapter-5-backcasting-case-study-15-1920-1 .what-we-did-we-used {
  height: 300px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 866px;
  width: 494px;
}

.chapter-5-backcasting-case-study-15-1920-1 .grupo-2585 {
  height: 29px;
  left: 773px;
  top: 1202px;
  width: 120px;
}

.chapter-5-backcasting-case-study-15-1920-1 .grupo-2587 {
  height: 25px;
  left: 913px;
  top: 1206px;
  width: 257px;
}

.chapter-5-backcasting-case-study-15-1920-1 .we-used-the-contribu {
  height: 192px;
  left: 774px;
  object-fit: cover;
  position: absolute;
  top: 1819px;
  width: 494px;
}

.chapter-5-backcasting-case-study-15-1920-1 .grupo-2588 {
  height: auto;
  left: 799px;
  top: 1601px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-1920-1 .grupo-2586 {
  height: 5px;
  left: 774px;
  top: 1440px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-1920-1 .the-facilitators-rol {
  height: 90px;
  left: 774px;
  object-fit: cover;
  position: absolute;
  top: 1284px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1920-1 .quote_-buttuon {
  cursor: pointer;
  height: 162px;
  left: 1885px;
  object-fit: cover;
  position: absolute;
  top: 596px;
  width: 216px;
}

.chapter-5-backcasting-case-study-15-1920-1 .grupo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-15-1920-1 .retngulo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-case-study-15-375-1 */

.chapter-5-backcasting-case-study-15-375-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3541px;
  overflow: hidden;
  width: 375px;
}

.chapter-5-backcasting-case-study-15-375-1 .overlap-group-3 {
  height: 3432px;
  position: relative;
  width: 1264px;
}

.chapter-5-backcasting-case-study-15-375-1 .grupo-144151 {
  height: 723px;
  left: 0;
  top: 167px;
  width: 1264px;
}

.chapter-5-backcasting-case-study-15-375-1 .retngulo-148492 {
  height: 81px;
  top: 0;
}

.chapter-5-backcasting-case-study-15-375-1 .spc-cps-logo_27_stars-white-2 {
  height: 50px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 122px;
}

.chapter-5-backcasting-case-study-15-375-1 .menu-1 {
  height: 81px;
  left: 294px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 81px;
}

.chapter-5-backcasting-case-study-15-375-1 .grupo-143932 {
  height: 5px;
  left: 0;
  top: 80px;
  width: 375px;
}

.chapter-5-backcasting-case-study-15-375-1 .retngulo-148565 {
  height: 46px;
  top: 81px;
}

.chapter-5-backcasting-case-study-15-375-1 .grupo-144152 {
  cursor: pointer;
  height: 54px;
  left: 323px;
  top: 124px;
  width: 54px;
}

.chapter-5-backcasting-case-study-15-375-1 .design-space-paper-textured-background-3 {
  height: 2726px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 707px;
  width: 375px;
}

.chapter-5-backcasting-case-study-15-375-1 .case-study-8visionin-3 {
  height: 160px;
  left: 51px;
  object-fit: cover;
  position: absolute;
  top: 207px;
  width: 273px;
}

.chapter-5-backcasting-case-study-15-375-1 .we-held-a-special-vi-3 {
  height: 143px;
  left: 56px;
  object-fit: cover;
  position: absolute;
  top: 410px;
  width: 267px;
}

.chapter-5-backcasting-case-study-15-375-1 .what-we-did-we-used-3 {
  height: 382px;
  left: 34px;
  object-fit: cover;
  position: absolute;
  top: 729px;
  width: 313px;
}

.chapter-5-backcasting-case-study-15-375-1 .grupo-144210 {
  height: 29px;
  left: 38px;
  top: 1061px;
  width: 120px;
}

.chapter-5-backcasting-case-study-15-375-1 .grupo-144181 {
  height: 147px;
  left: 40px;
  top: 1106px;
  width: 37px;
}

.chapter-5-backcasting-case-study-15-375-1 .figure-9-extract-fro-3 {
  height: 68px;
  left: 38px;
  object-fit: cover;
  position: absolute;
  top: 1278px;
  width: 309px;
}

.chapter-5-backcasting-case-study-15-375-1 .figure_8-3 {
  height: 208px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 1371px;
  width: 300px;
}

.chapter-5-backcasting-case-study-15-375-1 .source-pacific-community-spc-3 {
  height: 18px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 1586px;
  width: 636px;
}

.chapter-5-backcasting-case-study-15-375-1 .grupo-144211 {
  height: 5px;
  left: 39px;
  top: 1644px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-375-1 .what-happened-partic-1 {
  height: 83px;
  left: 34px;
  object-fit: cover;
  position: absolute;
  top: 1682px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-375-1 .developing-interacti-3 {
  height: 275px;
  left: 82px;
  object-fit: cover;
  position: absolute;
  top: 1783px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-375-1 .grupo-1072 {
  height: 9px;
  left: 61px;
  top: 1812px;
  width: 9px;
}

.chapter-5-backcasting-case-study-15-375-1 .grupo-1073 {
  height: 11px;
  left: 59px;
  top: 1790px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-375-1 .grupo-1075 {
  height: 9px;
  left: 61px;
  top: 1834px;
  width: 9px;
}

.chapter-5-backcasting-case-study-15-375-1 .grupo-1076 {
  height: 11px;
  left: 59px;
  top: 1838px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-375-1 .grupo-1079 {
  height: 11px;
  left: 59px;
  top: 1885px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-375-1 .grupo-1085 {
  height: 11px;
  left: 59px;
  top: 1978px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-375-1 .we-used-the-contribu-3 {
  height: 193px;
  left: 35px;
  top: 2061px;
  width: 312px;
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-15-375-1 .what-we-learnt-using-3 {
  height: 238px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 2278px;
  width: 300px;
}

.chapter-5-backcasting-case-study-15-375-1 .componente-43-4 {
  height: 93px;
  left: 213px;
  object-fit: cover;
  position: absolute;
  top: 571px;
  width: 124px;
}

.chapter-5-backcasting-case-study-15-375-1 .we-found-that-this-t {
  height: 513px;
  left: 46px;
  object-fit: cover;
  position: absolute;
  top: 2709px;
  width: 273px;
}

.chapter-5-backcasting-case-study-15-375-1 .grupo-144166 {
  height: 78px;
  left: 36px;
  top: 2607px;
  width: 128px;
}

.chapter-5-backcasting-case-study-15-375-1 .sarah-mecartney-prin {
  height: 60px;
  left: 46px;
  object-fit: cover;
  position: absolute;
  top: 3257px;
  width: 273px;
}

.chapter-5-backcasting-case-study-15-375-1 .grupo-144167 {
  height: 57px;
  left: 261px;
  top: 2618px;
  width: 57px;
}

.chapter-5-backcasting-case-study-15-375-1 .overlap-group1 {
  height: 107px;
  position: relative;
  width: 375px;
}

.chapter-5-backcasting-case-study-15-375-1 .footer-2 {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 46px;
  width: 375px;
}

.chapter-5-backcasting-case-study-15-375-1 .retngulo-148566 {
  height: 46px;
  top: 0;
}

.chapter-5-backcasting-case-study-15-375-1 .grupo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-15-375-1 .retngulo {
  left: 0;
  object-fit: cover;
  position: absolute;
  width: 375px;
}
/* screen - chapter-5-backcasting-case-study-15-768-1 */

.chapter-5-backcasting-case-study-15-768-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3236px;
  overflow: hidden;
  width: 768px;
}

.chapter-5-backcasting-case-study-15-768-1 .overlap-group-2 {
  height: 3373px;
  margin-left: -347px;
  margin-top: -137.47px;
  position: relative;
  width: 1611px;
}

.chapter-5-backcasting-case-study-15-768-1 .grupo-144140 {
  height: 893px;
  left: 347px;
  top: 340px;
  width: 1264px;
}

.chapter-5-backcasting-case-study-15-768-1 .design-space-paper-textured-background-2 {
  height: 2277px;
  left: 347px;
  object-fit: cover;
  position: absolute;
  top: 1096px;
  width: 768px;
}

.chapter-5-backcasting-case-study-15-768-1 .retngulo-148524 {
  height: 46px;
  top: 222px;
}

.chapter-5-backcasting-case-study-15-768-1 .grupo-13 {
  height: 645px;
  left: 0;
  top: 0;
  width: 641px;
}

.chapter-5-backcasting-case-study-15-768-1 .retngulo-148486 {
  height: 81px;
  top: 137px;
}

.chapter-5-backcasting-case-study-15-768-1 .grupo-143707 {
  height: 47px;
  left: 581px;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-case-study-15-768-1 .spc-cps-logo_27_stars-white-1 {
  height: 50px;
  left: 366px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-case-study-15-768-1 .menu {
  height: 81px;
  left: 1034px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-case-study-15-768-1 .grupo-143711 {
  height: 5px;
  left: 347px;
  top: 218px;
  width: 768px;
}

.chapter-5-backcasting-case-study-15-768-1 .grupo-144138 {
  cursor: pointer;
  height: 94px;
  left: 1027px;
  top: 265px;
  width: 94px;
}

.chapter-5-backcasting-case-study-15-768-1 .footer-1 {
  height: 61px;
  left: 347px;
  object-fit: cover;
  position: absolute;
  top: 3312px;
  width: 768px;
}

.chapter-5-backcasting-case-study-15-768-1 .retngulo-148564 {
  height: 46px;
  top: 3266px;
}

.chapter-5-backcasting-case-study-15-768-1 .grupo-144198 {
  height: 119px;
  left: 366px;
  top: 280px;
  width: 128px;
}

.chapter-5-backcasting-case-study-15-768-1 .case-study-8visionin-2 {
  height: 313px;
  left: 508px;
  object-fit: cover;
  position: absolute;
  top: 322px;
  width: 527px;
}

.chapter-5-backcasting-case-study-15-768-1 .we-held-a-special-vi-2 {
  height: 181px;
  left: 505px;
  object-fit: cover;
  position: absolute;
  top: 660px;
  width: 530px;
}

.chapter-5-backcasting-case-study-15-768-1 .what-we-did-we-used-2 {
  height: 255px;
  left: 424px;
  object-fit: cover;
  position: absolute;
  top: 1156px;
  width: 610px;
}

.chapter-5-backcasting-case-study-15-768-1 .grupo-144206 {
  height: 29px;
  left: 424px;
  top: 1436px;
  width: 120px;
}

.chapter-5-backcasting-case-study-15-768-1 .grupo-144207 {
  height: 228px;
  left: 454px;
  top: 1479px;
  width: 38px;
}

.chapter-5-backcasting-case-study-15-768-1 .figure-9-extract-fro-2 {
  height: 74px;
  left: 427px;
  object-fit: cover;
  position: absolute;
  top: 1719px;
  width: 513px;
}

.chapter-5-backcasting-case-study-15-768-1 .figure_8-2 {
  height: 422px;
  left: 427px;
  object-fit: cover;
  position: absolute;
  top: 1814px;
  width: 607px;
}

.chapter-5-backcasting-case-study-15-768-1 .source-pacific-community-spc-2 {
  height: 18px;
  left: 425px;
  object-fit: cover;
  position: absolute;
  top: 2250px;
  width: 636px;
}

.chapter-5-backcasting-case-study-15-768-1 .grupo-144208 {
  height: 5px;
  left: 427px;
  top: 2330px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-768-1 .what-happenedpartici-1 {
  height: 104px;
  left: 431px;
  object-fit: cover;
  position: absolute;
  top: 2394px;
  width: 450px;
}

.chapter-5-backcasting-case-study-15-768-1 .developing-interacti-2 {
  height: 265px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 2515px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-768-1 .we-used-the-contribu-2 {
  height: 164px;
  left: 427px;
  top: 2777px;
  width: 608px;
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-15-768-1 .grupo-144209 {
  height: auto;
  left: 456px;
  top: 2523px;
  width: 11px;
}

.chapter-5-backcasting-case-study-15-768-1 .what-we-learnt-using-2 {
  height: 188px;
  left: 427px;
  object-fit: cover;
  position: absolute;
  top: 2957px;
  width: 607px;
}

.chapter-5-backcasting-case-study-15-768-1 .quote_-buttuon-2 {
  cursor: pointer;
  height: 162px;
  left: 818px;
  object-fit: cover;
  position: absolute;
  top: 888px;
  width: 216px;
}

.chapter-5-backcasting-case-study-15-768-1 .grupo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-15-768-1 .retngulo {
  left: 347px;
  object-fit: cover;
  position: absolute;
  width: 768px;
}



.linkk {
  position: absolute;
  cursor: pointer;
  top: 1872px;
  width: 494px;
  height: auto;
  left: 774px;
  z-index: 70;
}

.linkk2 {
  position: absolute;
  cursor: pointer;
  left: 602px;
  top: 1940px;
  width: 382px;
  height: auto;
  z-index: 70;
}

.linkk3 {
  position: absolute;
  cursor: pointer;
  left: 427px;
  top: 2832px;
  width: 608px;
  height: auto;
  z-index: 70;
}

.linkk4 {
  position: absolute;
  cursor: pointer;
  left: 35px;
  top: 2133px;
  width: 312px;
  height: auto;
  z-index: 70;
}

@media screen and (max-width: 767px) {
  .screen.chapter-5-backcasting-case-study-15-1920-1 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-768-1 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.chapter-5-backcasting-case-study-15-1920-1 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-375-1 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.chapter-5-backcasting-case-study-15-1920-1 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-768-1 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-375-1 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.chapter-5-backcasting-case-study-15-1280-1-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-768-1 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-375-1 { 
    display: none;
   }
}