/* screen - chapter-5-backcasting-case-study-16-1280-2 */

.chapter-5-backcasting-case-study-16-1280-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2298px;
  overflow: hidden;
  width: 1280px;
}

.chapter-5-backcasting-case-study-16-1280-2 .overlap-group-1 {
  height: 2375px;
  margin-left: -461.25px;
  margin-top: -138px;
  position: relative;
  width: 1741px;
}

.chapter-5-backcasting-case-study-16-1280-2 .retngulo-148562 {
  height: 2153px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 223px;
  width: 1280px;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo-144109 {
  height: 864px;
  left: 0;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo-144128 {
  height: 1283px;
  left: 461px;
  top: 1034px;
  width: 1280px;
}

.chapter-5-backcasting-case-study-16-1280-2 .caminho-62184 {
  height: 2044px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 272px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-16-1280-2 .design-space-paper-textured-background-1 {
  height: 2042px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo-144129 {
  height: 537px;
  left: 512px;
  top: 274px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-16-1280-2 .spc-cps-logo_27_stars-white-1 {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-1280-2 .header-1 {
  height: 86px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 138px;
  width: 1280px;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo-144141 {
  height: 94px;
  left: 1602px;
  top: 269px;
  width: 94px;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo-5635-1 {
  height: 171px;
  left: 487px;
  object-fit: cover;
  position: absolute;
  top: 370px;
  width: 178px;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo-de-mscara-14-1 {
  left: 198px;
  top: 656px;
}

.chapter-5-backcasting-case-study-16-1280-2 .quote_-buttuon-1 {
  cursor: pointer;
  height: 162px;
  left: 1341px;
  object-fit: cover;
  position: absolute;
  top: 465px;
  width: 216px;
}

.chapter-5-backcasting-case-study-16-1280-2 .spc-regional-directo-1 {
  height: 105px;
  left: 700px;
  object-fit: cover;
  position: absolute;
  top: 650px;
  width: 913px;
}

.chapter-5-backcasting-case-study-16-1280-2 .case-study-14creatin-1 {
  height: 212px;
  left: 700px;
  object-fit: cover;
  position: absolute;
  top: 363px;
  width: 926px;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo-de-mscara-14-2 {
  left: 187px;
  top: 686px;
}

.chapter-5-backcasting-case-study-16-1280-2 .what-we-did-1 {
  height: 29px;
  left: 547px;
  object-fit: cover;
  position: absolute;
  top: 897px;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-1280-2 .what-we-learnt-1 {
  height: 29px;
  left: 547px;
  object-fit: cover;
  position: absolute;
  top: 2056px;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-1280-2 .what-happened-1 {
  height: 29px;
  left: 1130px;
  object-fit: cover;
  position: absolute;
  top: 897px;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-1280-2 .using-conceptboard-w-1 {
  height: 284px;
  left: 550px;
  object-fit: cover;
  position: absolute;
  top: 944px;
  width: 525px;
}

.chapter-5-backcasting-case-study-16-1280-2 .cla-helped-us-refine-1 {
  height: 149px;
  left: 550px;
  object-fit: cover;
  position: absolute;
  top: 2104px;
  width: 525px;
}

.chapter-5-backcasting-case-study-16-1280-2 .we-documented-partic-1 {
  height: 184px;
  left: 1133px;
  object-fit: cover;
  position: absolute;
  top: 944px;
  width: 525px;
}

.chapter-5-backcasting-case-study-16-1280-2 .figure-13-causal-lay-1 {
  height: 49px;
  left: 553px;
  object-fit: cover;
  position: absolute;
  top: 1341px;
  width: 723px;
}

.chapter-5-backcasting-case-study-16-1280-2 .source-spc-1 {
  height: 18px;
  left: 546px;
  object-fit: cover;
  position: absolute;
  top: 1927px;
  width: 83px;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo-8712-1 {
  height: 247px;
  left: 1293px;
  object-fit: cover;
  position: absolute;
  top: 1094px;
  width: 218px;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo-8713-1 {
  height: 497px;
  left: 550px;
  object-fit: cover;
  position: absolute;
  top: 1410px;
  width: 1028px;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo-8714-1 {
  height: 5px;
  left: 547px;
  object-fit: cover;
  position: absolute;
  top: 2008px;
  width: 199px;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo-8710-1 {
  height: 360px;
  left: 1098px;
  object-fit: cover;
  position: absolute;
  top: 888px;
  width: 5px;
}

.chapter-5-backcasting-case-study-16-1280-2 .footer {
  height: 61px;
  object-fit: cover;
  width: 1280px;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-16-1280-2 .grupo-de-mscara-14 {
  height: 559px;
  object-fit: cover;
  position: absolute;
  width: 1251px;
}
/* screen - chapter-5-backcasting-case-study-16-1920-2-all-breakpoints */

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2391px;
  overflow: hidden;
  width: 1920px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .overlap-group {
  height: 2469px;
  margin-left: -461.25px;
  margin-top: -138px;
  position: relative;
  width: 2381px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .retngulo-148560 {
  height: 1887px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 583px;
  width: 1920px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .grupo-144079 {
  height: 864px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .grupo-144098 {
  height: 1275px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 617px;
  width: 1273px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .caminho-62165 {
  height: 2268px;
  left: 631px;
  object-fit: cover;
  position: absolute;
  top: 82px;
  width: 1639px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .design-space-paper-textured-background {
  height: 2266px;
  left: 631px;
  object-fit: cover;
  position: absolute;
  top: 84px;
  width: 1640px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .grupo-144099 {
  height: 537px;
  left: 631px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1639px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .componente-42-3 {
  height: 94px;
  left: 2182px;
  object-fit: cover;
  position: absolute;
  top: 268px;
  width: 94px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .spc-cps-logo_27_stars-white {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .grupo-8840 {
  height: 22px;
  left: 2326px;
  object-fit: cover;
  position: absolute;
  top: 168px;
  width: 30px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .header {
  height: 86px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 138px;
  width: auto;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .grupo-5635 {
  height: 171px;
  left: 487px;
  object-fit: cover;
  position: absolute;
  top: 370px;
  width: 178px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .quote_-buttuon {
  cursor: pointer;
  height: 162px;
  left: 1837px;
  object-fit: cover;
  position: absolute;
  top: 623px;
  width: 216px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .grupo-de-mscara-14 {
  height: 559px;
  left: 413px;
  object-fit: cover;
  position: absolute;
  top: 656px;
  width: 1251px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .spc-regional-directo {
  height: 105px;
  left: 781px;
  object-fit: cover;
  position: absolute;
  top: 650px;
  width: 913px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .case-study-14creatin {
  height: 212px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 363px;
  width: 926px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .what-we-did {
  top: 867px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .what-we-learnt {
  top: 2026px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .what-happened {
  height: 29px;
  left: 1452px;
  object-fit: cover;
  position: absolute;
  top: 867px;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .using-conceptboard-w {
  height: 284px;
  left: 776px;
  object-fit: cover;
  position: absolute;
  top: 914px;
  width: 525px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .cla-helped-us-refine {
  height: 149px;
  left: 776px;
  object-fit: cover;
  position: absolute;
  top: 2074px;
  width: 525px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .we-documented-partic {
  height: 184px;
  left: 1455px;
  object-fit: cover;
  position: absolute;
  top: 914px;
  width: 525px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .grupo-8710 {
  height: 304px;
  left: 1378px;
  object-fit: cover;
  position: absolute;
  top: 883px;
  width: 5px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .figure-13-causal-lay {
  height: 49px;
  left: 776px;
  object-fit: cover;
  position: absolute;
  top: 1311px;
  width: 723px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .source-spc {
  height: 18px;
  left: 772px;
  object-fit: cover;
  position: absolute;
  top: 1897px;
  width: 83px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .grupo-8712 {
  height: 247px;
  left: 1615px;
  object-fit: cover;
  position: absolute;
  top: 1064px;
  width: 218px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .grupo-8713 {
  height: 497px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 1380px;
  width: 1028px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .grupo-8714 {
  height: 5px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 1978px;
  width: 199px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .grupo-144102 {
  height: 61px;
  margin-left: -0.09px;
  object-fit: cover;
  width: 1920px;
}

.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints .what-we {
  height: 29px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  width: 494px;
}
/* screen - chapter-5-backcasting-case-study-16-375-2 */

.chapter-5-backcasting-case-study-16-375-2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3006px;
  overflow: hidden;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375-2 .overlap-group-3 {
  align-self: flex-start;
  height: 2003px;
  position: relative;
  width: 1264px;
}

.chapter-5-backcasting-case-study-16-375-2 .grupo-144151 {
  height: 723px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 127px;
  width: 1264px;
}

.chapter-5-backcasting-case-study-16-375-2 .retngulo-148492 {
  height: 81px;
  left: 0;
  position: absolute;
  top: 0;
}

.chapter-5-backcasting-case-study-16-375-2 .spc-cps-logo_27_stars-white-3 {
  height: 50px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-375-2 .menu-1 {
  height: 81px;
  left: 294px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 81px;
}

.chapter-5-backcasting-case-study-16-375-2 .grupo-143932 {
  height: 5px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375-2 .retngulo-148565 {
  height: 46px;
  left: 0;
  position: absolute;
  top: 81px;
}

.chapter-5-backcasting-case-study-16-375-2 .grupo-144152 {
  height: 54px;
  left: 323px;
  object-fit: cover;
  position: absolute;
  top: 124px;
  width: 54px;
}

.chapter-5-backcasting-case-study-16-375-2 .case-study-14creatin-3 {
  height: 114px;
  left: 51px;
  object-fit: cover;
  position: absolute;
  top: 206px;
  width: 273px;
}

.chapter-5-backcasting-case-study-16-375-2 .design-space-paper-textured-background-2 {
  height: 1333px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 670px;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375-2 .spc-regional-directo-3 {
  height: 196px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 348px;
  width: 270px;
}

.chapter-5-backcasting-case-study-16-375-2 .componente-43-2 {
  height: 93px;
  left: 200px;
  object-fit: cover;
  position: absolute;
  top: 543px;
  width: 124px;
}

.chapter-5-backcasting-case-study-16-375-2 .grupo-144264-1 {
  height: 5px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  top: 1131px;
  width: 199px;
}

.chapter-5-backcasting-case-study-16-375-2 .grupo-144267 {
  height: 5px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  top: 1780px;
  width: 199px;
}

.chapter-5-backcasting-case-study-16-375-2 .grupo-144265 {
  height: 124px;
  left: 249px;
  object-fit: cover;
  position: absolute;
  top: 1386px;
  width: 101px;
}

.chapter-5-backcasting-case-study-16-375-2 .what-we-did-3 {
  height: 18px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 719px;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-375-2 .using-conceptboard-w-3 {
  height: 328px;
  left: 47px;
  object-fit: cover;
  position: absolute;
  top: 766px;
  width: 289px;
}

.chapter-5-backcasting-case-study-16-375-2 .what-happened-3 {
  height: 18px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 1171px;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-375-2 .we-documented-partic-3 {
  height: 208px;
  left: 46px;
  object-fit: cover;
  position: absolute;
  top: 1218px;
  width: 278px;
}

.chapter-5-backcasting-case-study-16-375-2 .figure-13-causal-lay-3 {
  height: 58px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  top: 1520px;
  width: 292px;
}

.chapter-5-backcasting-case-study-16-375-2 .grupo-8713-2 {
  height: 141px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  top: 1603px;
  width: 292px;
}

.chapter-5-backcasting-case-study-16-375-2 .what-we-learnt-3 {
  height: 18px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  top: 1812px;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-375-2 .cla-helped-us-refine-3 {
  height: 158px;
  left: 40px;
  object-fit: cover;
  position: absolute;
  top: 1840px;
  width: 294px;
}

.chapter-5-backcasting-case-study-16-375-2 .grupo-container-2 {
  align-items: flex-start;
  display: flex;
  gap: 110px;
  height: 86px;
  margin-left: 10.56px;
  margin-top: 46px;
  min-width: 294px;
}

.chapter-5-backcasting-case-study-16-375-2 .grupo-144271 {
  align-self: flex-end;
  height: 78px;
  object-fit: cover;
  width: 128px;
}

.chapter-5-backcasting-case-study-16-375-2 .grupo-144272 {
  height: 57px;
  object-fit: cover;
  width: 57px;
}

.chapter-5-backcasting-case-study-16-375-2 .and-p-container {
  height: 688px;
  margin-left: 7.29px;
  margin-top: 24px;
  position: relative;
  width: 277px;
}

.chapter-5-backcasting-case-study-16-375-2 .as-a-researcher-and {
  height: 648px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 271px;
}

.chapter-5-backcasting-case-study-16-375-2 .dr-amerita-ravuvu-no {
  height: 60px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 628px;
  width: 273px;
}

.chapter-5-backcasting-case-study-16-375-2 .retngulo-148566 {
  height: 46px;
  margin-top: 51px;
}

.chapter-5-backcasting-case-study-16-375-2 .footer-2 {
  height: 61px;
  object-fit: cover;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375-2 .retngulo {
  object-fit: cover;
  width: 375px;
}
/* screen - chapter-5-backcasting-case-study-16-768-2 */

.chapter-5-backcasting-case-study-16-768-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2688px;
  overflow: hidden;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768-2 .overlap-group1 {
  height: 991px;
  margin-left: -346.72px;
  margin-top: -137px;
  position: relative;
  width: 1611px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-144140 {
  height: 723px;
  left: 347px;
  object-fit: cover;
  position: absolute;
  top: 268px;
  width: 1264px;
}

.chapter-5-backcasting-case-study-16-768-2 .retngulo-148524 {
  height: 46px;
  left: 347px;
  position: absolute;
  top: 222px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-143968 {
  height: 645px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 641px;
}

.chapter-5-backcasting-case-study-16-768-2 .retngulo-148486 {
  height: 81px;
  left: 347px;
  position: absolute;
  top: 137px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-143707 {
  height: 47px;
  left: 581px;
  object-fit: cover;
  position: absolute;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-case-study-16-768-2 .spc-cps-logo_27_stars-white-2 {
  height: 50px;
  left: 366px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-768-2 .menu {
  height: 81px;
  left: 1034px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-143711 {
  height: 5px;
  left: 347px;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-144138 {
  height: 94px;
  left: 1027px;
  object-fit: cover;
  position: absolute;
  top: 265px;
  width: 94px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-143974 {
  height: 137px;
  left: 363px;
  object-fit: cover;
  position: absolute;
  top: 265px;
  width: 146px;
}

.chapter-5-backcasting-case-study-16-768-2 .case-study-14creatin-2 {
  height: 218px;
  left: 509px;
  object-fit: cover;
  position: absolute;
  top: 339px;
  width: 525px;
}

.chapter-5-backcasting-case-study-16-768-2 .spc-regional-directo-2 {
  height: 219px;
  left: 509px;
  object-fit: cover;
  position: absolute;
  top: 573px;
  width: 484px;
}

.chapter-5-backcasting-case-study-16-768-2 .quote_-buttuon-2 {
  cursor: pointer;
  height: 162px;
  left: 782px;
  object-fit: cover;
  position: absolute;
  top: 806px;
  width: 216px;
}

.chapter-5-backcasting-case-study-16-768-2 .overlap-group-2 {
  align-items: center;
  background-image: url(../img/design-space-paper-textured-background-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 1834px;
  padding: 0.0px 0;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768-2 .what-we-did-2 {
  height: 29px;
  margin-right: 116.0px;
  margin-top: 143px;
  object-fit: cover;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-768-2 .using-conceptboard-w-2 {
  height: 259px;
  margin-left: 1.0px;
  margin-top: 18px;
  object-fit: cover;
  width: 605px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-144264 {
  align-self: flex-start;
  height: 5px;
  margin-left: 79px;
  margin-top: 49px;
  object-fit: cover;
  width: 199px;
}

.chapter-5-backcasting-case-study-16-768-2 .what-happened-2 {
  height: 29px;
  margin-right: 116.96px;
  margin-top: 49px;
  object-fit: cover;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-768-2 .overlap-group7 {
  height: 346px;
  margin-left: 1.04px;
  margin-top: 18px;
  position: relative;
  width: 606px;
}

.chapter-5-backcasting-case-study-16-768-2 .we-documented-partic-2 {
  height: 159px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 606px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-144269 {
  height: 247px;
  left: 388px;
  object-fit: cover;
  position: absolute;
  top: 99px;
  width: 218px;
}

.chapter-5-backcasting-case-study-16-768-2 .figure-13-causal-lay-2 {
  height: 74px;
  margin-right: 1.0px;
  margin-top: 16px;
  object-fit: cover;
  width: 607px;
}

.chapter-5-backcasting-case-study-16-768-2 .overlap-group12 {
  height: 294px;
  margin-right: 1.0px;
  margin-top: 27px;
  position: relative;
  width: 607px;
  background-image: url(../img/grupo-8713-1@1x.png);
  background-size: cover;
}

.chapter-5-backcasting-case-study-16-768-2 .overlap-group10 {
  height: 126px;
  left: 62px;
  position: absolute;
  top: 0;
  width: 545px;
}

.chapter-5-backcasting-case-study-16-768-2 .overlap-group3 {
  height: 126px;
  left: 0;
  position: absolute;
  top: 0;
  width: 545px;
}

.chapter-5-backcasting-case-study-16-768-2 .caminho-7023 {
  height: 62px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 545px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8680 {
  height: 62px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8681 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 71px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8682 {
  height: 1px;
  left: 71px;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 76px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8683 {
  height: 1px;
  left: 147px;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 76px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8684 {
  height: 1px;
  left: 223px;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 82px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8685 {
  height: 1px;
  left: 305px;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 84px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8686 {
  height: 1px;
  left: 388px;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 76px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8687 {
  height: 1px;
  left: 465px;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 80px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8688 {
  height: 64px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8689 {
  height: 64px;
  left: 70px;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8690 {
  height: 64px;
  left: 147px;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8691 {
  height: 64px;
  left: 223px;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8692 {
  height: 64px;
  left: 305px;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8693 {
  height: 64px;
  left: 388px;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8694 {
  height: 64px;
  left: 464px;
  object-fit: cover;
  position: absolute;
  top: 62px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8748 {
  height: 62px;
  left: 70px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8749 {
  height: 62px;
  left: 147px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8750 {
  height: 62px;
  left: 223px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8751 {
  height: 62px;
  left: 305px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8752 {
  height: 62px;
  left: 388px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8753 {
  height: 62px;
  left: 464px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .kfa1 {
  height: 13px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 27px;
}

.chapter-5-backcasting-case-study-16-768-2 .x {
  height: 3px;
  left: 46px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .resilience-and {
  height: 11px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 21px;
  width: 63px;
}

.chapter-5-backcasting-case-study-16-768-2 .climate-action {
  height: 11px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 63px;
}

.chapter-5-backcasting-case-study-16-768-2 .kf2 {
  height: 13px;
  left: 100px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 21px;
}

.chapter-5-backcasting-case-study-16-768-2 .x-1 {
  height: 8px;
  left: 117px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 4px;
}

.chapter-5-backcasting-case-study-16-768-2 .natural {
  height: 11px;
  left: 93px;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 35px;
}

.chapter-5-backcasting-case-study-16-768-2 .resources-and {
  height: 11px;
  left: 78px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: 64px;
}

.chapter-5-backcasting-case-study-16-768-2 .biodiversity {
  height: 11px;
  left: 84px;
  object-fit: cover;
  position: absolute;
  top: 42px;
  width: 51px;
}

.chapter-5-backcasting-case-study-16-768-2 .kfa3 {
  height: 13px;
  left: 171px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 28px;
}

.chapter-5-backcasting-case-study-16-768-2 .x-2 {
  height: 3px;
  left: 196px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .food {
  height: 11px;
  left: 174px;
  object-fit: cover;
  position: absolute;
  top: 21px;
  width: 23px;
}

.chapter-5-backcasting-case-study-16-768-2 .x-3 {
  height: 3px;
  left: 196px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .systems {
  height: 11px;
  left: 167px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 35px;
}

.chapter-5-backcasting-case-study-16-768-2 .kfa4 {
  height: 13px;
  left: 250px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 28px;
}

.chapter-5-backcasting-case-study-16-768-2 .x-4 {
  height: 3px;
  left: 275px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .equity-education {
  left: 226px;
  top: 21px;
  width: 76px;
}

.chapter-5-backcasting-case-study-16-768-2 .and-social {
  left: 241px;
  top: 32px;
  width: 47px;
}

.chapter-5-backcasting-case-study-16-768-2 .development {
  height: 11px;
  left: 235px;
  object-fit: cover;
  position: absolute;
  top: 44px;
  width: 60px;
}

.chapter-5-backcasting-case-study-16-768-2 .kfa5 {
  height: 13px;
  left: 335px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 27px;
}

.chapter-5-backcasting-case-study-16-768-2 .x-5 {
  height: 8px;
  left: 357px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 4px;
}

.chapter-5-backcasting-case-study-16-768-2 .sustainable {
  height: 11px;
  left: 322px;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 53px;
}

.chapter-5-backcasting-case-study-16-768-2 .economies-and {
  height: 11px;
  left: 314px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: 71px;
}

.chapter-5-backcasting-case-study-16-768-2 .livelihoods {
  height: 11px;
  left: 325px;
  object-fit: cover;
  position: absolute;
  top: 42px;
  width: 48px;
}

.chapter-5-backcasting-case-study-16-768-2 .kfa6 {
  height: 13px;
  left: 413px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 27px;
}

.chapter-5-backcasting-case-study-16-768-2 .x-6 {
  height: 3px;
  left: 437px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .planetary {
  height: 11px;
  left: 406px;
  object-fit: cover;
  position: absolute;
  top: 21px;
  width: 41px;
}

.chapter-5-backcasting-case-study-16-768-2 .x-7 {
  height: 3px;
  left: 448px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .health {
  height: 11px;
  left: 413px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 28px;
}

.chapter-5-backcasting-case-study-16-768-2 .kfa7 {
  height: 13px;
  left: 493px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 27px;
}

.chapter-5-backcasting-case-study-16-768-2 .x-8 {
  height: 3px;
  left: 516px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .transforming {
  height: 11px;
  left: 475px;
  object-fit: cover;
  position: absolute;
  top: 21px;
  width: 62px;
}

.chapter-5-backcasting-case-study-16-768-2 .institutional {
  height: 11px;
  left: 479px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 55px;
}

.chapter-5-backcasting-case-study-16-768-2 .effectiveness {
  height: 11px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 44px;
  width: 57px;
}

.chapter-5-backcasting-case-study-16-768-2 .coordinated {
  height: 11px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 68px;
  width: 58px;
}

.chapter-5-backcasting-case-study-16-768-2 .resilient {
  height: 11px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 82px;
  width: 35px;
}

.chapter-5-backcasting-case-study-16-768-2 .knowledge {
  height: 11px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 95px;
  width: 50px;
}

.chapter-5-backcasting-case-study-16-768-2 .systems-1 {
  left: 18px;
  top: 108px;
  width: 35px;
}

.chapter-5-backcasting-case-study-16-768-2 .overlap-group6 {
  align-items: flex-start;
  background-image: url(../img/island-state@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 11px;
  justify-content: flex-end;
  left: 84px;
  min-width: 51px;
  padding: 2.0px 1.7px;
  position: absolute;
  top: 88px;
}

.chapter-5-backcasting-case-study-16-768-2 .x-9 {
  height: 5px;
  object-fit: cover;
  width: 2px;
}

.chapter-5-backcasting-case-study-16-768-2 .approach {
  height: 11px;
  left: 88px;
  object-fit: cover;
  position: absolute;
  top: 102px;
  width: 42px;
}

.chapter-5-backcasting-case-study-16-768-2 .pacific {
  height: 11px;
  left: 169px;
  object-fit: cover;
  position: absolute;
  top: 68px;
  width: 31px;
}

.chapter-5-backcasting-case-study-16-768-2 .recognition {
  height: 11px;
  left: 159px;
  object-fit: cover;
  position: absolute;
  top: 82px;
  width: 51px;
}

.chapter-5-backcasting-case-study-16-768-2 .in-global-food {
  height: 11px;
  left: 154px;
  object-fit: cover;
  position: absolute;
  top: 95px;
  width: 61px;
}

.chapter-5-backcasting-case-study-16-768-2 .systems-2 {
  left: 167px;
  top: 108px;
  width: 35px;
}

.chapter-5-backcasting-case-study-16-768-2 .all-people {
  height: 11px;
  left: 242px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 45px;
}

.chapter-5-backcasting-case-study-16-768-2 .have-access-to {
  height: 11px;
  left: 233px;
  object-fit: cover;
  position: absolute;
  top: 88px;
  width: 64px;
}

.chapter-5-backcasting-case-study-16-768-2 .well-being {
  height: 11px;
  left: 241px;
  object-fit: cover;
  position: absolute;
  top: 102px;
  width: 47px;
}

.chapter-5-backcasting-case-study-16-768-2 .high-levels-of {
  height: 11px;
  left: 317px;
  object-fit: cover;
  position: absolute;
  top: 68px;
  width: 60px;
}

.chapter-5-backcasting-case-study-16-768-2 .early-adoption {
  height: 11px;
  left: 315px;
  object-fit: cover;
  position: absolute;
  top: 82px;
  width: 64px;
}

.chapter-5-backcasting-case-study-16-768-2 .of-novel {
  left: 329px;
  top: 95px;
  width: 36px;
}

.chapter-5-backcasting-case-study-16-768-2 .technologies {
  height: 11px;
  left: 318px;
  object-fit: cover;
  position: absolute;
  top: 109px;
  width: 58px;
}

.chapter-5-backcasting-case-study-16-768-2 .health-is {
  left: 408px;
  top: 68px;
  width: 38px;
}

.chapter-5-backcasting-case-study-16-768-2 .measured-by {
  height: 11px;
  left: 398px;
  object-fit: cover;
  position: absolute;
  top: 82px;
  width: 57px;
}

.chapter-5-backcasting-case-study-16-768-2 .wellness-and {
  height: 11px;
  left: 398px;
  object-fit: cover;
  position: absolute;
  top: 95px;
  width: 57px;
}

.chapter-5-backcasting-case-study-16-768-2 .well-being-1 {
  left: 403px;
  top: 109px;
}

.chapter-5-backcasting-case-study-16-768-2 .working-as-one {
  height: 11px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 68px;
}

.chapter-5-backcasting-case-study-16-768-2 .integrated {
  height: 11px;
  left: 481px;
  object-fit: cover;
  position: absolute;
  top: 88px;
  width: 49px;
}

.chapter-5-backcasting-case-study-16-768-2 .collaboration {
  height: 11px;
  left: 475px;
  object-fit: cover;
  position: absolute;
  top: 102px;
  width: 61px;
}

.chapter-5-backcasting-case-study-16-768-2 .whole-of {
  height: 11px;
  left: 87px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 45px;
}

.chapter-5-backcasting-case-study-16-768-2 .overlap-group8 {
  height: 65px;
  left: 0;
  position: absolute;
  top: 126px;
  width: 607px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-container-1 {
  height: 65px;
  left: 0;
  position: absolute;
  top: 0;
  width: 607px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 62px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8-1 {
  left: 62px;
  width: 70px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8697 {
  height: 64px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8-2 {
  left: 133px;
  width: 76px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8699 {
  height: 64px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-87 {
  height: 1px;
  left: 209px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 76px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8701 {
  height: 64px;
  left: 209px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-87-1 {
  height: 1px;
  left: 285px;
  width: 82px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8703 {
  height: 64px;
  left: 285px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-87-2 {
  height: 1px;
  left: 367px;
  width: 84px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8705 {
  height: 64px;
  left: 367px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-87-3 {
  height: 1px;
  left: 450px;
  width: 76px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8707 {
  height: 64px;
  left: 450px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-87-4 {
  height: 1px;
  left: 527px;
  width: 80px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8709 {
  height: 64px;
  left: 526px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .systemic {
  height: 14px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 48px;
}

.chapter-5-backcasting-case-study-16-768-2 .pacific-voices {
  left: 69px;
  top: 20px;
  width: 58px;
}

.chapter-5-backcasting-case-study-16-768-2 .and-solutions {
  left: 68px;
  top: 33px;
  width: 59px;
}

.chapter-5-backcasting-case-study-16-768-2 .interdisciplinary {
  height: 11px;
  left: 137px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 70px;
}

.chapter-5-backcasting-case-study-16-768-2 .actions-and {
  height: 11px;
  left: 146px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 54px;
}

.chapter-5-backcasting-case-study-16-768-2 .decision {
  height: 11px;
  left: 152px;
  object-fit: cover;
  position: absolute;
  top: 33px;
  width: 40px;
}

.chapter-5-backcasting-case-study-16-768-2 .making {
  height: 11px;
  left: 156px;
  object-fit: cover;
  position: absolute;
  top: 47px;
  width: 34px;
}

.chapter-5-backcasting-case-study-16-768-2 .systemic-1 {
  height: 11px;
  left: 228px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 39px;
}

.chapter-5-backcasting-case-study-16-768-2 .decison-making {
  height: 11px;
  left: 212px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 71px;
}

.chapter-5-backcasting-case-study-16-768-2 .redesigned {
  height: 11px;
  left: 300px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 55px;
}

.chapter-5-backcasting-case-study-16-768-2 .inclusive-systems {
  height: 11px;
  left: 290px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 76px;
}

.chapter-5-backcasting-case-study-16-768-2 .economic {
  height: 11px;
  left: 387px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 44px;
}

.chapter-5-backcasting-case-study-16-768-2 .systems-spreads {
  left: 373px;
  top: 20px;
  width: 71px;
}

.chapter-5-backcasting-case-study-16-768-2 .prosperity-and {
  height: 11px;
  left: 377px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 64px;
}

.chapter-5-backcasting-case-study-16-768-2 .well-being-2 {
  left: 385px;
  top: 47px;
}

.chapter-5-backcasting-case-study-16-768-2 .risk-informed {
  height: 11px;
  left: 458px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 63px;
}

.chapter-5-backcasting-case-study-16-768-2 .responsive {
  height: 11px;
  left: 465px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 48px;
}

.chapter-5-backcasting-case-study-16-768-2 .health-systems {
  left: 456px;
  top: 40px;
  width: 66px;
}

.chapter-5-backcasting-case-study-16-768-2 .inter-connected {
  height: 11px;
  left: 531px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 72px;
}

.chapter-5-backcasting-case-study-16-768-2 .multidisciplinary {
  height: 11px;
  left: 531px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 73px;
}

.chapter-5-backcasting-case-study-16-768-2 .approaches {
  height: 11px;
  left: 541px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 52px;
}

.chapter-5-backcasting-case-study-16-768-2 .overlap-group11 {
  height: 51px;
  left: 0;
  position: absolute;
  top: 191px;
  width: 607px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-container {
  height: 51px;
  left: 0;
  position: absolute;
  top: 0;
  width: 607px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-87-5 {
  height: 51px;
  left: 62px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-87-6 {
  height: 51px;
  left: 132px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-87-7 {
  height: 51px;
  left: 209px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-87-8 {
  height: 51px;
  left: 285px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-87-9 {
  height: 51px;
  left: 367px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-87-10 {
  height: 51px;
  left: 450px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-87-11 {
  height: 51px;
  left: 526px;
  width: 1px;
}

.chapter-5-backcasting-case-study-16-768-2 .worldview {
  height: 13px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 55px;
}

.chapter-5-backcasting-case-study-16-768-2 .equitable {
  height: 11px;
  left: 75px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 44px;
}

.chapter-5-backcasting-case-study-16-768-2 .optimisation {
  height: 11px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 58px;
}

.chapter-5-backcasting-case-study-16-768-2 .of-resources {
  left: 70px;
  top: 34px;
  width: 53px;
}

.chapter-5-backcasting-case-study-16-768-2 .balance-of {
  height: 11px;
  left: 146px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 48px;
}

.chapter-5-backcasting-case-study-16-768-2 .poweragency {
  height: 11px;
  left: 138px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 65px;
}

.chapter-5-backcasting-case-study-16-768-2 .food-sufficiency {
  height: 11px;
  left: 211px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 72px;
}

.chapter-5-backcasting-case-study-16-768-2 .and-health {
  left: 224px;
  top: 27px;
  width: 48px;
}

.chapter-5-backcasting-case-study-16-768-2 .equity-for {
  left: 306px;
  top: 13px;
  width: 42px;
}

.chapter-5-backcasting-case-study-16-768-2 .everyone {
  height: 11px;
  left: 306px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 42px;
}

.chapter-5-backcasting-case-study-16-768-2 .pacific-leadership {
  left: 370px;
  top: 7px;
  width: 76px;
}

.chapter-5-backcasting-case-study-16-768-2 .on-learned-best {
  height: 11px;
  left: 374px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 69px;
}

.chapter-5-backcasting-case-study-16-768-2 .practices {
  height: 11px;
  left: 389px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 40px;
}

.chapter-5-backcasting-case-study-16-768-2 .preventative {
  height: 11px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 55px;
}

.chapter-5-backcasting-case-study-16-768-2 .health-1 {
  left: 474px;
  top: 26px;
  width: 28px;
}

.chapter-5-backcasting-case-study-16-768-2 .unified-strengths {
  height: 11px;
  left: 529px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 76px;
}

.chapter-5-backcasting-case-study-16-768-2 .for-impact {
  height: 11px;
  left: 544px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 46px;
}

.chapter-5-backcasting-case-study-16-768-2 .overlap-group9 {
  height: 51px;
  left: 0;
  position: absolute;
  top: 242px;
  width: 607px;
}

.chapter-5-backcasting-case-study-16-768-2 .methaphor {
  height: 13px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 56px;
}

.chapter-5-backcasting-case-study-16-768-2 .harmonic {
  height: 11px;
  left: 75px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 46px;
}

.chapter-5-backcasting-case-study-16-768-2 .generosity-of {
  height: 11px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 60px;
}

.chapter-5-backcasting-case-study-16-768-2 .wisdom {
  height: 11px;
  left: 80px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 36px;
}

.chapter-5-backcasting-case-study-16-768-2 .the-earth-and {
  height: 11px;
  left: 139px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 62px;
}

.chapter-5-backcasting-case-study-16-768-2 .i-are-one-the {
  height: 11px;
  left: 141px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 60px;
}

.chapter-5-backcasting-case-study-16-768-2 .ocean-is-us {
  height: 11px;
  left: 145px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 52px;
}

.chapter-5-backcasting-case-study-16-768-2 .bountiful {
  height: 11px;
  left: 228px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 40px;
}

.chapter-5-backcasting-case-study-16-768-2 .baskets-and {
  height: 11px;
  left: 222px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 53px;
}

.chapter-5-backcasting-case-study-16-768-2 .canoes {
  height: 11px;
  left: 232px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 32px;
}

.chapter-5-backcasting-case-study-16-768-2 .woven-basket-of {
  height: 11px;
  left: 289px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 76px;
}

.chapter-5-backcasting-case-study-16-768-2 .well-being-3 {
  left: 303px;
  top: 27px;
}

.chapter-5-backcasting-case-study-16-768-2 .the-tree-we-plant {
  height: 11px;
  left: 369px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 78px;
}

.chapter-5-backcasting-case-study-16-768-2 .today-will-bear {
  height: 11px;
  left: 376px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 65px;
}

.chapter-5-backcasting-case-study-16-768-2 .fruit-tomorrow {
  height: 11px;
  left: 376px;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 65px;
}

.chapter-5-backcasting-case-study-16-768-2 .healthy-mana {
  height: 11px;
  left: 460px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 60px;
}

.chapter-5-backcasting-case-study-16-768-2 .many-weavers {
  height: 11px;
  left: 535px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 65px;
}

.chapter-5-backcasting-case-study-16-768-2 .one-fine-mat {
  height: 11px;
  left: 539px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 56px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8740 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 293px;
  width: 62px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8741 {
  height: 1px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 293px;
  width: 70px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8742 {
  height: 1px;
  left: 133px;
  object-fit: cover;
  position: absolute;
  top: 293px;
  width: 76px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8743 {
  height: 1px;
  left: 209px;
  object-fit: cover;
  position: absolute;
  top: 293px;
  width: 76px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8744 {
  height: 1px;
  left: 285px;
  object-fit: cover;
  position: absolute;
  top: 293px;
  width: 82px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8745 {
  height: 1px;
  left: 367px;
  object-fit: cover;
  position: absolute;
  top: 293px;
  width: 84px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8746 {
  height: 1px;
  left: 450px;
  object-fit: cover;
  position: absolute;
  top: 293px;
  width: 76px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8747 {
  height: 1px;
  left: 527px;
  object-fit: cover;
  position: absolute;
  top: 293px;
  width: 80px;
}

.chapter-5-backcasting-case-study-16-768-2 .litany {
  height: 14px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 86px;
  width: 33px;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-144270 {
  align-self: flex-start;
  height: 5px;
  margin-left: 79px;
  margin-top: 62px;
  object-fit: cover;
  width: 199px;
}

.chapter-5-backcasting-case-study-16-768-2 .what-we-learnt-2 {
  height: 29px;
  margin-right: 114.0px;
  margin-top: 63px;
  object-fit: cover;
  width: 494px;
}

.chapter-5-backcasting-case-study-16-768-2 .cla-helped-us-refine-2 {
  height: 124px;
  margin-left: 2.0px;
  margin-top: 18px;
  object-fit: cover;
  width: 604px;
}

.chapter-5-backcasting-case-study-16-768-2 .retngulo-148564 {
  height: 46px;
  margin-top: 70px;
}

.chapter-5-backcasting-case-study-16-768-2 .footer-1 {
  height: 61px;
  margin-top: 1px;
  object-fit: cover;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768-2 .and {
  height: 11px;
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-16-768-2 .equity {
  height: 11px;
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-8-3 {
  height: 1px;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.chapter-5-backcasting-case-study-16-768-2 .grupo-87-12 {
  object-fit: cover;
  position: absolute;
  top: 0;
}

.chapter-5-backcasting-case-study-16-768-2 .health-2 {
  height: 11px;
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-16-768-2 .of {
  height: 11px;
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-16-768-2 .pacific-1 {
  height: 11px;
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-16-768-2 .retngulo {
  object-fit: cover;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768-2 .systems-3 {
  height: 11px;
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-case-study-16-768-2 .well-being-4 {
  height: 11px;
  object-fit: cover;
  position: absolute;
  width: 47px;
}
@media screen and (max-width: 767px) {
  .screen.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-1280-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-768-2 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-1280-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-375-2 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.chapter-5-backcasting-case-study-16-1920-2-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-768-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-375-2 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.chapter-5-backcasting-case-study-16-1280-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-768-2 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-375-2 { 
    display: none;
   }
}