:root { 
  --azure: #3160ad;
  --black: #000000f2;
  --black-2: #000000;
  --green-blue: #1860b3;
  --green-blue-2: #1860b3f2;
  --purple-mountains-majesty: #ac82b9;
  --trendy-pink: #9161a0;
  --trendy-pink-2: #89649c;
  --trendy-pink-3: #9161a0e6;
  --white: #ffffff;
  --white-2: #ffffffd9;
  --wisteria: #a074ad;
 
  --font-size-l: 21px;
  --font-size-m: 20px;
  --font-size-s: 17px;
  --font-size-xl: 25px;
  --font-size-xs: 15px;
  --font-size-xxl: 34px;
  --font-size-xxxl: 54px;
 
  --font-family-gaegu: "Gaegu", Helvetica;
  --font-family-gaegulight-regular: "GaeguLight-Regular", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.link {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
}

.step {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.italic-blue {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0;
}

.linkcasetudies {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.roboto-bold-green-blue-25px {
  color: var(--green-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.gaegu-bold-white-34px {
  color: var(--white);
  font-family: var(--font-family-gaegu);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.roboto-light-black-25px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
}

.roboto-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-light-black-20px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.gaegu-bold-white-21px {
  color: var(--white);
  font-family: var(--font-family-gaegu);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.gaegu-normal-white-21px {
  color: var(--white);
  font-family: var(--font-family-gaegu);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.roboto-light-black-20px-2 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
}

.roboto-light-white-21px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}

.gaegu-normal-white-17px {
  color: var(--white);
  font-family: var(--font-family-gaegu);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.roboto-light-black-20px-3 {
  color: var(--black-2);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
}

.roboto-light-green-blue-20px {
  color: var(--green-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
}

.roboto-medium-green-blue-45px {
  color: var(--green-blue);
  font-family: var(--font-family-roboto);
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
}

.roboto-bold-trendy-pink-151px {
  color: var(--trendy-pink);
  font-family: var(--font-family-roboto);
  font-size: 151px;
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
}

.roboto-bold-white-20px-2 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-green-blue-20px {
  color: var(--green-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.roboto-medium-black-25px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
}

.roboto-bold-green-blue-54px {
  color: var(--green-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
}

.roboto-light-green-blue-54px {
  color: var(--green-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 300;
}

.roboto-bold-green-blue-54px-2 {
  color: var(--green-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.roboto-medium-green-blue-20px {
  color: var(--green-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 500;
}

.roboto-light-green-blue-15px {
  color: var(--green-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: italic;
  font-weight: 300;
}

.gaegulight-regular-light-white-82px {
  color: var(--white);
  font-family: var(--font-family-gaegulight-regular);
  font-size: 82px;
  font-style: normal;
  font-weight: 300;
}

.roboto-medium-green-blue-15px {
  color: var(--green-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.gaegu-bold-white-15px {
  color: var(--white);
  font-family: var(--font-family-gaegu);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.roboto-light-white-20px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
}

.roboto-bold-white-25px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-white-83px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 83px;
  font-style: normal;
  font-weight: 700;
}

.gaegu-bold-white-82px {
  color: var(--white);
  font-family: var(--font-family-gaegu);
  font-size: 82px;
  font-style: normal;
  font-weight: 700;
}

.gaegu-bold-trendy-pink-37px {
  color: var(--trendy-pink);
  font-family: var(--font-family-gaegu);
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
}

.roboto-light-white-34px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 300;
}

.gaegu-normal-white-28px {
  color: var(--white);
  font-family: var(--font-family-gaegu);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
}
