:root { 
  --azure: #3160ad;
  --black: #000000;
  --black-2: #000000f2;
  --caribbean-green-pearl: #71d989;
  --emerald: #57c16f;
  --green-blue: #1860b3;
  --green-blue-2: #1860b3f2;
  --white: #ffffff;
  --white-2: #ffffffd9;
 
  --font-size-l: 25px;
  --font-size-m: 20px;
  --font-size-s: 17px;
  --font-size-xl: 28px;
  --font-size-xs: 15px;
  --font-size-xxl: 33px;
  --font-size-xxxl: 54px;
 
  --font-family-gaegu: "Gaegu", Helvetica;
  --font-family-gaegulight-regular: "GaeguLight-Regular", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.link {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
}

.step {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.italic-blue {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0;
}

.linkcasetudies {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.roboto-bold-green-blue-25px {
  color: var(--green-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.gaegu-bold-white-34px {
  color: var(--white);
  font-family: var(--font-family-gaegu);
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
}

.roboto-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.gaegu-normal-white-21px {
  color: var(--white);
  font-family: var(--font-family-gaegu);
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
}

.roboto-light-white-21px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
}

.gaegu-normal-white-17px {
  color: var(--white);
  font-family: var(--font-family-gaegu);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.roboto-light-green-blue-20px {
  color: var(--green-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
}

.roboto-light-black-25px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
}

.gaegu-bold-white-21px {
  color: var(--white);
  font-family: var(--font-family-gaegu);
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
}

.roboto-light-black-20px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
}

.roboto-medium-green-blue-45px {
  color: var(--green-blue);
  font-family: var(--font-family-roboto);
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-green-blue-20px {
  color: var(--green-blue);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
}
