:root { 
  --charade: #2b2e34;
  --curious-blue: #3a9cd5;
  --green-blue: #1860b3;
  --white: #ffffff;
 
  --font-size-l: 18px;
  --font-size-m: 17px;
  --font-size-s: 16px;
  --font-size-xl: 20px;
  --font-size-xs: 13px;
  --font-size-xxl: 22px;
  --font-size-xxs: 12px;
 
  --font-family-gaegu: "Gaegu", Helvetica;
  --font-family-gaegulight-regular: "GaeguLight-Regular", Helvetica;
  --font-family-myriadpro-light: "MyriadPro-Light", Helvetica;
  --font-family-myriadpro-semibold: "MyriadPro-Semibold", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.myriadpro-light-charade-17px {
  color: var(--charade);
  font-family: var(--font-family-myriadpro-light);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.gaegu-normal-green-blue-12px {
  color: var(--green-blue);
  font-family: var(--font-family-gaegu);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.gaegu-bold-green-blue-18px {
  color: var(--green-blue);
  font-family: var(--font-family-gaegu);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.gaegu-bold-curious-blue-18px {
  color: var(--curious-blue);
  font-family: var(--font-family-gaegu);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.myriadpro-semi-bold-green-blue-13px {
  color: var(--green-blue);
  font-family: var(--font-family-myriadpro-semibold);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
}

.gaegu-bold-green-blue-16px {
  color: var(--green-blue);
  font-family: var(--font-family-gaegu);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.gaegu-bold-green-blue-12px {
  color: var(--green-blue);
  font-family: var(--font-family-gaegu);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
}

.gaegu-bold-white-22px {
  color: var(--white);
  font-family: var(--font-family-gaegu);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.myriadpro-light-charade-15px {
  color: var(--charade);
  font-family: var(--font-family-myriadpro-light);
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
}
