/* screen - chapter-5-backcasting-1280 */

.chapter-5-backcasting-1280 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3113px;
  overflow: hidden;
  width: 1280px;
}

.chapter-5-backcasting-1280 .overlap-group-1 {
  height: 3250px;
  margin-left: -461px;
  margin-top: -137.47px;
  position: relative;
  width: 2381px;
}

.chapter-5-backcasting-1280 .grupo-8810-1 {
  height: 537px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1430px;
  width: 1920px;
}

.chapter-5-backcasting-1280 .grupo-8811-1 {
  height: 537px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 983px;
  width: 1920px;
}

.chapter-5-backcasting-1280 .retngulo-436-2 {
  height: 996px;
  left: 461px;
  top: 223px;
  width: 1280px;
}

.chapter-5-backcasting-1280 .grupo-de-mscara-13-1 {
  height: 559px;
  left: 422px;
  object-fit: cover;
  position: absolute;
  top: 659px;
  width: 1251px;
}

.chapter-5-backcasting-1280 .design-space-paper-textured-background-1 {
  height: 1229px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1960px;
  width: 1280px;
}

.chapter-5-backcasting-1280 .grupo-8839-1 {
  height: 864px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-1280 .spc-cps-logo_27_stars-white-1 {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-1280 .backcasting-1 {
  height: 204px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 354px;
  width: 594px;
}

.chapter-5-backcasting-1280 .grupo-8841-1 {
  height: 65px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 259px;
  width: 594px;
}

.chapter-5-backcasting-1280 .grupo-8842-1 {
  height: 5px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 341px;
  width: 199px;
}

.chapter-5-backcasting-1280 .case-study7_-button-v-1 {
  cursor: pointer;
  height: 516px;
  left: 757px;
  object-fit: cover;
  position: absolute;
  top: 869px;
  width: 326px;
}

.chapter-5-backcasting-1280 .niue-cover-c-molly-brown-nz-1 {
  border-radius: 5px;
  height: 245px;
  left: 1097px;
  object-fit: cover;
  position: absolute;
  top: 1139px;
  width: 308px;
}

.chapter-5-backcasting-1280 .retngulo-47-1 {
  border-radius: 5px;
  height: 282px;
  left: 1088px;
  object-fit: cover;
  position: absolute;
  top: 905px;
  width: 326px;
}

.chapter-5-backcasting-1280 .grupo-188-1 {
  cursor: pointer;
  height: 24px;
  left: 1119px;
  object-fit: cover;
  position: absolute;
  top: 1123px;
  width: auto;
}

.chapter-5-backcasting-1280 .x16-1 {
  height: 199px;
  left: 1224px;
  object-fit: cover;
  position: absolute;
  top: 869px;
  width: 182px;
}

.chapter-5-backcasting-1280 .case-study-16futures-speed-dating-1 {
  height: 172px;
  left: 1115px;
  object-fit: cover;
  position: absolute;
  top: 943px;
  width: 263px;
}

.chapter-5-backcasting-1280 .grupo-8847-1 {
  height: 45px;
  left: 1377px;
  object-fit: cover;
  position: absolute;
  top: 1873px;
  width: 282px;
}

.chapter-5-backcasting-1280 .quesiton_-tabs-v-1 {
  height: 167px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 577px;
  width: 471px;
}

.chapter-5-backcasting-1280 .grupo-143938 {
  height: 94px;
  left: 958px;
  top: 2041px;
  width: 286px;
}

.chapter-5-backcasting-1280 .retngulo-80-1 {
  height: 81px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 1280px;
}

.chapter-5-backcasting-1280 .grupo-788-1 {
  height: 47px;
  left: 958px;
  object-fit: cover;
  position: absolute;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-1280 .menu-v-1 {
  height: 81px;
  left: 1660px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-1280 .grupo-790-1 {
  height: 5px;
  left: 462px;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 1280px;
}

.chapter-5-backcasting-1280 .grupo-143937 {
  height: 319px;
  left: 569px;
  top: 1589px;
  width: 1067px;
}

.chapter-5-backcasting-1280 .grupo-143936 {
  height: 94px;
  left: 931px;
  top: 1441px;
  width: 340px;
}

.chapter-5-backcasting-1280 .chapter-3_tip_-button-v-1 {
  cursor: pointer;
  height: 450px;
  left: 1236px;
  object-fit: cover;
  position: absolute;
  top: 408px;
  width: 494px;
}

.chapter-5-backcasting-1280 .grupo-8855-1 {
  height: 183px;
  left: 486px;
  object-fit: cover;
  position: absolute;
  top: 354px;
  width: 196px;
}

.chapter-5-backcasting-1280 .retngulo-357-1 {
  border-radius: 30px;
  height: 156px;
  left: 543px;
  object-fit: cover;
  position: absolute;
  top: 2189px;
  width: 1116px;
}

.chapter-5-backcasting-1280 .retngulo-437-1 {
  border-radius: 30px;
  height: 156px;
  left: 543px;
  object-fit: cover;
  position: absolute;
  top: 2755px;
  width: 1116px;
}

.chapter-5-backcasting-1280 .retngulo-440-1 {
  border-radius: 30px;
  height: 156px;
  left: 543px;
  object-fit: cover;
  position: absolute;
  top: 2924px;
  width: 1116px;
}

.chapter-5-backcasting-1280 .retngulo-359-1 {
  border-radius: 30px;
  height: 184px;
  left: 543px;
  object-fit: cover;
  position: absolute;
  top: 2358px;
  width: 1116px;
}

.chapter-5-backcasting-1280 .retngulo-434-2 {
  border-radius: 30px;
  height: 184px;
  left: 543px;
  object-fit: cover;
  position: absolute;
  top: 2556px;
  width: 1116px;
}

.chapter-5-backcasting-1280 .retngulo-361-1 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 543px;
  object-fit: cover;
  position: absolute;
  top: 2189px;
  width: 339px;
}

.chapter-5-backcasting-1280 .retngulo-438-1 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 543px;
  object-fit: cover;
  position: absolute;
  top: 2755px;
  width: 339px;
}

.chapter-5-backcasting-1280 .retngulo-441-1 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 543px;
  object-fit: cover;
  position: absolute;
  top: 2924px;
  width: 339px;
}

.chapter-5-backcasting-1280 .retngulo-363-1 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 543px;
  object-fit: cover;
  position: absolute;
  top: 2358px;
  width: 339px;
}

.chapter-5-backcasting-1280 .retngulo-435-1 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 543px;
  object-fit: cover;
  position: absolute;
  top: 2556px;
  width: 339px;
}

.chapter-5-backcasting-1280 .x20-minutes-2 {
  top: 2374px;
}

.chapter-5-backcasting-1280 .x20-minutes-3 {
  top: 2572px;
}

.chapter-5-backcasting-1280 .x10-minutes-2 {
  top: 2206px;
}

.chapter-5-backcasting-1280 .x10-minutes-3 {
  top: 2772px;
}

.chapter-5-backcasting-1280 .post-exercise-1 {
  height: 37px;
  left: 580px;
  object-fit: cover;
  position: absolute;
  top: 2930px;
  width: auto;
}

.chapter-5-backcasting-1280 .grupo-3406-1 {
  height: 36px;
  left: 560px;
  object-fit: cover;
  position: absolute;
  top: 2365px;
  width: 36px;
}

.chapter-5-backcasting-1280 .grupo-8816-1 {
  height: 36px;
  left: 560px;
  object-fit: cover;
  position: absolute;
  top: 2563px;
  width: 36px;
}

.chapter-5-backcasting-1280 .grupo-5545-1 {
  height: 36px;
  left: 560px;
  object-fit: cover;
  position: absolute;
  top: 2197px;
  width: 36px;
}

.chapter-5-backcasting-1280 .grupo-8823-1 {
  height: 36px;
  left: 560px;
  object-fit: cover;
  position: absolute;
  top: 2763px;
  width: 36px;
}

.chapter-5-backcasting-1280 .retngulo-365-1 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 2189px;
  width: 899px;
}

.chapter-5-backcasting-1280 .retngulo-439-1 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 2755px;
  width: 899px;
}

.chapter-5-backcasting-1280 .retngulo-442-1 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 2924px;
  width: 899px;
}

.chapter-5-backcasting-1280 .retngulo-367-1 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 2358px;
  width: 899px;
}

.chapter-5-backcasting-1280 .retngulo-436-3 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 760px;
  top: 2556px;
  width: 899px;
}

.chapter-5-backcasting-1280 .explain-1 {
  height: 24px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 2201px;
  width: 899px;
}

.chapter-5-backcasting-1280 .present-1 {
  height: 24px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 2767px;
  width: 899px;
}

.chapter-5-backcasting-1280 .collate-findings-1 {
  height: 24px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 2936px;
  width: 899px;
}

.chapter-5-backcasting-1280 .practice-1 {
  height: 24px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 2370px;
  width: 899px;
}

.chapter-5-backcasting-1280 .make-small-groups-1 {
  height: 24px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 2568px;
  width: 899px;
}

.chapter-5-backcasting-1280 .step-1explain-the-ba-1 {
  height: 59px;
  left: 601px;
  object-fit: cover;
  position: absolute;
  top: 2265px;
  width: 1213px;
}

.chapter-5-backcasting-1280 .step-4present-backca-1 {
  height: 59px;
  left: 601px;
  object-fit: cover;
  position: absolute;
  top: 2831px;
  width: 1022px;
}

.chapter-5-backcasting-1280 .step-5collate-findin-1 {
  height: 59px;
  left: 601px;
  object-fit: cover;
  position: absolute;
  top: 3000px;
  width: 1022px;
}

.chapter-5-backcasting-1280 .step-2if-holding-the-1 {
  height: 94px;
  left: 603px;
  object-fit: cover;
  position: absolute;
  top: 2434px;
  width: 1022px;
}

.chapter-5-backcasting-1280 .step-3break-into-sma-1 {
  height: 105px;
  left: 603px;
  object-fit: cover;
  position: absolute;
  top: 2620px;
  width: auto;
}

.chapter-5-backcasting-1280 .grupo-8854-1 {
  height: 45px;
  left: 1377px;
  object-fit: cover;
  position: absolute;
  top: 280px;
  width: 282px;
}

.chapter-5-backcasting-1280 .more_-info-button-v-1 {
  cursor: pointer;
  height: 40px;
  left: 1485px;
  object-fit: cover;
  position: absolute;
  top: 1128px;
  width: 174px;
}

.chapter-5-backcasting-1280 .footer-1 {
  height: 61px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 3189px;
  width: 1280px;
}

.chapter-5-backcasting-1280 .retngulo-436 {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-1280 .x10-minutes {
  height: 21px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  width: 93px;
}

.chapter-5-backcasting-1280 .x20-minutes {
  height: 21px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  width: 96px;
}
/* screen - chapter-5-backcasting-1920 */

.chapter-5-backcasting-1920 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3113px;
  overflow: hidden;
  width: 1920px;
}

.chapter-5-backcasting-1920 .overlap-group {
  height: 3250px;
  margin-left: -461px;
  margin-top: -137.47px;
  position: relative;
  width: 2381px;
}

.chapter-5-backcasting-1920 .retngulo-434 {
  height: 3052px;
  left: 461px;
  top: 137px;
  width: 1920px;
}

.chapter-5-backcasting-1920 .grupo-8810 {
  height: 537px;
  left: 461px;
  top: 1430px;
  width: 1920px;
}

.chapter-5-backcasting-1920 .grupo-8811 {
  height: 537px;
  left: 461px;
  top: 983px;
  width: 1920px;
}

.chapter-5-backcasting-1920 .retngulo-436 {
  height: 996px;
  left: 461px;
  top: 223px;
  width: 1285px;
}

.chapter-5-backcasting-1920 .grupo-de-mscara-13 {
  height: 559px;
  left: 422px;
  object-fit: cover;
  position: absolute;
  top: 659px;
  width: 1251px;
}

.chapter-5-backcasting-1920 .design-space-paper-textured-background {
  height: 1229px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1960px;
  width: 1920px;
}

.chapter-5-backcasting-1920 .footer {
  height: 61px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 3189px;
  width: 1920px;
}

.chapter-5-backcasting-1920 .grupo-8839 {
  height: 864px;
  left: 0;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-1920 .spc-cps-logo_27_stars-white {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-1920 .backcasting {
  height: 204px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 354px;
  width: 872px;
}

.chapter-5-backcasting-1920 .grupo-8841 {
  height: 65px;
  left: 766px;
  top: 259px;
  width: 594px;
}

.chapter-5-backcasting-1920 .grupo-8842 {
  height: 5px;
  left: 766px;
  top: 341px;
  width: 199px;
}

.chapter-5-backcasting-1920 .case-study7_-button-v {
  cursor: pointer;
  height: 516px;
  left: 757px;
  object-fit: cover;
  position: absolute;
  top: 869px;
  width: 326px;
}

.chapter-5-backcasting-1920 .niue-cover-c-molly-brown-nz {
  border-radius: 5px;
  height: 245px;
  left: 1097px;
  object-fit: cover;
  position: absolute;
  top: 1139px;
  width: 308px;
}

.chapter-5-backcasting-1920 .retngulo-47 {
  border-radius: 5px;
  height: 282px;
  left: 1088px;
  top: 905px;
  width: 326px;
}

.chapter-5-backcasting-1920 .grupo-188 {
  cursor: pointer;
  height: 24px;
  left: 1119px;
  top: 1123px;
  width: auto;
}

.chapter-5-backcasting-1920 .x16 {
  height: 199px;
  left: 1224px;
  object-fit: cover;
  position: absolute;
  top: 869px;
  width: 182px;
}

.chapter-5-backcasting-1920 .case-study-16futures-speed-dating {
  height: 172px;
  left: 1115px;
  object-fit: cover;
  position: absolute;
  top: 943px;
  width: 263px;
}

.chapter-5-backcasting-1920 .grupo-8843 {
  height: 64px;
  left: 766px;
  top: 1595px;
  width: 64px;
}

.chapter-5-backcasting-1920 .grupo-8844 {
  height: 53px;
  left: 767px;
  top: 1701px;
  width: 63px;
}

.chapter-5-backcasting-1920 .grupo-8845 {
  height: 54px;
  left: 779px;
  top: 1804px;
  width: 40px;
}

.chapter-5-backcasting-1920 .grupo-8846 {
  height: 319px;
  left: 1278px;
  top: 1589px;
  width: 4px;
}

.chapter-5-backcasting-1920 .time60-minutes {
  height: 49px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1600px;
  width: 99px;
}

.chapter-5-backcasting-1920 .no-of-participantsle {
  height: 82px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1692px;
  width: auto;
}

.chapter-5-backcasting-1920 .butchersdrawing-paper {
  height: 57px;
  left: 1421px;
  object-fit: cover;
  position: absolute;
  top: 1648px;
  width: 155px;
}

.chapter-5-backcasting-1920 .coloured-marker-pens {
  height: 64px;
  left: 1701px;
  object-fit: cover;
  position: absolute;
  top: 1644px;
  width: 131px;
}

.chapter-5-backcasting-1920 .material {
  height: 24px;
  left: 1525px;
  object-fit: cover;
  position: absolute;
  top: 1591px;
  width: 74px;
}

.chapter-5-backcasting-1920 .facilitation1-facili {
  height: 70px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1808px;
  width: auto;
}

.chapter-5-backcasting-1920 .grupo-8847 {
  height: 45px;
  left: 1492px;
  top: 1873px;
  width: 282px;
}

.chapter-5-backcasting-1920 .quesiton_-tabs-v {
  height: 167px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 577px;
  width: 576px;
}

.chapter-5-backcasting-1920 .activities {
  height: 53px;
  left: 1327px;
  object-fit: cover;
  position: absolute;
  top: 2059px;
  width: 188px;
}

.chapter-5-backcasting-1920 .grupo-8848 {
  height: 94px;
  left: 1278px;
  top: 2041px;
  width: 34px;
}

.chapter-5-backcasting-1920 .grupo-8849 {
  height: 94px;
  left: 1530px;
  top: 2041px;
  width: 34px;
}

.chapter-5-backcasting-1920 .retngulo-80 {
  height: 81px;
  left: 461px;
  top: 137px;
  width: 1920px;
}

.chapter-5-backcasting-1920 .grupo-788 {
  height: 47px;
  left: 1282px;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-1920 .menu-v {
  height: 81px;
  left: 2300px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-1920 .grupo-790 {
  height: 5px;
  left: 462px;
  top: 218px;
  width: 1920px;
}

.chapter-5-backcasting-1920 .grupo-8850 {
  height: 58px;
  left: 1331px;
  top: 1644px;
  width: 64px;
}

.chapter-5-backcasting-1920 .grupo-8851 {
  height: 47px;
  left: 1625px;
  top: 1644px;
  width: 61px;
}

.chapter-5-backcasting-1920 .how-to-do-it {
  height: 53px;
  left: 1285px;
  object-fit: cover;
  position: absolute;
  top: 1459px;
  width: 243px;
}

.chapter-5-backcasting-1920 .grupo-8852 {
  height: 94px;
  left: 1236px;
  top: 1441px;
  width: 34px;
}

.chapter-5-backcasting-1920 .grupo-8853 {
  height: 94px;
  left: 1541px;
  top: 1441px;
  width: 34px;
}

.chapter-5-backcasting-1920 .entrada-de-capitulo {
  height: 996px;
  left: 1746px;
  object-fit: cover;
  position: absolute;
  top: 222px;
  width: 635px;
}

.chapter-5-backcasting-1920 .chapter-3_tip_-button-v {
  cursor: pointer;
  height: 450px;
  left: 1451px;
  object-fit: cover;
  position: absolute;
  top: 401px;
  width: 494px;
}

.chapter-5-backcasting-1920 .grupo-8854 {
  height: 45px;
  left: 2074px;
  top: 280px;
  width: 282px;
}

.chapter-5-backcasting-1920 .more_-info-button-v {
  cursor: pointer;
  height: 40px;
  left: 2167px;
  object-fit: cover;
  position: absolute;
  top: 1128px;
  width: 174px;
}

.chapter-5-backcasting-1920 .grupo-8855 {
  height: 183px;
  left: 486px;
  top: 354px;
  width: 196px;
}

.chapter-5-backcasting-1920 .retngulo-357 {
  border-radius: 30px;
  height: 156px;
  left: 768px;
  top: 2189px;
  width: 1307px;
}

.chapter-5-backcasting-1920 .retngulo-437 {
  border-radius: 30px;
  height: 156px;
  left: 768px;
  top: 2755px;
  width: 1307px;
}

.chapter-5-backcasting-1920 .retngulo-440 {
  border-radius: 30px;
  height: 156px;
  left: 768px;
  top: 2924px;
  width: 1307px;
}

.chapter-5-backcasting-1920 .retngulo-359 {
  border-radius: 30px;
  height: 184px;
  left: 768px;
  top: 2358px;
  width: 1307px;
}

.chapter-5-backcasting-1920 .retngulo-434-1 {
  border-radius: 30px;
  height: 184px;
  left: 768px;
  object-fit: cover;
  position: absolute;
  top: 2556px;
  width: 1307px;
}

.chapter-5-backcasting-1920 .retngulo-361 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 768px;
  top: 2189px;
  width: 339px;
}

.chapter-5-backcasting-1920 .retngulo-438 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 768px;
  top: 2755px;
  width: 339px;
}

.chapter-5-backcasting-1920 .retngulo-441 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 768px;
  top: 2924px;
  width: 339px;
}

.chapter-5-backcasting-1920 .retngulo-363 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 768px;
  top: 2358px;
  width: 339px;
}

.chapter-5-backcasting-1920 .retngulo-435 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 768px;
  top: 2556px;
  width: 339px;
}

.chapter-5-backcasting-1920 .x20-minutes {
  height: 21px;
  left: 827px;
  object-fit: cover;
  position: absolute;
  top: 2374px;
  width: 96px;
}

.chapter-5-backcasting-1920 .x20-minutes-1 {
  height: 21px;
  left: 827px;
  object-fit: cover;
  position: absolute;
  top: 2572px;
  width: 96px;
}

.chapter-5-backcasting-1920 .x10-minutes {
  height: 21px;
  left: 827px;
  object-fit: cover;
  position: absolute;
  top: 2206px;
  width: 93px;
}

.chapter-5-backcasting-1920 .x10-minutes-1 {
  height: 21px;
  left: 827px;
  object-fit: cover;
  position: absolute;
  top: 2772px;
  width: 93px;
}

.chapter-5-backcasting-1920 .post-exercise {
  height: 30px;
  left: 810px;
  object-fit: cover;
  position: absolute;
  top: 2935px;
  width: auto;
}

.chapter-5-backcasting-1920 .grupo-3406 {
  height: 36px;
  left: 785px;
  top: 2365px;
  width: 36px;
}

.chapter-5-backcasting-1920 .grupo-8816 {
  height: 36px;
  left: 785px;
  top: 2563px;
  width: 36px;
}

.chapter-5-backcasting-1920 .grupo-5545 {
  height: 36px;
  left: 785px;
  top: 2197px;
  width: 36px;
}

.chapter-5-backcasting-1920 .grupo-8823 {
  height: 36px;
  left: 785px;
  top: 2763px;
  width: 36px;
}

.chapter-5-backcasting-1920 .retngulo-365 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 985px;
  top: 2189px;
  width: 1090px;
}

.chapter-5-backcasting-1920 .retngulo-439 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 985px;
  top: 2755px;
  width: 1090px;
}

.chapter-5-backcasting-1920 .retngulo-442 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 985px;
  top: 2924px;
  width: 1090px;
}

.chapter-5-backcasting-1920 .retngulo-367 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 985px;
  top: 2358px;
  width: 1090px;
}

.chapter-5-backcasting-1920 .retngulo-436-1 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 985px;
  object-fit: cover;
  position: absolute;
  top: 2556px;
  width: 1090px;
}

.chapter-5-backcasting-1920 .explain {
  height: 24px;
  left: 985px;
  object-fit: cover;
  position: absolute;
  top: 2201px;
  width: 1090px;
}

.chapter-5-backcasting-1920 .present {
  height: 24px;
  left: 985px;
  object-fit: cover;
  position: absolute;
  top: 2767px;
  width: 1090px;
}

.chapter-5-backcasting-1920 .collate-findings {
  height: 24px;
  left: 985px;
  object-fit: cover;
  position: absolute;
  top: 2936px;
  width: 1090px;
}

.chapter-5-backcasting-1920 .practice {
  height: 24px;
  left: 985px;
  object-fit: cover;
  position: absolute;
  top: 2370px;
  width: 1090px;
}

.chapter-5-backcasting-1920 .make-small-groups {
  height: 24px;
  left: 985px;
  object-fit: cover;
  position: absolute;
  top: 2568px;
  width: 1090px;
}

.chapter-5-backcasting-1920 .step-1explain-the-ba {
  height: 59px;
  left: 826px;
  object-fit: cover;
  position: absolute;
  top: 2265px;
  width: 1213px;
}

.chapter-5-backcasting-1920 .step-4present-backca {
  height: 59px;
  left: 826px;
  object-fit: cover;
  position: absolute;
  top: 2831px;
  width: 1213px;
}

.chapter-5-backcasting-1920 .step-5collate-findin {
  height: 59px;
  left: 826px;
  object-fit: cover;
  position: absolute;
  top: 3000px;
  width: 1213px;
}

.chapter-5-backcasting-1920 .step-2if-holding-the {
  height: 94px;
  left: 828px;
  object-fit: cover;
  position: absolute;
  top: 2434px;
  width: 1214px;
}

.chapter-5-backcasting-1920 .step-3break-into-sma {
  height: 94px;
  left: 828px;
  object-fit: cover;
  position: absolute;
  top: 2632px;
  width: 1214px;
}

.chapter-5-backcasting-1920 .retngulo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-375 */

.chapter-5-backcasting-375 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 5486px;
  overflow: hidden;
  width: 375px;
}

.chapter-5-backcasting-375 .overlap-group-3 {
  height: 3924px;
  position: relative;
  width: 1251px;
}

.chapter-5-backcasting-375 .retngulo-148542 {
  height: 1860px;
  left: 438px;
  top: 81px;
  width: 375px;
}

.chapter-5-backcasting-375 .grupo-de-mscara-18 {
  height: 559px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1382px;
  width: 1251px;
}

.chapter-5-backcasting-375 .grupo-144018 {
  height: 1341px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 1940px;
  width: 375px;
}

.chapter-5-backcasting-375 .developing-and-testing-strategy-1 {
  height: 148px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 192px;
  width: 274px;
}

.chapter-5-backcasting-375 .chapter-5-1 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: 147px;
}

.chapter-5-backcasting-375 .backcasting-3 {
  height: 42px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 346px;
  width: 246px;
}

.chapter-5-backcasting-375 .caminho-747 {
  height: 36px;
  left: 560px;
  object-fit: cover;
  position: absolute;
  top: 812px;
  width: 136px;
}

.chapter-5-backcasting-375 .grupo-144015 {
  height: 64px;
  left: 511px;
  object-fit: cover;
  position: absolute;
  top: 2140px;
  width: 230px;
}

.chapter-5-backcasting-375 .retngulo-148492 {
  height: 81px;
  left: 438px;
  top: 0;
  width: 375px;
}

.chapter-5-backcasting-375 .spc-cps-logo_27_stars-white-3 {
  height: 50px;
  left: 457px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 122px;
}

.chapter-5-backcasting-375 .menu-1 {
  height: 81px;
  left: 732px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 81px;
}

.chapter-5-backcasting-375 .grupo-143932 {
  height: 5px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 375px;
}

.chapter-5-backcasting-375 .grupo-144008 {
  height: 34px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 426px;
  width: 184px;
}

.chapter-5-backcasting-375 .grupo-144169 {
  height: 151px;
  left: 652px;
  object-fit: cover;
  position: absolute;
  top: 428px;
  width: 109px;
}

.chapter-5-backcasting-375 .more_-info-button-v-3 {
  height: 35px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 579px;
  width: 152px;
}

.chapter-5-backcasting-375 .quesiton_-tabs-v-3 {
  height: 167px;
  left: 489px;
  object-fit: cover;
  position: absolute;
  top: 720px;
  width: 272px;
}

.chapter-5-backcasting-375 .grupo-144013 {
  cursor: pointer;
  height: 516px;
  left: 462px;
  object-fit: cover;
  position: absolute;
  top: 1054px;
  width: 326px;
}

.chapter-5-backcasting-375 .niue-cover-c-molly-brown-nz-3 {
  border-radius: 5px;
  height: 245px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 1832px;
  width: 308px;
}

.chapter-5-backcasting-375 .retngulo-47-3 {
  border-radius: 5px;
  height: 282px;
  left: 462px;
  object-fit: cover;
  position: absolute;
  top: 1597px;
  width: 326px;
}

.chapter-5-backcasting-375 .grupo-188-3 {
  cursor: pointer;
  height: 24px;
  left: 493px;
  object-fit: cover;
  position: absolute;
  top: 1815px;
  width: auto;
}

.chapter-5-backcasting-375 .x16-3 {
  height: 199px;
  left: 598px;
  object-fit: cover;
  position: absolute;
  top: 1561px;
  width: 182px;
}

.chapter-5-backcasting-375 .case-study-16futures-speed-dating-3 {
  height: 172px;
  left: 489px;
  object-fit: cover;
  position: absolute;
  top: 1635px;
  width: 263px;
}

.chapter-5-backcasting-375 .time60-minutes-2 {
  height: 46px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 2234px;
  width: auto;
}

.chapter-5-backcasting-375 .no-of-participantsle-2 {
  height: 79px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 2327px;
  width: auto;
}

.chapter-5-backcasting-375 .facilitation1-facili-2 {
  height: 65px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 2442px;
  width: auto;
}

.chapter-5-backcasting-375 .materialbutchersdraw {
  height: 85px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 2544px;
  width: auto;
}

.chapter-5-backcasting-375 .grupo-144016 {
  height: 34px;
  left: 531px;
  object-fit: cover;
  position: absolute;
  top: 2668px;
  width: 190px;
}

.chapter-5-backcasting-375 .design-space-paper-textured-background-3 {
  height: 1175px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 2749px;
  width: 375px;
}

.chapter-5-backcasting-375 .grupo-144017 {
  height: 64px;
  left: 511px;
  object-fit: cover;
  position: absolute;
  top: 2851px;
  width: 230px;
}

.chapter-5-backcasting-375 .retngulo-148544 {
  border-radius: 30px;
  height: 146px;
  left: 471px;
  top: 2975px;
  width: 309px;
}

.chapter-5-backcasting-375 .retngulo-148545 {
  border-radius: 30px;
  height: 145px;
  left: 471px;
  top: 3527px;
  width: 309px;
}

.chapter-5-backcasting-375 .retngulo-148546 {
  border-radius: 30px;
  height: 158px;
  left: 471px;
  top: 3686px;
  width: 309px;
}

.chapter-5-backcasting-375 .retngulo-148547 {
  border-radius: 30px;
  height: 182px;
  left: 471px;
  top: 3134px;
  width: 309px;
}

.chapter-5-backcasting-375 .retngulo-148548 {
  border-radius: 30px;
  height: 182px;
  left: 471px;
  top: 3328px;
  width: 309px;
}

.chapter-5-backcasting-375 .retngulo-148549 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 2975px;
  width: 256px;
}

.chapter-5-backcasting-375 .retngulo-148550 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 3527px;
  width: 256px;
}

.chapter-5-backcasting-375 .retngulo-148551 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 3686px;
  width: 256px;
}

.chapter-5-backcasting-375 .retngulo-148552 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 3134px;
  width: 256px;
}

.chapter-5-backcasting-375 .retngulo-148553 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 524px;
  top: 3328px;
  width: 256px;
}

.chapter-5-backcasting-375 .explain-3 {
  height: 21px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  top: 2986px;
  width: 186px;
}

.chapter-5-backcasting-375 .present-3 {
  height: 21px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  top: 3538px;
  width: 186px;
}

.chapter-5-backcasting-375 .collate-findings-3 {
  height: 40px;
  left: 620px;
  object-fit: cover;
  position: absolute;
  top: 3692px;
  width: auto;
}

.chapter-5-backcasting-375 .practice-3 {
  height: 21px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  top: 3146px;
  width: 186px;
}

.chapter-5-backcasting-375 .small-groups {
  height: 40px;
  left: 615px;
  object-fit: cover;
  position: absolute;
  top: 3335px;
  width: auto;
}

.chapter-5-backcasting-375 .step-1explain-the-ba-3 {
  height: 40px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 3051px;
  width: 277px;
}

.chapter-5-backcasting-375 .step-4present-backca-3 {
  height: 50px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 3603px;
  width: auto;
}

.chapter-5-backcasting-375 .step-5collate-findin-3 {
  height: 55px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 3762px;
  width: 277px;
}

.chapter-5-backcasting-375 .step-2if-holding-the-3 {
  height: 80px;
  left: 490px;
  object-fit: cover;
  position: absolute;
  top: 3210px;
  width: 275px;
}

.chapter-5-backcasting-375 .step-3break-into-sma-3 {
  height: 80px;
  left: 490px;
  object-fit: cover;
  position: absolute;
  top: 3404px;
  width: 275px;
}

.chapter-5-backcasting-375 .retngulo-148554 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 2975px;
  width: 123px;
}

.chapter-5-backcasting-375 .retngulo-148555 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 3527px;
  width: 123px;
}

.chapter-5-backcasting-375 .retngulo-148556 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 3686px;
  width: 123px;
}

.chapter-5-backcasting-375 .retngulo-148557 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 3134px;
  width: 123px;
}

.chapter-5-backcasting-375 .retngulo-148558 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 471px;
  top: 3328px;
  width: 123px;
}

.chapter-5-backcasting-375 .x20-m {
  height: 21px;
  left: 530px;
  object-fit: cover;
  position: absolute;
  top: 3150px;
  width: 46px;
}

.chapter-5-backcasting-375 .x20-m-1 {
  height: 21px;
  left: 530px;
  object-fit: cover;
  position: absolute;
  top: 3344px;
  width: 46px;
}

.chapter-5-backcasting-375 .x10-m {
  height: 21px;
  left: 530px;
  object-fit: cover;
  position: absolute;
  top: 2992px;
  width: 44px;
}

.chapter-5-backcasting-375 .x10-m-1 {
  height: 21px;
  left: 530px;
  object-fit: cover;
  position: absolute;
  top: 3544px;
  width: 44px;
}

.chapter-5-backcasting-375 .postexercise {
  height: 34px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 3694px;
  width: 69px;
}

.chapter-5-backcasting-375 .grupo-144025 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 3140px;
  width: 36px;
}

.chapter-5-backcasting-375 .grupo-144032 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 3334px;
  width: 36px;
}

.chapter-5-backcasting-375 .grupo-144039 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 2982px;
  width: 36px;
}

.chapter-5-backcasting-375 .grupo-144046 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 3534px;
  width: 36px;
}

.chapter-5-backcasting-375 .grupo-144168 {
  height: 4px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 328px;
  width: 163px;
}

.chapter-5-backcasting-375 .grupo-144075 {
  height: 64px;
  margin-left: 1.0px;
  margin-top: 4000px;
  object-fit: cover;
  width: 118px;
}

.chapter-5-backcasting-375 .backcasting-is-best {
  height: 346px;
  margin-right: 1.0px;
  margin-top: 43px;
  object-fit: cover;
  width: 308px;
}

.chapter-5-backcasting-375 .grupo-144076 {
  height: 57px;
  margin-right: 0;
  margin-top: 8px;
  object-fit: cover;
  width: 57px;
}

.chapter-5-backcasting-375 .overlap-group1 {
  align-items: center;
  background-image: url(../img/design-space-paper-textured-background-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  min-height: 1175px;
  padding: 74px 0;
  width: 375px;
}

.chapter-5-backcasting-375 .grupo-144077 {
  height: 68px;
  margin-left: 1.0px;
  object-fit: cover;
  width: 230px;
}

.chapter-5-backcasting-375 .save-the-children-20 {
  height: 488px;
  margin-top: 43px;
  object-fit: cover;
  width: 309px;
}

.chapter-5-backcasting-375 .grupo-144078 {
  height: 57px;
  margin-right: 0.43px;
  margin-top: 40px;
  object-fit: cover;
  width: 57px;
}

.chapter-5-backcasting-375 .footer-3 {
  height: 61px;
  margin-top: 77px;
  object-fit: cover;
  width: 375px;
}

.chapter-5-backcasting-375 .retngulo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-768-all-breakpoints */

.chapter-5-backcasting-768-all-breakpoints {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3826px;
  overflow: hidden;
  width: 768px;
}

.chapter-5-backcasting-768-all-breakpoints .overlap-group-2 {
  height: 4168px;
  margin-left: -975px;
  margin-top: -137.47px;
  position: relative;
  width: 2391px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-144185 {
  height: 1225px;
  left: 0;
  top: 1561px;
  width: 2391px;
}

.chapter-5-backcasting-768-all-breakpoints .design-space-paper-textured-background-2 {
  height: 1495px;
  left: 975px;
  object-fit: cover;
  position: absolute;
  top: 2673px;
  width: 768px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-8843-1 {
  height: 64px;
  left: 1055px;
  object-fit: cover;
  position: absolute;
  top: 1974px;
  width: 64px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-8844-1 {
  height: 53px;
  left: 1056px;
  object-fit: cover;
  position: absolute;
  top: 2080px;
  width: 63px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-8845-1 {
  height: 54px;
  left: 1067px;
  object-fit: cover;
  position: absolute;
  top: 2183px;
  width: 40px;
}

.chapter-5-backcasting-768-all-breakpoints .time60-minutes-1 {
  height: 49px;
  left: 1136px;
  object-fit: cover;
  position: absolute;
  top: 1979px;
  width: 99px;
}

.chapter-5-backcasting-768-all-breakpoints .no-of-participantsle-1 {
  height: 82px;
  left: 1136px;
  object-fit: cover;
  position: absolute;
  top: 2071px;
  width: auto;
}

.chapter-5-backcasting-768-all-breakpoints .facilitation1-facili-1 {
  height: 70px;
  left: 1136px;
  object-fit: cover;
  position: absolute;
  top: 2178px;
  width: auto;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143973 {
  height: 94px;
  left: 1189px;
  top: 1820px;
  width: 340px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148524 {
  height: 1341px;
  left: 975px;
  top: 222px;
  width: 768px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-de-mscara-17 {
  height: 559px;
  left: 936px;
  object-fit: cover;
  position: absolute;
  top: 1004px;
  width: 1251px;
}

.chapter-5-backcasting-768-all-breakpoints .backcasting-2 {
  height: 204px;
  left: 1278px;
  object-fit: cover;
  position: absolute;
  top: 392px;
  width: 384px;
}

.chapter-5-backcasting-768-all-breakpoints .developing-and-testing-strategy {
  height: 77px;
  left: 1280px;
  object-fit: cover;
  position: absolute;
  top: 284px;
  width: 310px;
}

.chapter-5-backcasting-768-all-breakpoints .chapter-5 {
  height: 28px;
  left: 1280px;
  object-fit: cover;
  position: absolute;
  top: 259px;
  width: 115px;
}

.chapter-5-backcasting-768-all-breakpoints .case-study7_-button-v-2 {
  cursor: pointer;
  height: 516px;
  left: 1030px;
  object-fit: cover;
  position: absolute;
  top: 1208px;
  width: 326px;
}

.chapter-5-backcasting-768-all-breakpoints .niue-cover-c-molly-brown-nz-2 {
  border-radius: 5px;
  height: 245px;
  left: 1370px;
  object-fit: cover;
  position: absolute;
  top: 1478px;
  width: 308px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-47-2 {
  border-radius: 5px;
  height: 282px;
  left: 1361px;
  object-fit: cover;
  position: absolute;
  top: 1244px;
  width: 326px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-188-2 {
  cursor: pointer;
  height: 24px;
  left: 1392px;
  object-fit: cover;
  position: absolute;
  top: 1462px;
  width: auto;
}

.chapter-5-backcasting-768-all-breakpoints .x16-2 {
  height: 199px;
  left: 1497px;
  object-fit: cover;
  position: absolute;
  top: 1208px;
  width: 182px;
}

.chapter-5-backcasting-768-all-breakpoints .case-study-16futures-speed-dating-2 {
  height: 172px;
  left: 1388px;
  object-fit: cover;
  position: absolute;
  top: 1282px;
  width: 263px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143968 {
  height: 864px;
  left: 514px;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143970 {
  height: 5px;
  left: 1280px;
  top: 378px;
  width: 199px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143974 {
  height: 183px;
  left: 1000px;
  top: 354px;
  width: 196px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148486 {
  height: 81px;
  left: 975px;
  top: 137px;
  width: 768px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143707 {
  height: 47px;
  left: 1209px;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-768-all-breakpoints .spc-cps-logo_27_stars-white-2 {
  height: 50px;
  left: 994px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-768-all-breakpoints .menu {
  height: 81px;
  left: 1662px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143711 {
  height: 5px;
  left: 975px;
  top: 218px;
  width: 768px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143975 {
  height: 45px;
  left: 1278px;
  top: 490px;
  width: 282px;
}

.chapter-5-backcasting-768-all-breakpoints .more_-info-button-v-2 {
  cursor: pointer;
  height: 40px;
  left: 1056px;
  object-fit: cover;
  position: absolute;
  top: 1067px;
  width: 174px;
}

.chapter-5-backcasting-768-all-breakpoints .materialbutchersdrawing-paper {
  height: 50px;
  left: 1136px;
  object-fit: cover;
  position: absolute;
  top: 2289px;
  width: auto;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-8850-1 {
  height: 58px;
  left: 1055px;
  object-fit: cover;
  position: absolute;
  top: 2285px;
  width: 64px;
}

.chapter-5-backcasting-768-all-breakpoints .coloured-marker-pens-1 {
  height: 55px;
  left: 1136px;
  object-fit: cover;
  position: absolute;
  top: 2398px;
  width: 364px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-8851-1 {
  height: 47px;
  left: 1054px;
  object-fit: cover;
  position: absolute;
  top: 2397px;
  width: 61px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143971 {
  height: 45px;
  left: 1218px;
  top: 2521px;
  width: 282px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143977 {
  height: 94px;
  left: 1216px;
  top: 2715px;
  width: 286px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148526 {
  border-radius: 30px;
  height: 156px;
  left: 1057px;
  top: 2864px;
  width: 605px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148527 {
  border-radius: 30px;
  height: 156px;
  left: 1057px;
  top: 3496px;
  width: 605px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148528 {
  border-radius: 30px;
  height: 182px;
  left: 1057px;
  top: 3671px;
  width: 605px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148529 {
  border-radius: 30px;
  height: 216px;
  left: 1057px;
  top: 3033px;
  width: 605px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148530 {
  border-radius: 30px;
  height: 220px;
  left: 1057px;
  top: 3262px;
  width: 605px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148536 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 1110px;
  top: 2864px;
  width: 552px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148537 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 1110px;
  top: 3496px;
  width: 552px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148538 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 1110px;
  top: 3671px;
  width: 552px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148539 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 1110px;
  top: 3033px;
  width: 552px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148540 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 1110px;
  top: 3262px;
  width: 552px;
}

.chapter-5-backcasting-768-all-breakpoints .explain-2 {
  height: 24px;
  left: 1242px;
  object-fit: cover;
  position: absolute;
  top: 2875px;
  width: 420px;
}

.chapter-5-backcasting-768-all-breakpoints .present-2 {
  height: 24px;
  left: 1242px;
  object-fit: cover;
  position: absolute;
  top: 3508px;
  width: 420px;
}

.chapter-5-backcasting-768-all-breakpoints .collate-findings-2 {
  height: 28px;
  left: 1210px;
  object-fit: cover;
  position: absolute;
  top: 3682px;
  width: auto;
}

.chapter-5-backcasting-768-all-breakpoints .practice-2 {
  height: 24px;
  left: 1242px;
  object-fit: cover;
  position: absolute;
  top: 3044px;
  width: 420px;
}

.chapter-5-backcasting-768-all-breakpoints .make-small-groups-2 {
  height: 24px;
  left: 1242px;
  object-fit: cover;
  position: absolute;
  top: 3273px;
  width: 420px;
}

.chapter-5-backcasting-768-all-breakpoints .step-1explain-the-ba-2 {
  height: 59px;
  left: 1115px;
  object-fit: cover;
  position: absolute;
  top: 2940px;
  width: 478px;
}

.chapter-5-backcasting-768-all-breakpoints .step-4present-backca-2 {
  height: 59px;
  left: 1115px;
  object-fit: cover;
  position: absolute;
  top: 3572px;
  width: 548px;
}

.chapter-5-backcasting-768-all-breakpoints .step-5collate-findin-2 {
  height: 84px;
  left: 1115px;
  object-fit: cover;
  position: absolute;
  top: 3747px;
  width: 478px;
}

.chapter-5-backcasting-768-all-breakpoints .step-2if-holding-the-2 {
  height: 119px;
  left: 1117px;
  object-fit: cover;
  position: absolute;
  top: 3109px;
  width: 476px;
}

.chapter-5-backcasting-768-all-breakpoints .step-3break-into-sma-2 {
  height: 119px;
  left: 1117px;
  object-fit: cover;
  position: absolute;
  top: 3338px;
  width: 476px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148531 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 1057px;
  top: 2864px;
  width: 185px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148532 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 1057px;
  top: 3496px;
  width: 185px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148533 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 1057px;
  top: 3671px;
  width: 185px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148534 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 1057px;
  top: 3033px;
  width: 185px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo-148535 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 1057px;
  top: 3262px;
  width: 185px;
}

.chapter-5-backcasting-768-all-breakpoints .x20-minutes-4 {
  top: 3048px;
}

.chapter-5-backcasting-768-all-breakpoints .x20-minutes-5 {
  top: 3277px;
}

.chapter-5-backcasting-768-all-breakpoints .x10-minutes-4 {
  top: 2880px;
}

.chapter-5-backcasting-768-all-breakpoints .x10-minutes-5 {
  top: 3513px;
}

.chapter-5-backcasting-768-all-breakpoints .post-exercise-2 {
  height: 35px;
  left: 1070px;
  object-fit: cover;
  position: absolute;
  top: 3675px;
  width: auto;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143984 {
  height: 36px;
  left: 1074px;
  top: 3039px;
  width: 36px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143991 {
  height: 36px;
  left: 1074px;
  top: 3268px;
  width: 36px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-143998 {
  height: 36px;
  left: 1074px;
  top: 2871px;
  width: 36px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-144005 {
  height: 36px;
  left: 1074px;
  top: 3504px;
  width: 36px;
}

.chapter-5-backcasting-768-all-breakpoints .footer-2 {
  height: 61px;
  left: 975px;
  object-fit: cover;
  position: absolute;
  top: 3902px;
  width: 768px;
}

.chapter-5-backcasting-768-all-breakpoints .quesiton_-tabs-v-2 {
  height: 167px;
  left: 1278px;
  object-fit: cover;
  position: absolute;
  top: 588px;
  width: 384px;
}

.chapter-5-backcasting-768-all-breakpoints .grupo-144170 {
  height: 433px;
  left: 1250px;
  top: 782px;
  width: 476px;
}

.chapter-5-backcasting-768-all-breakpoints .retngulo {
  object-fit: cover;
  position: absolute;
}

.chapter-5-backcasting-768-all-breakpoints .x10-minutes {
  height: 21px;
  left: 1116px;
  object-fit: cover;
  position: absolute;
  width: 93px;
}

.chapter-5-backcasting-768-all-breakpoints .x20-minutes {
  height: 21px;
  left: 1116px;
  object-fit: cover;
  position: absolute;
  width: 96px;
}


.link11 {
  cursor: pointer;
  position: absolute;
  right: 45px;
  top: 4873px;
  width: 75%;
  height: auto;
  z-index: 70;
}

.link22 {
  cursor: pointer;
  position: absolute;
  right: 45px;
  top: 5083px;
  width: 75%;
  height: auto;
  z-index: 70;
}

.link33 {
  cursor: pointer;
  position: absolute;
  right: 45px;
  top: 5205px;
  width: 75%;
  height: auto;
  z-index: 70;
}

@media screen and (max-width: 767px) {
  .screen.chapter-5-backcasting-1920 { 
    display: none;
   }
  .screen.chapter-5-backcasting-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-768-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.chapter-5-backcasting-1920 { 
    display: none;
   }
  .screen.chapter-5-backcasting-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-375 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.chapter-5-backcasting-1920 { 
    display: none;
   }
  .screen.chapter-5-backcasting-768-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-375 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.chapter-5-backcasting-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-768-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-375 { 
    display: none;
   }
}