/* screen - chapter-5-backcasting-case-study-15-1280 */

.chapter-5-backcasting-case-study-15-1280 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2150px;
  overflow: hidden;
  width: 1280px;
}

.chapter-5-backcasting-case-study-15-1280 .overlap-group-1 {
  height: 2232px;
  margin-left: -461.25px;
  margin-top: -138px;
  position: relative;
  width: 1741px;
}

.chapter-5-backcasting-case-study-15-1280 .design-space-paper-textured-background-1 {
  height: 1901px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-15-1280 .case-study-15backcas-1 {
  height: 173px;
  left: 698px;
  object-fit: cover;
  position: absolute;
  top: 363px;
  width: 910px;
}

.chapter-5-backcasting-case-study-15-1280 .we-used-backcasting-1 {
  height: 218px;
  left: 698px;
  object-fit: cover;
  position: absolute;
  top: 553px;
  width: 881px;
}

.chapter-5-backcasting-case-study-15-1280 .spc-cps-logo_27_stars-white {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: 122px;
}

.chapter-5-backcasting-case-study-15-1280 .header {
  height: 86px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 138px;
  width: auto;
}

.chapter-5-backcasting-case-study-15-1280 .what-we-did-we-used-1 {
  height: 373px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  top: 884px;
  width: 486px;
}

.chapter-5-backcasting-case-study-15-1280 .grupo-144171 {
  height: 29px;
  left: 594px;
  top: 1287px;
  width: 120px;
}

.chapter-5-backcasting-case-study-15-1280 .grupo-144172 {
  height: 196px;
  left: 714px;
  top: 1325px;
  width: 202px;
}

.chapter-5-backcasting-case-study-15-1280 .grupo-144175 {
  height: 617px;
  left: 1141px;
  top: 884px;
  width: 542px;
}

.chapter-5-backcasting-case-study-15-1280 .what-we-learnt-backc-1 {
  height: 615px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  top: 1560px;
  width: 254px;
}

.chapter-5-backcasting-case-study-15-1280 .grupo-144177 {
  height: 556px;
  left: 896px;
  top: 1537px;
  width: 725px;
}

.chapter-5-backcasting-case-study-15-1280 .footer {
  height: 61px;
  object-fit: cover;
  width: 1280px;
}
/* screen - chapter-5-backcasting-case-study-15-1920 */

.chapter-5-backcasting-case-study-15-1920 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2150px;
  overflow: hidden;
  width: 1920px;
}

.chapter-5-backcasting-case-study-15-1920 .overlap-group {
  height: 2289px;
  margin-left: -461px;
  margin-top: -137.47px;
  position: relative;
  width: 2381px;
}

.chapter-5-backcasting-case-study-15-1920 .retngulo-443 {
  height: 2010px;
  left: 461px;
  top: 223px;
  width: 1920px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-8857 {
  height: 864px;
  left: 0;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-8858 {
  height: 183px;
  left: 486px;
  top: 354px;
  width: 196px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-8876 {
  height: 1275px;
  left: 461px;
  top: 617px;
  width: 1273px;
}

.chapter-5-backcasting-case-study-15-1920 .retngulo-444 {
  height: 1828px;
  left: 631px;
  top: 272px;
  width: 1639px;
}

.chapter-5-backcasting-case-study-15-1920 .design-space-paper-textured-background {
  height: 1826px;
  left: 631px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1640px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-8877 {
  height: 86px;
  left: 461px;
  top: 138px;
  width: 1920px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-8878 {
  height: 537px;
  left: 631px;
  top: 274px;
  width: 1639px;
}

.chapter-5-backcasting-case-study-15-1920 .case-study-15backcas {
  height: 173px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 363px;
  width: 1299px;
}

.chapter-5-backcasting-case-study-15-1920 .what-we-did-we-used {
  height: 373px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 884px;
  width: 486px;
}

.chapter-5-backcasting-case-study-15-1920 .retngulo-445 {
  height: 81px;
  left: 2189px;
  top: 272px;
  width: 81px;
}

.chapter-5-backcasting-case-study-15-1920 .x {
  cursor: pointer;
  height: 94px;
  left: 2182px;
  object-fit: cover;
  position: absolute;
  top: 268px;
  width: 94px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-8879 {
  height: 5px;
  left: 773px;
  top: 1372px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-1920 .we-used-backcasting {
  height: 181px;
  left: 781px;
  object-fit: cover;
  position: absolute;
  top: 553px;
  width: 943px;
}

.chapter-5-backcasting-case-study-15-1920 .figure-14-extract-fr {
  height: 49px;
  left: 1437px;
  object-fit: cover;
  position: absolute;
  top: 866px;
  width: 723px;
}

.chapter-5-backcasting-case-study-15-1920 .source-pacific-community-spc {
  height: 18px;
  left: 1435px;
  object-fit: cover;
  position: absolute;
  top: 1440px;
  width: 636px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-8880 {
  height: 487px;
  left: 1437px;
  top: 935px;
  width: 723px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-8881 {
  height: 29px;
  left: 773px;
  top: 1287px;
  width: 120px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-8882 {
  height: 25px;
  left: 913px;
  top: 1291px;
  width: 257px;
}

.chapter-5-backcasting-case-study-15-1920 .our-team-analysed-th {
  height: 80px;
  left: 781px;
  object-fit: cover;
  position: absolute;
  top: 1483px;
  width: 494px;
}

.chapter-5-backcasting-case-study-15-1920 .what-happened {
  height: 29px;
  left: 780px;
  object-fit: cover;
  position: absolute;
  top: 1432px;
  width: 486px;
}

.chapter-5-backcasting-case-study-15-1920 .policy-to-action-dat {
  height: 176px;
  left: 825px;
  object-fit: cover;
  position: absolute;
  top: 1592px;
  width: 494px;
}

.chapter-5-backcasting-case-study-15-1920 .x12345 {
  height: 201px;
  left: 795px;
  object-fit: cover;
  position: absolute;
  top: 1595px;
  width: 30px;
}

.chapter-5-backcasting-case-study-15-1920 .these-five-areas-hav {
  height: 234px;
  left: 776px;
  object-fit: cover;
  position: absolute;
  top: 1815px;
  width: 486px;
}

.chapter-5-backcasting-case-study-15-1920 .what-we-learnt-backc {
  height: 313px;
  left: 1421px;
  object-fit: cover;
  position: absolute;
  top: 1544px;
  width: 503px;
}

.chapter-5-backcasting-case-study-15-1920 .grupo-8883 {
  height: 61px;
  left: 461px;
  top: 2228px;
  width: 1920px;
}

.chapter-5-backcasting-case-study-15-1920 .retngulo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-5-backcasting-case-study-15-375-all-breakpoints */

.chapter-5-backcasting-case-study-15-375-all-breakpoints {
  background-color: var(--white);
  height: 3029px;
  overflow: hidden;
  position: relative;
  width: 375px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .overlap-group-3 {
  height: 2969px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1264px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-144151 {
  height: 723px;
  left: 0;
  top: 127px;
  width: 1264px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .caminho-747 {
  height: 36px;
  left: 122px;
  object-fit: cover;
  position: absolute;
  top: 925px;
  width: 136px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .retngulo-148492 {
  height: 81px;
  top: 0;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .spc-cps-logo_27_stars-white-2 {
  height: 50px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 122px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .menu-1 {
  height: 81px;
  left: 294px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 81px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-143932 {
  height: 5px;
  left: 0;
  top: 80px;
  width: 375px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .retngulo-148565 {
  height: 46px;
  top: 81px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-144152 {
  cursor: pointer;
  height: 54px;
  left: 323px;
  top: 124px;
  width: 54px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .case-study-15backcas-3 {
  height: 127px;
  left: 51px;
  object-fit: cover;
  position: absolute;
  top: 206px;
  width: 273px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .we-used-backcasting-3 {
  height: 268px;
  left: 51px;
  object-fit: cover;
  position: absolute;
  top: 348px;
  width: 273px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .design-space-paper-textured-background-3 {
  height: 2143px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 783px;
  width: 375px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .what-we-did-we-used-3 {
  height: 341px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 832px;
  width: 323px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-144161 {
  height: 4px;
  left: 26px;
  top: 1857px;
  width: 173px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .what-we-learnt-backc-3 {
  height: 339px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 1911px;
  width: 323px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-144162 {
  height: 4px;
  left: 26px;
  top: 2300px;
  width: 173px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .our-team-analysed-th-2 {
  height: 100px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 2379px;
  width: 323px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-144178-1 {
  height: 29px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 1189px;
  width: 120px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-144181 {
  height: 147px;
  left: 32px;
  top: 1257px;
  width: 37px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .figure-14-extract-fr-2 {
  height: 99px;
  left: 36px;
  object-fit: cover;
  position: absolute;
  top: 1445px;
  width: 308px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .grupo-144184 {
  height: 218px;
  left: 26px;
  top: 1560px;
  width: 323px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .policy-to-action-dat-2 {
  height: 138px;
  left: 63px;
  object-fit: cover;
  position: absolute;
  top: 2488px;
  width: 286px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .x12345-2 {
  height: 147px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  top: 2491px;
  width: 30px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .these-five-areas-hav-2 {
  height: 197px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 2657px;
  width: 317px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .what-happened-2 {
  height: 18px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 2349px;
  width: 321px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .retngulo-148566 {
  height: 46px;
  top: 2923px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .footer-2 {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2969px;
  width: 375px;
}

.chapter-5-backcasting-case-study-15-375-all-breakpoints .retngulo {
  left: 0;
  object-fit: cover;
  position: absolute;
  width: 375px;
}
/* screen - chapter-5-backcasting-case-study-15-768 */

.chapter-5-backcasting-case-study-15-768 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3504px;
  overflow: hidden;
  width: 768px;
}

.chapter-5-backcasting-case-study-15-768 .overlap-group-2 {
  height: 3535px;
  margin-left: -346.72px;
  margin-top: -137px;
  position: relative;
  width: 1611px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-144140 {
  height: 893px;
  left: 347px;
  top: 268px;
  width: 1264px;
}

.chapter-5-backcasting-case-study-15-768 .design-space-paper-textured-background-2 {
  height: 2377px;
  left: 347px;
  object-fit: cover;
  position: absolute;
  top: 1159px;
  width: 768px;
}

.chapter-5-backcasting-case-study-15-768 .retngulo-148524 {
  height: 46px;
  left: 347px;
  top: 222px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-143968 {
  height: 645px;
  left: 0;
  top: 0;
  width: 641px;
}

.chapter-5-backcasting-case-study-15-768 .retngulo-148486 {
  height: 81px;
  left: 347px;
  top: 137px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-143707 {
  height: 47px;
  left: 581px;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-case-study-15-768 .spc-cps-logo_27_stars-white-1 {
  height: 50px;
  left: 366px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-case-study-15-768 .menu {
  height: 81px;
  left: 1034px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-143711 {
  height: 5px;
  left: 347px;
  top: 218px;
  width: 768px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-143974 {
  height: 137px;
  left: 363px;
  top: 265px;
  width: 146px;
}

.chapter-5-backcasting-case-study-15-768 .case-study-15backcas-2 {
  height: 215px;
  left: 509px;
  object-fit: cover;
  position: absolute;
  top: 339px;
  width: 525px;
}

.chapter-5-backcasting-case-study-15-768 .we-used-backcasting-2 {
  height: 410px;
  left: 509px;
  object-fit: cover;
  position: absolute;
  top: 605px;
  width: 525px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-144147 {
  height: 5px;
  left: 427px;
  top: 2854px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-768 .what-we-did-we-used-2 {
  height: 298px;
  left: 427px;
  object-fit: cover;
  position: absolute;
  top: 1242px;
  width: 607px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-144178 {
  height: 29px;
  left: 427px;
  top: 1572px;
  width: 120px;
}

.chapter-5-backcasting-case-study-15-768 .figure-14-extract-fr-1 {
  height: 74px;
  left: 427px;
  object-fit: cover;
  position: absolute;
  top: 1885px;
  width: 607px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-144176 {
  height: 428px;
  left: 417px;
  top: 1985px;
  width: 636px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-144182 {
  height: 5px;
  left: 427px;
  top: 2480px;
  width: 199px;
}

.chapter-5-backcasting-case-study-15-768 .what-we-learnt-backc-2 {
  height: 296px;
  left: 427px;
  object-fit: cover;
  position: absolute;
  top: 2513px;
  width: 607px;
}

.chapter-5-backcasting-case-study-15-768 .our-team-analysed-th-1 {
  height: 80px;
  left: 432px;
  object-fit: cover;
  position: absolute;
  top: 2941px;
  width: 602px;
}

.chapter-5-backcasting-case-study-15-768 .what-happened-1 {
  height: 29px;
  left: 431px;
  object-fit: cover;
  position: absolute;
  top: 2890px;
  width: 551px;
}

.chapter-5-backcasting-case-study-15-768 .policy-to-action-dat-1 {
  height: 176px;
  left: 475px;
  object-fit: cover;
  position: absolute;
  top: 3050px;
  width: 559px;
}

.chapter-5-backcasting-case-study-15-768 .x12345-1 {
  height: 201px;
  left: 446px;
  object-fit: cover;
  position: absolute;
  top: 3053px;
  width: 30px;
}

.chapter-5-backcasting-case-study-15-768 .these-five-areas-hav-1 {
  height: 184px;
  left: 427px;
  object-fit: cover;
  position: absolute;
  top: 3273px;
  width: 607px;
}

.chapter-5-backcasting-case-study-15-768 .grupo-144183 {
  height: 228px;
  left: 471px;
  top: 1627px;
  width: 38px;
}

.chapter-5-backcasting-case-study-15-768 .overlap-group1 {
  height: 107px;
  position: relative;
  width: 768px;
}

.chapter-5-backcasting-case-study-15-768 .footer-1 {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 46px;
  width: 768px;
}

.chapter-5-backcasting-case-study-15-768 .retngulo-148564 {
  height: 46px;
  left: 0;
  top: 0;
}

.chapter-5-backcasting-case-study-15-768 .retngulo {
  object-fit: cover;
  position: absolute;
  width: 768px;
}
@media screen and (max-width: 767px) {
  .screen.chapter-5-backcasting-case-study-15-1920 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-768 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.chapter-5-backcasting-case-study-15-1920 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-375-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.chapter-5-backcasting-case-study-15-1920 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-768 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-375-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.chapter-5-backcasting-case-study-15-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-768 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-15-375-all-breakpoints { 
    display: none;
   }
}