/* screen - chapter-5-backcasting-case-study-16-1280 */

.chapter-5-backcasting-case-study-16-1280 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2150px;
  overflow: hidden;
  width: 1280px;
}

.chapter-5-backcasting-case-study-16-1280 .overlap-group-1 {
  height: 2232px;
  margin-left: -461.25px;
  margin-top: -138px;
  position: relative;
  width: 1762px;
}

.chapter-5-backcasting-case-study-16-1280 .design-space-paper-textured-background-1 {
  height: 1901px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1178px;
}

.chapter-5-backcasting-case-study-16-1280 .case-study-16futures-speed-dating-1 {
  height: 173px;
  left: 698px;
  object-fit: cover;
  position: absolute;
  top: 363px;
  width: 910px;
}

.chapter-5-backcasting-case-study-16-1280 .what-we-did-senior-l-1 {
  height: 248px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 884px;
  width: 458px;
}

.chapter-5-backcasting-case-study-16-1280 .what-changes-did-it-1 {
  height: 254px;
  left: 653px;
  object-fit: cover;
  position: absolute;
  top: 1139px;
  width: 407px;
}

.chapter-5-backcasting-case-study-16-1280 .spc-used-backcasting-1 {
  height: 219px;
  left: 698px;
  object-fit: cover;
  position: absolute;
  top: 553px;
  width: 538px;
}

.chapter-5-backcasting-case-study-16-1280 .what-we-learnt-makin-1 {
  height: 598px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  top: 1560px;
  width: 466px;
}

.chapter-5-backcasting-case-study-16-1280 .what-happened-we-syn-1 {
  height: 225px;
  left: 1141px;
  object-fit: cover;
  position: absolute;
  top: 884px;
  width: 467px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-144132 {
  height: 544px;
  left: 992px;
  top: 1601px;
  width: 770px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-144133 {
  height: 377px;
  left: 1141px;
  top: 1139px;
  width: 447px;
}

.chapter-5-backcasting-case-study-16-1280 .each-pair-recorded-t-1 {
  height: 74px;
  left: 594px;
  object-fit: cover;
  position: absolute;
  top: 1415px;
  width: 466px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-144134 {
  height: 11px;
  left: 625px;
  top: 1147px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-144135 {
  height: 11px;
  left: 625px;
  top: 1352px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-144136 {
  height: 11px;
  left: 625px;
  top: 1315px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-1280 .grupo-144137 {
  height: 11px;
  left: 625px;
  top: 1281px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-1280 .spc-cps-logo_27_stars-white-1 {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-1280 .header-1 {
  height: 86px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 138px;
  width: 1280px;
}

.chapter-5-backcasting-case-study-16-1280 .quote_-buttuon-v-1 {
  cursor: pointer;
  height: 162px;
  left: 1365px;
  object-fit: cover;
  position: absolute;
  top: 575px;
  width: 216px;
}

.chapter-5-backcasting-case-study-16-1280 .footer {
  height: 61px;
  object-fit: cover;
  width: 1280px;
}
/* screen - chapter-5-backcasting-case-study-16-1920-all-breakpoints */

.chapter-5-backcasting-case-study-16-1920-all-breakpoints {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 2150px;
  overflow: hidden;
  width: 1920px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .overlap-group {
  height: 2289px;
  margin-left: -461px;
  margin-top: -137.96px;
  position: relative;
  width: 2409px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .retngulo-148560 {
  height: 2010px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 223px;
  width: 1920px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-144079 {
  height: 864px;
  left: 0;
  top: 0;
  width: 858px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-144080 {
  height: 183px;
  left: 486px;
  top: 354px;
  width: 196px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-144098 {
  height: 1275px;
  left: 461px;
  top: 617px;
  width: 1273px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .caminho-62165 {
  height: 1903px;
  left: 631px;
  object-fit: cover;
  position: absolute;
  top: 272px;
  width: 1639px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .design-space-paper-textured-background {
  height: 1901px;
  left: 631px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1640px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-144099 {
  height: 537px;
  left: 631px;
  top: 274px;
  width: 1639px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .case-study-16futures-speed-dating {
  height: 173px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 363px;
  width: 1299px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .what-we-did-senior-l {
  height: 198px;
  left: 773px;
  object-fit: cover;
  position: absolute;
  top: 884px;
  width: 486px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .what-changes-did-it {
  height: 254px;
  left: 824px;
  object-fit: cover;
  position: absolute;
  top: 1139px;
  width: 435px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .componente-42-1 {
  cursor: pointer;
  height: 94px;
  left: 2182px;
  object-fit: cover;
  position: absolute;
  top: 268px;
  width: 94px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-144100 {
  height: 5px;
  left: 767px;
  top: 1527px;
  width: 199px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-144101 {
  height: 600px;
  left: 1342px;
  top: 884px;
  width: 5px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .quote_-buttuon-v {
  cursor: pointer;
  height: 162px;
  left: 1833px;
  object-fit: cover;
  position: absolute;
  top: 622px;
  width: 216px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .spc-used-backcasting {
  height: 143px;
  left: 781px;
  object-fit: cover;
  position: absolute;
  top: 553px;
  width: 943px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .what-we-learnt-makin {
  height: 523px;
  left: 765px;
  object-fit: cover;
  position: absolute;
  top: 1560px;
  width: 503px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .what-happened-we-syn {
  height: 188px;
  left: 1421px;
  object-fit: cover;
  position: absolute;
  top: 884px;
  width: 503px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-144102 {
  height: 61px;
  left: 461px;
  top: 2228px;
  width: 1920px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-144103 {
  height: 897px;
  left: 1141px;
  top: 1357px;
  width: 1268px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-144104 {
  height: 377px;
  left: 1510px;
  top: 1066px;
  width: 447px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-144105 {
  height: 11px;
  left: 796px;
  top: 1147px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-144106 {
  height: 11px;
  left: 796px;
  top: 1352px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-144107 {
  height: 11px;
  left: 796px;
  top: 1315px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .grupo-144108 {
  height: 11px;
  left: 796px;
  top: 1281px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .each-pair-recorded-t {
  height: 74px;
  left: 765px;
  object-fit: cover;
  position: absolute;
  top: 1415px;
  width: 503px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .spc-cps-logo_27_stars-white {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-1920-all-breakpoints .header {
  height: 86px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 138px;
  width: auto;
}
/* screen - chapter-5-backcasting-case-study-16-375 */

.chapter-5-backcasting-case-study-16-375 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3396px;
  overflow: hidden;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375 .overlap-group-3 {
  align-self: flex-end;
  height: 2552px;
  margin-right: -889.0px;
  position: relative;
  width: 1305px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144151 {
  height: 723px;
  left: 41px;
  object-fit: cover;
  position: absolute;
  top: 127px;
  width: 1264px;
}

.chapter-5-backcasting-case-study-16-375 .caminho-747 {
  height: 36px;
  left: 163px;
  object-fit: cover;
  position: absolute;
  top: 812px;
  width: 136px;
}

.chapter-5-backcasting-case-study-16-375 .retngulo-148492 {
  height: 81px;
  left: 41px;
  top: 0;
}

.chapter-5-backcasting-case-study-16-375 .spc-cps-logo_27_stars-white-3 {
  height: 50px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-375 .menu-1 {
  height: 81px;
  left: 335px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 81px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-143932 {
  height: 5px;
  left: 41px;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375 .retngulo-148565 {
  height: 46px;
  left: 41px;
  top: 81px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144152 {
  cursor: pointer;
  height: 54px;
  left: 364px;
  object-fit: cover;
  position: absolute;
  top: 124px;
  width: 54px;
}

.chapter-5-backcasting-case-study-16-375 .case-study-16futures-speed-dating-3 {
  height: 102px;
  left: 92px;
  object-fit: cover;
  position: absolute;
  top: 206px;
  width: 273px;
}

.chapter-5-backcasting-case-study-16-375 .spc-used-backcasting-3 {
  height: 168px;
  left: 92px;
  object-fit: cover;
  position: absolute;
  top: 333px;
  width: 273px;
}

.chapter-5-backcasting-case-study-16-375 .design-space-paper-textured-background-3 {
  height: 1882px;
  left: 41px;
  object-fit: cover;
  position: absolute;
  top: 670px;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375 .what-we-did-senior-l-3 {
  height: 213px;
  left: 67px;
  object-fit: cover;
  position: absolute;
  top: 719px;
  width: 323px;
}

.chapter-5-backcasting-case-study-16-375 .what-changes-did-it-3 {
  height: 248px;
  left: 92px;
  object-fit: cover;
  position: absolute;
  top: 939px;
  width: 298px;
}

.chapter-5-backcasting-case-study-16-375 .each-pair-recorded-t-3 {
  height: 58px;
  left: 67px;
  object-fit: cover;
  position: absolute;
  top: 1210px;
  width: 323px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144156 {
  height: 11px;
  left: 75px;
  object-fit: cover;
  position: absolute;
  top: 942px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144157 {
  height: 11px;
  left: 75px;
  object-fit: cover;
  position: absolute;
  top: 1150px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144158 {
  height: 11px;
  left: 75px;
  object-fit: cover;
  position: absolute;
  top: 1114px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144159 {
  height: 11px;
  left: 75px;
  object-fit: cover;
  position: absolute;
  top: 1079px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144161 {
  height: 4px;
  left: 67px;
  object-fit: cover;
  position: absolute;
  top: 1332px;
  width: 173px;
}

.chapter-5-backcasting-case-study-16-375 .what-we-learnt-makin-3 {
  height: 507px;
  left: 67px;
  object-fit: cover;
  position: absolute;
  top: 1386px;
  width: 323px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144162 {
  height: 4px;
  left: 67px;
  object-fit: cover;
  position: absolute;
  top: 2001px;
  width: 173px;
}

.chapter-5-backcasting-case-study-16-375 .what-happened-we-syn-3 {
  height: 178px;
  left: 67px;
  object-fit: cover;
  position: absolute;
  top: 2052px;
  width: 323px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144163 {
  height: 323px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2225px;
  width: 456px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144164 {
  height: 424px;
  left: 110px;
  object-fit: cover;
  position: absolute;
  top: 1853px;
  width: 290px;
}

.chapter-5-backcasting-case-study-16-375 .componente-43-1 {
  height: 93px;
  left: 241px;
  object-fit: cover;
  position: absolute;
  top: 543px;
  width: 124px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-container {
  align-items: flex-start;
  display: flex;
  gap: 110px;
  height: 86px;
  margin-left: 1.31px;
  margin-top: 56px;
  min-width: 294px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144166 {
  align-self: flex-end;
  height: 78px;
  object-fit: cover;
  width: 128px;
}

.chapter-5-backcasting-case-study-16-375 .grupo-144167 {
  height: 57px;
  object-fit: cover;
  width: 57px;
}

.chapter-5-backcasting-case-study-16-375 .futures-thinking-is {
  height: 406px;
  margin-right: 1.0px;
  margin-top: 24px;
  object-fit: cover;
  width: 274px;
}

.chapter-5-backcasting-case-study-16-375 .spc-staff-member-and {
  height: 60px;
  margin-left: 0;
  margin-top: 45px;
  object-fit: cover;
  width: 273px;
}

.chapter-5-backcasting-case-study-16-375 .overlap-group1-1 {
  height: 107px;
  margin-top: 60px;
  position: relative;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375 .footer-2 {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 46px;
  width: 375px;
}

.chapter-5-backcasting-case-study-16-375 .retngulo-148566 {
  height: 46px;
  left: 0;
  top: 0;
}

.chapter-5-backcasting-case-study-16-375 .retngulo {
  object-fit: cover;
  position: absolute;
  width: 375px;
}
/* screen - chapter-5-backcasting-case-study-16-768 */

.chapter-5-backcasting-case-study-16-768 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2991px;
  overflow: hidden;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768 .overlap-group-2 {
  height: 991px;
  margin-left: -346.72px;
  margin-top: -137px;
  position: relative;
  width: 1611px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144140 {
  height: 723px;
  left: 347px;
  top: 268px;
  width: 1264px;
}

.chapter-5-backcasting-case-study-16-768 .retngulo-148524 {
  height: 46px;
  left: 347px;
  top: 222px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-143968 {
  height: 645px;
  left: 0;
  top: 0;
  width: 641px;
}

.chapter-5-backcasting-case-study-16-768 .retngulo-148486 {
  height: 81px;
  left: 347px;
  top: 137px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-143707 {
  height: 47px;
  left: 581px;
  top: 156px;
  width: 302px;
}

.chapter-5-backcasting-case-study-16-768 .spc-cps-logo_27_stars-white-2 {
  height: 50px;
  left: 366px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-5-backcasting-case-study-16-768 .menu {
  height: 81px;
  left: 1034px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-143711 {
  height: 5px;
  left: 347px;
  top: 218px;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-143974 {
  height: 137px;
  left: 363px;
  top: 265px;
  width: 146px;
}

.chapter-5-backcasting-case-study-16-768 .case-study-16futures-speed-dating-2 {
  height: 173px;
  left: 509px;
  object-fit: cover;
  position: absolute;
  top: 339px;
  width: 525px;
}

.chapter-5-backcasting-case-study-16-768 .spc-used-backcasting-2 {
  height: 219px;
  left: 509px;
  object-fit: cover;
  position: absolute;
  top: 529px;
  width: 525px;
}

.chapter-5-backcasting-case-study-16-768 .quote_-buttuon-v-2 {
  cursor: pointer;
  height: 162px;
  left: 812px;
  object-fit: cover;
  position: absolute;
  top: 787px;
  width: 216px;
}

.chapter-5-backcasting-case-study-16-768 .overlap-group2 {
  height: 2138px;
  margin-left: -51.94px;
  position: relative;
  width: 874px;
}

.chapter-5-backcasting-case-study-16-768 .overlap-group1 {
  height: 2077px;
  left: 0;
  position: absolute;
  top: 0;
  width: 874px;
}

.chapter-5-backcasting-case-study-16-768 .design-space-paper-textured-background-2 {
  height: 2031px;
  left: 52px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768 .what-we-did-senior-l-2 {
  height: 198px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 84px;
  width: 607px;
}

.chapter-5-backcasting-case-study-16-768 .what-changes-did-it-2 {
  height: 204px;
  left: 183px;
  object-fit: cover;
  position: absolute;
  top: 321px;
  width: 556px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-1441 {
  height: 5px;
  left: 132px;
  top: 677px;
  width: 199px;
}

.chapter-5-backcasting-case-study-16-768 .what-we-learnt-makin-2 {
  height: 473px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 720px;
  width: 607px;
}

.chapter-5-backcasting-case-study-16-768 .each-pair-recorded-t-2 {
  height: 74px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 564px;
  width: 607px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144143 {
  height: 11px;
  left: 156px;
  top: 329px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144144 {
  height: 11px;
  left: 156px;
  top: 507px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144145 {
  height: 11px;
  left: 156px;
  top: 472px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144146 {
  height: 11px;
  left: 156px;
  top: 437px;
  width: 11px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144147 {
  height: 5px;
  left: 132px;
  top: 1232px;
  width: 199px;
}

.chapter-5-backcasting-case-study-16-768 .what-happened-we-syn-2 {
  height: 225px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 1276px;
  width: 607px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144148 {
  height: 618px;
  left: 0;
  top: 1421px;
  width: 874px;
}

.chapter-5-backcasting-case-study-16-768 .grupo-144149 {
  height: 424px;
  left: 397px;
  top: 1086px;
  width: 290px;
}

.chapter-5-backcasting-case-study-16-768 .retngulo-148564 {
  height: 46px;
  left: 52px;
  top: 2031px;
}

.chapter-5-backcasting-case-study-16-768 .footer-1 {
  height: 61px;
  left: 52px;
  object-fit: cover;
  position: absolute;
  top: 2077px;
  width: 768px;
}

.chapter-5-backcasting-case-study-16-768 .retngulo {
  object-fit: cover;
  position: absolute;
  width: 768px;
}

@media screen and (max-width: 767px) {
  .screen.chapter-5-backcasting-case-study-16-1920-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-768 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.chapter-5-backcasting-case-study-16-1920-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-375 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.chapter-5-backcasting-case-study-16-1920-all-breakpoints { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-768 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-375 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.chapter-5-backcasting-case-study-16-1280 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-768 { 
    display: none;
   }
  .screen.chapter-5-backcasting-case-study-16-375 { 
    display: none;
   }
}