/* screen - quote-chapter5-1920-1280-768 */

.quote-chapter5-1920-1280-768 {
  position: relative;
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 572px;
  padding: 29.4px 22.8px;
  width: 660px;
}

#overlay-quote-chapter5-1920-1280-768 {
  align-items: center;
  background-color: #ffffff00;
  justify-content: center;
  position: absolute;
}

.quote-chapter5-1920-1280-768 .componente-40-1 {
  position: absolute;
  left: 0;
  width: 660px;
  height: 509px;
  width: auto;
}

.componente-40-2 {
  position: absolute;
  right: 90px;
  top: 120px;
  width: auto;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  #overlay-quote-chapter5-1920-1280-768 {
    top:700px;
    right: 100px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  #overlay-quote-chapter5-1920-1280-768 {
    top:700px;
    left: 600px;
  }
}
@media screen and (min-width: 1920px) {
  #overlay-quote-chapter5-1920-1280-768 {
    top:650px;
    left: 1100px;
  }
}