/* screen - chapter-1-horizon-1280 */

.chapter-1-horizon-1280 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3174px;
  overflow: hidden;
  width: 1280px;
}

.chapter-1-horizon-1280 .overlap-group-1 {
  height: 3312px;
  margin-left: -461px;
  margin-top: -137.47px;
  position: relative;
  width: 2381px;
}

.chapter-1-horizon-1280 .grupo-8811 {
  height: 537px;
  left: 461px;
  top: 1080px;
  width: 1920px;
}

.chapter-1-horizon-1280 .retngulo-436 {
  height: 1110px;
  left: 461px;
  top: 222px;
  width: 1280px;
}

.chapter-1-horizon-1280 .grupo-de-mscara-21 {
  height: 559px;
  left: 490px;
  object-fit: cover;
  position: absolute;
  top: 773px;
  width: 1251px;
}

.chapter-1-horizon-1280 .quesiton_-tabs-1 {
  height: 167px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 616px;
  width: 471px;
}

.chapter-1-horizon-1280 .chapter-3_tip_-button-1 {
  cursor: pointer;
  height: 450px;
  left: 1235px;
  object-fit: cover;
  position: absolute;
  top: 407px;
  width: 494px;
}

.chapter-1-horizon-1280 .grupo-8810 {
  height: 537px;
  left: 461px;
  top: 1527px;
  width: 1920px;
}

.chapter-1-horizon-1280 .design-space-paper-textured-background-1 {
  height: 1229px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 2057px;
  width: 1280px;
}

.chapter-1-horizon-1280 .grupo-8839 {
  height: 864px;
  left: 0;
  top: 0;
  width: 858px;
}

.chapter-1-horizon-1280 .spc-cps-logo_27_stars-white-1 {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-1-horizon-1280 .horizon-scanning-1 {
  height: 204px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 392px;
  width: 594px;
}

.chapter-1-horizon-1280 .grupo-8841 {
  height: 102px;
  left: 766px;
  top: 259px;
  width: 536px;
}

.chapter-1-horizon-1280 .grupo-8842 {
  height: 5px;
  left: 766px;
  top: 378px;
  width: 199px;
}

.chapter-1-horizon-1280 .grupo-8847 {
  height: 45px;
  left: 1377px;
  top: 1970px;
  width: 282px;
}

.chapter-1-horizon-1280 .grupo-143938 {
  height: 94px;
  left: 958px;
  top: 2138px;
  width: 286px;
}

.chapter-1-horizon-1280 .retngulo-80 {
  height: 81px;
  left: 461px;
  top: 137px;
  width: 1280px;
}

.chapter-1-horizon-1280 .grupo-788 {
  height: 47px;
  left: 958px;
  top: 156px;
  width: 302px;
}

.chapter-1-horizon-1280 .menu-v {
  height: 81px;
  left: 1660px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-1-horizon-1280 .grupo-790 {
  height: 5px;
  left: 462px;
  top: 218px;
  width: 1280px;
}

.chapter-1-horizon-1280 .grupo-8843 {
  height: 64px;
  left: 569px;
  top: 1692px;
  width: 64px;
}

.chapter-1-horizon-1280 .grupo-8844 {
  height: 53px;
  left: 570px;
  top: 1798px;
  width: 63px;
}

.chapter-1-horizon-1280 .grupo-8845 {
  height: 54px;
  left: 582px;
  top: 1901px;
  width: 40px;
}

.chapter-1-horizon-1280 .grupo-8846 {
  height: 319px;
  left: 1081px;
  top: 1686px;
  width: 4px;
}

.chapter-1-horizon-1280 .time6090-minutes-1 {
  height: 49px;
  left: 650px;
  object-fit: cover;
  position: absolute;
  top: 1697px;
  width: 134px;
}

.chapter-1-horizon-1280 .no-of-participantsun-1 {
  height: 74px;
  left: 650px;
  object-fit: cover;
  position: absolute;
  top: 1789px;
  width: 241px;
}

.chapter-1-horizon-1280 .material-1 {
  height: 24px;
  left: 1134px;
  object-fit: cover;
  position: absolute;
  top: 1688px;
  width: 74px;
}

.chapter-1-horizon-1280 .facilitationone-lead-1 {
  height: 119px;
  left: 650px;
  object-fit: cover;
  position: absolute;
  top: 1905px;
  width: 364px;
}

.chapter-1-horizon-1280 .grupo-143936 {
  height: 94px;
  left: 931px;
  top: 1538px;
  width: 340px;
}

.chapter-1-horizon-1280 .grupo-8854 {
  height: 45px;
  left: 1377px;
  top: 280px;
  width: 282px;
}

.chapter-1-horizon-1280 .more_-info-button-v {
  cursor: pointer;
  height: 40px;
  left: 1485px;
  object-fit: cover;
  position: absolute;
  top: 1212px;
  width: 174px;
}

.chapter-1-horizon-1280 .grupo-2489-1 {
  height: 124px;
  left: 486px;
  object-fit: cover;
  position: absolute;
  top: 385px;
  width: 188px;
}

.chapter-1-horizon-1280 .case-study7_-button-2 {
  cursor: pointer;
  height: 498px;
  left: 757px;
  object-fit: cover;
  position: absolute;
  top: 983px;
  width: 326px;
}

.chapter-1-horizon-1280 .butchers-paper-1 {
  height: 39px;
  left: 1224px;
  object-fit: cover;
  position: absolute;
  top: 1757px;
  width: 164px;
}

.chapter-1-horizon-1280 .sticky-notes-1 {
  height: 39px;
  left: 1542px;
  object-fit: cover;
  position: absolute;
  top: 1757px;
  width: 165px;
}

.chapter-1-horizon-1280 .grupo-144283 {
  height: 58px;
  left: 1134px;
  top: 1743px;
  width: 64px;
}

.chapter-1-horizon-1280 .grupo-144285 {
  height: 68px;
  left: 1465px;
  top: 1728px;
  width: 55px;
}

.chapter-1-horizon-1280 .coloured-marker-pens-1 {
  height: 64px;
  left: 1542px;
  object-fit: cover;
  position: absolute;
  top: 1841px;
  width: 131px;
}

.chapter-1-horizon-1280 .grupo-144286 {
  height: 47px;
  left: 1465px;
  top: 1841px;
  width: 61px;
}

.chapter-1-horizon-1280 .virtual-collaboratio-1 {
  height: 124px;
  left: 1236px;
  object-fit: cover;
  position: absolute;
  top: 1840px;
  width: 185px;
}

.chapter-1-horizon-1280 .grupo-144284 {
  height: 55px;
  left: 1134px;
  top: 1836px;
  width: 75px;
}

.chapter-1-horizon-1280 .retngulo-294 {
  border-radius: 30px;
  height: 365px;
  left: 542px;
  top: 2286px;
  width: 1117px;
}

.chapter-1-horizon-1280 .retngulo-308 {
  border-radius: 30px;
  height: 253px;
  left: 542px;
  top: 2670px;
  width: 1117px;
}

.chapter-1-horizon-1280 .retngulo-311 {
  border-radius: 30px;
  height: 228px;
  left: 542px;
  top: 2942px;
  width: 1117px;
}

.chapter-1-horizon-1280 .retngulo-296 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 542px;
  top: 2286px;
  width: 339px;
}

.chapter-1-horizon-1280 .retngulo-309 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 542px;
  top: 2670px;
  width: 339px;
}

.chapter-1-horizon-1280 .retngulo-312 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 542px;
  top: 2942px;
  width: 339px;
}

.chapter-1-horizon-1280 .x15-minutes {
  height: 21px;
  left: 601px;
  object-fit: cover;
  position: absolute;
  top: 2302px;
  width: 91px;
}

.chapter-1-horizon-1280 .x45-minutes {
  height: 21px;
  left: 601px;
  object-fit: cover;
  position: absolute;
  top: 2686px;
  width: 94px;
}

.chapter-1-horizon-1280 .x45-minutes-1 {
  height: 21px;
  left: 601px;
  object-fit: cover;
  position: absolute;
  top: 2958px;
  width: 94px;
}

.chapter-1-horizon-1280 .grupo-2830 {
  height: 36px;
  left: 559px;
  top: 2293px;
  width: 36px;
}

.chapter-1-horizon-1280 .grupo-2858 {
  height: 36px;
  left: 559px;
  top: 2677px;
  width: 36px;
}

.chapter-1-horizon-1280 .grupo-2865 {
  height: 36px;
  left: 559px;
  top: 2949px;
  width: 36px;
}

.chapter-1-horizon-1280 .retngulo-298 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 711px;
  top: 2286px;
  width: 948px;
}

.chapter-1-horizon-1280 .retngulo-310 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 711px;
  top: 2670px;
  width: 948px;
}

.chapter-1-horizon-1280 .retngulo-313 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 711px;
  top: 2942px;
  width: 948px;
}

.chapter-1-horizon-1280 .introduce-the-activity {
  height: 40px;
  left: 712px;
  object-fit: cover;
  position: absolute;
  top: 2298px;
  width: 948px;
}

.chapter-1-horizon-1280 .complete-the-activity {
  height: 40px;
  left: 712px;
  object-fit: cover;
  position: absolute;
  top: 2682px;
  width: 948px;
}

.chapter-1-horizon-1280 .following-activity {
  height: 40px;
  left: 711px;
  object-fit: cover;
  position: absolute;
  top: 2954px;
  width: 948px;
}

.chapter-1-horizon-1280 .step-1explain-what-h {
  height: 292px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 2360px;
  width: 1024px;
}

.chapter-1-horizon-1280 .step-3get-participan {
  height: 161px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 2744px;
  width: 1024px;
}

.chapter-1-horizon-1280 .step4consolidate-and {
  height: 130px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 3015px;
  width: 1024px;
}

.chapter-1-horizon-1280 .footer-1 {
  height: 61px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 3250px;
  width: 1280px;
}

.chapter-1-horizon-1280 .retngulo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-1-horizon-1920 */

.chapter-1-horizon-1920 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3113px;
  overflow: hidden;
  width: 1920px;
}

.chapter-1-horizon-1920 .overlap-group {
  height: 3445px;
  margin-left: -461px;
  margin-top: -137.47px;
  position: relative;
  width: 2381px;
  z-index: 1;
}

.chapter-1-horizon-1920 .grupo-434 {
  height: 537px;
  left: 461px;
  top: 1426px;
  width: 1920px;
}

.chapter-1-horizon-1920 .grupo-1020 {
  height: 537px;
  left: 461px;
  top: 983px;
  width: 1920px;
}

.chapter-1-horizon-1920 .retngulo-57 {
  height: 996px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 223px;
  width: 1285px;
}

.chapter-1-horizon-1920 .grupo-de-mscara-3 {
  height: 559px;
  left: 422px;
  object-fit: cover;
  position: absolute;
  top: 659px;
  width: 1251px;
}

.chapter-1-horizon-1920 .grupo-13 {
  height: 864px;
  left: 0;
  top: 0;
  width: 858px;
}

.chapter-1-horizon-1920 .spc-cps-logo_27_stars-white {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-1-horizon-1920 .grupo-131 {
  height: 22px;
  left: 2326px;
  top: 168px;
  width: 30px;
}

.chapter-1-horizon-1920 .horizon-scanning {
  height: 97px;
  left: 764px;
  top: 364px;
  width: 797px;
}

.chapter-1-horizon-1920 .horizon-scaning {
  height: 996px;
  left: 1740px;
  top: 222px;
  width: 641px;
}

.chapter-1-horizon-1920 .grupo-335 {
  height: 65px;
  left: 766px;
  top: 259px;
  width: 740px;
}

.chapter-1-horizon-1920 .grupo-12 {
  height: 5px;
  left: 766px;
  top: 341px;
  width: 199px;
}

.chapter-1-horizon-1920 .case-study7_-button {
  height: 498px;
  left: 757px;
  object-fit: cover;
  position: absolute;
  top: 887px;
  width: 326px;
}

.chapter-1-horizon-1920 .grupo-372 {
  height: 64px;
  left: 766px;
  top: 1595px;
  width: 64px;
}

.chapter-1-horizon-1920 .grupo-460 {
  height: 53px;
  left: 767px;
  top: 1701px;
  width: 63px;
}

.chapter-1-horizon-1920 .grupo-484 {
  height: 54px;
  left: 779px;
  top: 1804px;
  width: 40px;
}

.chapter-1-horizon-1920 .grupo-487 {
  height: 319px;
  left: 1278px;
  top: 1589px;
  width: 4px;
}

.chapter-1-horizon-1920 .time6090-minutes {
  height: 49px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1600px;
  width: 134px;
}

.chapter-1-horizon-1920 .no-of-participantsun {
  height: 74px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1687px;
  width: 241px;
}

.chapter-1-horizon-1920 .butchers-paper {
  height: 24px;
  left: 1421px;
  object-fit: cover;
  position: absolute;
  top: 1658px;
  width: 241px;
}

.chapter-1-horizon-1920 .coloured-marker-pens {
  height: 64px;
  left: 2009px;
  object-fit: cover;
  position: absolute;
  top: 1644px;
  width: 131px;
}

.chapter-1-horizon-1920 .sticky-notes {
  height: 24px;
  left: 1740px;
  object-fit: cover;
  position: absolute;
  top: 1658px;
  width: 241px;
}

.chapter-1-horizon-1920 .virtual-collaboratio {
  height: 49px;
  left: 1572px;
  object-fit: cover;
  position: absolute;
  top: 1740px;
  width: 527px;
}

.chapter-1-horizon-1920 .material {
  height: 24px;
  left: 1331px;
  object-fit: cover;
  position: absolute;
  top: 1591px;
  width: 74px;
}

.chapter-1-horizon-1920 .facilitationone-lead {
  height: 131px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1804px;
  width: 364px;
}

.chapter-1-horizon-1920 .grupo-686 {
  height: 45px;
  left: 1492px;
  top: 1873px;
  width: 282px;
}

.chapter-1-horizon-1920 .design-space-paper-textured-background {
  height: 1485px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1960px;
  width: 1920px;
}

.chapter-1-horizon-1920 .grupo-831 {
  height: 94px;
  left: 1278px;
  top: 2041px;
  width: 34px;
}

.chapter-1-horizon-1920 .grupo-830 {
  height: 94px;
  left: 1530px;
  top: 2041px;
  width: 34px;
}

.chapter-1-horizon-1920 .header {
  height: 86px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: auto;
}

.chapter-1-horizon-1920 .grupo-2251 {
  height: 45px;
  left: 2074px;
  top: 280px;
  width: 282px;
}

.chapter-1-horizon-1920 .grupo-2489 {
  height: 124px;
  left: 486px;
  top: 385px;
  width: 188px;
}

.chapter-1-horizon-1920 .grupo-2494 {
  height: 58px;
  left: 1331px;
  top: 1644px;
  width: 64px;
}

.chapter-1-horizon-1920 .grupo-2528 {
  height: 55px;
  left: 1470px;
  top: 1736px;
  width: 75px;
}

.chapter-1-horizon-1920 .grupo-2543 {
  height: 68px;
  left: 1662px;
  top: 1630px;
  width: 55px;
}

.chapter-1-horizon-1920 .grupo-2546 {
  height: 47px;
  left: 1933px;
  top: 1644px;
  width: 61px;
}

.chapter-1-horizon-1920 .grupo-123 {
  height: 94px;
  left: 1236px;
  top: 1441px;
  width: 34px;
}

.chapter-1-horizon-1920 .grupo-124 {
  height: 94px;
  left: 1541px;
  top: 1441px;
  width: 34px;
}

.chapter-1-horizon-1920 .grupo-2866 {
  height: 884px;
  left: 768px;
  top: 2208px;
  width: 1307px;
}

.chapter-1-horizon-1920 .case-study7_-button-1 {
  cursor: pointer;
  height: 498px;
  left: 757px;
  object-fit: cover;
  position: absolute;
  top: 887px;
  width: 326px;
}

.chapter-1-horizon-1920 .footer {
  height: 61px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 3189px;
  width: 1920px;
}

.chapter-1-horizon-1920 .componente-58-2 {
  height: 51px;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: 85px;
  width: 51px;
  z-index: 2;
}

.chapter-1-horizon-1920 .horizon {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-1-horizon-375 */

.chapter-1-horizon-375 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 6262px;
  overflow: hidden;
  width: 375px;
}

.chapter-1-horizon-375 .overlap-group-3 {
  height: 1813px;
  position: relative;
  width: 1251px;
}

.chapter-1-horizon-375 .componente-60-1 {
  height: 1732px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 81px;
  width: 375px;
}

.chapter-1-horizon-375 .gathering-intelligence-about-the-future-1 {
  height: 175px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 192px;
  width: 274px;
}

.chapter-1-horizon-375 .chapter-1-1 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: 144px;
}

.chapter-1-horizon-375 .horizon-scanning-3 {
  height: 98px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 384px;
  width: 276px;
}

.chapter-1-horizon-375 .caminho-747 {
  height: 36px;
  left: 560px;
  object-fit: cover;
  position: absolute;
  top: 812px;
  width: 136px;
}

.chapter-1-horizon-375 .retngulo-148492 {
  height: 81px;
  left: 438px;
  top: 0;
  width: 375px;
}

.chapter-1-horizon-375 .menu-1 {
  height: 81px;
  left: 732px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 81px;
}

.chapter-1-horizon-375 .grupo-143932 {
  height: 5px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 375px;
}

.chapter-1-horizon-375 .x {
  height: 29px;
  left: 686px;
  object-fit: cover;
  position: absolute;
  top: 600px;
  width: 18px;
}

.chapter-1-horizon-375 .quesiton_-tabs-3 {
  height: 167px;
  left: 489px;
  object-fit: cover;
  position: absolute;
  top: 751px;
  width: 272px;
}

.chapter-1-horizon-375 .case-study7_-button-4 {
  height: 498px;
  left: 463px;
  object-fit: cover;
  position: absolute;
  top: 1237px;
  width: 326px;
}

.chapter-1-horizon-375 .overlap-group1 {
  align-items: flex-start;
  align-self: flex-end;
  background-image: url(../img/grupo-8811-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-right: -2510.72px;
  min-height: 882px;
  padding: 60px 302.0px;
  width: 3154px;
}

.chapter-1-horizon-375 .grupo-144015 {
  height: 64px;
  margin-left: 39.0px;
  object-fit: cover;
  width: 230px;
}

.chapter-1-horizon-375 .time6090-minutes-3 {
  height: 49px;
  margin-top: 31px;
  object-fit: cover;
  width: 134px;
}

.chapter-1-horizon-375 .no-of-participantsun-3 {
  height: 74px;
  margin-top: 44px;
  object-fit: cover;
  width: 308px;
}

.chapter-1-horizon-375 .facilitationone-lead-3 {
  height: 119px;
  margin-top: 42px;
  object-fit: cover;
  width: 308px;
}

.chapter-1-horizon-375 .materialbutchers-pap {
  height: 257px;
  margin-top: 18px;
  object-fit: cover;
  width: 289px;
}

.chapter-1-horizon-375 .grupo-144016 {
  height: 34px;
  margin-left: 59.0px;
  margin-top: 11px;
  object-fit: cover;
  width: 190px;
}

.chapter-1-horizon-375 .overlap-group2 {
  align-items: flex-end;
  background-image: url(../img/design-space-paper-textured-background-14@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: 1.0px;
  min-height: 1984px;
  padding: 80.4px 222.5px;
  width: 768px;
}

.chapter-1-horizon-375 .grupo-144017 {
  align-self: center;
  height: 64px;
  margin-top: 21px;
  object-fit: cover;
  width: 230px;
}

.chapter-1-horizon-375 .overlap-group4 {
  height: 657px;
  margin-top: 60px;
  position: relative;
  width: 317px;
}

.chapter-1-horizon-375 .retngulo-148544 {
  border-radius: 30px;
  height: 146px;
  left: 0;
  top: 0;
  width: 309px;
}

.chapter-1-horizon-375 .retngulo-148586 {
  border-radius: 30px;
  height: 654px;
  left: 0;
  top: 2px;
  width: 316px;
}

.chapter-1-horizon-375 .retngulo-148589 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 89px;
  top: 2px;
  width: 227px;
}

.chapter-1-horizon-375 .introduce {
  height: 40px;
  left: 128px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 189px;
}

.chapter-1-horizon-375 .step-1explain-what-h-2 {
  height: 573px;
  left: 60px;
  object-fit: cover;
  position: absolute;
  top: 76px;
  width: 230px;
}

.chapter-1-horizon-375 .retngulo-148592 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 0;
  top: 2px;
  width: 134px;
}

.chapter-1-horizon-375 .x15-m {
  height: 21px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 42px;
}

.chapter-1-horizon-375 .grupo-144370 {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 36px;
}

.chapter-1-horizon-375 .group-container {
  align-items: center;
  background-image: url(../img/ret-ngulo-148587@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-right: 0.75px;
  margin-top: 17px;
  min-height: 559px;
  width: 316px;
}

.chapter-1-horizon-375 .overlap-group7 {
  height: 52px;
  position: relative;
  width: 316px;
}

.chapter-1-horizon-375 .retngulo-14859 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 89px;
  top: 0;
  width: 227px;
}

.chapter-1-horizon-375 .complete {
  height: 40px;
  left: 134px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 176px;
}

.chapter-1-horizon-375 .retngulo-14859-1 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 134px;
}

.chapter-1-horizon-375 .x45-m {
  height: 21px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 45px;
}

.chapter-1-horizon-375 .grupo-1443 {
  height: 36px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 36px;
}

.chapter-1-horizon-375 .step-3get-participan-2 {
  height: 477px;
  margin-left: 34.21px;
  object-fit: cover;
  width: 230px;
}

.chapter-1-horizon-375 .overlap-group6 {
  align-items: center;
  background-image: url(../img/ret-ngulo-148588@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-right: 0.75px;
  margin-top: 16px;
  min-height: 430px;
  width: 316px;
}

.chapter-1-horizon-375 .overlap-group8 {
  height: 52px;
  margin-left: 0.02px;
  position: relative;
  width: 316px;
}

.chapter-1-horizon-375 .following {
  height: 40px;
  left: 134px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 182px;
}

.chapter-1-horizon-375 .step4consolidate-and-2 {
  height: 358px;
  margin-left: 34.21px;
  object-fit: cover;
  width: 230px;
}

.chapter-1-horizon-375 .grupo-144075 {
  height: 64px;
  margin-left: 1.0px;
  margin-top: 79px;
  object-fit: cover;
  width: 118px;
}

.chapter-1-horizon-375 .ask-who-needs-to-be {
  height: 346px;
  margin-right: 1.0px;
  margin-top: 43px;
  object-fit: cover;
  width: 308px;
}

.chapter-1-horizon-375 .grupo-144076 {
  height: 57px;
  margin-right: 0;
  margin-top: 8px;
  object-fit: cover;
  width: 57px;
}

.chapter-1-horizon-375 .overlap-group3 {
  align-items: center;
  background-image: url(../img/design-space-paper-textured-background-13@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  min-height: 908px;
  width: 375px;
}

.chapter-1-horizon-375 .grupo-144077 {
  height: 68px;
  margin-left: 1.0px;
  margin-top: 49px;
  object-fit: cover;
  width: 230px;
}

.chapter-1-horizon-375 .new-zealand-departme {
  height: 498px;
  margin-top: 68px;
  object-fit: cover;
  width: 309px;
}

.chapter-1-horizon-375 .grupo-144078 {
  height: 57px;
  margin-right: 0.43px;
  margin-top: 30px;
  object-fit: cover;
  width: 57px;
}

.chapter-1-horizon-375 .footer-3 {
  height: 61px;
  margin-top: 77px;
  object-fit: cover;
  width: 375px;
}

.chapter-1-horizon-375 .retngulo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-1-horizon-768-all-breakpoints */

.chapter-1-horizon-768-all-breakpoints {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 4091px;
  overflow: hidden;
  width: 768px;
}

.chapter-1-horizon-768-all-breakpoints .overlap-group-2 {
  height: 4168px;
  margin-left: -974.75px;
  margin-top: -137px;
  position: relative;
  width: 2391px;
}

.chapter-1-horizon-768-all-breakpoints .retngulo-148524 {
  height: 1341px;
  left: 975px;
  top: 222px;
  width: 768px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-de-mscara-22 {
  height: 559px;
  left: 975px;
  object-fit: cover;
  position: absolute;
  top: 1004px;
  width: 1251px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-143973 {
  height: 94px;
  left: 1189px;
  top: 1820px;
  width: 340px;
}

.chapter-1-horizon-768-all-breakpoints .horizon-scanning-2 {
  height: 73px;
  left: 1278px;
  object-fit: cover;
  position: absolute;
  top: 392px;
  width: 465px;
}

.chapter-1-horizon-768-all-breakpoints .gathering-intelligence-about-the-future {
  height: 77px;
  left: 1280px;
  object-fit: cover;
  position: absolute;
  top: 284px;
  width: 426px;
}

.chapter-1-horizon-768-all-breakpoints .chapter-1 {
  height: 28px;
  left: 1280px;
  object-fit: cover;
  position: absolute;
  top: 259px;
  width: 112px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-143968 {
  height: 864px;
  left: 514px;
  top: 0;
  width: 858px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-143970 {
  height: 5px;
  left: 1280px;
  top: 378px;
  width: 199px;
}

.chapter-1-horizon-768-all-breakpoints .retngulo-148486 {
  height: 81px;
  left: 975px;
  top: 137px;
  width: 768px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-143707 {
  height: 47px;
  left: 1209px;
  top: 156px;
  width: 302px;
}

.chapter-1-horizon-768-all-breakpoints .spc-cps-logo_27_stars-white-2 {
  height: 50px;
  left: 994px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-1-horizon-768-all-breakpoints .menu {
  height: 81px;
  left: 1662px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-143711 {
  height: 5px;
  left: 975px;
  top: 218px;
  width: 768px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-143975 {
  height: 45px;
  left: 1278px;
  top: 490px;
  width: 282px;
}

.chapter-1-horizon-768-all-breakpoints .more_-info-button-v-1 {
  cursor: pointer;
  height: 40px;
  left: 1056px;
  object-fit: cover;
  position: absolute;
  top: 1067px;
  width: 174px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-143971 {
  height: 45px;
  left: 1218px;
  top: 2652px;
  width: 282px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-2489-2 {
  height: 124px;
  left: 1000px;
  object-fit: cover;
  position: absolute;
  top: 385px;
  width: 188px;
}

.chapter-1-horizon-768-all-breakpoints .chapter-3_tip_-button-2 {
  cursor: pointer;
  height: 450px;
  left: 1234px;
  object-fit: cover;
  position: absolute;
  top: 781px;
  width: 494px;
}

.chapter-1-horizon-768-all-breakpoints .quesiton_-tabs-2 {
  height: 167px;
  left: 1280px;
  object-fit: cover;
  position: absolute;
  top: 588px;
  width: 382px;
}

.chapter-1-horizon-768-all-breakpoints .case-study7_-button-3 {
  cursor: pointer;
  height: 498px;
  left: 1040px;
  object-fit: cover;
  position: absolute;
  top: 1215px;
  width: 326px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-8843-1 {
  height: 64px;
  left: 1055px;
  object-fit: cover;
  position: absolute;
  top: 1946px;
  width: 64px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-8844-1 {
  height: 53px;
  left: 1056px;
  object-fit: cover;
  position: absolute;
  top: 2052px;
  width: 63px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-8845-1 {
  height: 54px;
  left: 1067px;
  object-fit: cover;
  position: absolute;
  top: 2155px;
  width: 40px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-8846-1 {
  height: 4px;
  left: 1200px;
  object-fit: cover;
  position: absolute;
  top: 2303px;
  width: 319px;
}

.chapter-1-horizon-768-all-breakpoints .time6090-minutes-2 {
  height: 49px;
  left: 1136px;
  object-fit: cover;
  position: absolute;
  top: 1951px;
  width: 134px;
}

.chapter-1-horizon-768-all-breakpoints .no-of-participantsun-2 {
  height: 49px;
  left: 1136px;
  object-fit: cover;
  position: absolute;
  top: 2043px;
  width: 527px;
}

.chapter-1-horizon-768-all-breakpoints .material-2 {
  height: 24px;
  left: 1322px;
  object-fit: cover;
  position: absolute;
  top: 2344px;
  width: 74px;
}

.chapter-1-horizon-768-all-breakpoints .facilitationone-lead-2 {
  height: 119px;
  left: 1136px;
  object-fit: cover;
  position: absolute;
  top: 2159px;
  width: 527px;
}

.chapter-1-horizon-768-all-breakpoints .butchers-paper-2 {
  height: 39px;
  left: 1136px;
  object-fit: cover;
  position: absolute;
  top: 2413px;
  width: 164px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-144283-1 {
  height: 58px;
  left: 1055px;
  object-fit: cover;
  position: absolute;
  top: 2399px;
  width: 64px;
}

.chapter-1-horizon-768-all-breakpoints .virtual-collaboratio-2 {
  height: 99px;
  left: 1136px;
  object-fit: cover;
  position: absolute;
  top: 2497px;
  width: 242px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-144284-1 {
  height: 55px;
  left: 1044px;
  object-fit: cover;
  position: absolute;
  top: 2502px;
  width: 75px;
}

.chapter-1-horizon-768-all-breakpoints .sticky-notes-2 {
  height: 39px;
  left: 1508px;
  object-fit: cover;
  position: absolute;
  top: 2413px;
  width: 154px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-144285-1 {
  height: 68px;
  left: 1431px;
  object-fit: cover;
  position: absolute;
  top: 2385px;
  width: 55px;
}

.chapter-1-horizon-768-all-breakpoints .coloured-marker-pens-2 {
  height: 64px;
  left: 1508px;
  object-fit: cover;
  position: absolute;
  top: 2497px;
  width: 154px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-144286-1 {
  height: 47px;
  left: 1431px;
  object-fit: cover;
  position: absolute;
  top: 2498px;
  width: 61px;
}

.chapter-1-horizon-768-all-breakpoints .design-space-paper-textured-background-2 {
  height: 1391px;
  left: 975px;
  object-fit: cover;
  position: absolute;
  top: 2777px;
  width: 768px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-144314 {
  height: 94px;
  left: 1216px;
  top: 2858px;
  width: 286px;
}

.chapter-1-horizon-768-all-breakpoints .retngulo-148575 {
  border-radius: 30px;
  height: 412px;
  left: 1055px;
  top: 3007px;
  width: 607px;
}

.chapter-1-horizon-768-all-breakpoints .retngulo-148576 {
  border-radius: 30px;
  height: 343px;
  left: 1055px;
  top: 3436px;
  width: 607px;
}

.chapter-1-horizon-768-all-breakpoints .retngulo-148577 {
  border-radius: 30px;
  height: 293px;
  left: 1055px;
  top: 3796px;
  width: 607px;
}

.chapter-1-horizon-768-all-breakpoints .retngulo-148581 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 1224px;
  top: 3007px;
  width: 438px;
}

.chapter-1-horizon-768-all-breakpoints .retngulo-148582 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 1224px;
  top: 3436px;
  width: 438px;
}

.chapter-1-horizon-768-all-breakpoints .retngulo-148583 {
  border-radius: 40px 40px 0px 40px;
  height: 51px;
  left: 1224px;
  top: 3796px;
  width: 438px;
}

.chapter-1-horizon-768-all-breakpoints .introduce-the-activity-1 {
  height: 40px;
  left: 1272px;
  object-fit: cover;
  position: absolute;
  top: 3018px;
  width: 390px;
}

.chapter-1-horizon-768-all-breakpoints .complete-the-activity-1 {
  height: 40px;
  left: 1272px;
  object-fit: cover;
  position: absolute;
  top: 3447px;
  width: 390px;
}

.chapter-1-horizon-768-all-breakpoints .following-activity-1 {
  height: 40px;
  left: 1272px;
  object-fit: cover;
  position: absolute;
  top: 3807px;
  width: 390px;
}

.chapter-1-horizon-768-all-breakpoints .step-1explain-what-h-1 {
  height: 339px;
  left: 1115px;
  object-fit: cover;
  position: absolute;
  top: 3081px;
  width: 512px;
}

.chapter-1-horizon-768-all-breakpoints .step-3get-participan-1 {
  height: 256px;
  left: 1115px;
  object-fit: cover;
  position: absolute;
  top: 3509px;
  width: 499px;
}

.chapter-1-horizon-768-all-breakpoints .step4consolidate-and-1 {
  height: 212px;
  left: 1115px;
  object-fit: cover;
  position: absolute;
  top: 3868px;
  width: 512px;
}

.chapter-1-horizon-768-all-breakpoints .retngulo-148578 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 1055px;
  top: 3007px;
  width: 218px;
}

.chapter-1-horizon-768-all-breakpoints .retngulo-148579 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 1055px;
  top: 3436px;
  width: 218px;
}

.chapter-1-horizon-768-all-breakpoints .retngulo-148580 {
  border-radius: 40px 40px 40px 0px;
  height: 51px;
  left: 1055px;
  top: 3796px;
  width: 218px;
}

.chapter-1-horizon-768-all-breakpoints .x15-minutes-1 {
  height: 21px;
  left: 1114px;
  object-fit: cover;
  position: absolute;
  top: 3022px;
  width: 91px;
}

.chapter-1-horizon-768-all-breakpoints .x45-minutes-2 {
  top: 3451px;
}

.chapter-1-horizon-768-all-breakpoints .x45-minutes-3 {
  top: 3811px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-144321 {
  height: 36px;
  left: 1072px;
  top: 3013px;
  width: 36px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-144328 {
  height: 36px;
  left: 1072px;
  top: 3442px;
  width: 36px;
}

.chapter-1-horizon-768-all-breakpoints .grupo-144335 {
  height: 36px;
  left: 1072px;
  top: 3802px;
  width: 36px;
}

.chapter-1-horizon-768-all-breakpoints .footer-2 {
  height: 61px;
  object-fit: cover;
  width: 768px;
}

.chapter-1-horizon-768-all-breakpoints .retngulo {
  object-fit: cover;
  position: absolute;
}

.chapter-1-horizon-768-all-breakpoints .x45-minutes {
  height: 21px;
  left: 1114px;
  object-fit: cover;
  position: absolute;
  width: 94px;
}

.link11 {
  cursor: pointer;
  position: absolute;
  right: 90px;
  top: 5586px;
  width: 60%;
  height: auto;
  z-index: 70;
}

.link22 {
  cursor: pointer;
  position: absolute;
  right: 90px;
  top: 5720px;
  width: 60%;
  height: auto;
  z-index: 70;
}

.link33 {
  cursor: pointer;
  position: absolute;
  right: 90px;
  top: 5831px;
  width: 60%;
  height: auto;
  z-index: 70;
}

.link44 {
  cursor: pointer;
  position: absolute;
  right: 90px;
  top: 5966px;
  width: 60%;
  height: auto;
  z-index: 70;
}

@media screen and (max-width: 767px) {
  .screen.chapter-1-horizon-1920 { 
    display: none;
   }
  .screen.chapter-1-horizon-1280 { 
    display: none;
   }
  .screen.chapter-1-horizon-768-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.chapter-1-horizon-1920 { 
    display: none;
   }
  .screen.chapter-1-horizon-1280 { 
    display: none;
   }
  .screen.chapter-1-horizon-375 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.chapter-1-horizon-1920 { 
    display: none;
   }
  .screen.chapter-1-horizon-768-all-breakpoints { 
    display: none;
   }
  .screen.chapter-1-horizon-375 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.chapter-1-horizon-1280 { 
    display: none;
   }
  .screen.chapter-1-horizon-768-all-breakpoints { 
    display: none;
   }
  .screen.chapter-1-horizon-375 { 
    display: none;
   }
}