/* screen - chapter-1-seven-1280 */

.chapter-1-seven-1280 {
  background-color: var(--white);
  height: 3041px;
  overflow: hidden;
  position: relative;
  width: 1280px;
}

.chapter-1-seven-1280 .overlap-group-1 {
  height: 3117px;
  left: -555px;
  position: absolute;
  top: -137px;
  width: 2391px;
}

.chapter-1-seven-1280 .grupo-144413 {
  height: 1225px;
  left: 0;
  top: 842px;
  width: 2391px;
}

.chapter-1-seven-1280 .retngulo-436 {
  height: 1110px;
  left: 555px;
  top: 222px;
  width: 1280px;
}

.chapter-1-seven-1280 .grupo-de-mscara-21 {
  height: 559px;
  left: 584px;
  object-fit: cover;
  position: absolute;
  top: 773px;
  width: 1251px;
}

.chapter-1-seven-1280 .chapter-3_tip_-button-1 {
  cursor: pointer;
  height: 450px;
  left: 1329px;
  object-fit: cover;
  position: absolute;
  top: 407px;
  width: 494px;
}

.chapter-1-seven-1280 .design-space-paper-textured-background-1 {
  height: 1060px;
  left: 555px;
  object-fit: cover;
  position: absolute;
  top: 2057px;
  width: 1280px;
}

.chapter-1-seven-1280 .grupo-8839 {
  height: 864px;
  left: 94px;
  top: 0;
  width: 858px;
}

.chapter-1-seven-1280 .spc-cps-logo_27_stars-white-1 {
  height: 50px;
  left: 572px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-1-seven-1280 .seven-questions-1 {
  height: 204px;
  left: 858px;
  object-fit: cover;
  position: absolute;
  top: 392px;
  width: 594px;
}

.chapter-1-seven-1280 .grupo-8841 {
  height: 102px;
  left: 860px;
  top: 259px;
  width: 536px;
}

.chapter-1-seven-1280 .grupo-8842 {
  height: 5px;
  left: 860px;
  top: 378px;
  width: 199px;
}

.chapter-1-seven-1280 .grupo-8847 {
  height: 45px;
  left: 1471px;
  top: 1970px;
  width: 282px;
}

.chapter-1-seven-1280 .grupo-143938 {
  height: 94px;
  left: 1052px;
  top: 2138px;
  width: 286px;
}

.chapter-1-seven-1280 .retngulo-80 {
  height: 81px;
  left: 555px;
  top: 137px;
  width: 1280px;
}

.chapter-1-seven-1280 .grupo-788 {
  height: 47px;
  left: 1052px;
  top: 156px;
  width: 302px;
}

.chapter-1-seven-1280 .menu-v {
  height: 81px;
  left: 1754px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-1-seven-1280 .grupo-790 {
  height: 5px;
  left: 555px;
  top: 218px;
  width: 1280px;
}

.chapter-1-seven-1280 .grupo-8843 {
  height: 64px;
  left: 663px;
  top: 1692px;
  width: 64px;
}

.chapter-1-seven-1280 .grupo-8844 {
  height: 53px;
  left: 664px;
  top: 1798px;
  width: 63px;
}

.chapter-1-seven-1280 .grupo-8845 {
  height: 54px;
  left: 676px;
  top: 1901px;
  width: 40px;
}

.chapter-1-seven-1280 .grupo-8846 {
  height: 319px;
  left: 1175px;
  top: 1686px;
  width: 4px;
}

.chapter-1-seven-1280 .time1520-minutes-per-interview-1 {
  height: 49px;
  left: 744px;
  object-fit: cover;
  position: absolute;
  top: 1697px;
  width: 250px;
}

.chapter-1-seven-1280 .no-of-participantsun-1 {
  height: 99px;
  left: 744px;
  object-fit: cover;
  position: absolute;
  top: 1789px;
  width: 241px;
}

.chapter-1-seven-1280 .material-1 {
  height: 24px;
  left: 1434px;
  object-fit: cover;
  position: absolute;
  top: 1646px;
  width: 74px;
}

.chapter-1-seven-1280 .facilitationif-condu-1 {
  height: 144px;
  left: 744px;
  object-fit: cover;
  position: absolute;
  top: 1905px;
  width: 364px;
}

.chapter-1-seven-1280 .grupo-143936 {
  height: 94px;
  left: 1025px;
  top: 1538px;
  width: 340px;
}

.chapter-1-seven-1280 .grupo-8854 {
  height: 45px;
  left: 1471px;
  top: 280px;
  width: 282px;
}

.chapter-1-seven-1280 .more_-info-button-v {
  cursor: pointer;
  height: 40px;
  left: 1579px;
  object-fit: cover;
  position: absolute;
  top: 1212px;
  width: 174px;
}

.chapter-1-seven-1280 .grupo-2489 {
  height: 124px;
  left: 580px;
  top: 385px;
  width: 188px;
}

.chapter-1-seven-1280 .quesiton_-tabs-1 {
  height: 167px;
  left: 858px;
  object-fit: cover;
  position: absolute;
  top: 612px;
  width: 471px;
}

.chapter-1-seven-1280 .case-study_7 {
  border-radius: 5px;
  height: 230px;
  left: 861px;
  object-fit: cover;
  position: absolute;
  top: 1251px;
  width: 308px;
}

.chapter-1-seven-1280 .x2-1 {
  height: 177px;
  left: 1078px;
  object-fit: cover;
  position: absolute;
  top: 983px;
  width: 87px;
}

.chapter-1-seven-1280 .grupo-144430 {
  cursor: pointer;
  height: 479px;
  left: 852px;
  top: 1002px;
  width: 326px;
}

.chapter-1-seven-1280 .slido-survey-monkey-1 {
  height: 77px;
  left: 1317px;
  object-fit: cover;
  position: absolute;
  top: 1812px;
  width: 241px;
}

.chapter-1-seven-1280 .voice-recorder-1 {
  height: 45px;
  left: 1587px;
  object-fit: cover;
  position: absolute;
  top: 1722px;
  width: 131px;
}

.chapter-1-seven-1280 .pen-and-paper-1 {
  height: 45px;
  left: 1316px;
  object-fit: cover;
  position: absolute;
  top: 1722px;
  width: 174px;
}

.chapter-1-seven-1280 .grupo-144407 {
  height: 64px;
  left: 1225px;
  top: 1703px;
  width: 71px;
}

.chapter-1-seven-1280 .grupo-144408 {
  height: 69px;
  left: 1230px;
  top: 1799px;
  width: 61px;
}

.chapter-1-seven-1280 .grupo-144409 {
  height: 58px;
  left: 1541px;
  top: 1703px;
  width: 34px;
}

.chapter-1-seven-1280 .retngulo-148598 {
  border-radius: 30px;
  height: 736px;
  left: 663px;
  top: 2302px;
  width: 1090px;
}

.chapter-1-seven-1280 .step-1identify-the-s-1 {
  height: 705px;
  left: 711px;
  object-fit: cover;
  position: absolute;
  top: 2333px;
  width: 1021px;
}

.chapter-1-seven-1280 .linha-135 {
  top: 2451px;
}

.chapter-1-seven-1280 .linha-136 {
  top: 2758px;
}

.chapter-1-seven-1280 .linha-137 {
  top: 2592px;
}

.chapter-1-seven-1280 .linha-138 {
  top: 2898px;
}

.chapter-1-seven-1280 .footer-1 {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2980px;
  width: 1280px;
}

.chapter-1-seven-1280 .linha {
  height: 1px;
  left: 712px;
  object-fit: cover;
  position: absolute;
  width: 1000px;
}

.chapter-1-seven-1280 .retngulo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-1-seven-1920 */

.chapter-1-seven-1920 {
  background-color: var(--white);
  height: 2967px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.chapter-1-seven-1920 .overlap-group {
  height: 3044px;
  left: -461px;
  position: absolute;
  top: -137px;
  width: 2405px;
}

.chapter-1-seven-1920 .retngulo-348 {
  height: 2907px;
  left: 461px;
  top: 137px;
  width: 1920px;
}

.chapter-1-seven-1920 .retngulo-349 {
  height: 755px;
  left: 461px;
  top: 1208px;
  width: 1944px;
}

.chapter-1-seven-1920 .grupo-3175 {
  height: 537px;
  left: 461px;
  top: 1426px;
  width: 1920px;
}

.chapter-1-seven-1920 .grupo-3176 {
  height: 537px;
  left: 461px;
  top: 983px;
  width: 1920px;
}

.chapter-1-seven-1920 .retngulo-350 {
  height: 996px;
  left: 461px;
  top: 223px;
  width: 1285px;
}

.chapter-1-seven-1920 .grupo-de-mscara-7 {
  height: 559px;
  left: 422px;
  object-fit: cover;
  position: absolute;
  top: 659px;
  width: 1251px;
}

.chapter-1-seven-1920 .grupo-3204 {
  height: 864px;
  left: 0;
  top: 0;
  width: 858px;
}

.chapter-1-seven-1920 .spc-cps-logo_27_stars-white {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-1-seven-1920 .grupo-3205 {
  height: 22px;
  left: 2326px;
  top: 168px;
  width: 30px;
}

.chapter-1-seven-1920 .seven-questions {
  height: 97px;
  left: 764px;
  object-fit: cover;
  position: absolute;
  top: 364px;
  width: 731px;
}

.chapter-1-seven-1920 .x7-questions {
  height: 996px;
  left: 1740px;
  object-fit: cover;
  position: absolute;
  top: 222px;
  width: 641px;
}

.chapter-1-seven-1920 .grupo-3206 {
  height: 65px;
  left: 766px;
  top: 259px;
  width: 740px;
}

.chapter-1-seven-1920 .grupo-3207 {
  height: 5px;
  left: 766px;
  top: 341px;
  width: 199px;
}

.chapter-1-seven-1920 .case-study {
  border-radius: 5px;
  height: 230px;
  left: 766px;
  object-fit: cover;
  position: absolute;
  top: 1154px;
  width: 308px;
}

.chapter-1-seven-1920 .retngulo-47 {
  border-radius: 5px;
  cursor: pointer;
  height: 282px;
  left: 757px;
  top: 905px;
  width: 326px;
}

.chapter-1-seven-1920 .grupo-188 {
  height: 21px;
  left: 788px;
  top: 1123px;
  width: 105px;
}

.chapter-1-seven-1920 .x2 {
  height: 177px;
  left: 983px;
  object-fit: cover;
  position: absolute;
  top: 887px;
  width: 87px;
}

.chapter-1-seven-1920 .case-study-2seven-qu {
  height: 172px;
  left: 784px;
  object-fit: cover;
  position: absolute;
  top: 943px;
  width: 263px;
}

.chapter-1-seven-1920 .grupo-3208 {
  height: 64px;
  left: 766px;
  top: 1595px;
  width: 64px;
}

.chapter-1-seven-1920 .grupo-3209 {
  height: 53px;
  left: 767px;
  top: 1701px;
  width: 63px;
}

.chapter-1-seven-1920 .grupo-3210 {
  height: 54px;
  left: 779px;
  top: 1804px;
  width: 40px;
}

.chapter-1-seven-1920 .grupo-3211 {
  height: 319px;
  left: 1554px;
  top: 1589px;
  width: 4px;
}

.chapter-1-seven-1920 .time1520-minutes-per-interview {
  height: 49px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1600px;
  width: 250px;
}

.chapter-1-seven-1920 .no-of-participantsun {
  height: 74px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1687px;
  width: 325px;
}

.chapter-1-seven-1920 .slido-survey-monkey {
  height: 49px;
  left: 1740px;
  object-fit: cover;
  position: absolute;
  top: 1748px;
  width: 241px;
}

.chapter-1-seven-1920 .voice-recorder {
  height: 25px;
  left: 2009px;
  object-fit: cover;
  position: absolute;
  top: 1658px;
  width: 131px;
}

.chapter-1-seven-1920 .pen-and-paper {
  height: 24px;
  left: 1739px;
  object-fit: cover;
  position: absolute;
  top: 1658px;
  width: 241px;
}

.chapter-1-seven-1920 .material {
  height: 24px;
  left: 1859px;
  object-fit: cover;
  position: absolute;
  top: 1591px;
  width: 74px;
}

.chapter-1-seven-1920 .facilitationif-condu {
  height: 81px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 1804px;
  width: 668px;
}

.chapter-1-seven-1920 .grupo-3212 {
  height: 45px;
  left: 1662px;
  top: 1873px;
  width: 282px;
}

.chapter-1-seven-1920 .design-space-paper-textured-background {
  height: 1084px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1960px;
  width: 1920px;
}

.chapter-1-seven-1920 .grupo-3213 {
  height: 94px;
  left: 1278px;
  top: 2041px;
  width: 34px;
}

.chapter-1-seven-1920 .grupo-3214 {
  height: 94px;
  left: 1530px;
  top: 2041px;
  width: 34px;
}

.chapter-1-seven-1920 .header {
  height: 86px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: auto;
}

.chapter-1-seven-1920 .grupo-3215 {
  height: 45px;
  left: 2074px;
  top: 280px;
  width: 282px;
}

.chapter-1-seven-1920 .grupo-3216 {
  height: 94px;
  left: 1236px;
  top: 1441px;
  width: 34px;
}

.chapter-1-seven-1920 .grupo-3217 {
  height: 94px;
  left: 1541px;
  top: 1441px;
  width: 34px;
}

.chapter-1-seven-1920 .grupo-3218 {
  height: 159px;
  left: 523px;
  top: 387px;
  width: 130px;
}

.chapter-1-seven-1920 .grupo-3219 {
  height: 64px;
  left: 1648px;
  top: 1639px;
  width: 71px;
}

.chapter-1-seven-1920 .grupo-3220 {
  height: 69px;
  left: 1653px;
  top: 1735px;
  width: 61px;
}

.chapter-1-seven-1920 .grupo-3221 {
  height: 58px;
  left: 1964px;
  top: 1639px;
  width: 34px;
}

.chapter-1-seven-1920 .retngulo-352 {
  border-radius: 30px;
  height: 727px;
  left: 768px;
  top: 2189px;
  width: 1307px;
}

.chapter-1-seven-1920 .step-1identify-the-s {
  height: 654px;
  left: 816px;
  object-fit: cover;
  position: absolute;
  top: 2220px;
  width: 1238px;
}

.chapter-1-seven-1920 .linha-131 {
  top: 2338px;
}

.chapter-1-seven-1920 .linha-132 {
  top: 2620px;
}

.chapter-1-seven-1920 .linha-133 {
  top: 2479px;
}

.chapter-1-seven-1920 .linha-134 {
  top: 2761px;
}

.chapter-1-seven-1920 .footer {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2907px;
  width: 1920px;
}

.chapter-1-seven-1920 .componente-58-3 {
  height: 51px;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: 85px;
  width: 51px;
}

.chapter-1-seven-1920 .linha {
  height: 1px;
  left: 817px;
  object-fit: cover;
  position: absolute;
  width: 1217px;
}

.chapter-1-seven-1920 .retngulo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-1-seven-375-all-breakpoints */

.chapter-1-seven-375-all-breakpoints {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 5434px;
  overflow: hidden;
  width: 375px;
}

.chapter-1-seven-375-all-breakpoints .overlap-group-3 {
  height: 1813px;
  position: relative;
  width: 1251px;
}

.chapter-1-seven-375-all-breakpoints .componente-60-2 {
  height: 1732px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 81px;
  width: 375px;
}

.chapter-1-seven-375-all-breakpoints .gathering-intelligence-about-the-future-1 {
  height: 175px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 192px;
  width: 274px;
}

.chapter-1-seven-375-all-breakpoints .chapter-1-1 {
  height: 36px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: 144px;
}

.chapter-1-seven-375-all-breakpoints .seven-questions-3 {
  height: 98px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 384px;
  width: 276px;
}

.chapter-1-seven-375-all-breakpoints .caminho-747 {
  height: 36px;
  left: 560px;
  object-fit: cover;
  position: absolute;
  top: 812px;
  width: 136px;
}

.chapter-1-seven-375-all-breakpoints .retngulo-148492 {
  height: 81px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 375px;
}

.chapter-1-seven-375-all-breakpoints .menu-1 {
  height: 81px;
  left: 732px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 81px;
}

.chapter-1-seven-375-all-breakpoints .grupo-143932 {
  height: 5px;
  left: 438px;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 375px;
}

.chapter-1-seven-375-all-breakpoints .x {
  height: 29px;
  left: 686px;
  object-fit: cover;
  position: absolute;
  top: 600px;
  width: 18px;
}

.chapter-1-seven-375-all-breakpoints .quesiton_-tabs-3 {
  height: 167px;
  left: 485px;
  object-fit: cover;
  position: absolute;
  top: 751px;
  width: 276px;
}

.chapter-1-seven-375-all-breakpoints .case-study-1 {
  border-radius: 5px;
  height: 230px;
  left: 470px;
  object-fit: cover;
  position: absolute;
  top: 1505px;
  width: 308px;
}

.chapter-1-seven-375-all-breakpoints .retngulo-47-1 {
  border-radius: 5px;
  height: 282px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 1255px;
  width: 326px;
}

.chapter-1-seven-375-all-breakpoints .grupo-188-1 {
  height: 21px;
  left: 492px;
  object-fit: cover;
  position: absolute;
  top: 1473px;
  width: 105px;
}

.chapter-1-seven-375-all-breakpoints .x2-2 {
  height: 177px;
  left: 687px;
  object-fit: cover;
  position: absolute;
  top: 1237px;
  width: 87px;
}

.chapter-1-seven-375-all-breakpoints .case-study-2seven-qu-1 {
  height: 172px;
  left: 488px;
  object-fit: cover;
  position: absolute;
  top: 1293px;
  width: 263px;
}

.chapter-1-seven-375-all-breakpoints .grupo-144015 {
  height: 64px;
  margin-left: 1.0px;
  margin-top: 60px;
  object-fit: cover;
  width: 230px;
}

.chapter-1-seven-375-all-breakpoints .time1520-minutes-per-interview-3 {
  height: 49px;
  margin-right: 57.0px;
  margin-top: 31px;
  object-fit: cover;
  width: 250px;
}

.chapter-1-seven-375-all-breakpoints .no-of-participantsun-3 {
  height: 74px;
  margin-left: 1.0px;
  margin-top: 44px;
  object-fit: cover;
  width: 308px;
}

.chapter-1-seven-375-all-breakpoints .facilitationif-condu-3 {
  height: 154px;
  margin-left: 1.0px;
  margin-top: 42px;
  object-fit: cover;
  width: 308px;
}

.chapter-1-seven-375-all-breakpoints .overlap-group1 {
  height: 257px;
  margin-right: 18.0px;
  margin-top: 30px;
  position: relative;
  width: 289px;
}

.chapter-1-seven-375-all-breakpoints .grupo-144016 {
  height: 34px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 163px;
  width: 190px;
}

.chapter-1-seven-375-all-breakpoints .materialpen-and-pape {
  height: 257px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 289px;
}

.chapter-1-seven-375-all-breakpoints .overlap-group3 {
  align-items: flex-end;
  background-image: url(../img/design-space-paper-textured-background-16@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 63px;
  margin-left: 1.0px;
  margin-top: 20px;
  padding: 79.4px 223.2px;
  width: 768px;
}

.chapter-1-seven-375-all-breakpoints .grupo-144017 {
  align-self: center;
  height: 64px;
  margin-top: 1px;
  object-fit: cover;
  width: 230px;
}

.chapter-1-seven-375-all-breakpoints .overlap-group4 {
  background-image: url(../img/ret-ngulo-148586-1@1x.png);
  background-position: 50% 50%;
  background-size: 316px 1055px;
  border-radius: 30px;
  height: 1055px;
  position: relative;
  width: 316px;
}

.chapter-1-seven-375-all-breakpoints .step-1identify-the-s-3 {
  height: 1304px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 38px;
  width: 267px;
}

.chapter-1-seven-375-all-breakpoints .linha-139 {
  left: 26px;
  top: 229px;
}

.chapter-1-seven-375-all-breakpoints .linha-144 {
  left: 21px;
  top: 522px;
}

.chapter-1-seven-375-all-breakpoints .linha-145 {
  left: 26px;
  top: 814px;
}

.chapter-1-seven-375-all-breakpoints .linha-146 {
  left: 26px;
  top: 1054px;
}

.chapter-1-seven-375-all-breakpoints .grupo-144075 {
  height: 64px;
  margin-left: 1.0px;
  margin-top: 80px;
  object-fit: cover;
  width: 118px;
}

.chapter-1-seven-375-all-breakpoints .involve-a-broad-rang {
  height: 96px;
  margin-right: 1.0px;
  margin-top: 43px;
  object-fit: cover;
  width: 308px;
}

.chapter-1-seven-375-all-breakpoints .grupo-144076 {
  height: 57px;
  margin-right: 0;
  margin-top: 55px;
  object-fit: cover;
  width: 57px;
}

.chapter-1-seven-375-all-breakpoints .overlap-group5 {
  height: 695px;
  margin-top: 72px;
  position: relative;
  width: 375px;
}

.chapter-1-seven-375-all-breakpoints .overlap-group2 {
  align-items: center;
  background-image: url(../img/design-space-paper-textured-background-17@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 68px;
  left: 0;
  min-height: 634px;
  padding: 49px 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.chapter-1-seven-375-all-breakpoints .grupo-144077 {
  height: 68px;
  margin-left: 1.0px;
  object-fit: cover;
  width: 230px;
}

.chapter-1-seven-375-all-breakpoints .the-uk-futures-toolk {
  height: 253px;
  object-fit: cover;
  width: 309px;
}

.chapter-1-seven-375-all-breakpoints .grupo-144078 {
  height: 57px;
  margin-right: 0;
  object-fit: cover;
  width: 57px;
}

.chapter-1-seven-375-all-breakpoints .footer-3 {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 634px;
  width: 375px;
}

.chapter-1-seven-375-all-breakpoints .linha {
  height: 1px;
  object-fit: cover;
  position: absolute;
  width: 267px;
}
/* screen - chapter-1-seven-768 */

.chapter-1-seven-768 {
  background-color: var(--white);
  height: 3949px;
  overflow: hidden;
  position: relative;
  width: 768px;
}

.chapter-1-seven-768 .overlap-group-2 {
  height: 4026px;
  left: -811px;
  position: absolute;
  top: -137px;
  width: 2391px;
}

.chapter-1-seven-768 .retngulo-148524 {
  height: 1341px;
  left: 811px;
  top: 222px;
  width: 768px;
}

.chapter-1-seven-768 .grupo-de-mscara-22 {
  height: 559px;
  left: 811px;
  object-fit: cover;
  position: absolute;
  top: 1004px;
  width: 1251px;
}

.chapter-1-seven-768 .grupo-143973 {
  height: 94px;
  left: 1025px;
  top: 1820px;
  width: 340px;
}

.chapter-1-seven-768 .seven-questions-2 {
  height: 73px;
  left: 1114px;
  object-fit: cover;
  position: absolute;
  top: 392px;
  width: 465px;
}

.chapter-1-seven-768 .gathering-intelligence-about-the-future {
  height: 77px;
  left: 1116px;
  object-fit: cover;
  position: absolute;
  top: 284px;
  width: 426px;
}

.chapter-1-seven-768 .chapter-1 {
  height: 28px;
  left: 1116px;
  object-fit: cover;
  position: absolute;
  top: 259px;
  width: 112px;
}

.chapter-1-seven-768 .grupo-143968 {
  height: 864px;
  left: 350px;
  top: 0;
  width: 858px;
}

.chapter-1-seven-768 .grupo-143970 {
  height: 5px;
  left: 1116px;
  top: 378px;
  width: 199px;
}

.chapter-1-seven-768 .retngulo-148486 {
  height: 81px;
  left: 811px;
  top: 137px;
  width: 768px;
}

.chapter-1-seven-768 .grupo-143707 {
  height: 47px;
  left: 1045px;
  top: 156px;
  width: 302px;
}

.chapter-1-seven-768 .spc-cps-logo_27_stars-white-2 {
  height: 50px;
  left: 830px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-1-seven-768 .menu {
  height: 81px;
  left: 1498px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-1-seven-768 .grupo-143711 {
  height: 5px;
  left: 811px;
  top: 218px;
  width: 768px;
}

.chapter-1-seven-768 .grupo-143975 {
  height: 45px;
  left: 1114px;
  top: 490px;
  width: 282px;
}

.chapter-1-seven-768 .more_-info-button-v-1 {
  cursor: pointer;
  height: 40px;
  left: 892px;
  object-fit: cover;
  position: absolute;
  top: 1067px;
  width: 174px;
}

.chapter-1-seven-768 .grupo-143971 {
  height: 45px;
  left: 1054px;
  top: 2652px;
  width: 282px;
}

.chapter-1-seven-768 .grupo-2489-1 {
  height: 124px;
  left: 836px;
  object-fit: cover;
  position: absolute;
  top: 385px;
  width: 188px;
}

.chapter-1-seven-768 .chapter-3_tip_-button-2 {
  cursor: pointer;
  height: 450px;
  left: 1070px;
  object-fit: cover;
  position: absolute;
  top: 781px;
  width: 494px;
}

.chapter-1-seven-768 .grupo-8843-1 {
  height: 64px;
  left: 891px;
  object-fit: cover;
  position: absolute;
  top: 1946px;
  width: 64px;
}

.chapter-1-seven-768 .grupo-8844-1 {
  height: 53px;
  left: 892px;
  object-fit: cover;
  position: absolute;
  top: 2052px;
  width: 63px;
}

.chapter-1-seven-768 .grupo-8845-1 {
  height: 54px;
  left: 904px;
  object-fit: cover;
  position: absolute;
  top: 2155px;
  width: 40px;
}

.chapter-1-seven-768 .grupo-8846-1 {
  height: 4px;
  left: 1036px;
  object-fit: cover;
  position: absolute;
  top: 2303px;
  width: 319px;
}

.chapter-1-seven-768 .time1520-minutes-per-interview-2 {
  height: 49px;
  left: 972px;
  object-fit: cover;
  position: absolute;
  top: 1951px;
  width: 250px;
}

.chapter-1-seven-768 .no-of-participantsun-2 {
  height: 49px;
  left: 972px;
  object-fit: cover;
  position: absolute;
  top: 2043px;
  width: 527px;
}

.chapter-1-seven-768 .material-2 {
  height: 24px;
  left: 1158px;
  object-fit: cover;
  position: absolute;
  top: 2344px;
  width: 74px;
}

.chapter-1-seven-768 .facilitationif-condu-2 {
  height: 119px;
  left: 972px;
  object-fit: cover;
  position: absolute;
  top: 2159px;
  width: 527px;
}

.chapter-1-seven-768 .pen-and-paper-2 {
  height: 39px;
  left: 972px;
  object-fit: cover;
  position: absolute;
  top: 2413px;
  width: 164px;
}

.chapter-1-seven-768 .slido-survey-monkey-2 {
  height: 49px;
  left: 972px;
  object-fit: cover;
  position: absolute;
  top: 2497px;
  width: 242px;
}

.chapter-1-seven-768 .voice-recorder-2 {
  height: 39px;
  left: 1344px;
  object-fit: cover;
  position: absolute;
  top: 2413px;
  width: 154px;
}

.chapter-1-seven-768 .design-space-paper-textured-background-2 {
  height: 1249px;
  left: 811px;
  object-fit: cover;
  position: absolute;
  top: 2777px;
  width: 768px;
}

.chapter-1-seven-768 .grupo-144314 {
  height: 94px;
  left: 1052px;
  top: 2858px;
  width: 286px;
}

.chapter-1-seven-768 .grupo-144321 {
  height: 36px;
  left: 908px;
  top: 3013px;
  width: 36px;
}

.chapter-1-seven-768 .case-study_7-1 {
  border-radius: 5px;
  height: 230px;
  left: 885px;
  object-fit: cover;
  position: absolute;
  top: 1482px;
  width: 308px;
}

.chapter-1-seven-768 .grupo-144431 {
  cursor: pointer;
  height: 498px;
  left: 876px;
  top: 1214px;
  width: 326px;
}

.chapter-1-seven-768 .quesiton_-tabs-2 {
  height: 167px;
  left: 1116px;
  object-fit: cover;
  position: absolute;
  top: 588px;
  width: 382px;
}

.chapter-1-seven-768 .grupo-144410 {
  height: 64px;
  left: 888px;
  top: 2396px;
  width: 71px;
}

.chapter-1-seven-768 .grupo-144411 {
  height: 69px;
  left: 893px;
  top: 2492px;
  width: 61px;
}

.chapter-1-seven-768 .grupo-144412 {
  height: 58px;
  left: 1302px;
  top: 2396px;
  width: 34px;
}

.chapter-1-seven-768 .retngulo-148600 {
  border-radius: 30px;
  height: 942px;
  left: 891px;
  top: 3006px;
  width: 607px;
}

.chapter-1-seven-768 .linha-141 {
  top: 3177px;
}

.chapter-1-seven-768 .linha-142 {
  top: 3586px;
}

.chapter-1-seven-768 .linha-143 {
  top: 3368px;
}

.chapter-1-seven-768 .step-1identify-the-s-2 {
  height: 899px;
  left: 935px;
  object-fit: cover;
  position: absolute;
  top: 3037px;
  width: 520px;
}

.chapter-1-seven-768 .linha-147 {
  top: 3751px;
}

.chapter-1-seven-768 .footer-2 {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 3889px;
  width: 768px;
}

.chapter-1-seven-768 .linha {
  height: 1px;
  left: 940px;
  object-fit: cover;
  position: absolute;
  width: 514px;
}

.chapter-1-seven-768 .retngulo {
  object-fit: cover;
  position: absolute;
}

.link11 {
  cursor: pointer;
  position: absolute;
  right: 33px;
  top: 208px;
  width: 80%;
  height: auto;
  z-index: 70;
}

.link22 {
  cursor: pointer;
  position: absolute;
  right: 33px;
  top: 393px;
  width: 80%;
  height: auto;
  z-index: 70;
}

@media screen and (max-width: 767px) {
  .screen.chapter-1-seven-1920 { 
    display: none;
   }
  .screen.chapter-1-seven-1280 { 
    display: none;
   }
  .screen.chapter-1-seven-768 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.chapter-1-seven-1920 { 
    display: none;
   }
  .screen.chapter-1-seven-1280 { 
    display: none;
   }
  .screen.chapter-1-seven-375-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.chapter-1-seven-1920 { 
    display: none;
   }
  .screen.chapter-1-seven-768 { 
    display: none;
   }
  .screen.chapter-1-seven-375-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.chapter-1-seven-1280 { 
    display: none;
   }
  .screen.chapter-1-seven-768 { 
    display: none;
   }
  .screen.chapter-1-seven-375-all-breakpoints { 
    display: none;
   }
}

@media screen and (max-width: 767px) {
  #textandbuttonsDiv {
    left: 475px;
    top: 750px;
  }

  .buttonForText, .textoButtons {
    width:300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  #textandbuttonsDiv {
    left: 1110px;
  }

  .buttonForText, .textoButtons {
    width:370px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  #textandbuttonsDiv {
    top: 620px;
    left: 850px;
  }
  .buttonForText, .textoButtons {
    width:500px;
  }
}