/* screen - chapter-1-seven-case-study-2-1280 */

.chapter-1-seven-case-study-2-1280 {
  background-color: var(--white);
  height: 3627px;
  overflow: hidden;
  position: relative;
  width: 1280px;
}

.chapter-1-seven-case-study-2-1280 .overlap-group-1 {
  height: 3704px;
  left: -461px;
  position: absolute;
  top: -138px;
  width: 1741px;
}

.chapter-1-seven-case-study-2-1280 .retngulo-148562 {
  height: 3481px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 223px;
  width: 1280px;
}

.chapter-1-seven-case-study-2-1280 .grupo-2919 {
  height: 1275px;
  left: 427px;
  top: 707px;
  width: 1273px;
}

.chapter-1-seven-case-study-2-1280 .design-space-paper-textured-background-1 {
  height: 2833px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 274px;
  width: 1178px;
}

.chapter-1-seven-case-study-2-1280 .caminho-62184 {
  height: 3379px;
  left: 512px;
  object-fit: cover;
  position: absolute;
  top: 262px;
  width: 1178px;
}

.chapter-1-seven-case-study-2-1280 .case-study-2seven-qu-1 {
  height: 227px;
  left: 698px;
  object-fit: cover;
  position: absolute;
  top: 363px;
  width: 910px;
}

.chapter-1-seven-case-study-2-1280 .when-spc-was-develop-1 {
  height: 143px;
  left: 698px;
  object-fit: cover;
  position: absolute;
  top: 617px;
  width: 538px;
}

.chapter-1-seven-case-study-2-1280 .spc-cps-logo_27_stars-white {
  height: 50px;
  left: 478px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  width: 122px;
}

.chapter-1-seven-case-study-2-1280 .header {
  height: 86px;
  left: 461px;
  object-fit: cover;
  position: absolute;
  top: 138px;
  width: auto;
}

.chapter-1-seven-case-study-2-1280 .what-we-did-we-invit-1 {
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 884px;
  width: 1006px;
}

.chapter-1-seven-case-study-2-1280 .grupo-144387 {
  height: 5px;
  left: 603px;
  top: 2870px;
  width: 199px;
}

.chapter-1-seven-case-study-2-1280 .grupo-144389 {
  height: 5px;
  left: 603px;
  top: 3370px;
  width: 199px;
}

.chapter-1-seven-case-study-2-1280 .grupo-2595-1 {
  height: 159px;
  left: 523px;
  object-fit: cover;
  position: absolute;
  top: 387px;
  width: 130px;
}

.chapter-1-seven-case-study-2-1280 .we-sent-representati-1 {
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 1027px;
  width: 979px;
}

.chapter-1-seven-case-study-2-1280 .step-into-the-future-1 {
  height: 402px;
  left: 648px;
  object-fit: cover;
  position: absolute;
  top: 1089px;
  width: 933px;
}

.chapter-1-seven-case-study-2-1280 .x1-1 {
  height: 35px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 1100px;
  width: 46px;
}

.chapter-1-seven-case-study-2-1280 .x2-1 {
  height: 40px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 1158px;
  width: 46px;
}

.chapter-1-seven-case-study-2-1280 .x3-1 {
  height: 40px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 1226px;
  width: 46px;
}

.chapter-1-seven-case-study-2-1280 .x5-1 {
  height: 29px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 1318px;
  width: 46px;
}

.chapter-1-seven-case-study-2-1280 .x6-1 {
  height: 26px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 1381px;
  width: 46px;
}

.chapter-1-seven-case-study-2-1280 .x7-1 {
  height: 27px;
  left: 605px;
  object-fit: cover;
  position: absolute;
  top: 1416px;
  width: 46px;
}

.chapter-1-seven-case-study-2-1280 .x4-1 {
  height: 21px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 1280px;
  width: 46px;
}

.chapter-1-seven-case-study-2-1280 .what-happened-we-col-1 {
  height: 63px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 2920px;
  width: 978px;
}

.chapter-1-seven-case-study-2-1280 .culture-and-traditio-1 {
  height: 266px;
  left: 645px;
  object-fit: cover;
  position: absolute;
  top: 3029px;
  width: 935px;
}

.chapter-1-seven-case-study-2-1280 .we-presented-these-f-1 {
  height: 52px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 3244px;
  width: 978px;
}

.chapter-1-seven-case-study-2-1280 .grupo-144421 {
  height: 162px;
  left: 602px;
  top: 3036px;
  width: 11px;
}

.chapter-1-seven-case-study-2-1280 .what-we-learnt-recip-1 {
  height: 160px;
  left: 602px;
  object-fit: cover;
  position: absolute;
  top: 3416px;
  width: 978px;
}

.chapter-1-seven-case-study-2-1280 .grupo-2995-1 {
  height: 1198px;
  left: 612px;
  object-fit: cover;
  position: absolute;
  top: 1532px;
  width: 927px;
}

.chapter-1-seven-case-study-2-1280 .footer {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 3566px;
  width: 1280px;
}
/* screen - chapter-1-seven-case-study-2-1920-all-breakpoints */

.chapter-1-seven-case-study-2-1920-all-breakpoints {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2468px;
  overflow: hidden;
  width: 1920px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .overlap-group {
  height: 2548px;
  margin-left: -462.82px;
  margin-top: -141px;
  position: relative;
  width: 2383px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .retngulo-321 {
  height: 2326px;
  left: 463px;
  top: 223px;
  width: 1920px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .grupo-2595 {
  height: 159px;
  left: 525px;
  object-fit: cover;
  position: absolute;
  top: 390px;
  width: 130px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .grupo-2981 {
  height: 1275px;
  left: 428px;
  object-fit: cover;
  position: absolute;
  top: 706px;
  width: 1273px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .grupo-de-mscara-6 {
  height: 559px;
  left: 415px;
  object-fit: cover;
  position: absolute;
  top: 659px;
  width: 1251px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .grupo-2991 {
  height: 86px;
  left: 463px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 1920px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .retngulo-323 {
  height: 2146px;
  left: 633px;
  top: 276px;
  width: 1639px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .design-space-paper-textured-background {
  height: 2138px;
  left: 633px;
  object-fit: cover;
  position: absolute;
  top: 285px;
  width: 1639px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .grupo-2993 {
  height: 537px;
  left: 633px;
  object-fit: cover;
  position: absolute;
  top: 278px;
  width: 1639px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .when-spc-was-develop {
  height: 105px;
  left: 783px;
  object-fit: cover;
  position: absolute;
  top: 653px;
  width: 851px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .case-study-2seven-qu {
  height: 212px;
  left: 775px;
  object-fit: cover;
  position: absolute;
  top: 367px;
  width: 1362px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .what-we-did-we-invit {
  height: 160px;
  left: 775px;
  object-fit: cover;
  position: absolute;
  top: 870px;
  width: 494px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .we-sent-representati {
  height: 52px;
  left: 775px;
  object-fit: cover;
  position: absolute;
  top: 1057px;
  width: 494px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .quote_-buttuon {
  cursor: pointer;
  height: 162px;
  left: 1834px;
  object-fit: cover;
  position: absolute;
  top: 626px;
  width: 216px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .retngulo-324 {
  height: 81px;
  left: 2191px;
  top: 276px;
  width: 81px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .x {
  cursor: pointer;
  height: 94px;
  left: 2184px;
  object-fit: cover;
  position: absolute;
  top: 272px;
  width: 94px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .grupo-2994 {
  height: 5px;
  left: 776px;
  object-fit: cover;
  position: absolute;
  top: 1815px;
  width: 199px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .what-happened-we-col {
  height: 88px;
  left: 779px;
  object-fit: cover;
  position: absolute;
  top: 1845px;
  width: 486px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .step-into-the-future {
  height: 626px;
  left: 822px;
  object-fit: cover;
  position: absolute;
  top: 1136px;
  width: 494px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .culture-and-traditio {
  height: 266px;
  left: 822px;
  object-fit: cover;
  position: absolute;
  top: 1961px;
  width: 478px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .what-we-learnt-recip {
  height: 244px;
  left: 1439px;
  object-fit: cover;
  position: absolute;
  top: 1904px;
  width: 495px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .x1 {
  height: 74px;
  left: 776px;
  object-fit: cover;
  position: absolute;
  top: 1145px;
  width: 46px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .x2 {
  height: 74px;
  left: 776px;
  object-fit: cover;
  position: absolute;
  top: 1230px;
  width: 46px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .x3 {
  height: 74px;
  left: 776px;
  object-fit: cover;
  position: absolute;
  top: 1340px;
  width: 46px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .x5 {
  height: 74px;
  left: 776px;
  object-fit: cover;
  position: absolute;
  top: 1467px;
  width: 46px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .x6 {
  height: 40px;
  left: 776px;
  object-fit: cover;
  position: absolute;
  top: 1553px;
  width: 46px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .x7 {
  height: 45px;
  left: 779px;
  object-fit: cover;
  position: absolute;
  top: 1615px;
  width: 46px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .x4 {
  height: 21px;
  left: 776px;
  object-fit: cover;
  position: absolute;
  top: 1428px;
  width: 46px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .grupo-2995 {
  height: 1024px;
  left: 1361px;
  object-fit: cover;
  position: absolute;
  top: 842px;
  width: 793px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .grupo-2996 {
  height: 11px;
  left: 793px;
  object-fit: cover;
  position: absolute;
  top: 1970px;
  width: 11px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .grupo-2997 {
  height: 11px;
  left: 793px;
  object-fit: cover;
  position: absolute;
  top: 2040px;
  width: 11px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .grupo-2998 {
  height: 11px;
  left: 793px;
  object-fit: cover;
  position: absolute;
  top: 2168px;
  width: 11px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .grupo-2999 {
  height: 11px;
  left: 793px;
  object-fit: cover;
  position: absolute;
  top: 2008px;
  width: 11px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .grupo-3000 {
  height: 11px;
  left: 793px;
  object-fit: cover;
  position: absolute;
  top: 2105px;
  width: 11px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .we-presented-these-f {
  height: 108px;
  left: 779px;
  object-fit: cover;
  position: absolute;
  top: 2244px;
  width: 495px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .grupo-2992 {
  height: 61px;
  margin-left: -2.66px;
  object-fit: cover;
  width: 1923px;
}

.chapter-1-seven-case-study-2-1920-all-breakpoints .retngulo {
  object-fit: cover;
  position: absolute;
}
/* screen - chapter-1-seven-case-study-2-375 */

.chapter-1-seven-case-study-2-375 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3526px;
  overflow: hidden;
  width: 375px;
}

.chapter-1-seven-case-study-2-375 .overlap-group-3 {
  align-self: flex-start;
  height: 2936px;
  position: relative;
  width: 1264px;
}

.chapter-1-seven-case-study-2-375 .caminho-747 {
  height: 36px;
  left: 122px;
  object-fit: cover;
  position: absolute;
  top: 812px;
  width: 136px;
}

.chapter-1-seven-case-study-2-375 .retngulo-148492 {
  height: 81px;
  top: 0;
}

.chapter-1-seven-case-study-2-375 .spc-cps-logo_27_stars-white-2 {
  height: 50px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 122px;
}

.chapter-1-seven-case-study-2-375 .menu-1 {
  height: 81px;
  left: 294px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 81px;
}

.chapter-1-seven-case-study-2-375 .grupo-143932 {
  height: 5px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 375px;
}

.chapter-1-seven-case-study-2-375 .case-study-2seven-qu-3 {
  height: 170px;
  left: 51px;
  object-fit: cover;
  position: absolute;
  top: 206px;
  width: 273px;
}

.chapter-1-seven-case-study-2-375 .design-space-paper-textured-background-2 {
  height: 2266px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 670px;
  width: 375px;
}

.chapter-1-seven-case-study-2-375 .what-we-did-we-invit-3 {
  height: 142px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 719px;
  width: 323px;
}

.chapter-1-seven-case-study-2-375 .we-sent-representati-3 {
  height: 61px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 871px;
  width: 323px;
}

.chapter-1-seven-case-study-2-375 .step-into-the-future-3 {
  height: 548px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 953px;
  width: 290px;
}

.chapter-1-seven-case-study-2-375 .x1-3 {
  height: 35px;
  left: 37px;
  object-fit: cover;
  position: absolute;
  top: 957px;
  width: 46px;
}

.chapter-1-seven-case-study-2-375 .x2-3 {
  height: 40px;
  left: 37px;
  object-fit: cover;
  position: absolute;
  top: 1035px;
  width: 46px;
}

.chapter-1-seven-case-study-2-375 .x3-3 {
  height: 47px;
  left: 37px;
  object-fit: cover;
  position: absolute;
  top: 1135px;
  width: 46px;
}

.chapter-1-seven-case-study-2-375 .x5-3 {
  height: 29px;
  left: 37px;
  object-fit: cover;
  position: absolute;
  top: 1285px;
  width: 46px;
}

.chapter-1-seven-case-study-2-375 .x6-3 {
  height: 26px;
  left: 37px;
  object-fit: cover;
  position: absolute;
  top: 1385px;
  width: 46px;
}

.chapter-1-seven-case-study-2-375 .x7-3 {
  height: 27px;
  left: 40px;
  object-fit: cover;
  position: absolute;
  top: 1450px;
  width: 46px;
}

.chapter-1-seven-case-study-2-375 .x4-3 {
  height: 21px;
  left: 37px;
  object-fit: cover;
  position: absolute;
  top: 1240px;
  width: 46px;
}

.chapter-1-seven-case-study-2-375 .grupo-144423 {
  height: 5px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 2046px;
  width: 199px;
}

.chapter-1-seven-case-study-2-375 .what-happened-we-col-3 {
  height: 68px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 2077px;
  width: 250px;
}

.chapter-1-seven-case-study-2-375 .culture-and-traditio-3 {
  height: 291px;
  left: 86px;
  object-fit: cover;
  position: absolute;
  top: 2167px;
  width: 251px;
}

.chapter-1-seven-case-study-2-375 .we-presented-these-f-3 {
  height: 132px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 2462px;
  width: 279px;
}

.chapter-1-seven-case-study-2-375 .grupo-144424 {
  height: 11px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 2170px;
  width: 11px;
}

.chapter-1-seven-case-study-2-375 .grupo-144425 {
  height: 11px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 2272px;
  width: 11px;
}

.chapter-1-seven-case-study-2-375 .grupo-144426 {
  height: 11px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 2390px;
  width: 11px;
}

.chapter-1-seven-case-study-2-375 .grupo-144427 {
  height: 11px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 2222px;
  width: 11px;
}

.chapter-1-seven-case-study-2-375 .grupo-144428 {
  height: 11px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 2322px;
  width: 11px;
}

.chapter-1-seven-case-study-2-375 .grupo-144429 {
  height: 5px;
  left: 58px;
  object-fit: cover;
  position: absolute;
  top: 2612px;
  width: 199px;
}

.chapter-1-seven-case-study-2-375 .what-we-learnt-recip-3 {
  height: 250px;
  left: 61px;
  object-fit: cover;
  position: absolute;
  top: 2642px;
  width: 276px;
}

.chapter-1-seven-case-study-2-375 .fig-02 {
  height: 445px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 1526px;
  width: 344px;
}

.chapter-1-seven-case-study-2-375 .grupo-container {
  align-items: flex-start;
  display: flex;
  gap: 110px;
  height: 86px;
  margin-left: 1.31px;
  margin-top: 69px;
  min-width: 294px;
}

.chapter-1-seven-case-study-2-375 .inclusive-stakeholde {
  height: 154px;
  margin-left: 0;
  margin-top: 24px;
  object-fit: cover;
  width: 273px;
}

.chapter-1-seven-case-study-2-375 .elizabeth-ragimana-s {
  height: 60px;
  margin-left: 0;
  margin-top: 16px;
  object-fit: cover;
  width: 273px;
}

.chapter-1-seven-case-study-2-375 .overlap-group1-1 {
  height: 107px;
  margin-top: 76px;
  position: relative;
  width: 375px;
}

.chapter-1-seven-case-study-2-375 .footer-2 {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 46px;
  width: 375px;
}

.chapter-1-seven-case-study-2-375 .retngulo {
  left: 0;
  object-fit: cover;
  position: absolute;
  width: 375px;
}
/* screen - chapter-1-seven-case-study-2-768 */

.chapter-1-seven-case-study-2-768 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3762px;
  overflow: hidden;
  width: 768px;
}

.chapter-1-seven-case-study-2-768 .overlap-group-2 {
  height: 1116px;
  margin-left: -357px;
  margin-top: -137px;
  position: relative;
  width: 1483px;
}

.chapter-1-seven-case-study-2-768 .retngulo-148524 {
  height: 46px;
  left: 357px;
  top: 222px;
}

.chapter-1-seven-case-study-2-768 .grupo-143968 {
  height: 645px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 641px;
}

.chapter-1-seven-case-study-2-768 .retngulo-148486 {
  height: 81px;
  left: 357px;
  top: 137px;
}

.chapter-1-seven-case-study-2-768 .grupo-143707 {
  height: 47px;
  left: 591px;
  object-fit: cover;
  position: absolute;
  top: 156px;
  width: 302px;
}

.chapter-1-seven-case-study-2-768 .spc-cps-logo_27_stars-white-1 {
  height: 50px;
  left: 376px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 122px;
}

.chapter-1-seven-case-study-2-768 .menu {
  height: 81px;
  left: 1044px;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 81px;
}

.chapter-1-seven-case-study-2-768 .grupo-143711 {
  height: 5px;
  left: 357px;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 768px;
}

.chapter-1-seven-case-study-2-768 .case-study-2seven-qu-2 {
  height: 276px;
  left: 519px;
  object-fit: cover;
  position: absolute;
  top: 339px;
  width: 525px;
}

.chapter-1-seven-case-study-2-768 .when-spc-was-develop-2 {
  height: 143px;
  left: 519px;
  object-fit: cover;
  position: absolute;
  top: 654px;
  width: 525px;
}

.chapter-1-seven-case-study-2-768 .grupo-144419 {
  height: 159px;
  left: 383px;
  object-fit: cover;
  position: absolute;
  top: 273px;
  width: 130px;
}

.chapter-1-seven-case-study-2-768 .overlap-group1 {
  align-items: center;
  background-image: url(../img/design-space-paper-textured-background-12@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 2676px;
  padding: 44.0px 78px;
  width: 768px;
}

.chapter-1-seven-case-study-2-768 .h-focal-point-container {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-top: 40px;
  min-height: 212px;
  width: 609px;
}

.chapter-1-seven-case-study-2-768 .what-we-did-we-invit-2 {
  height: 140px;
  margin-left: 2px;
  object-fit: cover;
  width: 607px;
}

.chapter-1-seven-case-study-2-768 .we-sent-representati-2 {
  height: 61px;
  object-fit: cover;
  width: 609px;
}

.chapter-1-seven-case-study-2-768 .flex-row {
  gap: 3px;
  margin-right: 0.5px;
  margin-top: 33px;
  min-width: 608px;
}

.chapter-1-seven-case-study-2-768 .flex-col {
  flex-direction: column;
  margin-top: 3.0px;
  min-height: 452px;
  width: 49px;
}

.chapter-1-seven-case-study-2-768 .x1-2 {
  height: 35px;
  object-fit: cover;
  width: 46px;
}

.chapter-1-seven-case-study-2-768 .x2-2 {
  height: 40px;
  margin-top: 32px;
  object-fit: cover;
  width: 46px;
}

.chapter-1-seven-case-study-2-768 .x3-2 {
  height: 40px;
  margin-top: 53px;
  object-fit: cover;
  width: 46px;
}

.chapter-1-seven-case-study-2-768 .x4-2 {
  height: 21px;
  margin-top: 53px;
  object-fit: cover;
  width: 46px;
}

.chapter-1-seven-case-study-2-768 .x5-2 {
  height: 29px;
  margin-top: 18px;
  object-fit: cover;
  width: 46px;
}

.chapter-1-seven-case-study-2-768 .x6-2 {
  height: 26px;
  margin-top: 39px;
  object-fit: cover;
  width: 46px;
}

.chapter-1-seven-case-study-2-768 .x7-2 {
  height: 27px;
  margin-left: 2.75px;
  margin-top: 39px;
  object-fit: cover;
  width: 46px;
}

.chapter-1-seven-case-study-2-768 .step-into-the-future-2 {
  height: 514px;
  object-fit: cover;
  width: 556px;
}

.chapter-1-seven-case-study-2-768 .grupo-2995-2 {
  height: 762px;
  margin-right: 0;
  margin-top: 59px;
  object-fit: cover;
  width: 590px;
}

.chapter-1-seven-case-study-2-768 .grupo-144420 {
  align-self: flex-start;
  height: 5px;
  margin-left: 6px;
  margin-top: 100px;
  object-fit: cover;
  width: 199px;
}

.chapter-1-seven-case-study-2-768 .what-happened-we-col-2 {
  height: 88px;
  margin-left: 2.0px;
  margin-top: 46px;
  object-fit: cover;
  width: 604px;
}

.chapter-1-seven-case-study-2-768 .overlap-group3 {
  height: 337px;
  margin-left: 2.0px;
  margin-top: 21px;
  position: relative;
  width: 604px;
}

.chapter-1-seven-case-study-2-768 .e-development-container {
  height: 337px;
  left: 0;
  position: absolute;
  top: 0;
  width: 604px;
}

.chapter-1-seven-case-study-2-768 .culture-and-traditio-2 {
  height: 266px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 561px;
}

.chapter-1-seven-case-study-2-768 .we-presented-these-f-2 {
  height: 110px;
  left: 0;
  position: absolute;
  top: 257px;
  width: auto;
}

.chapter-1-seven-case-study-2-768 .grupo-144414 {
  height: 11px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 11px;
}

.chapter-1-seven-case-study-2-768 .grupo-144415 {
  height: 11px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 110px;
  width: 11px;
}

.chapter-1-seven-case-study-2-768 .grupo-144416 {
  height: 11px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 214px;
  width: 11px;
}

.chapter-1-seven-case-study-2-768 .grupo-144417 {
  height: 11px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 72px;
  width: 11px;
}

.chapter-1-seven-case-study-2-768 .grupo-144418 {
  height: 11px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 150px;
  width: 11px;
}

.chapter-1-seven-case-study-2-768 .grupo-144422 {
  align-self: flex-start;
  height: 5px;
  margin-left: 5px;
  margin-top: 77px;
  object-fit: cover;
  width: 199px;
}

.chapter-1-seven-case-study-2-768 .what-we-learnt-recip-2 {
  height: 250px;
  margin-left: 1.0px;
  margin-top: 42px;
  object-fit: cover;
  width: 605px;
}

.chapter-1-seven-case-study-2-768 .overlap-group4 {
  height: 107px;
  position: relative;
  width: 768px;
}

.chapter-1-seven-case-study-2-768 .footer-1 {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 46px;
  width: 768px;
}

.chapter-1-seven-case-study-2-768 .flex {
  align-items: flex-start;
  display: flex;
}

.chapter-1-seven-case-study-2-768 .retngulo {
  object-fit: cover;
  position: absolute;
  width: 768px;
}
@media screen and (max-width: 767px) {
  .screen.chapter-1-seven-case-study-2-1920-all-breakpoints { 
    display: none;
   }
  .screen.chapter-1-seven-case-study-2-1280 { 
    display: none;
   }
  .screen.chapter-1-seven-case-study-2-768 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .screen.chapter-1-seven-case-study-2-1920-all-breakpoints { 
    display: none;
   }
  .screen.chapter-1-seven-case-study-2-1280 { 
    display: none;
   }
  .screen.chapter-1-seven-case-study-2-375 { 
    display: none;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .screen.chapter-1-seven-case-study-2-1920-all-breakpoints { 
    display: none;
   }
  .screen.chapter-1-seven-case-study-2-768 { 
    display: none;
   }
  .screen.chapter-1-seven-case-study-2-375 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.chapter-1-seven-case-study-2-1280 { 
    display: none;
   }
  .screen.chapter-1-seven-case-study-2-768 { 
    display: none;
   }
  .screen.chapter-1-seven-case-study-2-375 { 
    display: none;
   }
}